@import "../_vars.less";
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

@headColor: #677A8F;
@headColorHover: @MainBlueColor;

.fullComments {
	position: relative;

	.commentsHead {
		position: relative;

		.headElem {
			position: relative;
			display: inline-block;
			margin: 0 1px 8px 0;
			padding: 0 7px 1px 7px;
			vertical-align: top;
			font-size: 12px;
			line-height: 18px;
			color: #F5F5F5;
			cursor: default;
			white-space: nowrap;
			text-decoration: none;
			background-color: @headColor;

			&.interact {
				cursor: pointer;

				&:hover {
					color: #fff;
					background-color: @headColorHover;
				}
			}
		}

		.count {
			min-width: 15px;
			padding: 0 5px 0 5px;
			font-size: 13px;
			line-height: 19px;
			text-align: center;

			&::after {
				position: absolute;
				display: block;
				content: '';
				left: 20%;
				bottom: -8px;
				width: 0;
				height: 0;
				border-top: 8px solid @headColor;
				border-right: 8px solid transparent;
			}
			&:hover {
				&::after {
					border-top-color: @headColorHover;
				}
			}

			.cnew {
				color: #88FF91;
				font-weight: bold;
			}
		}
		.cantComment {
			margin-left: 6px;
			color: #f00;
		}
		.commentsLoad {
			position: relative;
			display: inline-block;
			width: 70px;
			height: 20px;
			margin-left: 10px;
			background-image: url(/img/misc/load.gif);
			background-repeat: no-repeat;
			background-position: 0 50%;
		}
	}

	.commentBody {
		min-height: 53px;
	}
	.commentHead {
		line-height: 13px;
		margin-bottom: 2px;
	}
	.author {
		display: inline-block;
		cursor: pointer;
	}
	.ranks {
		display: inline-block;
	}
	.rank {
		width: 57px;
		height: 14px;
		margin-left: 3px;
		vertical-align: top;
	}
	.frag {
		display: inline-block;
		font-size: 12px;

		.icon-picture {
			margin-top: 0;
			margin-right: 1px;
		}
	}
	.stamp, .changed {
		display: inline-block;
		font-size: @fontSizeSmall;
		cursor: pointer;
		color: #888;
	}
	.changed {
		&:hover {
			color: @MainBlueColor;
		}
	}
	.commentText {
		max-width: 1024px;
		word-wrap: break-word; //Переносит разбиением длинные слова, например ссылки
	}

	.commentActions {
		display: none;
		margin-top: 2px;
		font-size: 12px;
		line-height: 14px;
		color: #888;

		.commentAction {
			padding-top: 1px;
			padding-bottom: 1px;
			cursor: pointer;

			&:hover {
				color: @MainBlueColor;
			}
		}
	}

	.commentAdd {
		position: relative;

		.commentInput {
			display: block;
			width: 860px;
			max-width: 95%;
			min-height: 42px;
			margin-top: 0px;

			&::-webkit-scrollbar-button:decrement {
				height: 0;
			}
		}
		.commentInputLabel {
			position: absolute;
			left: 65px;
			top: 6px;
			color: #777;
			cursor: text;
		}
		.replySubscr .chkSubscr {
			margin-top: -2px;
		}
		.btnCommentSend, .btnCommentCancel, .btnCommentFrag, .btnCommentFragDel, .replySubscr {
			display: none;
			min-width: 100px;
			margin-bottom: 2px;
		}
		.btnCommentFrag {
			.icon-picture {
				margin-top: 0;
			}
		}

		&.hasFocus, &.hasContent {
			.commentInput {
				min-height: 77px;
			}
			.commentInputLabel {
				display: none;
			}
			.btnCommentSend, .btnCommentCancel, .replySubscr {
				display: inline-block;
			}
		}
	}

	.media-list {
		.media,
		.media .media {
			margin-top: 14px;
		}
		.media > .pull-left {
			margin-top: 1px;
			margin-right: 8px;
		}
		.media-object {
			width: 50px;
			height: 50px;
		}
		.media {
			&.hl > .media-body > .commentBody > .commentText {
				background-color: fade(@MainBlueColor, 10%);
				.transition(~'background-color .25s linear');
			}
			&.hlRemove {
				background-color: rgba(255, 188, 16, 0.5);
			}

			&.isnew {
				padding-left: 1px;
				border-width: 0 0 0 1px;
				border-style: solid;
				border-color: #81DF7D;
				background-color: rgba(174, 255, 184, 0.1);
			}
		}

		&.loggedIn {
			.commentActions {
				display: block;
			}
		}
		&.canFrag {
			.commentAdd {
				&.hasFocus, &.hasContent {
					.btnCommentFrag, .btnCommentFragDel {
						display: inline-block;
					}
				}
			}
		}
	}

	.navigator {
		position: fixed;
		left: 0;
		top: 50%;
		width: 15px;
		height: 120px;
		margin-top: -61px;
		color: #fff;
		text-align: center;
		cursor: default;
		border-width: 1px 1px 1px 0;
		border-style: solid;
		border-color: #C3C7DD;
		background-color: @MainBlueColor;
		.transition(width .1s linear);
		.box-shadow(~'0 0 0 1px #000, 1px 2px 3px 0px #222');
		.box-sizing(border-box);
		.user-select(none);

		&:hover {
			width: 30px;

			.navTxt {
				.rotate(0);
			}
			.countAll {
				-webkit-transform: rotate(0) translate(0, 0);
				-moz-transform: rotate(0) translate(0, 0);
				-ms-transform: rotate(0) translate(0, 0);
				-o-transform: rotate(0) translate(0, 0);
				transform: rotate(0) translate(0, 0);
			}
		}

		.navigatorInn {
			position: relative;
			width: 100%;
			overflow: hidden;
		}

		.arrow,
		.arrow::after {
			position: absolute;
			display: block;
			width: 0;
			height: 0;
			border-color: transparent;
			border-style: solid;
		}
		.arrow {
			top: 50%;
			right: -@popoverArrowOuterWidth;
			margin-top: -@popoverArrowOuterWidth;
			border-width: @popoverArrowOuterWidth;
			border-right-width: 0;
			border-left-color: #999; // IE8 fallback
			border-left-color: @popoverArrowOuterColor;
		}
		.arrow::after {
			content: "";
			right: 2px;
			border-width: @popoverArrowWidth;
			border-right-width: 0;
			border-left-color: @popoverArrowColor;
			bottom: -@popoverArrowWidth;
		}

		.up, .down {
			position: absolute;
			left: 0;
			width: 100%;
			line-height: 18px;
			text-align: center;
			opacity: .8;
			cursor: default;

			&.active {
				opacity: 1;
				cursor: pointer;

				:hover {
					background-color: rgba(0, 0, 0, .2);
				}
			}
		}
		.up {
			top: 0;
		}
		.down {
			bottom: 0;
		}
		.navTxt {
			position: relative;
			display: inline-block;
			width: 100%;
			.rotate(-90deg);
			.transition(all .1s linear);
		}
		.countAll {
			position: relative;
			display: inline-block;
			width: 100%;
			line-height: 116px;
			color: #88FF91;
			vertical-align: middle;
			text-decoration: none;
			-webkit-transform: rotate(-90deg) translate(-4px, 0);
			-moz-transform: rotate(-90deg) translate(-4px, 0);
			-ms-transform: rotate(-90deg) translate(-4px, 0);
			-o-transform: rotate(-90deg) translate(-4px, 0);
			transform: rotate(-90deg) translate(-4px, 0);
			.transition(all .1s linear);
		}
	}
}