.regsel(data-bind="with: repository[M!M]")
    //ko if: loading()
    .loading(data-bind="text: $root.i18n('Загрузка')")
    // /ko

    //ko ifnot: loading()
    h4.namehead
        span.glyphicon.glyphicon-globe
        span(data-bind="text: ' ' + $root.i18n(options.max > 1 ? 'Выбор регионов' : 'Выбор региона')")
        abbr(style="margin-left:5px;vertical-align:middle;font-size:10px;", data-bind="attr: {title: $root.i18n('Для каждого региона указано кол-во публичный изображений и не удаленных комментариев')}")
            span.glyphicon.glyphicon-info-sign
    .offsetwrap
        div(data-bind="text: $root.i18n('Вводите имя региона непосредственно в поле выбора или найдите его вручную в дереве регионов ниже')")
        //ko if: options.max > 1
        div(data-bind="text: $root.i18n(options.min ? 'Возможно выбрать от {{min}} до {{max}} регионов, они не должны быть вложены друг в друга' : 'Возможно выбрать до {{max}} регионов, они не должны быть вложены друг в друга', {min: options.min, max: options.max})")
        // /ko

    .inputwrap.surrogate
    .inputwrap.origin
        .input-group.regionsgroup
            span.input-group-addon(data-bind="text: $root.i18n('Выбор:')")
            input.regionstkn.form-control(type="text", data-bind="attr: {placeholder: $root.i18n('Начните вводить имя региона')}")

    .offsetwrap
        .regionsHead
            span(data-bind="text: $root.i18n('Сортировать по:') + ' '")
            .sortOption(data-bind="click:sortByAlphabet, css: {'selected':sortBy()==='alphabet'}, text: $root.i18n('алфавиту')")
            span(data-bind="text: ', ' + $root.i18n('количеству:') + ' '")
            .sortOption(data-bind="click:sortByPhoto, css: {'selected':sortBy()==='photo'}, text: $root.i18n('фотографий')")
            = ', '
            .sortOption(data-bind="click:sortByPic, css: {'selected':sortBy()==='pic'}, text: $root.i18n('картин')")
            = ', '
            .sortOption(data-bind="click:sortByComment, css: {'selected':sortBy()==='comment'}, text: $root.i18n('комментариев')")
            = ', '
            .sortOption(data-bind="click:sortBySub, css: {'selected':sortBy()==='sub'}, text: $root.i18n('подрегионов')")
    .offsetwrap
        .regionsHead
            .headElem.interact(data-bind="click: expandAll")
                span.glyphicon.glyphicon-plus
                span(data-bind="text: ' ' + $root.i18n('Раскрыть все')")
            .headElem.interact(data-bind="click: collapseAll")
                span.glyphicon.glyphicon-minus
                span(data-bind="text: ' ' + $root.i18n('Свернуть все')")
            //ko if: auth.loggedIn() && auth.iAm.regionHome.cid() && topCidsFilter.length === 0
            label.checkbox-inline(style="margin-left:10px;padding-left:10px;")
                input(type="checkbox", data-bind="checked: pinHome", style="margin-left:-15px;")
                span(data-bind="text: ' ' + $root.i18n('Прикрепить домашний регион')")
            // /ko
    .tree
        ul(data-bind="template: {name: 'treeNode', foreach: regionsTree}")
    // /ko

    | <script id="treeNode" type="text/html">
    li(data-bind="css: {isparent: $data.childLen}")
        .lirow(data-bind="css: {selected: $data.selected(), selectable: $data.selectable()}")
            //ko if: $data.childLen
            .chevron(data-bind="click: $data.collapseToggle, attr: {title: $root.i18n($data.opened() ? 'Скрыть дочерние регионы' : 'Раскрыть дочерние регионы')}")
                span.glyphicon(data-bind="css: {'glyphicon-minus': $data.opened(), 'glyphicon-plus': !$data.opened()}")
            // /ko
            .rname(data-bind="click: $data.clickNode, attr: {title: $data.selected() ? $root.i18n('Снять выбор') : ($data.selectable() ? $root.i18n('Выбрать регион') : '')}")
                .name(data-bind="text: ' ' + $data.title_local, css: {'nameborder': $data.phc || $data.pac || $data.cc}")
                //ko if: $data.phc
                .section(data-bind="attr: {title: $root.i18n('Фотографии')}")
                    span.glyphicon.glyphicon-camera
                    span(data-bind="text: ' ' + $root.intl.num($data.phc)")
                // /ko
                //ko if: $data.pac
                .section(data-bind="attr: {title: $root.i18n('Картины')}")
                    span.glyphicon.glyphicon-picture
                    span(data-bind="text: ' ' + $root.intl.num($data.pac)")
                // /ko
                //ko if: $data.cc
                .section(data-bind="attr: {title: $root.i18n('Комментарии')}")
                    span.glyphicon.glyphicon-comment(style="vertical-align:text-top;")
                    span(data-bind="text: ' ' + $root.intl.num($data.cc)")
                // /ko
                //ko if: $data.childLen
                .section(data-bind="attr: {title: $root.i18n('Подрегионы')}")
                    span.glyphicon.glyphicon-play(style="vertical-align:text-top;")
                    span(data-bind="text: ' ' + $root.intl.num($data.childLen)")
                // /ko
            //ko if: $data.home
            .home(data-bind="attr: {title: $root.i18n('Домашний регион')}"): span.glyphicon.glyphicon-home
            //ko if: $parents[$data.level].pinHome() && !$data.opened()
            hr.homeDivider
            // /ko
            // /ko
        //ko if: $data.childLen && $data.opened()
        //ko template: {name: 'treeNode', foreach: $data.regions}
        // /ko
        // /ko
    | </script>