.regsel(data-bind="with: repository[M!M]")
    //ko if: loading()
    .loading Загрузка
    // /ko

    //ko ifnot: loading()
    h4.namehead
        span.glyphicon.glyphicon-globe
        span(data-bind="text: ' Выбор регион' + (options.max > 1 ? 'ов' : 'а')")
        abbr(style="margin-left:5px;vertical-align:middle;font-size:10px;", title="Для каждого региона указано кол-во публичный изображений и не удаленных комментариев")
            span.glyphicon.glyphicon-info-sign
    .offsetwrap
        div Вводите имя региона непосредственно в поле выбора или найдите его вручную в дереве регионов ниже
        //ko if: options.max > 1
        div(data-bind="text: 'Возможно выбрать ' + (options.min ? 'от ' + options.min: '')+ ' до ' + options.max + ' регионов, они не должны быть вложены друг в друга'")
        // /ko

    .inputwrap.surrogate
    .inputwrap.origin
        .input-group.regionsgroup
            span.input-group-addon Выбор:
            input.regionstkn.form-control(type="text", placeholder="Начните вводить имя региона")

    .offsetwrap
        .regionsHead
            = 'Сортировать по: '
            .sortOption(data-bind="click:sortByAlphabet, css: {'selected':sortBy()==='alphabet'}") алфавиту
            = ', количеству: '
            = ' '
            .sortOption(data-bind="click:sortByPhoto, css: {'selected':sortBy()==='photo'}") фотографий
            = ', '
            .sortOption(data-bind="click:sortByPic, css: {'selected':sortBy()==='pic'}") картин
            = ', '
            .sortOption(data-bind="click:sortByComment, css: {'selected':sortBy()==='comment'}") комментариев
            = ', '
            .sortOption(data-bind="click:sortBySub, css: {'selected':sortBy()==='sub'}") подрегионов
    .offsetwrap
        .regionsHead
            .headElem.interact(data-bind="click: expandAll")
                span.glyphicon.glyphicon-plus
                |  Раскрыть все
            .headElem.interact(data-bind="click: collapseAll")
                span.glyphicon.glyphicon-minus
                |  Свернуть все
            //ko if: auth.loggedIn() && auth.iAm.regionHome.cid() && topCidsFilter.length === 0
            label.checkbox-inline(style="margin-left:10px;padding-left:10px;")
                input(type="checkbox", data-bind="checked: pinHome", style="margin-left:-15px;")
                | Прикрепить домашний регион
            // /ko
    .tree
        ul(data-bind="template: {name: 'treeNode', foreach: regionsTree}")
    // /ko

    | <script id="treeNode" type="text/html">
    li(data-bind="css: {isparent: $data.childLen}")
        .lirow(data-bind="css: {selected: $data.selected(), selectable: $data.selectable()}")
            //ko if: $data.childLen
            .chevron(data-bind="click: $data.collapseToggle, attr: {title: ($data.opened() ? 'Скрыть' : 'Раскрыть') + ' дочерние регионы'}")
                span.glyphicon(data-bind="css: {'glyphicon-minus': $data.opened(), 'glyphicon-plus': !$data.opened()}")
            // /ko
            .rname(data-bind="click: $data.clickNode, attr: {title: $data.selected() ? 'Снять выбор' : ($data.selectable() ? 'Выбрать регион' : '')}")
                .name(data-bind="text: ' ' + $data.title_local, css: {'nameborder': $data.phc || $data.pac || $data.cc}")
                //ko if: $data.phc
                .section(title="Фотографии")
                    span.glyphicon.glyphicon-camera
                    span(data-bind="text: ' ' + $root.intl.num($data.phc)")
                // /ko
                //ko if: $data.pac
                .section(title="Картины")
                    span.glyphicon.glyphicon-picture
                    span(data-bind="text: ' ' + $root.intl.num($data.pac)")
                // /ko
                //ko if: $data.cc
                .section(title="Комментарии")
                    span.glyphicon.glyphicon-comment(style="vertical-align:text-top;")
                    span(data-bind="text: ' ' + $root.intl.num($data.cc)")
                // /ko
                //ko if: $data.childLen
                .section(title="Подрегионы")
                    span.glyphicon.glyphicon-play(style="vertical-align:text-top;")
                    span(data-bind="text: ' ' + $root.intl.num($data.childLen)")
                // /ko
            //ko if: $data.home
            .home(title="Домашний регион"): span.glyphicon.glyphicon-home
            //ko if: $parents[$data.level].topCidsFilter && $parents[$data.level].topCidsFilter.length === 0 && $parents[$data.level].pinHome() && !$data.opened()
            hr.homeDivider
            // /ko
            // /ko
        //ko if: $data.childLen && $data.opened()
        //ko template: {name: 'treeNode', foreach: $data.regions}
        // /ko
        // /ko
    | </script>