.regsel(data-bind="with: repository[M!M]")
	h4.namehead
		span.glyphicon.glyphicon-globe
		|  Выбор регионов
	.offsetwrap
		h6 Вводите имя региона непосредственно в поле выбора для поиска или выбирайте вручную в дереве регионов ниже
		.input-group.regionsgroup
			span.input-group-addon Выбор:
			input.regionstkn.form-control(type="text", placeholder="Начните вводить имя региона")

		.regionsHead
			.headElem.interact(data-bind="click: expandAll")
				span.glyphicon.glyphicon-plus
				|  Раскрыть все
			.headElem.interact(data-bind="click: collapseAll")
				span.glyphicon.glyphicon-minus
				|  Свернуть все
	.tree
		ul(data-bind="template: {name: 'treeNode', foreach: regionsTree}")

	script(id="treeNode", type="text/html")
		li(data-bind="css: {isparent: $data.childLen}")
			.lirow(data-bind="css: {selected: $data.selected()}")
				//ko if: $data.childLen
				.chevron(data-bind="click: $parents[$data.level].collapseToggle, attr: {title: ($data.opened() ? 'Скрыть' : 'Раскрыть') + ' дочерние регионы'}")
					span.glyphicon(data-bind="css: {'glyphicon-minus': $data.opened(), 'glyphicon-plus': !$data.opened()}")
				// /ko
				.name(title="Выбрать регион", data-bind="click: function() {$parents[$data.level].selectToggle($data.cid)}")
					span(data-bind="text: ' ' + $data.title_en")
			//ko if: $data.childLen && $data.opened()
			//ko template: {name: 'treeNode', foreach: $data.regions}
			// /ko
			// /ko