.regsel(data-bind="with: repository[M!M]")
    //ko if: loading()
    .loading Loading
    // /ko

    //ko ifnot: loading()
    h4.namehead
        span.glyphicon.glyphicon-globe
        span(data-bind="text: ' Region' + (options.max > 1 ? 's' : '') + ' select'")
    .offsetwrap
        div Type the name of the region directly in the input or find it in the below tree
        //ko if: options.max > 1
        div(data-bind="text: 'Allowed to select ' + (options.min ? 'from ' + options.min: 'up ')+ ' to ' + options.max + ' regions, they should not be nested within each other'")
        // /ko

    .inputwrap.surrogate
    .inputwrap.origin
        .input-group.regionsgroup
            span.input-group-addon Selection:
            input.regionstkn.form-control(type="text", placeholder="Start to type region name")

    .offsetwrap
        .regionsHead
            .headElem.interact(data-bind="click: expandAll")
                span.glyphicon.glyphicon-plus
                |  Expand all
            .headElem.interact(data-bind="click: collapseAll")
                span.glyphicon.glyphicon-minus
                |  Collapse all
            abbr(style="margin-left:5px;vertical-align:middle;", title="For each region specified number of public images and deleted comments")
                span.glyphicon.glyphicon-info-sign
    .tree
        ul(data-bind="template: {name: 'treeNode', foreach: regionsTree}")
    // /ko

    | <script id="treeNode" type="text/html">
    li(data-bind="css: {isparent: $data.childLen}")
        .lirow(data-bind="css: {selected: $data.selected(), selectable: $data.selectable()}")
            //ko if: $data.childLen
            .chevron(data-bind="click: $parents[$data.level].collapseToggle, attr: {title: ($data.opened() ? 'Collapse' : 'Expand') + ' children regions'}")
                span.glyphicon(data-bind="css: {'glyphicon-minus': $data.opened(), 'glyphicon-plus': !$data.opened()}")
            // /ko
            .rname(data-bind="click: function() {$parents[$data.level].clickNode($data.title_local)}, attr: {title: $data.selected() ? 'Снять выбор' : ($data.selectable() ? 'Select region' : '')}")
                .name(data-bind="text: ' ' + $data.title_local, css: {'nameborder': $data.phc || $data.pac || $data.cc}")
                //ko if: $data.phc
                .section(title="Photos")
                    span.glyphicon.glyphicon-camera
                    span(data-bind="text: ' ' + $root.intl.num($data.phc)")
                // /ko
                //ko if: $data.pac
                .section(title="Paintings")
                    span.glyphicon.glyphicon-picture
                    span(data-bind="text: ' ' + $root.intl.num($data.pac)")
                // /ko
                //ko if: $data.cc
                .section(title="Comments")
                    span.glyphicon.glyphicon-comment(style="vertical-align:text-top;")
                    span(data-bind="text: ' ' + $root.intl.num($data.cc)")
                // /ko
        //ko if: $data.childLen && $data.opened()
        //ko template: {name: 'treeNode', foreach: $data.regions}
        // /ko
        // /ko
    | </script>