.page-wrap
	.row.mContainer.mHidden#topContainer
	.row
		.span2.mContainer.mHidden#subMenuContainer
		.span10
			.row.mContainer.mHidden#menuContainer
			.row.mContainer.mHidden#bodyContainer
footer.mContainer#footContainer
.mContainer.mNoDisplay.mFadeIn#auth