.row-fluid.mContainer.mHidden#topContainer
.row-fluid
	.span2.mContainer.mHidden#subMenuContainer
	.span10
		.row-fluid.mContainer.mHidden#menuContainer
		.row-fluid.mContainer.mHidden#bodyContainer
.row-fluid.mContainer#footContainer
.mContainer.mNoDisplay.mFadeIn#auth