.page-wrap
	.mContainer.mHidden#topContainer
	.row
		.col-xs-2.mContainer.mHidden#subMenuContainer
		.col-xs-10
			.mContainer.mHidden#menuContainer
			.mContainer.mHidden#bodyContainer
footer.mContainer#footContainer
.mContainer.mNoDisplay.mFadeIn#auth