.neoModalCurtain
	.neoModal.fringe(style="width:{{=it.initWidth || 'auto'}};", data-bind="style: {maxWidth: (P.window.w() * {{=it.maxWidthRatio || 0.8}} >> 0) + 'px'}")
		.neoModalTools.fringe
			span.modalCaption {{=it.topic || ''}}
			| {{?it.offIcon}}
			.off(title="{{=it.offIcon.text}}")
				span.glyphicon.glyphicon-off
			| {{?}}
		.neoModalContainer.mContainer.mHidden(class="{{?it.withScroll}}scroll{{?}}", data-bind="style: {maxHeight: P.window.h() - 120 + 'px'{{?it.fullHeight}}, minHeight: P.window.h() - 120 + 'px'{{?}}}")

		//-Подложка под верхнюю тень тулбара модального окна
		.tsb

		| {{?it.btns && it.btns.length}}
		.neoModalFoot
			| {{~it.btns :b:index}}
			button.btn(class="{{=b.css}}")
				| {{?b.glyphicon}}
				span.glyphicon(class="{{=b.glyphicon}}")
				| {{?}}
				| {{=b.text}}
			| {{~}}
		| {{?}}