.neoModalCurtain.mNoDisplay.mFadeIn
	.neoModal.fringe
		.neoModalTools.fringe
			span.modalCaption ${ topic }
			a.off(href="${ closeHref }")
				i.icon-off.icon-white
		.mContainer.neoModalContainer
		.neoModalFoot
			a.btn-strict.btn-strict-small(href="${ closeHref }")
				i.icon-ok.icon-white
				span ${ okTxt }