//-Инклюд Header для статический страниц(badbrowser, nojs)
meta(http-equiv="content-type", content="text/html; charset=utf-8")
meta(http-equiv="X-FRAME-OPTIONS", content="DENY")
meta(name="apple-mobile-web-app-capable", content="yes")
link(rel="shortcut icon", href="/favicon.ico")
title!= title
style.
	html, body {
		height: 100%;
		min-height: 100%;
	}

	html {
		font-family: Arial, sans-serif;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
	}

	body {
		margin: 0;
	}

	a {
		text-decoration: none;
		background: transparent;
	}

	.fringe {
		position: relative;
		width: auto;
		margin: 1px;
		color: #f2f2f2;
		text-decoration: none;
		border: 1px solid #C3C7DD;
		background-color: #285991;
		box-shadow: 0 0 0 1px #000, 0 2px 4px 0 #222;
	}

	.centering_content {
		height: 100%;
		text-align: center;
	}

	.centering_content:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em; /* Adjusts for spacing */
	}

	.top {
		top: 1px;
		height: 30px;
		margin: 0;
		border-width: 0 0 1px 0;
		-webkit-box-shadow: 0 1px 0 0 #000, 0 -1px 0 0 #000, 1px 2px 4px 0 #222;
		box-shadow: 0 1px 0 0 #000, 0 -1px 0 0 #000, 1px 2px 4px 0 #222;
	}

	.brand {
		position: relative;
		display: inline-block;
		left: 1px;
		width: 306px;
		line-height: 30px;
	}

	.brand .logo, .brand .name {
		vertical-align: top;
	}

	.brand .logo {
		width: 30px;
		height: 30px;
	}

	.brand .name {
		width: 275px;
		height: 29px;
	}

	.cent {
		height: calc(100% - 32px);
	}

	.content {
		position: relative;
		display: inline-block;
		max-width: 800px;
		margin: 20px 12px;
		padding: 20px;
		vertical-align: middle;
		color: #285991;
		border-color: #eee;
		background-color: #eee;
		-webkit-box-shadow: 0 1px 40px 6px #888, inset 0 0 15px 3px #c7c7c7;
		box-shadow: 0 1px 40px 6px #888, inset 0 0 15px 3px #c7c7c7;
	}

	.support {
		margin-top: 5px;
		text-align: right;
		font-size: 12px;
	}

	.support a {
		padding: 5px 0;
	}
