head
	meta(http-equiv="content-type", content="text/html; charset=utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
	meta(name="apple-mobile-web-app-capable", content="yes")
	meta(http-equiv="cache-control", content="no-cache")
	meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=IE8")
	title= pageTitle
	link(rel="stylesheet", type="text/css", href="/style/normalize.css")
	link(rel="stylesheet", type="text/css", href="/style/fonts.css")
	link(rel="stylesheet", type="text/css", href="/style/common.css")
	script(type='text/javascript', src="/js/jquery-1.7.2.min.js")
	script(type='text/javascript', src="/js/flash_detect.js")
	script(type='text/javascript', src="/js/Utils.js?appv=" + appVersion)
	script(type='text/javascript', src="/socket.io/socket.io.js")