| <!--noindex-->
#nojs(style="position:relative;z-index:1000;padding:.3em 1em 0;text-align:center;line-height:1.5;font-size:1.1em;font-weight:bold;background-color:#FFDC84;border-bottom:1px solid #c3c7dd;")
    //-Если по ссылке с параметром _nojs=1 перешли с включенным JavaScript, то убираем с помощью него сообщение и редиректим на страницу без параметра
    script(type="text/javascript").
        (function(){
        var s = location.search.replace(/&?_nojs=1/g, ''), newpath = location.pathname + (s === '?' ? '' : s);
        if (window.history && window.history.replaceState) {window.history.replaceState({}, null, newpath);} else {window.location = newpath;}
        document.getElementById('nojs').style.display = 'none';
        }());
    div К сожалению, в вашем браузере выключен JavaScript, который необходим для полноценной работы сайта PastVu.com
    div Перейдите по следующей ссылке, чтобы узнать почему это важно и как это исправить:
    a(href="http://www.enable-javascript.com/ru/", rel="nofollow noopener", target="_blank", style="display:inline-block;color:#3b5998;") www.enable-javascript.com/ru
    div(style="font-size:0.8em;")
        a(href='mailto:support@pastvu.comm?subject=Сайт выдаёт сообщение об отсутствии JavaScript&body=Добрый день! Идентификатор моего браузера: ' + (agent && agent.source ? agent.source : ''), target="_blank")
            | [Напишите, если мы ошибаемся: support@pastvu.com]
| <!--/noindex-->