| <!--noindex-->
#nojs(style="position:relative;z-index:1000;padding:.3em 1em 0;text-align:center;line-height:1.5;font-size:1.1em;font-weight:bold;background-color:#FFDC84;border-bottom:1px solid #c3c7dd;")
    //-Если по ссылке с параметром _nojs=1 перешли с включенным JavaScript, то убираем с помощью него сообщение и редиректим на страницу без параметра
    script(type="text/javascript").
        (function(){
        var s = location.search.replace(/&?_nojs=1/g, ''), newpath = location.pathname + (s === '?' ? '' : s);
        if (window.history && window.history.replaceState) {window.history.replaceState({}, null, newpath);} else {window.location = newpath;}
        document.getElementById('nojs').style.display = 'none';
        }());
    div #{t('Unfortunately JavaScript is disabled in your browser, and it is required for PastVu.com to work properly.')}
    div #{t('Follow the link below to learn why this is important and how to fix it:')}
    a(href="http://www.enable-javascript.com/", rel="nofollow noopener", target="_blank", style="display:inline-block;color:#3b5998;") www.enable-javascript.com
    div(style="font-size:0.8em;")
        a(href='mailto:support@pastvu.comm?subject=Site shows a no-JavaScript message&body=Hello! My browser ID: ' + (agent && agent.source ? agent.source : ''), target="_blank")
            | #{'[' + t('Write to us if we are wrong: support@pastvu.com') + ']'}
| <!--/noindex-->