div#top_panel_fringe.fringe.
	<div id='top_panel' class='inner_bord'>
		<div id='appName'>Retro photo of mankind's habitat</div>
		<div id='panelTools'>
			<div
				id='toProfile' class='labledIco' onclick='FormOpen("#reg_fringe")' data-bind='style:{display: loggedIn()?"":"none"}, event:{click: function(data, evt){window.open("/u/"+iAmVM.login())}}'>
				<div class='ico'></div>
				<div class='text' data-bind="text: profile"></div>
			</div><div
				id='toRegister' class='labledIco' onclick='FormOpen("#reg_fringe")' data-bind='style:{display: loggedIn() || !registrationAllowed() ? "none":""}'>
				<div class='ico'></div>
				<div class='text' data-bind="text: register"></div>
			</div><div
				id='toLogIn' class='labledIco strokeBefore' onclick='FormOpen("#login_fringe")' data-bind='style:{display: loggedIn()?"none":""}'>
				<div class='text' data-bind="text: login"></div>
				<div class='ico'></div>
			</div><div
				id='toLogOut' class='labledIco strokeBefore' onclick='Logout()' data-bind='style:{display: loggedIn()?"":"none"}'>
				<div class='text' data-bind="text: logout"></div>
				<div class='ico'></div>
			</div>
		</div>
	</div>
div#logo_fringe.fringe.
	<div id='logo' class='inner_bord'>
	</div>