.row-fluid.mContainer.mHidden#topContainer
.row-fluid
	.span9-10
		.row-fluid.mContainer.mHidden#mapContainer
		.row-fluid.mContainer.mHidden#bottomPanel
	.span2-3
		.mContainer.mNoDisplay.mFadeIn#commentsRibbon
.mContainer.mNoDisplay.mFadeIn#auth