#auth_curtain(data-bind="with: repository[M!M]")
	form.fringe2(name='loginForm', action='', autocomplete="on", method='POST', data-bind="css: {show: mode()==='login', working: working()}, event: {submit: submit}")
		.head Authorization
		dl.dl-horizontal
			dt User name:
			dd
				span(data-bind="click: function () {mode('reg')}") Registration
		div.inputwrap.user
			input(autocomplete="on", type="text", required="required", placeholder="Enter username or e-mail", name="login")
		dl.dl-horizontal
			dt Password:
			dd
				span(data-bind="click: function () {mode('recall')}") Recover password
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="pass", data-bind="event: {keypress: pressHandler}"))
		dl.dl-horizontal
			dt.checked#remember(onclick="this.classList.toggle('checked')") Remember me
		button.btn-strict(type="submit") Sign in
		button.btn-strict(type="button", data-bind="click: function () {formClose()}") Cancel
		.text-warning.caps-warn(data-bind="style: {height: caps() ? '20px' : '0px'}")
			i.icon-warning-sign
			| Caps Lock pressed
		.mess
			div(data-bind="text: msg()")

	form.fringe2(name='regForm', action='', autocomplete="off", method='POST', data-bind="css: {show: mode()==='reg', working: working()}, event: {submit: submit}")
		.head Registration
		dl.dl-horizontal
			dt User name:
			dd
				span(data-bind="click: function () {mode('login')}") Authorization
		div.inputwrap.user
			input(autocomplete="off", type="text", required="required", placeholder="User", name="login")
		dl.dl-horizontal
			dt E-mail:
		div.inputwrap.envelope
			input(autocomplete="off", type="email", required="required", placeholder="email", name="email")
		dl.dl-horizontal
			dt Password:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="pass", data-bind="event: {keypress: pressHandler}"))
		dl.dl-horizontal
			dt Repeat password:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="pass2", data-bind="event: {keypress: pressHandler}"))
		button.btn-strict(type="submit") Register
		button.btn-strict(type="button", data-bind="click: function () {formClose()}") Cancel
		button.btn-strict.formfinish(type="button", style="display: none;", data-bind="click: function () {formClose()}") Finish
		.text-warning.caps-warn(data-bind="style: {height: caps() ? '20px' : '0px'}")
			i.icon-warning-sign
			| Caps Lock pressed
		.mess
			div(data-bind="text: msg()")

	form.fringe2(name='recallForm', action='', autocomplete="off", method='POST', data-bind="css: {show: mode()==='recall', working: working()}, event: {submit: submit}")
		.head Recover password
		dl.dl-horizontal
			dt Login or e-mail:
			dd
				span(data-bind="click: function () {mode('login')}") Authorization
		div.inputwrap.user
			input(autocomplete="off", type="text", required="required", placeholder="Enter username or e-mail", name="login")
		button.btn-strict(type="submit") Send
		button.btn-strict(type="button", data-bind="click: function () {formClose()}") Cancel
		button.btn-strict.formfinish(type="button", style="display: none;", data-bind="click: function () {formClose()}") Finish
		.mess
			div(data-bind="text: msg()")

	form.fringe2(name='recallChangePassForm', action='', autocomplete="off", method='POST', data-bind="css: {show: mode()==='recallPassChange', working: working()}, event: {submit: submit}")
		.head Change password
		dl.dl-horizontal
			dt User name:
		div.inputwrap.user
			input(autocomplete="off", type="text", required="required", disabled, name="login")
		dl.dl-horizontal
			dt New password:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="passNew", data-bind="event: {keypress: pressHandler}"))
		dl.dl-horizontal
			dt Repeat new password:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="passNew2", data-bind="event: {keypress: pressHandler}"))
		button.btn-strict(type="submit") Send
		button.btn-strict(type="button", data-bind="click: function () {formClose()}") Cancel
		.text-warning.caps-warn(data-bind="style: {height: caps() ? '20px' : '0px'}")
			i.icon-warning-sign
			| Caps Lock pressed
		.mess
			div(data-bind="text: msg()")

	form.fringe2(name='changePassForm', action='', autocomplete="off", method='POST', data-bind="css: {show: mode()==='passChange', working: working()}, event: {submit: submit}")
		.head Change password
		dl.dl-horizontal
			dt Current password:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="pass", data-bind="event: {keypress: pressHandler}"))
		dl.dl-horizontal
			dt New password:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="passNew", data-bind="event: {keypress: pressHandler}"))
		dl.dl-horizontal
			dt Repeat new password:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="passNew2", data-bind="event: {keypress: pressHandler}"))
		button.btn-strict(type="submit") Change
		button.btn-strict(type="button", data-bind="click: function () {formClose()}") Cancel
		button.btn-strict.formfinish(type="button", style="display: none;", data-bind="click: function () {formClose()}") Finish
		.text-warning.caps-warn(data-bind="style: {height: caps() ? '20px' : '0px'}")
			i.icon-warning-sign
			| Caps Lock pressed
		.mess
			div(data-bind="text: msg()")