#top(data-bind="with: repository[M!M]")
	.fringe2#panel
		#panelTools
			#toUpload.labledIco.strokeAfter.iconBefore(data-bind="style:{display: loggedIn()?'':'none'}, event:{click: function(data, evt){window.open('/photoUpload')}}")
				.ico
				.text(data-bind="text: $root.i18n.image_upload()")
			#toAdmin.labledIco.strokeAfter.iconBefore(data-bind="style:{display: auth.iAm.role_level()>=50 ? '':'none'}, event:{click: function(data, evt){window.open('/admin')}}")
				.ico
				.text(data-bind="text: $root.i18n.admin()")
			#toProfile.labledIco.iconBefore(data-bind="style:{display: loggedIn()?'':'none'}, event:{click: function(data, evt){window.open('/u/'+auth.iAm.login())}}")
				.ico.fringe2(data-bind="style: {backgroundImage: 'url('+profileAvatar()+')'}")
				.text(data-bind="text: profile")
			#toRegister.labledIco.iconBefore(data-bind="style:{display: loggedIn() || !registrationAllowed() ? 'none':''}, event:{click: function(data, evt){auth.show('reg')}}")
				.ico
				.text(data-bind="text: $root.i18n.register()")
			#toLogIn.labledIco.strokeBefore.iconAfter(data-bind="style:{display: loggedIn()? 'none' : ''}, event:{click: function(data, evt){auth.show('login')}}")
				.text(data-bind="text: $root.i18n.login()")
				.ico
			#toLogOut.labledIco.strokeBefore.iconAfter(data-bind="style:{display: loggedIn()?'':'none'}, event:{click: function(data, evt){auth.doLogout()}}")
				.text(data-bind="text: $root.i18n.logout()")
				.ico
	.span2-3
		a.fringe2#logo(href='/', target='_self')
			#appName Retro photo of mankind's habitat