.user_photoUpload(data-bind="with: repository[M!M]")
	script(type="text/html", id="UploadListTemplate").
		<div class='UploadList' data-bind="foreach: cams, style: {top: scrollTop2()+'px'}">
			<div class='row' data-bind="click: $parent.clickRow">
			</div>
		</div>
	.row-fluid.head Upload new photo
	.row-fluid.txt(data-bind="text: 'Choose photos from your computer by clicking on plus button' + (filereader() ? ' or dragging the files on dashed area' : '')")

	form(id="fileupload", method="POST", enctype="multipart/form-data")
		.row-fluid#addFiles
			span.btn-strict#fileinput-btn(data-loading-text="Loading...")
				i.icon-plus.icon-white
				span Add photos...
				input(id="fileupload2", type="file", name="files[]", multiple, data-bind="fileUploadInput: true")
			#addfiles_area.centering_content(data-bind="css: {hide: !filereader()}")
				#or.centering_content or
				span Drop them here
		.row-fluid.fileupload-buttonbar#commonButtons
			button.btn-strict.btn-strict-success.start(type="submit", data-bind="css: {disabled: false}")
				i.icon-upload.icon-white
				span Start upload
			button.btn-strict.btn-strict-warning.cancel(type="reset", data-bind="css: {disabled: false}")
				i.icon-ban-circle.icon-white
				span Cancel upload
			button.btn-strict.btn-strict-danger.delete(type="reset", data-bind="css: {disabled: false}")
				i.icon-trash.icon-white
				span Delete all

			//The global progress information
		.row-fluid.fileupload-progress.fade
				//The global progress bar
				.progress.progress-success.progress-striped.active(role="progressbar", aria-valuemin="0", aria-valuemax="100")
					.bar(style="width:0%;")
				//The extended global progress information
				.progress-extended &nbsp;

		//The loading indicator is shown during file processing
		.row-fluid.fileupload-loading

		//The table listing the files available for upload/download
		table.table.table-striped(role="presentation")
			tbody.files(data-toggle="modal-gallery", data-target="#modal-gallery")

	.row-fluid
		// The template to display files available for upload
		script(id="template-upload", type="text/x-tmpl").
			{% for (var i=0, file; file=o.files[i]; i++) { %}
				<tr class="template-upload fade">
					<td class="preview"><span class="fade"></span></td>
					<td class="name"><span>{%=file.name%}</span></td>
					{% if (file.error) { %}
						<td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
					{% } else if (o.files.valid && !i) { %}
						<td>
							<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
						</td>
						<td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
						<td class="start">{% if (!o.options.autoUpload) { %}
							<button class="btn-strict">
								<i class="icon-upload icon-white"></i>
								<span>{%=locale.fileupload.start%}</span>
							</button>
						{% } %}</td>
					{% } else { %}
						<td colspan="2"></td>
					{% } %}
					<td class="cancel">{% if (!i) { %}
						<button class="btn-strict btn-strict-warning">
							<i class="icon-ban-circle icon-white"></i>
							<span>{%=locale.fileupload.cancel%}</span>
						</button>
					{% } %}</td>
				</tr>
			{% } %}
		// The template to display files available for download
		script(id="template-download", type="text/x-tmpl").
			{% for (var i=0, file; file=o.files[i]; i++) { %}
				<tr class="template-download fade">
					{% if (file.error) { %}
						<td></td>
						<td class="name"><span>{%=file.name%}</span></td>
						<td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
						<td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
					{% } else { %}
						<td class="preview">{% if (file.thumbnail_url) { %}
							<a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
						{% } %}</td>
						<td class="name">
							<a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
						</td>
						<td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
						<td colspan="2"></td>
					{% } %}
					<td class="delete">
						<button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
							<i class="icon-trash icon-white"></i>
							<span>{%=locale.fileupload.destroy%}</span>
						</button>
						<input type="checkbox" name="delete" value="1">
					</td>
				</tr>
			{% } %}