.user_photo(data-bind="with: repository[M!M]")
	.photoThumbs
		.photoThumb.fringe2.addPhoto
			a(data-bind="event: {click: showUpload}")
			.photoTool Add photos
		//ko foreach: photos
		.photoThumb.fringe2
			img(data-bind="attr: {src: pfile}, event: {load: $parent.onThumbLoad}")
			a(target='_blank', data-bind="attr: {href: '/p/' + cid}")
			.photoTool(data-bind="text: title")
		// /ko
	.photoUploadCurtain
		.photoUploadModal.fringe2(data-bind="style: {maxWidth: $root.GlobalParams.Width() - $root.GlobalParams.Width()/5 + 'px'}")
			.modalTools.fringe2
				span.modalCaption
				i.icon-off.icon-white(data-bind="event: {click: closeUpload}")
			.modalContainer(data-bind="style: {maxHeight: $root.GlobalParams.Height() - 120 + 'px'}")
			.modalFoot
				button.btn-strict.btn-strict-small(type="button", data-bind="event: {click: closeUpload}")
					i.icon-ok.icon-white
					span(data-bind="text: 'Close'")