#auth_curtain(data-bind="with: repository[M!M]")

	//ko if: mode()
	form.fringe(action='', autocomplete="on", method='POST', data-bind="attr: {name: mode() + 'Form'}, css: {working: working(), finish: finish()}, event: {submit: submit}")
		//ko template: {name: mode() + 'Tpl'}
		// /ko
	// /ko

	script(id="loginTpl", type="text/html")
		.head Authorization
		dl.dl-horizontal
			dt User name:
			dd
				span(data-bind="click: function () {mode('reg')}") Registration
		div.inputwrap.user
			input(autocomplete="on", type="text", required="required", placeholder="Enter username or e-mail", name="login", autocorrect="off", autocapitalize="off")
		dl.dl-horizontal
			dt Password:
			dd
				span(data-bind="click: function () {mode('recallRequest')}") Recover password
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="pass", data-bind="event: {keypress: pressHandler}"))
		dl.dl-horizontal
			dt.checked#remember(onclick="this.classList.toggle('checked')") Remember me
		button.btn-strict.formAction(type="submit") Sign in
		button.btn-strict.formAction(type="button", data-bind="click: function () {formClose()}") Cancel
		.text-warning.caps-warn(data-bind="style: {height: caps() ? '20px' : '0px'}")
			i.icon-warning-sign
			| Caps Lock pressed
		.mess
			div(data-bind="text: msg()")

	script(id="regTpl", type="text/html")
		.head Registration
		dl.dl-horizontal
			dt User name:
			dd
				span(data-bind="click: function () {mode('login')}") Authorization
		div.inputwrap.user
			input(autocomplete="off", type="text", required="required", placeholder="User", name="login", autocorrect="off", autocapitalize="off")
		dl.dl-horizontal
			dt E-mail:
		div.inputwrap.envelope
			input(autocomplete="on", type="email", required="required", placeholder="email", name="email", autocorrect="off", autocapitalize="off")
		dl.dl-horizontal
			dt Password:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="pass", data-bind="event: {keypress: pressHandler}"))
		dl.dl-horizontal
			dt Repeat password:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="pass2", data-bind="event: {keypress: pressHandler}"))
		button.btn-strict.formAction(type="submit") Register
		button.btn-strict.formAction(type="button", data-bind="click: function () {formClose()}") Cancel
		button.btn-strict.formFinish(type="button", data-bind="click: function () {formClose()}") Finish
		.text-warning.caps-warn(data-bind="style: {height: caps() ? '20px' : '0px'}")
			i.icon-warning-sign
			| Caps Lock pressed
		.mess
			div(data-bind="text: msg()")

	script(id="recallRequestTpl", type="text/html")
		.head Recover password
		dl.dl-horizontal
			dt Login or e-mail:
			dd
				span(data-bind="click: function () {mode('login')}") Authorization
		div.inputwrap.user
			input(autocomplete="off", type="text", required="required", placeholder="Enter username or e-mail", name="login", autocorrect="off", autocapitalize="off")
		button.btn-strict.formAction(type="submit") Send
		button.btn-strict.formAction(type="button", data-bind="click: function () {formClose()}") Cancel
		button.btn-strict.formFinish(type="button", data-bind="click: function () {formClose()}") Finish
		.mess
			div(data-bind="text: msg()")

	script(id="recallRequestForMeTpl", type="text/html")
		.head Recover password
		| Send request to change your password without entering current?
		button.btn-strict.formAction(type="submit") Send
		button.btn-strict.formAction(type="button", data-bind="click: function () {formClose()}") Cancel
		button.btn-strict.formFinish(type="button", data-bind="click: function () {formClose()}") Finish
		.mess
			div(data-bind="text: msg()")

	script(id="passChangeRecallTpl", type="text/html")
		.row-fluid.userTitle
			img.userTitlePreview(data-bind="attr: {src: avatar()}")
			.userTitleName(data-bind="text: name()")
			.userTitleLogin(data-bind="text: login()")
		dl.dl-horizontal
			dt New password:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="pass", data-bind="event: {keypress: pressHandler}"))
		dl.dl-horizontal
			dt Repeat new password:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="pass2", data-bind="event: {keypress: pressHandler}"))
		button.btn-strict.formAction(type="submit") Change
		button.btn-strict.formAction(type="button", data-bind="click: function () {formClose()}") Cancel
		button.btn-strict.formFinish(type="button", data-bind="click: function () {formClose()}") Finish
		.text-warning.caps-warn(data-bind="style: {height: caps() ? '20px' : '0px'}")
			i.icon-warning-sign
			| Caps Lock pressed
		.mess
			div(data-bind="text: msg()")

	script(id="passChangeTpl", type="text/html")
		.head Change password
		dl.dl-horizontal
			dt Current password:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="pass", data-bind="event: {keypress: pressHandler}"), autocorrect="off", autocapitalize="off")
		dl.dl-horizontal
			dt New password:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="passNew", data-bind="event: {keypress: pressHandler}"))
		dl.dl-horizontal
			dt Repeat new password:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="passNew2", data-bind="event: {keypress: pressHandler}"))
		button.btn-strict.formAction(type="submit") Change
		button.btn-strict.formAction(type="button", data-bind="click: function () {formClose()}") Cancel
		button.btn-strict.formFinish(type="button", data-bind="click: function () {formClose()}") Finish
		.text-warning.caps-warn(data-bind="style: {height: caps() ? '20px' : '0px'}")
			i.icon-warning-sign
			| Caps Lock pressed
		.mess
			div(data-bind="text: msg()")