#auth_curtain.centering_content(data-bind="with: repository[M!M]")

    //ko if: mode()
    form.fringe(action='', autocomplete="on", method='POST', data-bind="attr: {name: mode() + 'Form'}, css: {working: working(), finish: finish()}, event: {submit: submit}")
        //ko template: {name: mode() + 'Tpl'}
        // /ko
    // /ko

    | <script id="loginTpl" type="text/html">
    .head(data-bind="text: $root.i18n('Sign in')")
    .form-group
        dl.dl-horizontal
            dt(data-bind="text: $root.i18n('Username:')")
            dd
                span(data-bind="click: function () {mode('reg')}, text: $root.i18n('Sign up')")
        .inputwrap
            span.glyphicon.glyphicon-user
            input.form-control(autocomplete="on", type="text", required="required", placeholder="Enter username or e-mail", name="login", autocorrect="off", autocapitalize="off")
    .form-group(style="margin-bottom:0;")
        dl.dl-horizontal
            dt(data-bind="text: $root.i18n('Password:')")
            dd
                span(data-bind="click: function () {mode('recallRequest')}, text: $root.i18n('Restore password')")
        .inputwrap
            span.glyphicon.glyphicon-lock
            input.form-control(type="password", required="required", placeholder="Enter password", name="pass", data-bind="event: {keypress: pressHandler}")
        .footnote
            span(data-bind="text: $root.i18n('For safer use on someone else\\'s computer, open a private tab') + ' ('")
            a.lll(href="https://support.google.com/chrome/answer/95464", target="_blank", data-bind="text: $root.i18n('incognito mode')")
            | )
    .form-group(style="margin-bottom:20px;")
        .text-warning.caps-warn(data-bind="style: {height: caps() ? '20px' : '0px'}")
            span.glyphicon.glyphicon-warning-sign
            span(data-bind="text: ' ' + $root.i18n('Caps Lock is on')")
        .mess
            div(data-bind="text: msg()")
        .row.btnsAction
            .col-xs-6
                button.btn.btn-primary(type="submit", data-bind="text: $root.i18n('Login')")
            .col-xs-6.colright
                button.btn.btn-primary(type="button", data-bind="click: formClose, text: $root.i18n('Cancel')")
        .cantLoging
            a(href="", target="_blank", onclick="ga('send', 'event', 'support', 'click', 'support click login'); $(this).attr('href', 'mailto:support@pastvu.com?Subject=%5BCan%27t%20sign%20in%5D%20' + $(this).parents('form').find('[name=login]').val())", data-bind="text: $root.i18n('Can\\'t sign in?')")
    | </script>

    | <script id="regTpl" type="text/html">
    .head(data-bind="text: $root.i18n('Sign up')")
    .form-group
        dl.dl-horizontal
            dt(data-bind="text: $root.i18n('Username:')")
            dd: span(data-bind="click: function () {mode('login')}, text: $root.i18n('Sign in')")
        .inputwrap
            span.glyphicon.glyphicon-user
            input.form-control(autocomplete="off", type="text", required="required", placeholder="User", name="login", autocorrect="off", autocapitalize="off")
    .form-group
        dl.dl-horizontal
            dt E-mail:
            dd
        .inputwrap
            span.glyphicon.glyphicon-envelope
            input.form-control(autocomplete="on", type="email", required="required", placeholder="email", name="email", autocorrect="off", autocapitalize="off")
    .form-group
        dl.dl-horizontal
            dt(data-bind="text: $root.i18n('Password:')")
            dd
        .inputwrap
            span.glyphicon.glyphicon-lock
            input.form-control(autocomplete="off", type="password", required="required", placeholder="Enter password", name="pass", data-bind="event: {keypress: pressHandler}")
    .form-group
        dl.dl-horizontal
            dt(data-bind="text: $root.i18n('Repeat password:')")
            dd
        .inputwrap
            span.glyphicon.glyphicon-lock
            input.form-control(autocomplete="off", type="password", required="required", placeholder="Enter password", name="pass2", data-bind="event: {keypress: pressHandler}")
    .form-group
        .text-warning.caps-warn(data-bind="style: {height: caps() ? '20px' : '0px'}")
            span.glyphicon.glyphicon-warning-sign
            span(data-bind="text: ' ' + $root.i18n('Caps Lock is on')")
        .mess
            div(data-bind="text: msg()")
        .row.btnsAction
            .col-xs-6
                button.btn.btn-primary(type="submit", data-bind="text: $root.i18n('Submit')")
            .col-xs-6.colright
                button.btn.btn-primary(type="button", data-bind="click: formClose, text: $root.i18n('Cancel')")
        .row.btnsFinish
            .col-xs-12.colcent
                button.btn.btn-primary(type="button", data-bind="click: formClose, text: $root.i18n('Finish')")
    | </script>

    | <script id="recallRequestTpl" type="text/html">
    .head(data-bind="text: $root.i18n('Password recovery')")
    .form-group
        dl.dl-horizontal
            dt(data-bind="text: $root.i18n('Username or e-mail:')")
            dd: span(data-bind="click: function () {mode('login')}, text: $root.i18n('Sign in')")
        .inputwrap
            span.glyphicon.glyphicon-user
            input.form-control(autocomplete="off", type="text", required="required", placeholder="Enter username or e-mail", name="login", autocorrect="off", autocapitalize="off")
    .form-group
        .mess
            div(data-bind="text: msg()")
        .row.btnsAction
            .col-xs-6
                button.btn.btn-primary(type="submit", data-bind="text: $root.i18n('Submit')")
            .col-xs-6.colright
                button.btn.btn-primary(type="button", data-bind="click: formClose, text: $root.i18n('Cancel')")
        .row.btnsFinish
            .col-xs-12.colcent
                button.btn.btn-primary(type="button", data-bind="click: formClose, text: $root.i18n('Finish')")
    | </script>

    | <script id="recallRequestForMeTpl" type="text/html">
    .head(data-bind="text: $root.i18n('New password request')")
    .form-group
        div(style="text-align: center; max-width: 350px; margin-bottom: 10px;", data-bind="text: $root.i18n('An e-mail with a link to set a new password without entering the current one will be sent. Submit the request?')")
        .mess
            div(data-bind="text: msg()")
    .form-group
        .row.btnsAction
            .col-xs-6
                button.btn.btn-primary(type="submit", data-bind="text: $root.i18n('Submit')")
            .col-xs-6.colright
                button.btn.btn-primary(type="button", data-bind="click: formClose, text: $root.i18n('Cancel')")
        .row.btnsFinish
            .col-xs-12.colcent
                button.btn.btn-primary(type="button", data-bind="click: formClose, text: $root.i18n('Finish')")
    | </script>

    | <script id="passChangeRecallTpl" type="text/html">
    .userTitle.clearfix
        img.userTitlePreview(data-bind="attr: {src: avatar()}")
        .userTitleName(data-bind="text: name()")
        .userTitleLogin(data-bind="text: login()")
    .form-group
        dl.dl-horizontal
            dt(data-bind="text: $root.i18n('New password:')")
            dd
        .inputwrap
            span.glyphicon.glyphicon-lock
            input.form-control(type="password", required="required", placeholder="Enter password", name="pass", data-bind="event: {keypress: pressHandler}")
    .form-group
        dl.dl-horizontal
            dt(data-bind="text: $root.i18n('Repeat new password:')")
            dd
        .inputwrap
            span.glyphicon.glyphicon-lock
            input.form-control(type="password", required="required", placeholder="Enter password", name="pass2", data-bind="event: {keypress: pressHandler}")
    .form-group
        .text-warning.caps-warn(data-bind="style: {height: caps() ? '20px' : '0px'}")
            span.glyphicon.glyphicon-warning-sign
            span(data-bind="text: ' ' + $root.i18n('Caps Lock is on')")
        .mess
            div(data-bind="text: msg()")
        .row.btnsAction
            .col-xs-6
                button.btn.btn-primary(type="submit", data-bind="text: $root.i18n('Change')")
            .col-xs-6.colright
                button.btn.btn-primary(type="button", data-bind="click: formClose, text: $root.i18n('Cancel')")
        .row.btnsFinish
            .col-xs-12.colcent
                button.btn.btn-primary(type="button", data-bind="click: formClose, text: $root.i18n('Finish')")
    | </script>

    | <script id="passChangeTpl" type="text/html">
    .head(data-bind="text: $root.i18n('Change password')")
    .form-group
        dl.dl-horizontal
            dt(data-bind="text: $root.i18n('Current password:')")
            dd
        .inputwrap
            span.glyphicon.glyphicon-lock
            input.form-control(type="password", required="required", placeholder="Enter password", name="pass", data-bind="event: {keypress: pressHandler}", autocorrect="off", autocapitalize="off")
    .form-group
        dl.dl-horizontal
            dt(data-bind="text: $root.i18n('New password:')")
            dd
        .inputwrap
            span.glyphicon.glyphicon-lock
            input.form-control(type="password", required="required", placeholder="Enter password", name="passNew", data-bind="event: {keypress: pressHandler}")
    .form-group
        dl.dl-horizontal
            dt(data-bind="text: $root.i18n('Repeat new password:')")
            dd
        .inputwrap
            span.glyphicon.glyphicon-lock
            input.form-control(type="password", required="required", placeholder="Enter password", name="passNew2", data-bind="event: {keypress: pressHandler}")
    .form-group
        .text-warning.caps-warn(data-bind="style: {height: caps() ? '20px' : '0px'}")
            span.glyphicon.glyphicon-warning-sign
            span(data-bind="text: ' ' + $root.i18n('Caps Lock is on')")
        .mess
            div(data-bind="text: msg()")
        .row.btnsAction
            .col-xs-6
                button.btn.btn-primary(type="submit", data-bind="text: $root.i18n('Change')")
            .col-xs-6.colright
                button.btn.btn-primary(type="button", data-bind="click: formClose, text: $root.i18n('Cancel')")
        .row.btnsFinish
            .col-xs-12.colcent
                button.btn.btn-primary(type="button", data-bind="click: formClose, text: $root.i18n('Finish')")
    | </script>

    | <script id="passInputTpl" type="text/html">
    .head(data-bind="text: $root.i18n('Verification')")
    .form-group
        dl.dl-horizontal
            dt(data-bind="text: $root.i18n('Enter your password to confirm:')")
            dd
        .inputwrap
            span.glyphicon.glyphicon-lock
            input.form-control(type="password", required="required", placeholder="Enter password", name="pass", data-bind="event: {keypress: pressHandler}", autocorrect="off", autocapitalize="off")
    .form-group
        .text-warning.caps-warn(data-bind="style: {height: caps() ? '20px' : '0px'}")
            span.glyphicon.glyphicon-warning-sign
            span(data-bind="text: ' ' + $root.i18n('Caps Lock is on')")
        .mess
            div(data-bind="text: msg()")
        .row.btnsAction
            .col-xs-6
                button.btn.btn-primary(type="submit", data-bind="text: $root.i18n('Submit')")
            .col-xs-6.colright
                button.btn.btn-primary(type="button", data-bind="click: formClose, text: $root.i18n('Cancel')")
    | </script>