#auth_curtain(data-bind="with: repository[M!M]")

	//ko if: mode()
	form.fringe(action='', autocomplete="on", method='POST', data-bind="attr: {name: mode() + 'Form'}, css: {working: working(), finish: finish()}, event: {submit: submit}")
		//ko template: {name: mode() + 'Tpl'}
		// /ko
	// /ko

	script(id="loginTpl", type="text/html")
		.head Авторизация
		dl.dl-horizontal
			dt Имя пользователя:
			dd
				span(data-bind="click: function () {mode('reg')}") Регистрация
		div.inputwrap.user
			input(autocomplete="on", type="text", required="required", placeholder="Enter username or e-mail", name="login", autocorrect="off", autocapitalize="off")
		dl.dl-horizontal
			dt Пароль:
			dd
				span(data-bind="click: function () {mode('recallRequest')}") Восстановить пароль
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="pass", data-bind="event: {keypress: pressHandler}"))
		.footnote
			| Если вы были зарегистрированы на проектах oldmos или oldsp, воспользуйтесь&nbsp;
			span.lll(data-bind="click: function () {mode('recallRequest')}") формой восстановления пароля
		dl.dl-horizontal
			dt.checked#remember(onclick="this.classList.toggle('checked')") Запомнить меня
			dd.cantLoging
				a(href="", target="_blank", onclick="ga('send', 'event', 'support', 'click', 'support click login'); $(this).attr('href', 'mailto:support@pastvu.com?Subject=%5BНе%20могу%20войти%5D%20' + $(this).parents('form').find('[name=login]').val())")
					| Не можете войти?
		button.btn-strict.formAction(type="submit") Вход
		button.btn-strict.formAction(type="button", data-bind="click: function () {formClose()}") Отмена
		.text-warning.caps-warn(data-bind="style: {height: caps() ? '20px' : '0px'}")
			i.icon-warning-sign
			| Caps Lock активен
		.mess
			div(data-bind="text: msg()")

	script(id="regTpl", type="text/html")
		.head Регистрация
		dl.dl-horizontal
			dt Имя пользователя:
			dd
				span(data-bind="click: function () {mode('login')}") Авторизация
		div.inputwrap.user
			input(autocomplete="off", type="text", required="required", placeholder="User", name="login", autocorrect="off", autocapitalize="off")
		dl.dl-horizontal
			dt E-mail:
		div.inputwrap.envelope
			input(autocomplete="on", type="email", required="required", placeholder="email", name="email", autocorrect="off", autocapitalize="off")
		dl.dl-horizontal
			dt Пароль:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="pass", data-bind="event: {keypress: pressHandler}"))
		dl.dl-horizontal
			dt Повторите пароль:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="pass2", data-bind="event: {keypress: pressHandler}"))
		button.btn-strict.formAction(type="submit") Отправить
		button.btn-strict.formAction(type="button", data-bind="click: function () {formClose()}") Отмена
		button.btn-strict.formFinish(type="button", data-bind="click: function () {formClose()}") Завершить
		.text-warning.caps-warn(data-bind="style: {height: caps() ? '20px' : '0px'}")
			i.icon-warning-sign
			| Caps Lock активен
		.mess
			div(data-bind="text: msg()")

	script(id="recallRequestTpl", type="text/html")
		.head Восстановление пароля
		dl.dl-horizontal
			dt Имя пользователя или e-mail:
			dd
				span(data-bind="click: function () {mode('login')}") Авторизация
		div.inputwrap.user
			input(autocomplete="off", type="text", required="required", placeholder="Enter username or e-mail", name="login", autocorrect="off", autocapitalize="off")
		button.btn-strict.formAction(type="submit") Отправить
		button.btn-strict.formAction(type="button", data-bind="click: function () {formClose()}") Отмена
		button.btn-strict.formFinish(type="button", data-bind="click: function () {formClose()}") Завершить
		.mess
			div(data-bind="text: msg()")

	script(id="recallRequestForMeTpl", type="text/html")
		.head Запрос нового пароля
		div(style="text-align: center; max-width: 350px; margin-bottom: 10px;")
			| На почту придет письмо со ссылкой на установку нового пароля без ввода текущего. Отправить запрос?
		//-Send request to change your password without entering current?
		button.btn-strict.formAction(type="submit") Отправить
		button.btn-strict.formAction(type="button", data-bind="click: function () {formClose()}") Отмена
		button.btn-strict.formFinish(type="button", data-bind="click: function () {formClose()}") Завершить
		.mess
			div(data-bind="text: msg()")

	script(id="passChangeRecallTpl", type="text/html")
		.row-fluid.userTitle
			img.userTitlePreview(data-bind="attr: {src: avatar()}")
			.userTitleName(data-bind="text: name()")
			.userTitleLogin(data-bind="text: login()")
		dl.dl-horizontal
			dt Новый пароль:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="pass", data-bind="event: {keypress: pressHandler}"))
		dl.dl-horizontal
			dt Повторите новый пароль:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="pass2", data-bind="event: {keypress: pressHandler}"))
		button.btn-strict.formAction(type="submit") Сменить
		button.btn-strict.formAction(type="button", data-bind="click: function () {formClose()}") Отмена
		button.btn-strict.formFinish(type="button", data-bind="click: function () {formClose()}") Завершить
		.text-warning.caps-warn(data-bind="style: {height: caps() ? '20px' : '0px'}")
			i.icon-warning-sign
			| Caps Lock активен
		.mess
			div(data-bind="text: msg()")

	script(id="passChangeTpl", type="text/html")
		.head Смена пароля
		dl.dl-horizontal
			dt Текущий пароль:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="pass", data-bind="event: {keypress: pressHandler}"), autocorrect="off", autocapitalize="off")
		dl.dl-horizontal
			dt Новый пароль:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="passNew", data-bind="event: {keypress: pressHandler}"))
		dl.dl-horizontal
			dt Повторите новый пароль:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="passNew2", data-bind="event: {keypress: pressHandler}"))
		button.btn-strict.formAction(type="submit") Сменить
		button.btn-strict.formAction(type="button", data-bind="click: function () {formClose()}") Отмена
		button.btn-strict.formFinish(type="button", data-bind="click: function () {formClose()}") Завершить
		.text-warning.caps-warn(data-bind="style: {height: caps() ? '20px' : '0px'}")
			i.icon-warning-sign
			| Caps Lock активен
		.mess
			div(data-bind="text: msg()")

	script(id="passInputTpl", type="text/html")
		.head Верификация
		dl.dl-horizontal
			dt Введите свой пароль для подтверждения:
		div.inputwrap.lock
			input(type="password", required="required", placeholder="Enter password", name="pass", data-bind="event: {keypress: pressHandler}"), autocorrect="off", autocapitalize="off")
		button.btn-strict.formAction(type="submit") Отправить
		button.btn-strict.formAction(type="button", data-bind="click: function () {formClose()}") Отмена
		.text-warning.caps-warn(data-bind="style: {height: caps() ? '20px' : '0px'}")
			i.icon-warning-sign
			| Caps Lock активен
		.mess
			div(data-bind="text: msg()")