.foot.fringe(data-bind="with: repository[M!M]")
    .rightSide.hide-text
        a.footElem.strokeAfter(href="mailto:support@pastvu.com", target="_blank", onclick="ga('send', 'event', 'support', 'click', 'support click common');")
            | Support: support@pastvu.com
        .footElem.strokeAfter(data-bind="click: navigateRules") Rules
        .footElem.strokeAfter(data-bind="click: navigateAbout") About
        a.footElem.strokeAfter(href="https://github.com/PastVu", target="_blank", onclick="ga('send', 'event', 'github', 'click', 'go to github');")
            | Открытый код на GitHub
        .footElem.copyright
            | PastVu&nbsp;
            span.glyphicon.glyphicon-globe
            =  ' 2009 – ' + new Date().getFullYear()