.foot.fringe(data-bind="with: repository[M!M]")
	.rightSide.hide-text
		.footElem.strokeAfter(data-bind="click: showAbout") О проекте
		.footElem.copyright
			| PastVu
			i.icon-white.icon-globe
			| 2009 - 2013
