.share(data-bind="with: repository[M!M]")
    .shareBlock
        .shareName(data-bind="text: $root.i18n('Разместить в социальных сетях')")
        .socials
            //ko foreach: {data:socials, as: 'social'}
            .social(data-bind="click: social.action, style: {backgroundImage: 'url(\"'+ social.icon + '\")'}, attr: {title: social.name}")
            // /ko
    //ko if: options.linkPage
    hr
    .shareBlock
        .shareName(data-bind="text: $root.i18n('Ссылка на страницу')")
        .inputWrap
            .input-group(data-bind="style: {width: (location.host+options.linkPage).length * 7 + 30 + 'px'}")
                input.form-control.inputLink(type="url", readonly, data-bind="click: linkClick, value: location.host + options.linkPage", autocorrect="off", autocapitalize="off")
                .input-group-addon.form-control.copy(data-bind="click: copyClick, attr: {title: $root.i18n('Скопировать адрес в буфер обмена')}")
    // /ko
    //ko if: options.linkObject
    hr
    .shareBlock
        .shareName(data-bind="text: $root.i18n('Ссылка на изображение')")
        .inputWrap
            .input-group(data-bind="style: {width: (location.host+options.linkObject).length * 7 + 'px'}")
                input.form-control.inputLink(type="url", readonly, data-bind="click: linkClick, value: location.host + options.linkObject", autocorrect="off", autocapitalize="off")
                .input-group-addon.form-control.copy(data-bind="click: copyClick, attr: {title: $root.i18n('Скопировать адрес в буфер обмена')}")
    // /ko
