.share(data-bind="with: repository[M!M]")
    .shareBlock
        .shareName Разместить в социальных сетях
        .socials
            //ko foreach: {data:socials, as: 'social'}
            .social(data-bind="click: social.action, style: {backgroundImage: 'url(\"'+ social.icon + '\")'}, attr: {title: social.name}")
            // /ko
    //ko if: options.linkPage
    hr
    .shareBlock
        .shareName Ссылка на страницу
        .inputWrap
            .input-group(data-bind="style: {width: (location.host+options.linkPage).length * 7 + 30 + 'px'}")
                input.form-control.inputLink(type="url", readonly, data-bind="click: linkClick, value: location.host + options.linkPage", autocorrect="off", autocapitalize="off")
                .input-group-addon.form-control.copy(title="Скопировать адрес в буфер обмена" data-bind="click: copyClick")
    // /ko
    //ko if: options.linkObject
    hr
    .shareBlock
        .shareName Ссылка на изображение
        .inputWrap
            .input-group(data-bind="style: {width: (location.host+options.linkObject).length * 7 + 'px'}")
                input.form-control.inputLink(type="url", readonly, data-bind="click: linkClick, value: location.host + options.linkObject", autocorrect="off", autocapitalize="off")
                .input-group-addon.form-control.copy(title="Скопировать адрес в буфер обмена" data-bind="click: copyClick")
    // /ko
