#top(data-bind="with: repository[M!M]")
    .fringe#panel
        a#brand(href='/', title="PastVu - ретроспектива среды обитания человечества")
            img.logo(src="/img/misc/logo.png")
            .name(data-bind="html: pageTitle()")
        #panelTools.hide-text
            //ko if: auth.loggedIn()
            a#toUpload.labledIco.strokeAfter(href="/photoUpload")
                .glyphicon.glyphicon-cloud-upload
                .text Загрузить фото
            // /ko
            a#gallery.labledIco.strokeAfter(href="/ps")
                .glyphicon.glyphicon-th
                .text Галерея
            //ko if: auth.loggedIn()
            //ko if: can.adm()
            a#toAdmin.labledIco.strokeAfter(href="/admin", target="_blank")
                .glyphicon.glyphicon-cog
                .text Админ
            // /ko
            a#toProfile.labledIco(data-bind="attr:{href: '/u/'+auth.iAm.login()}")
                .ico.fringe(data-bind="style: {backgroundImage: 'url('+profileAvatar()+')'}")
                .text(data-bind="text: profile")
            // /ko
            //ko if: !auth.loggedIn()
            #toRegister.labledIco(data-bind="click: function(data, evt){auth.show('reg')}")
                .ico
                .text Регистрация
            #toLogIn.labledIco.strokeBefore.iconAfter(data-bind="click: function(data, evt){auth.show('login')}")
                .text Вход
                .ico
            // /ko
            //ko if: auth.loggedIn()
            #toLogOut.labledIco.strokeBefore.iconAfter(data-bind="click: function(data, evt){auth.doLogout()}")
                .text Выход
                .ico
            // /ko
            #lang.labledIco.langFlag.strokeBefore(data-bind="style:{'backgroundImage': 'url(/img/misc/flags/' + lang() + '.svg)'}, click: langClick")
            // ko if: langAltShow()
            #langAlt.langFlag(data-bind="style:{'backgroundImage': 'url(/img/misc/flags/' + langAlt() + '.svg)'}, click: langAltClick")
            // /ko
    //ko if: msg().length
    #appMsg(data-bind="css: msgCss()"): span(data-bind="text: msg()")
    // /ko