#top(data-bind="with: repository[M!M]")
	.fringe#panel
		a#brand(href='/', title="PastVu - ретроспектива среды обитания человечества")
			img.logo(src="/img/misc/logo.png")
			img.name(src="/img/misc/name-2x.png", srcset="/img/misc/name.png 1x, /img/misc/name-2x.png 2x")
		#panelTools.hide-text
			//ko if: auth.loggedIn()
			a#toUpload.labledIco.strokeAfter.iconBefore(href="/photoUpload")
				.ico
				.text(data-bind="text: $root.i18n.image_upload()")
			//ko if: can.mod()
			a#toAdmin.labledIco.strokeAfter.iconBefore(href="/admin", target="_blank")
				.ico
				.text(data-bind="text: $root.i18n.mod()")
			// /ko
			//ko if: can.adm()
			a#toAdmin.labledIco.strokeAfter.iconBefore(href="/admin", target="_blank")
				.ico
				.text(data-bind="text: $root.i18n.admin()")
			// /ko
			a#toProfile.labledIco.iconBefore(data-bind="attr:{href: '/u/'+auth.iAm.login()}")
				.ico.fringe(data-bind="style: {backgroundImage: 'url('+profileAvatar()+')'}")
				.text(data-bind="text: profile")
			// /ko
			#toRegister.labledIco.iconBefore(data-bind="style:{display: !auth.loggedIn() && registrationAllowed() ? '' : 'none'}, event:{click: function(data, evt){auth.show('reg')}}")
				.ico
				.text(data-bind="text: $root.i18n.register()")
			#toLogIn.labledIco.strokeBefore.iconAfter(data-bind="style:{display: !auth.loggedIn() ? '' : 'none'}, event:{click: function(data, evt){auth.show('login')}}")
				.text(data-bind="text: $root.i18n.login()")
				.ico
			#toLogOut.labledIco.strokeBefore.iconAfter(data-bind="style:{display: auth.loggedIn() ? '' : 'none'}, event:{click: function(data, evt){auth.doLogout()}}")
				.text(data-bind="text: $root.i18n.logout()")
				.ico
	#appMsg(data-bind="css: msgCss(), style: {display: msg().length > 0 ? '' : 'none'}")
		//i.icon-warning-sign(style="margin-top: 3px; margin-right: 4px;")
		span(data-bind="text: msg()")