.c.delopen(id="c{{=c.cid}}", class="l{{=c.level}}")
	a.hrefava(href="{{='/u/'+c.user.login}}", target="_blank")
		| {{?c.user.avatar === undefined}}
		.overprint {{=c.user.disp[0]}}
		| {{?}}
		img.cava(src="{{=c.user.avatar || '/img/caps/avatarth.png'}}")
	.cbody
		.chead
			a(class="author{{?c.user.online}} online{{?}}", href="{{='/u/'+c.user.login}}") {{=c.user.disp}}
			| {{?c.user.rnks}}
			.ranks {{=c.user.rnks}}
			| {{?}}
			.dotDelimeter ·
			a(class="stamp{{?c.delroot!==true}} dis{{?}}", href="{{= c.delroot===true ? ('?hl=comment-'+c.cid) : 'javascript: void(0)'}}") {{=it.fDate(new Date(c.stamp))}}
			.dotDelimeter ·
			.changed(title="Показать историю изменений") {{='Удален '+it.fDateIn(new Date(c.lastChanged))}}
		.ctext {{=c.txt}}
		| {{?c.delroot===true}}
		.cacts
			span.cact.hidedel Свернуть
			| {{?it.mod}}
			.dotDelimeter ·
			span.cact.restore Восстановить
			| {{?}}
		| {{?}}