| {{?c.del===true}}
| {{#def.del}}
| {{??}}
.c(id="c{{=c.cid}}", class="l{{=c.level}}{{?c.isnew}} isnew{{?}}")
	a.hrefava(href="{{='/u/'+c.user.login}}", target="_blank")
		| {{?c.user.avatar === undefined}}
		.overprint {{=c.user.disp[0]}}
		| {{?}}
		img.cava(src="{{=c.user.avatar || '/img/caps/avatarth.png'}}")
	.cbody
		.chead
			a(class="author{{?c.user.online}} online{{?}}", href="{{='/u/'+c.user.login}}") {{=c.user.disp}}
			| {{?c.user.rnks}}
			.ranks {{=c.user.rnks}}
			| {{?}}
			| {{?c.frag}}
			.dotDelimeter ·
			a.frag(href="{{='?hl=frag-'+c.cid}}")
				span.glyphicon.glyphicon-picture
				|  Комментируемый фрагмент
			| {{?}}
			.dotDelimeter ·
			a.stamp(href="?hl=comment-{{=c.cid}}") {{=it.fDate(new Date(c.stamp))}}
			| {{?c.lastChanged}}
			.dotDelimeter ·
			.changed(title="Показать историю изменений") {{='Изменен '+it.fDateIn(new Date(c.lastChanged))}}
			| {{?}}
		.ctext {{=c.txt}}
		| {{?it.reply}}
		.cacts
			span.cact.reply Ответить
			| {{?it.mod || c.can.edit}}
			.dotDelimeter ·
			span.cact.edit Редактировать
			| {{?}}
			| {{?it.mod || c.can.del}}
			.dotDelimeter ·
			span.cact.remove Удалить
			| {{?}}
		| {{?}}
| {{?}}