.c.cdel(id="c{{=c.cid}}", class="l{{=c.level}}")
    .delico Показать
    .cbody
        .chead
            a(class="author", href="{{='/u/'+c.user.login}}") {{=c.user.disp}}
            | {{?c.user.rnks}}
            .ranks {{=c.user.rnks}}
            | {{?}}
            .dotDelimeter ·
            a.stamp(data-replace="true", href="{{='?hl=comment-'+c.cid}}") {{=it.fDate(new Date(c.stamp))}}
            .dotDelimeter ·
            .changed(title="Показать историю изменений") {{='Комментарий удален '+it.fDateIn(new Date(c.lastChanged))}}