.fullComments(data-bind="with: repository[M!M]")
	ul.media-list(data-bind="css: {loggedIn: auth.loggedIn(), canFrag: canFrag}")
		//ko template: { name: 'commentTpl', foreach: comments }
		// /ko
		//ko if: auth.loggedIn()
		//ko template: {name: 'replyTpl', data: dataForZeroReply}
		// /ko
		// /ko

		script(id="commentTpl", type="text/html")
			li.media(data-bind="attr: {'data-cid': $data.cid}, css: {commentAdd: $data.cid === $parents[$data.level].commentEditingCid()}")
				a.pull-left(data-bind="attr: {href: '/u/' + $parents[$data.level].users[$data.user].login}")
					img.media-object(data-bind="attr: {src: $parents[$data.level].users[$data.user].avatar}")
				.media-body
					//ko template: {name: $data.cid === $parents[$data.level].commentEditingCid() ? 'replyBodyTpl' : 'commentBodyTpl'}
					// /ko
					//ko template: {name: 'commentTpl', foreach: $data.comments }
					// /ko
					//ko if: $data.cid === $parents[$data.level].commentReplyingToCid()
					//ko template: 'replyTpl'
					// /ko
					// /ko
		script(id="commentBodyTpl", type="text/html")
			.commentBody
				.commentHead
					a.author(data-bind="attr: {href: '/u/' + $parents[$data.level].users[$data.user].login}, text: $parents[$data.level].users[$data.user].name")
					//ko if: $data.frag
					.dotDelimeter ·
					a.frag(data-bind="attr: {href: '?hl=frag-' + $data.cid}")
						i.icon-picture
						| Комментируемый фрагмент
					// /ko
					.dotDelimeter ·
					a.stamp(data-bind="attr: {href: '?hl=comment-' + $data.cid}, text: moment($data.stamp).calendar()")
					//ko if: $data.lastChanged
					.dotDelimeter ·
					.changed(data-bind="text: 'Изменен ' + moment($data.lastChanged).calendar().toLowerCase(), tooltip: {title: 'Показать историю изменений', trigger: 'click hover'}, click: function () {$parents[$data.level].showHistory($data.cid)}")
					// /ko
				.commentText(data-bind="html: $data.txt")
				.commentActions
					span.commentAction.reply(data-bind="click: $parents[$data.level].replyBind") Ответить
					.dotDelimeter ·
					span.commentAction.edit(data-bind="click: $parents[$data.level].editBind") Редактировать
					.dotDelimeter ·
					span.commentAction.remove(data-bind="click: $parents[$data.level].removeBind") Удалить

	script(id="replyTpl", type="text/html")
		li.media.commentAdd
			a.pull-left(target="_blank", data-bind="attr: {href: '/u/' + $parents[$data.level].auth.iAm.login()}")
				img.media-object(data-bind="attr: {src: $parents[$data.level].auth.iAm.avatarth()}, event: {error: $parents[$data.level].onAvatarError}")
			.media-body(data-bind="template: 'replyBodyTpl'")
	script(id="replyBodyTpl", type="text/html")
		textarea.commentInput(wrap="soft", data-bind="event: {focus: $parents[$data.level].inputFocusBind}")
		label.commentInputLabel(data-bind="click: $parents[$data.level].inputLabelClickBind") Нажмите, чтобы начать писать комментарий
		button.btn-strict.btn-strict-success.btn-strict-small.btnCommentSend(type="button", data-bind="css: {disabled: $parents[$data.level].exe()}, click: $parents[$data.level].sendBind, attr: {disabled: $parents[$data.level].exe()}")
			i.icon-comment.icon-white
			span Отправить
		button.btn-strict.btn-strict-warning.btn-strict-small.btnCommentCancel(type="button", data-bind="css: {disabled: $parents[$data.level].exe()}, click: $parents[$data.level].cancelBind, attr: {disabled: $parents[$data.level].exe()}")
			i.icon-remove.icon-white
			span Отмена
		button.btn-strict.btn-strict-small.btnCommentFrag(type="button", data-bind="css: {disabled: $parents[$data.level].exe()}, click: $parents[$data.level].fragClickBind, attr: {disabled: $parents[$data.level].exe()}")
			i.icon-picture.icon-white
			span Фрагмент
		// ko if: $parents[$data.level].fraging()
		button.btn-strict.btn-strict-small.btnCommentFragDel(type="button", data-bind="css: {disabled: $parents[$data.level].exe()}, click: $parents[$data.level].fragDeleteBind, attr: {disabled: $parents[$data.level].exe()}")
			i.icon-remove.icon-white
			span Очистить фрагмент
		// /ko