.fullComments(data-bind="with: repository[M!M]")
	.cmtsHead
		a.count.headElem.interact(href="?hl=comments", data-bind="html: count() + (countNew() ? '<span class=\"cnew\"> +' + countNew() + '</span>' : '')", title="Ссылка на область комментариев")
		//ko if: canReply()
		.addZero.headElem.interact.strokeBefore(data-bind="click: replyZero", title="Добавить комментарий первого уровня")
			span.glyphicon.glyphicon-edit
			|  Добавить
		// /ko
		//ko if: !auth.loggedIn()
		.addZero.headElem.interact.strokeBefore(data-bind="click: function(data, evt){auth.show('login')}", title="Кликните, чтобы войти или зарегистрироваться")
			span.glyphicon.glyphicon-log-in
			| &nbsp;&nbsp;Войдите, чтобы поделиться мнением
		// /ko
		//ko if: auth.loggedIn()
		.commSubscr.headElem.interact.strokeBefore(data-bind="click: subscribe, css: {isSubscr: subscr()}, attr: {title: subscr() ? 'Вы подписаны на новые комментарии. Нажмите, чтобы отписаться' : 'Подписаться на новые комментарии'}")
			span.glyphicon.glyphicon-envelope
			span(data-bind="text: subscr() ? ' Отписаться' : ' Подписаться'")
		// /ko
		//ko if: canModerate()
		.noComments.headElem.interact(data-bind="click: setNoComments, attr: {title: (nocomments() ? 'Разрешить' : 'Запретить')+' дальнейшее комментирование'}")
			span.glyphicon(data-bind="css: nocomments() ? 'glyphicon-ok-sign' : 'glyphicon-minus-sign'")
			span(data-bind="text: nocomments() ? ' Разрешить комментирование' : ' Запретить комментирование'")
		// /ko
		//ko if: auth.loggedIn() && nocomments()
		span.cantComment Комментирование запрещено
		// /ko
		.commentsLoad(data-bind="style: {display: loading() ? '' : 'none'}") &nbsp;

	.cmts

	//ko if: countNew()
	.navigator(data-bind="css: {touch: touch}")
		.arrow
		.navigatorInn
			.countAll(data-bind="text: '+' + countNew()")
			.up(data-bind="click: navUp")
				span.glyphicon.glyphicon-arrow-up
				.navTxt
			.down(data-bind="click: navDown")
				.navTxt
				span.glyphicon.glyphicon-arrow-down
	// /ko