.commentHist(data-bind="with: repository[M!M]")
	ul.media-list
		//ko foreach: hists
		li.media.hist
			a.pull-left(target="_blank", data-bind="attr: {href: '/u/' + $data.user.login}")
				img.media-object(data-bind="attr: {src: $data.user.avatar}")
			.media-body
				.histHead
					a.author(target="_blank", data-bind="attr: {href: '/u/' +$data.user.login}, text: $data.user.name")
					.dotDelimeter ·
					.histStamp(data-bind="text: moment($data.stamp).calendar()")
				//ko if: $data.frag
				.histFrag(data-bind="html: $data.frag")
				// /ko
				.histText(data-bind="html: $data.txt")
		// /ko
