.commentHist(data-bind="with: repository[M!M]")
    | <script id="dothist" type="text/x-dot-template">
    ul.media-list
        | {{~it.hists :h:index}}
        li.media.hist
            a.pull-left(target="_blank", href="{{='/u/'+h.user.login}}")
                img.media-object(src="{{=h.user.avatar}}")
            .media-body
                .histHead
                    a.author(target="_blank", href="{{='/u/'+h.user.login}}") {{=h.user.disp}}
                    | {{?h.role}}
                    | &nbsp;
                    .role
                        | {{?h.role===5}}{{=it.i18n('as moderator')}}
                        | {{?h.roleregion}} {{=it.i18n('of region')}}&nbsp;
                        a(target="_blank", href="{{='/ps?f=r!' + h.roleregion.cid}}") {{=it.regionTitle(h.roleregion)}}{{?}}
                        | {{??h.role>9}}{{=it.i18n('as administrator')}}{{?}}
                    | {{?}}
                    .dotDelimeter ·
                    .histStamp {{=it.fDate(new Date(h.stamp))}}

                | {{?h.del}}
                .info.red
                    span.glyphicon.glyphicon-remove
                    |  {{=it.i18n('Comment deleted')}}
                .histText
                    | {{?h.del.origin || h.del.reason && h.del.reason.cid}}
                    div
                        .histCat {{=it.i18n('Reason:')}}
                        | {{?h.del.origin}} {{=it.i18n('Parent comment deletion')}}&nbsp;
                        a(href="{{=it.link + '?hl=comment-' + h.del.origin}}") {{='#'+h.del.origin}}
                        | {{??!!h.del.reason.title}} {{=h.del.reason.title}}{{?}}
                    | {{?}}

                    | {{?h.del.reason && h.del.reason.desc}}
                    div
                        .histCat {{=it.i18n('Description:')}}
                        |  {{=h.del.reason.desc}}
                    | {{?}}

                | {{??h.restore}}
                .info.green
                    span.glyphicon.glyphicon-repeat
                    |  {{=it.i18n('Comment restored')}}
                | {{??}}

                | {{?h.frag}}
                .info {{=h.frag}}
                | {{?}}

                | {{?h.txt}}
                | {{?h.txtd}}
                .info
                    span.glyphicon.glyphicon-pencil
                    |  {{=it.i18n('Text edited')}}
                // ko with: hist_id[{{=h.id}}]
                .txtSwitch(data-bind="text: $root.i18n(showdiff() ? 'Hide diff highlight' : 'Show diff'), click: function () {showdiff(!showdiff())}")
                .histText(data-bind="html: showdiff() ? txtd : txt")
                // /ko
                | {{??}}
                .histText {{=h.txt}}
                | {{?}}
                | {{?}}


                | {{?}}

        | {{~}}
    | </script>