version: '3.8'

x-defaults: &app-image
  build: .
  image: pastvu_node

services:
  mongo:
    build:
      context: ./docker
      dockerfile: dev-mongo.Dockerfile
    volumes:
      - mongo:/data/db
    expose:
      - "27017"
    ports:
      - "127.0.0.1:27017:27017"

  redis:
    image: redis:6.0.9
    expose:
      - "6379"

  app:
    << : *app-image
    expose:
      - "3000"
      - "3010"
      - "3011"
    ports:
      - "3000:3000"
    depends_on:
      - "mongo"
      - "redis"
    volumes:
      - .:/code
      - store:/store
    command: run app

  worker:
    << : *app-image
    depends_on:
      - "app"
    volumes:
      - .:/code
      - store:/store
    command: run worker

  notifier:
    << : *app-image
    depends_on:
      - "app"
    volumes:
      - .:/code
    command: run notifier

  uploader:
    << : *app-image
    expose:
      - "3001"
    depends_on:
      - "app"
    volumes:
      - .:/code
      - store:/store
    command: run uploader

  downloader:
    << : *app-image
    expose:
      - "3002"
    depends_on:
      - "app"
    volumes:
      - .:/code
      - store:/store:ro
    command: run downloader

  sitemap:
    << : *app-image
    depends_on:
      - "app"
    volumes:
      - .:/code
      - sitemap:/sitemap
    command: run sitemap

  mailcatcher:
    image: sj26/mailcatcher:latest
    expose:
     - "1025"
    ports:
     - "127.0.0.1:1080:1080"

volumes:
  store:
  sitemap:
  mongo:
