version: '3.8'

services:

  mongo:
    image: mongo
    volumes:
      - ./dump:/dump
      - mongo:/data/db
    expose:
      - "27017"
    ports:
      - "27017:27017"

  redis:
    image: redis
    expose:
      - "6379"

  app:
    image: pastvu/node
    expose:
      - "3000"
      - "3010"
      - "3011"
    ports:
      - "3000:3000"
    depends_on:
      - "mongo"
      - "redis"
    volumes:
      - .:/code
      - store:/store
    command: npm run app

  uploader:
    image: pastvu/node
    expose:
      - "3001"
    depends_on:
      - "app"
    volumes:
      - .:/code
      - store:/store
    command: npm run uploader

  downloader:
    image: pastvu/node
    expose:
      - "3002"
    depends_on:
      - "app"
    volumes:
      - .:/code
      - store:/store:ro
    command: npm run downloader

  sitemap:
    image: pastvu/node
    depends_on:
      - "app"
    volumes:
      - .:/code
      - sitemap:/sitemap
    command: npm run sitemap

  mailcatcher:
    image: sj26/mailcatcher
    expose:
     - "1025"
    ports:
     - "1080:1080"

volumes:
  store:
  sitemap:
  mongo:
