@import "_vars.less";
@import "fonts/fontU.less";
@import "bs/bootstrap.less";

::-webkit-scrollbar-button:decrement {
	height: 36px;
	background: url(/img/misc/top_scroll.png) 50% 12px no-repeat, url(/img/misc/top.png) 0 0 repeat-x;
}


@-webkit-keyframes cssFadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes cssFadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@-webkit-keyframes scaleIn {
	0% { -webkit-transform: scale(0); }
	100% { -webkit-transform: scale(1); }
}
@keyframes scaleIn {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}

html, body {
	height: 100%;
}
body {
	background-color: @body-bg;
	padding-top: 33px; /* equal to topContainer height */
	overflow-y: scroll; // Для правильного подсчета ширины страницы всегда показываем вертикалььный скролл
}

::-webkit-scrollbar {
	height: 16px;
	width: 16px;
	overflow: visible;
	background-color: @body-bg;
}
::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}
::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0;
}
::-webkit-scrollbar-track:horizontal {
	border-width: 0;
}
::-webkit-scrollbar-track:hover {
	background-color: #eee;
	box-shadow: inset 1px 0 0 #aaa,
}
::-webkit-scrollbar-track:horizontal:hover {
	box-shadow: inset 0 1px 0 #aaa;
}
::-webkit-scrollbar-track:active {
	background-color: #eaeaea;
	box-shadow: inset 1px 0 0 #999;
}
::-webkit-scrollbar-track:horizontal:active {
	box-shadow: inset 0 1px 0 #999;
}
::-webkit-scrollbar-thumb {
	background-color: fade(desaturate(@MainBlueColor, 5%), 92%);
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 3px 2px 4px;
	min-height: 28px;
	padding: 100px 0 0 0;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-thumb:horizontal {
	border-width: 6px 1px 1px 1px;
	padding: 0 0 0 100px;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-thumb:hover {
	background-color: fade(desaturate(@MainBlueColor, 5%), 95%);
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
}
::-webkit-scrollbar-thumb:active {
	background-color: fade(desaturate(@MainBlueColor, 5%), 100%);
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}
::-webkit-scrollbar-corner {
	background: transparent;
}

.page-wrap {
	min-height: 100%;
	margin-bottom: -37px; /* equal to footer height */

	&::after {
		content: "";
		display: block;
		height: 36px;
	}
}

#footContainer {
	height: 36px;
	padding-top: 10px;
}

.mContainer {
	&.mFadeIn {
		opacity: 0;
		&.mShow {
			opacity: 1;
			.animation(cssFadeIn .3s ease 1 alternate);
		}
	}
	&.mNoDisplay {
		display: none;

		&.mShow {
			display: block;
		}
	}
	&.mHidden {
		visibility: hidden;

		&.mShow {
			visibility: visible;
		}
	}
}

.neoModalCurtain {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: @zindex-modal-background;
	&:extend(.centering_content all); //Центрируем контент

	&.showModalCurtain {
		opacity: 1;
		.animation(cssFadeIn .3s ease 1 alternate);

		&.animateScale > .neoModal {
			.animation(scaleIn .2s ease 1 alternate);
		}
	}

	> .neoModal {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		color: @gray;
		zoom: 1;
		z-index: @zindex-modal;
		border-width: 0 1px 1px 1px;
		border-color: @MainBlueColor;
		background-color: @modal-bg;
		.box-shadow(0 2px 30px 1px #666);

		> .neoModalTools {
			position: relative;
			height: 25px;
			margin: 0;
			margin-left: -1px;
			margin-right: -1px;
			padding: 3px 8px 0 8px;
			text-align: left;
			border-width: 1px 0 1px 0;
			border-top-color: #AAA;
			.box-shadow(0 2px 4px 0px #222);
			z-index: 1;

			&:before, &:after {
				content: "";
				position: absolute;
				top: 0;
				bottom: -55px;
				width: 1px;
				#gradient > .vertical(#AAA, #000);
			}
			&:before {
				left: 0px;
			}
			&:after {
				right: 0px;
			}

			.off {
				position: absolute;
				top: 3px;
				right: 5px;
				color: @MainLigthColor;
				cursor: pointer;

				&:hover {
					color: #fff;
				}
			}
		}

		> .neoModalContainer {
			position: relative;
			min-height: 185px;
			min-width: 300px;
			padding: 0 20px;
			overflow: auto;

			&::-webkit-scrollbar {
				background-color: darken(@MainLigthColor, 5%);
			}

			&::-webkit-scrollbar-button:decrement {
				height: 0;
			}
			&::-webkit-scrollbar-thumb {
				border-width: 5px 3px 5px 4px;
			}

			&.scroll {
				//Для правильного подсчета ширины некоторых элементов нужно сразу учитывать скролл (Наример, input в tokenfield)
				//Добавить скролл можно, растянув дочерний контейнер на 101% (overflow-y: scroll на элементах не работает)
				//И надо иметь любой положительный height родителя для растягивания потомка в процентах http://habrahabr.ru/post/189252/
				height: 1px;
				> div {
					min-height: 101%;
				}
			}

			&.show {
				opacity: 1;
				.transition(opacity .4s linear);
			}
		}

		//Подложка под верхнюю тень тулбара модального окна
		> .tsb {
			position: absolute;
			display: none;
			top: 23px;
			left: 0;
			right: 0;
			height: 9px;
			background-color: @modal-bg;

			&.doit {
				display: block;
			}
		}

		> .neoModalFoot {
			position: relative;
			height: 29px;
			padding-top: 3px;
			text-align: center;
			border-width: 1px 0 0 0;
			border-style: solid;
			border-color: #161616;
			.box-shadow(0 0px 4px 0px #777);
			#gradient > .vertical(#DFDFDF, #AFAFAF);

			> .btn {
				margin-right: 10px;
			}
		}
	}
}

@-webkit-keyframes navLoad {
	0% {width: 0%;}
	90% {width: 67%;}
	100% {width: 67%;}
}
@-moz-keyframes navLoad {
	0% {width: 0%;}
	90% {width: 67%;}
	100% {width: 67%;}
}
@-o-keyframes navLoad {
	0% {width: 0%;}
	90% {width: 67%;}
	100% {width: 67%;}
}
@-ms-keyframes navLoad {
	0% {width: 0%;}
	90% {width: 67%;}
	100% {width: 67%;}
}
@keyframes navLoad {
	0% {width: 0%;}
	90% {width: 67%;}
	100% {width: 67%;}
}

.light {
	color: @MainLigthColor;
}

/* The ghost, nudged to maintain perfect centering */
.centering_content {
	text-align: center;
	&::before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em; /* Adjusts for spacing */
	}
}

.dotDelimeter {
	display: inline-block;
	margin: 0 3px;
	font-family: Verdana;
	color: #888;
}
.margBott {
  	margin-bottom: 5px !important;
}

.h_separator {
	position: relative;
	width: 100%;
	height: 1px;
	background: rgba(7, 90, 179, .8);
	background: -webkit-linear-gradient(left, rgba(242, 242, 242, 0) 0%, rgba(222, 229, 237, 0) 1%, rgba(7, 90, 179, 0.8) 12%, rgba(5, 63, 126, 1) 49%, rgba(7, 90, 179, 0.8) 88%, rgba(242, 242, 242, 0) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to right, rgba(242, 242, 242, 0) 0%, rgba(222, 229, 237, 0) 1%, rgba(7, 90, 179, 0.8) 12%, rgba(5, 63, 126, 1) 49%, rgba(7, 90, 179, 0.8) 88%, rgba(242, 242, 242, 0) 100%); /* W3C */
}

.h_separatorWhite {
	position: relative;
	width: 100%;
	height: 1px;
	background: @MainLigthColor;
	background: -webkit-linear-gradient(left, fade(@MainLigthColor, 0%) 0%, fade(@MainLigthColor, 80%) 12%, @MainLigthColor 49%, fade(@MainLigthColor, 80%) 88%, fade(@MainLigthColor, 0%) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to right, fade(@MainLigthColor, 0%) 0%, fade(@MainLigthColor, 80%) 12%, @MainLigthColor 49%, fade(@MainLigthColor, 80%) 88%, fade(@MainLigthColor, 0%) 100%); /* W3C */
}

//inspired by https://css-tricks.com/forums/discussion/11278/css-trick-for-a-horizontal-type-line-behind-text/p1
.lineBehind {
	display: block;
	position: relative;
	text-align: center;
	z-index: 1;

	&::before {
		position: absolute;
		content: '';
		top: 50%; left: 0; right: 0; bottom: 0;
		height: 1px;
		width: 100%;
		margin: 0 auto;
		filter: none;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iOCUiIHN0b3AtY29sb3I9IiMwNzVhYjMiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzA1M2Y3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkyJSIgc3RvcC1jb2xvcj0iIzA3NWFiMyIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
		background: -webkit-linear-gradient(left, fade(@body-bg, 70%) 0%, rgba(7, 90, 179, 0.8) 8%, rgba(5, 63, 126, 1) 49%, rgba(7, 90, 179, 0.8) 92%, fade(@body-bg, 70%) 100%); /* Chrome10+,Safari5.1+ */
		background: linear-gradient(to right, fade(@body-bg, 70%) 0%, rgba(7, 90, 179, 0.8) 8%, rgba(5, 63, 126, 1) 49%, rgba(7, 90, 179, 0.8) 92%, fade(@body-bg, 70%) 100%); /* W3C */
		z-index: -1;
	}
	span {
		background: @body-bg;
		padding: 0 8px;
	}
}

.strokeBefore::before, .strokeAfter::after {
	filter: none; /* Needs for support full multi-stop gradients with IE9 (using SVG) */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1M2Y3ZSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE2JSIgc3RvcC1jb2xvcj0iIzA3NWFiMyIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iNDklIiBzdG9wLWNvbG9yPSIjZjJmMmYyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODUlIiBzdG9wLWNvbG9yPSIjMDc1YWIzIiBzdG9wLW9wYWNpdHk9IjAuOCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDUzZjdlIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -webkit-linear-gradient(top, fade(@MainBlueColor, 0%) 0%, rgba(7, 90, 179, 0.8) 16%, rgba(242, 242, 242, 1) 49%, rgba(7, 90, 179, 0.8) 85%, fade(@MainBlueColor, 0%) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, fade(@MainBlueColor, 0%) 0%, rgba(7, 90, 179, 0.8) 16%, rgba(242, 242, 242, 1) 49%, rgba(7, 90, 179, 0.8) 85%, fade(@MainBlueColor, 0%) 100%); /* W3C */
	content: " ";
	display: inline-block;
	height: 100%;
	position: relative;
	vertical-align: top;
	width: 1px;
}
.strokeBefore::before {
	left: -7px;
}
.strokeAfter::after {
	left: 7px;
}

//Стиль добавленного текста в отображении разницы двух текстов
.diffIns {
	background-color: #A2E9B4;
}
//Стиль удалённого текста в отображении разницы двух текстов
.diffDel {
	background-color: #F5BFBF;
	text-decoration: line-through;

	a {
		text-decoration: line-through !important;
		&:hover {
			text-decoration: line-through !important;
		}
	}
}
//Стиль неизменившегося текста в отображении разницы двух текстов
.diffEq {
	color: #888;
}

//Стиль краткого региона в списке кратких регионов объекта
.shortRegion {
	display: inline; //inline, чтобы побуквенно работал ellipsis на родительском регионе
	color: inherit;
	line-height: inherit;
	text-decoration: none;

	&.where {
		color: #AD9562;
	}

	&:hover, &:focus {
		color: @link-hover-color;
		text-decoration: none;
	}
}

//Cтиль для подгрузки фото в контейнере с отображением ошибки
.imgLoad {
	position: relative;
	display: block;
	opacity: 0;

	&.showPrv {
		opacity: 1;
	}
	.img {
		display: block;
	}

	&.fail {
		background-color: #586D79;

		.img {
			visibility: hidden;
		}
		&::after {
			position: absolute;
			display: block;
			content: '\e046';
			top: 50%;
			left: 50%;
			margin: -15px 0 0 -12px;
			color: @MainLigthColor;
			font-family: 'Glyphicons Halflings';
			font-size: 24px;
			line-height: normal;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
}

//Общие стили превью фотографии
.photoPreview {
	display: inline-block;
	font-size: 14px;
	opacity: 0;

	&.showPrv {
		&.trans {
			.transition(opacity .4s linear);
		}
		opacity: 1;
	}

	&:hover {
		color: #fff;

		.curtain {
			background-color: rgba(0, 0, 0, 0);
		}

		.comm{
			color: #000;
			border-color: #fff;
			background-color: rgba(255, 255, 255, .9);

			&::after {
				border-top-color: #fff;
			}
		}
	}

	> .photoBox {
		position: relative;
		display: block;
		color: @MainLigthColor;
		text-decoration: none;
	}

	.img {
		display: inline-block; //Должно быть inline-block c hidden, чтобы alt в firefox не первращался в блочный текст
		overflow: hidden;
	}

	.curtain {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, .1);
		.transition(all .1s linear);
	}

	.imgFail {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #587086;
		&:extend(.centering_content all); //Центрируем контент

		.failContent {
			display: inline-block;
			line-height: 16px;
			vertical-align: middle;
		}
	}

	&.infoCap {
		color: #B9B9B9;
		opacity: 1;
		&:extend(.centering_content all); //Центрируем контент

		.capTxt {
			display: inline-block;
			margin-top: 2 + @PhotoInfoHeight / 2;
			vertical-align: middle;
			font-size: 15px;
		}
		&:hover {
			color: #fff;
		}
	}

	.comm {
		position: absolute;
		display: block;
		right: 3px;
		bottom: 6px;
		min-width: 14px;
		padding: 0 2px 0 2px;
		font-size: 12px;
		line-height: 15px;
		color: #111;
		text-align: center;
		text-decoration: none;
		text-shadow: 1px 1px 0 #F0F0F0, -1px 1px 0 #F0F0F0, 1px -1px 0 #F0F0F0, -1px -1px 0 #F0F0F0;
		border: 1px solid #F0F0F0;
		background-color: rgba(255, 255, 255, .7);
		box-shadow: 0 1px 5px 1px #444;

		&::after {
			position: absolute;
			display: block;
			content: '';
			left: 20%;
			bottom: -4px;
			width: 0;
			height: 0;
			border-top: 4px solid #F0F0F0;
			border-right: 7px solid transparent;
		}

		&:hover {
			font-weight: bold;
			background-color: #fff;
			text-shadow: none;
		}

		.cnew {
			color: #048D0F;
			font-weight: bold;
		}
	}

	&.withInfo {
		margin: 0 7px 17px 7px;
		padding-bottom: @PhotoInfoHeight;

		.comm {
			bottom: @PhotoInfoHeight + 6;
		}

		> .info {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: @PhotoInfoHeight;
			padding-left: 3px;
			font-family: @font-family-alt;
			text-align: left;

			&::after {
				position: absolute;
				content: '';
				left: 0;
				right: 0;
				top: 0;
				height: 1px;
				pointer-events: none; //Чтобы она не мешала клику на a.title, на padding-top которого она налезает
				background: #fff;
				background: -webkit-linear-gradient(left, rgba(40, 89, 145, .3) 0%, rgba(120, 162, 204, .8) 12%, #fff 50%, rgba(120, 162, 204, 0.8) 88%, rgba(40, 89, 145, .3) 100%); /* Chrome10+,Safari5.1+ */
				background: linear-gradient(to right, rgba(40, 89, 145, .3) 0%, rgba(120, 162, 204, .8) 12%, #fff 50%, rgba(120, 162, 204, 0.8) 88%, rgba(40, 89, 145, .3) 100%); /* W3C */
			}

			> .title {
				display: block;
				padding-top: 3px;
				color: inherit;
				font-size: 17px;
				line-height: 18px;
				text-decoration: none;
				.text-overflow();
			}
			> .regions {
				color: #ccc;
				font-size: 15px;
				line-height: 15px;
				overflow: hidden;
				white-space: nowrap;
				.text-overflow();

				.shortRegion:hover, .shortRegion:focus {
					color: #fff;
				}
				.where {
					color: #DECAA0;
				}
			}
		}
	}

	&.withStatus {
		.status {
			position: absolute;
			display: block;
			width: 18px;
			height: 18px;
			bottom: 4px;
			left: 2px;
			text-align: center;

			> .glyphicon-lock {
				left: 1px;
			}
		}

		&.s0, &.s2 {
			border-color: rgb(114, 193, 116);
			.status {
				background-color: rgb(3, 168, 28);
			}
			&.withInfo > .info::after {
				background: #96FF96;
				background: linear-gradient(to right, rgba(40, 89, 145, .3) 0%, rgba(102, 173, 104, .8) 12%, #96FF96 50%, rgba(102, 173, 104, .8) 88%, rgba(40, 89, 145, .3) 100%);
			}
		}
		&.s3 {
			border-color: #8B8B8B;
			.status {
				background-color: #8B8B8B;
			}
			&.withInfo > .info::after {
				background: #a49c9e;
				background: linear-gradient(to right, rgba(40,89,145,.3) 0%,rgba(96,96,96,.8) 12%,rgba(196,196,196,1) 50%,rgba(96,96,96,0.8) 88%,rgba(40,89,145,0.3) 100%);
			}
		}
		&.s1, &.s7 {
			border-color: rgb(232, 197, 88);
			.status {
				background-color: rgb(255, 155, 0);
			}
			&.withInfo > .info::after {
				background: #FFCA00;
				background: linear-gradient(to right, rgba(40, 89, 145, .3) 0%, rgba(214, 187, 137, .8) 12%, #FFCA00 50%, rgba(214, 187, 137, 0.8) 88%, rgba(40, 89, 145, 0.3) 100%);
			}
		}
		&.s4, &.s9 {
			border-color: rgb(218, 99, 99);
			.status {
				background-color: rgb(198, 12, 26);
			}
			&.withInfo > .info::after {
				background: #f00;
				background: linear-gradient(to right, rgba(40,89,145,.3) 0%,rgba(221,144,144,.8) 12%, #f00 50%,rgba(221,144,144,0.8) 88%,rgba(40,89,145,0.3) 100%);
			}
		}
	}
}

.regionEdit {
	color: @gray;
	font-size: @font-size-small;
	font-style: italic;
	line-height: 20px;
	cursor: pointer;
	white-space: nowrap;
	border-width: 0 0 1px 0;
	border-style: dashed;
	border-color: transparent;

	&:hover {
		color: @gray-darker;
		border-color: @gray-darker;
	}
}

/**
 * Bootstrap overrides
 */
h4 {
	line-height: 22px;
}

a.disabled,
a.disabled:visited ,
a.disabled:active,
a.disabled:hover {
	color: #888 !important;
	cursor: default !important;
}

.fringe {
	position: relative;
	width: auto;
	margin: 1px;
	color: @MainLigthColor;
	text-decoration: none;
	border: 1px solid @FringeBorder;
	background-color: @MainBlueColor;
	.box-shadow(~'0 0 0 1px #000, 0 2px 4px 0px #222');

	&.plain {
		.box-shadow(~'0 0 0 1px #000');
	}
}

.online {
	color: #007700; //#2C852D
}