@import "fonts/fontU.less";
@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";
@import "_vars.less";

body {
	overflow-y: scroll; // Для правильного подсчета ширины страницы всегда показываем вертикалььный скролл
}

::-webkit-scrollbar {
	height: 16px;
	width: 16px;
	overflow: visible;
}
::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}
::-webkit-scrollbar-button:decrement {
	height: 36px;
	background: url(/img/misc/top_scroll.png) 50% 12px no-repeat, url(/img/misc/top.png) 0 0 repeat-x;
}
::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0;
}
::-webkit-scrollbar-track:horizontal {
	border-width: 0;
}
::-webkit-scrollbar-track:hover {
	background-color: #eee;
	box-shadow: inset 1px 0 0 #aaa,
}
::-webkit-scrollbar-track:horizontal:hover {
	box-shadow: inset 0 1px 0 #aaa;
}
::-webkit-scrollbar-track:active {
	background-color: #eaeaea;
	box-shadow: inset 1px 0 0 #999;
}
::-webkit-scrollbar-track:horizontal:active {
	box-shadow: inset 0 1px 0 #999;
}
::-webkit-scrollbar-thumb {
	background-color: fade(desaturate(@MainBlueColor, 5%), 92%);
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 3px 2px 4px;
	min-height: 28px;
	padding: 100px 0 0 0;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-thumb:horizontal {
	border-width: 6px 1px 1px 1px;
	padding: 0 0 0 100px;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-thumb:hover {
	background-color: fade(desaturate(@MainBlueColor, 5%), 95%);
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
}
::-webkit-scrollbar-thumb:active {
	background-color: fade(desaturate(@MainBlueColor, 5%), 100%);
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}
::-webkit-scrollbar-corner {
	background: transparent;
}

/**
 * FRINGE CLASS
 */
.fringe2 {
	position: relative;
	width: auto;
	color: @MainLigthColor;
	margin: 1px;
	border: 1px solid #C3C7DD;
	background-color: @MainBlueColor;
	.box-shadow(~'0 0 0 1px #000, 0 2px 4px 0px #222');

	&:hover {
		text-decoration: none;
	}
}

.mContainer {
	display: none;
}

/* The ghost, nudged to maintain perfect centering */
.centering_content {
	&::before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em; /* Adjusts for spacing */
	}
}

/**
 * Bootstrap overrides
 */
.navbar-inner {
	.border-radius(0);
	padding-left: 5px;
	padding-right: 5px;
}

a.disabled,
a.disabled:visited ,
a.disabled:active,
a.disabled:hover {
	color: #ccc !important;
	cursor: default;
}

.row-fluid {
	.span2-3 {
		#grid > .fluid > .span (2);
	}
	.span9-10 {
		#grid > .fluid > .span (10);
	}
}

@media (max-width: 1520px) {
	.row-fluid {
		.span2-3 {
			#grid > .fluid > .span (2.5);
		}
		.span9-10 {
			#grid > .fluid > .span (9.5);
		}
	}
}

@media (max-width: 1200px) {
	.row-fluid {
		.span2-3 {
			#grid > .fluid > .span (3);
		}
		.span9-10 {
			#grid > .fluid > .span (9);
		}
	}
}

@media (max-width: 950px) {
	.row-fluid {
		.span2-3 {
			#grid > .fluid > .span (3.5);
		}
		.span9-10 {
			#grid > .fluid > .span (8.5);
		}
	}
}

@media (max-width: 767px) {
	.row-fluid {
		.span2-3, .span9-10 {
			float: none;
			display: block;
			width: auto;
			margin-left: 0;
		}

		#top .span2-3 {
			margin-left: 3px !important;

			#logo {
				width: 67px !important;
			}
		}
	}

}

//Custom buttons
.btn-strict {
	display: inline-block;
	position: relative;
	.ie7-inline-block();
	margin: 0 7px 0 1px;
	padding: 1px 9px;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: @MainLigthColor;
	white-space: nowrap;
	background-color: #285991;
	border: 1px solid #C3C7DD;
	.box-shadow(~'0 0 0 1px #000, 0 2px 6px 0 #222');

	&.btn-strict-small {
		padding: 1px 6px;
		font-size: @baseFontSize - 2px;
		line-height: @baseLineHeight - 3px;
		.box-shadow(~'0 0 0 1px #000, 0 1px 5px 0 #222');

		[class^="icon-"] {
			margin-top: 1px;
			margin-right: 6px;
		}
	}

	&:hover {
		color: #fff;
		text-decoration: none;
		background-color: spin(#285991, 5);
	}

	&:focus {
		color: #fff;
		outline: 0;
	}

	&.active,
	&:active {
		background-color: spin(#285991, 5);
		background-color: spin(#285991, 5) e("\9");
		outline: 0;
		border-color: darken(#C3C7DD, 15%);
		.box-shadow(~'0 0 0 1px #000, 0 0 0 0 #222, 0 1px 4px -2px #000 inset');
		.transition(box-shadow .05s linear);
	}

	&.disabled,
	&[disabled] {
		cursor: default;
		background-color: darken(#285991, 10%);
		.opacity(65);
		.box-shadow(none);
	}

	&.btn-strict-primary {
		background-color: #285991;
	}
	&.btn-strict-warning {
		background-color: #E99100;
	}
	&.btn-strict-danger {
		background-color: #D12A14;
	}
	&.btn-strict-success {
		background-color: #439B43;
	}
	&.btn-strict-info {
		background-color: #2F96B4;
	}
	&.btn-strict-inverse {
		background-color: #222;
	}

	[class^="icon-"], [class*=" icon-"] {
		margin: 3px 8px 0 0;
	}
}
// Float them, remove border radius, then re-add to first and last elements
.btn-group > [class^="btn-strict"] {
	position: relative;
	margin-right: 0;
	line-height: 21px;
	color: #c3c3c3;
	background-color: #335F92;
	z-index: 2;
}
.btn-group > [class^="btn-strict"].active {
	color: #fff;
	line-height: 19px;
	cursor: default;
	border-color: #fff;
	background-color: #285991;
	.box-shadow(0 0 0 1px black);
	z-index: 1;
}
.btn-group > [class^="btn-strict"] + [class^="btn-strict"] {
	margin-left: -1px;
}