@MainLigthColor: #f2f2f2;
@MainBlueColor: rgb(5,63,126);

/**
 * CURTAIN
 */
#curtain {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.3);
}

.form {
	display: none;
	top: 50%;
	left: 50%;
	height: auto;
	opacity: 0;
	z-index: 1;
	border-color: @MainBlueColor;
		
	&.delay {
	}
	
	&.active{
		display: block;
		opacity: 1;
		z-index: 10;
	}
	

	.inner_bord {
		position: relative;
		width: 320px;
		border-width: 0;
		background-color: darken(@MainLigthColor, 5%);
		color: @MainBlueColor;
		-webkit-box-shadow: inset 0 0 15px 3px darken(@MainLigthColor, 17%);
		box-shadow: inset 0 0 15px 3px darken(@MainLigthColor, 17%);
		
		.head {
			position: relative;
			height: 24px;
			margin: 10px 0 0;
			white-space: nowrap;
			font-weight: bold;
			font-size: 130%;
			line-height: 24px;
			text-align: center;
			
			&:after {
				filter: none; /* Needs for support full multi-stop gradients with IE9 (using SVG) */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE2JSIgc3RvcC1jb2xvcj0iI2I3YjdiNyIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iNDklIiBzdG9wLWNvbG9yPSIjMGE0MzgwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDUzZjdlIiBzdG9wLW9wYWNpdHk9IjAuOTkiLz4KICAgIDxzdG9wIG9mZnNldD0iODUlIiBzdG9wLWNvbG9yPSIjYjdiN2I3IiBzdG9wLW9wYWNpdHk9IjAuOCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTVlNWU1IiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
				background: -moz-linear-gradient(left, rgba(229,229,229,0) 0%, rgba(183,183,183,0.8) 16%, rgba(10,67,128,1) 49%, fade(@MainBlueColor,99%) 50%, rgba(183,183,183,0.8) 85%, rgba(229,229,229,0) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(229,229,229,0)), color-stop(16%,rgba(183,183,183,0.8)), color-stop(49%,rgba(10,67,128,1)), color-stop(50%,fade(@MainBlueColor,99%)), color-stop(85%,rgba(183,183,183,0.8)), color-stop(100%,rgba(229,229,229,0))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left, rgba(229,229,229,0) 0%,rgba(183,183,183,0.8) 16%,rgba(10,67,128,1) 49%,fade(@MainBlueColor,99%) 50%,rgba(183,183,183,0.8) 85%,rgba(229,229,229,0) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left, rgba(229,229,229,0) 0%,rgba(183,183,183,0.8) 16%,rgba(10,67,128,1) 49%,fade(@MainBlueColor,99%) 50%,rgba(183,183,183,0.8) 85%,rgba(229,229,229,0) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left, rgba(229,229,229,0) 0%,rgba(183,183,183,0.8) 16%,rgba(10,67,128,1) 49%,fade(@MainBlueColor,99%) 50%,rgba(183,183,183,0.8) 85%,rgba(229,229,229,0) 100%); /* IE10+ */
				background: linear-gradient(left, rgba(229,229,229,0) 0%,rgba(183,183,183,0.8) 16%,rgba(10,67,128,1) 49%,fade(@MainBlueColor,99%) 50%,rgba(183,183,183,0.8) 85%,rgba(229,229,229,0) 100%); /* W3C */
				content: " ";
				display: block;
				top: 5px;
				height: 1px;
				position: relative;
				width: 100%;
			}
		}
		
		.wait{
			display: none;
			position: absolute;
			padding: 46px 0 0;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			font-weight: bold;
			font-size: 16px;
			line-height: 16px;
			text-align: center;
			color: #f90;
			background-color: rgba(0,0,0,0.55);
		}
		
		.mess{
			position: relative;
			font-weight: bold;
			font-size: 14px;
			line-height: 15px;
			height: 0px;
			text-align: center;
			white-space: normal;
			padding: 0 3px;
			-webkit-transition: height 0.5s ease-out;
			-moz-transition: height 0.5s ease-out;
			-o-transition: height 0.5s ease-out;
			transition: height 0.5s ease-out;
			
			&.err {
				color: #FF5D00;
			}
			&.good {
				color: green;
			}
		}
	}
	
	form {
		position: relative;
		margin: 7px 0 3px;
		
		.label {
			display: block;
			position: relative;
			float: left;
			font-weight: normal;
			font-size: 15px;
			line-height: 15px;
			margin: 8px 0 5px 15px;
			padding: 0 0 1px;
		
		
			&.clickable {
				float: right;
				margin-right: 21px;
				border-color: #7696BC;
				border-width: 0 0 1px 0;
				border-style: dashed;
				cursor: pointer;
				&:hover {
					color: #93A5BA;
					border-color: #93A5BA;
				}
			}
				
			&:after {
				content: "";
				left: 5px;
				position: absolute;
				top: 30px;
				width: 13px;
				height: 14px;
				opacity: 0.7;
			}
			
			&.icon-user:after {
				background: url(../images/misc/tw.png) -168px 0 no-repeat;
			}
			&.icon-lock:after {
				background: url(../images/misc/tw.png) -287px -24px no-repeat;
			}
			&.icon-envelope:after {
				background: url(../images/misc/tw.png) -72px 0 no-repeat;
			}

		}
		
		#remember_check {
			display: inline-block;
			width: 16px;
			height: 16px;
			margin: 0 0 0 7px;
			cursor: pointer;
			background-image: url(../images/map/safari-checkbox.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			
			&:hover {
				background-position: -16px 0;
			}
			
			&.checked {
				background-position: 0 -16px;
				&:hover {
					background-position: -16px -16px;
				}
			}
		}

		input {
			outline: medium none !important;
			
			&:focus, &:hover {
				color: #FFFFFF;
			}
			
			&:-moz-placeholder {
				color: #BEBCBC;
				font-style: italic;
			}
			&::-webkit-input-placeholder {
				color: #BEBCBC;
				font-style: italic;
			}
			&:-ms-placeholder {
				color: #BEBCBC;
				font-style: italic;
			}
			
			&[type="email"], &[type="text"], &[type="password"]{
				border: 1px solid #8C8C8C;
				color: #000;
				display: block;
				font-size: 16px;
				margin: 5px 10px 10px 15px;
				padding: 5px 5px 5px 21px;
				width: 257px;
				-webkit-box-shadow: inset 0 1px 4px 0 #A8A8A8;
				box-shadow: inset 0 1px 4px 0 #A8A8A8;
				-webkit-transition: background 0.2s ease-out;
				-moz-transition: background 0.2s ease-out;
				-ms-transition: background 0.2s ease-out;
				-o-transition: background 0.2s ease-out;
				transition: background 0.2s ease-out;

				&:focus{
					background: rgba(238, 236, 240, 0.1);
					&:invalid {
						color: #777777;
					}
				}
				

				
			}
			
			&:-moz-placeholder {
				color: #BEBCBC;
				font-style: italic;
			}
			&::-webkit-input-placeholder {
				color: #BEBCBC;
				font-style: italic;
			}
			&:-ms-placeholder { /* ie10 */
				color: #BEBCBC;
				font-style: italic;
			}
		}
		
		input[type="button"], input[type="submit"] {
			position: absolute;
			bottom: 10px;
			color: @MainLigthColor;
			padding: 4px 15px;
			text-shadow: 0 1px 1px #000;
			font-weight: bold;
			font-size: 14px;
			width: 90px;
			border: none;
			-webkit-box-shadow: 0 1px 1px 0 #000;
			box-shadow: 0 1px 1px 0 #000;
			background: #403f3f; /* Old browsers */
			filter: none; /* Needs for support full multi-stop gradients with IE9 (using SVG) */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1M2Y3ZSIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iNDklIiBzdG9wLWNvbG9yPSIjMDUzZjdlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA3NThhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(top , fade(@MainBlueColor,70%) 0%, @MainBlueColor 49%, lighten(@MainBlueColor,10%) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,fade(@MainBlueColor,70%)), color-stop(49%,@MainBlueColor), color-stop(100%,lighten(@MainBlueColor,10%))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, fade(@MainBlueColor,70%) 0%,@MainBlueColor 49%,lighten(@MainBlueColor,10%) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, fade(@MainBlueColor,70%) 0%,@MainBlueColor 49%,lighten(@MainBlueColor,10%) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, fade(@MainBlueColor,70%) 0%,@MainBlueColor 49%,lighten(@MainBlueColor,10%) 100%); /* IE10+ */
			background: linear-gradient(top, fade(@MainBlueColor,70%) 0%,@MainBlueColor 49%,lighten(@MainBlueColor,10%) 100%); /* W3C */
		}
		
		input[type="submit"] {
			left: 17px;
		}
		
		input[type="button"] {
			right: 22px;
			
			&.fin {
				right: 50%;
				margin-right: -45px;
			}
		}
		
	}
	
	&#login_fringe {
		margin: -110px 0 0 -162px;
		
		form {
			height: 210px;
		}
	}
	&#reg_fringe {
		margin: -145px 0 0 -162px;
		
		form {
			height: 330px;
		}
	}
	&#recall_fringe {
		margin: -70px 0 0 -162px;
		
		form {
			height: 112px;
		}
	}
}

/**
 * NAVIGATION
 */
#nav_panel {
	position: absolute;
	top: 40px;
	left: 5px;
	width: 70px;
	height: 136px;
	box-sizing: content-box;
	-webkit-transition: height 0.25s ease-out;
	-moz-transition: height 0.25s ease-out;
	-o-transition: height 0.25s ease-out;
	-ms-transition: height 0.25s ease-out;
	transition: height 0.25s ease-out;

	#nav_pin_sub {
		position: absolute;
		left: 0;
		right: 0;
		height: 0;
	}
	
	> .btn {
		position: absolute;
		cursor: pointer;
		height: 28px;
		width: 28px;
		-webkit-transition: all 0.25s ease-out 0.3s;
		-moz-transition: all 0.25s ease-out 0.3s;
		-o-transition: all 0.25s ease-out 0.3s;
		-ms-transition: all 0.25s ease-out 0.3s;
		transition: all 0.25s ease-out 0.3s;
		
		&:after {
			content: "";
			position: absolute;
			width: 13px;
			height: 14px;
			opacity: 0.8;
			background-repeat: no-repeat;
			background-image: url(../images/misc/tww.png);
		}
		
		&:hover {
			&:after {
				opacity: 1;
			}
			.inner_bord{
				border-color: #EFF2FF;
			}
		}
		
		&.inout {
			left: 20px;
			&:after {
				left: 7px;
				top: 7px;
			}
		}
	}
	
	#mup{
		height: 15px;
		left: 20px;
		top: 20px;
		width: 28px;
		opacity: 0;
		&:after {
			left: 7px;
			top: 1px;
			background-position: -289px -96px;
		}
	}
	#mright{
		height: 28px;
		left: 33px;
		top: 20px;
		width: 15px;
		opacity: 0;
		&:after {
			left: 0px;
			top: 7px;
			background-position: -264px -96px;
		}
	}
	#mdown{
		height: 15px;
		left: 20px;
		top: 33px;
		width: 28px;
		opacity: 0;
		&:after {
			left: 7px;
			top: 0px;
			background-position: -312px -96px;
		}
	}
	#mleft{
		height: 28px;
		left: 20px;
		top: 20px;
		width: 15px;
		opacity: 0;
		&:after {
			left: 1px;
			top: 7px;
			background-position: -240px -96px;
		}
	}
	#mhome{
		left: 20px;
		top: 38px;
		height: 28px;
		width: 28px;
		-webkit-transition: top 0.25s ease-out;
		-moz-transition: top 0.25s ease-out;
		-o-transition: top 0.25s ease-out;
		-ms-transition: top 0.25s ease-out;
		transition: top 0.25s ease-out;
		&:after {
			left: 7px;
			top: 7px;
			background-position: 0 -24px;
		}
	}
	
	#zoomin {
		top: 72px;
		&:after {
			background-position: -408px -96px;
		}
	}
	#zoomout {
		bottom: 0;
		&:after {
			background-position: -433px -96px;
		}
	}
	
	#nav_pin {
		display: none;
		left: 24px;
		bottom: -25px;
		width: 20px;
		height: 20px;
		&:after {
			left: 3px;
			top: 3px;
			background: url(../images/map/pin.png) 0 0 no-repeat;
		}
	}
	
	#nav_stick {
		left: 31px;
		top: 101px;
		bottom: 29px;
		width: 6px;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-top-width: 0;
		border-bottom-width: 0;
		
		.inner_bord {
			top: -1px;
			bottom: -1px;
			border-top-width: 0;
			border-bottom-width: 0;
		}
	}
	
	#nav_slider_area {
		position: absolute;
		width: 100%;
		left: 0;
		top: 103px;
		bottom: 31px;
		overflow: hidden;
		padding: 3px 0 2px;
		opacity: 0;
		-webkit-transition: opacity 0.25s ease-out 0.3s;
		-moz-transition: opacity 0.25s ease-out 0.3s;
		-o-transition: opacity 0.25s ease-out 0.3s;
		-ms-transition: opacity 0.25s ease-out 0.3s;
		transition: opacity 0.25s ease-out 0.3s;
		
		> div {
			cursor: pointer;
		}
		
		&.sliding {
			cursor: url(../images/map/closehand.gif), pointer;
			
			> div {
				cursor: url(../images/map/closehand.gif), pointer;
			}
			
			> #nav_slider {
				-webkit-transition: none;
				-moz-transition: none;
				-o-transition: none;
				-ms-transition: none;
				transition: none;
			}
		}
		
		> .dash {
			position:relative;
			background-image: url(../images/map/ZoomDash.png);
			background-position: 50% 50%;
			background-repeat: no-repeat;
			width: 70px;
			-webkit-tap-highlight-color: #939393; 
			
			&:hover {
				background-image: url(../images/map/ZoomDashAct.png);
			}
		}
		
		> #nav_slider {
			bottom: 2px;
			left: 20px;
			width: 28px;
			height: 12px;
			-webkit-transition: bottom 0.25s linear;
			-moz-transition: bottom 0.25s linear;
			-o-transition: bottom 0.25s linear;
			-ms-transition: bottom 0.25s linear;
			transition: bottom 0.25s linear;
			
			.inner_bord{
				background-color: rgba(5, 63, 126, 1);
				font-size: 11px;
				line-height: 10px;
				text-align: center;
			}			
			&:hover {
				.inner_bord{
					border-color: #EFF2FF;
					color: #fff;
				}
			}
		}
	}
	
	&:hover, &.pin {
		height: 310px;
		
		#mup{
			top: 1px;
			opacity: 1;
		}
		#mright{
			left: 52px;
			opacity: 1;
		}
		#mdown{
			top: 52px;
			opacity: 1;
		}
		#mleft{
			left: 1px;
			opacity: 1;
		}
		#mhome{
			top: 20px;
		}
		#nav_slider_area {
			opacity: 1;
		}
	}
	&:hover {
		#nav_pin_sub {
			bottom: -28px;
			height: 29px;
		}
		#nav_pin {
			display: block;
		}
	}
	&.pin {
		#nav_pin .inner_bord{
			background-color: rgba(6, 130, 78, 0.85);
		}
	}
		
}


/**
 * LAYER PANEL
 */
#layers_fringe {
	display: block;
	top: 46px;
	right: 5px;
	height: auto;
	-webkit-transition: right 0.7s ease-out;
	-moz-transition: right 0.7s ease-out;
	-o-transition: right 0.7s ease-out;
	transition: right 0.7s ease-out;
}
#layers_fringe.move {
	right: 45px;
}
#layers_panel {
	position: relative;
	overflow: hidden;
	width: auto;
	height: 24px;
	padding: 0;
	text-align: center;
	-webkit-transition: height 0.7s ease-out;
	-moz-transition: height 0.7s ease-out;
	-o-transition: height 0.7s ease-out;
	transition: height 0.7s ease-out;
}
#main.black  #layers_panel {
}
#main.white  #layers_panel {
	color: #000;
}
#layers_panel.open {
	height: 175px;
}
#layers_panel #current {
	display: block;
	position: relative;
	height: 23px;
	margin: 0;
	padding: 1px 4px 0;
	white-space: nowrap;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	text-align: right;
	cursor: pointer;
	border-width: 0 0 1px;
	border-style: solid;
}
#main.black  #layers_panel #current {
	border-color: #000;
}
#main.white  #layers_panel #current {
	border-color: #000;
}
#layers_panel #systems {
	display: inline-block;
	position: relative;
	width: 104px;
	opacity: 0;
	overflow: hidden;
	white-space: nowrap;
	border-width: 1px 0 0;
	border-style: solid;
	-webkit-transition: width 0.7s ease-out, opacity 0.7s ease-out;
	-moz-transition: width 0.7s ease-out, opacity 0.7s ease-out;
	-o-transition: width 0.7s ease-out, opacity 0.7s ease-out;
	transition: width 0.7s ease-out, opacity 0.7s ease-out;
}
#main.black  #layers_panel #systems {
	border-color: #707070;
}
#main.white  #layers_panel #systems {
	border-color: #8F8F8F;
}
#layers_panel.open  #systems{
	opacity: 1;
}
#layers_panel.open  #systems.s1{
	width: 104px;
}
#layers_panel.open  #systems.s2{
	width: 208px;
}
#layers_panel.open  #systems.s3{
	width: 312px;
}
#layers_panel.open  #systems.s4{
	width: 416px;
}
#layers_panel.open  #systems.s5{
	width: 520px;
}
#layers_panel #systems > div {
	display: inline-block;
	vertical-align: top;
	width: 100px;
	padding: 0 0 2px 0;
	border: 1px solid transparent;
	margin: 1px;
	position: relative;
	height: 143px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#layers_panel #systems > div > span.head {
	display: block;
	position: relative;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-size: 17px;
	line-height: 22px;
	border-style: solid;
	border-width: 1px;
	background: #5282c0;
	padding: 2px 0 1px;
	margin: 0 0 3px 0;
}
#main.black  #layers_panel #systems > div > span.head {
	border-color: transparent;
}
#main.black  #layers_panel #systems > div > span.head.selected {
	border-color: #999;
}
#main.white  #layers_panel #systems > div > span.head {
	border-color: #0B0A00;
}
#main.white  #layers_panel #systems > div > span.head.selected  {
	border-color: #ccc;
}
#layers_panel #systems > div > div {
	border: 1px solid transparent;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	font-weight: normal;
	font-size: 17px;
	line-height: 17px;
	padding: 5px 4px;
	text-align: center;
}
#main.black #layers_panel #systems > div > div:hover {
	border-color: #9B9B9B;
}
#main.white  #layers_panel #systems > div > div:hover {
	border-color: #646464;
}
#main.black #layers_panel #systems > div > div.selected {
	-webkit-box-shadow: inset 0 1px 1px 1px #1C1C1C;
	box-shadow: inset 0 1px 1px 1px #1C1C1C;
	background-color: #474747;
	border: 1px solid #707070;
}
#main.white #layers_panel #systems > div > div.selected {
	-webkit-box-shadow: inset 0 1px 1px 1px #A0A0A0;
	box-shadow: inset 0 1px 1px 1px #A0A0A0;
	background-color: #fff;
	border: 1px solid #EAEAEA;
}

/**
 * SEARCH PANEL
 */
#search_fringe {
	display: none;
	top: 124px;
	right: 5px;
	height: auto;
	-webkit-transition: right 0.7s ease-out, top 0.7s ease-out;
	-moz-transition: right 0.7s ease-out, top 0.7s ease-out;
	-o-transition: right 0.7s ease-out, top 0.7s ease-out;
	transition: right 0.7s ease-out, top 0.7s ease-out;
}
#search_fringe.moveByLayers {
	top: 275px;
}
#search_fringe.moveByFilter {
	top: 84px;
	right: 255px;
}
#search_fringe.moveByLayers.moveByFilter {
	top: 235px;
}
#search_panel {
	position: relative;
	overflow: hidden;
	width: 94px;
	height: 28px;
	padding: 0;
	text-align: left;
	white-space: normal;
}
#search_panel.open, #search_panel.open.fill {
	height: auto;
	width: 353px;
}
#search_panel.fill {
	height: 34px;
	width: 151px;
}

#search_panel #search_in {
	display: block;
	position: relative;
	width: auto;
	height: 23px;
	margin: 0;
	padding: 2px 3px;
	white-space: nowrap;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	text-align: right;
	cursor: pointer;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: #000;
}
#search_panel.open #search_in, #search_panel.open.fill #search_in, #search_panel.fill #search_in{
	height: 29px;
}

#search_panel #search_in div {
	position: relative;
	display: block;
}

#search_panel #search_in input {
	outline: medium none !important;
    border: 1px solid #434343;
    color: #AAAAAA;
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 2px 3px 4px 3px;
    width: 80px;
	height: 14px;
	-webkit-box-shadow: inset 0 1px 1px 1px #222222;
	box-shadow: inset 0 1px 1px 1px #222222;
	background: #434343; /* Old browsers */
	background: -moz-linear-gradient(top, #434343 0%, #3D3C3C 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#434343), color-stop(100%,#3D3C3C)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #434343 0%,#3D3C3C 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #434343 0%,#3D3C3C 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #434343 0%,#3D3C3C 100%); /* IE10+ */
	filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#434343', endColorstr='#3D3C3C',GradientType=0 )";  /*IE6-9 */
	background: linear-gradient(top, #434343 0%,#3D3C3C 100%); /* W3C */
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#search_panel.open #search_in input, #search_panel.open.fill #search_in input {
	margin-left: 1px;
	margin-right: 18px;
	padding-right: 17px;
	width: 304px;
}
#search_panel.fill #search_in input {
	margin-left: 1px;
	margin-right: 18px;
	padding-right: 17px;
	width: 102px;
}
#search_panel.open #search_in input, #search_panel.fill #search_in input, #search_panel #search_in input:focus  {
	font-size: 16px;
	height: 20px;
    border-color: #777777;
	padding-left: 5px;
}
#search_panel.fill #search_in input, #search_panel #search_in input:focus  {
	color: #FFFFFF;
}
#search_panel #search_in #searchClear {
	position: absolute;
	display: none;
	top: 10px;
	right: 22px;
	width: 18px;
	height: 14px;
	margin: 0;
	background-image: url(../images/map/search_clear.png);
	background-repeat: no-repeat;
	background-position: 50% 0;
}
#search_panel.open #search_in #searchClear, #search_panel.fill #search_in #searchClear  {
	display: block;
}
#search_panel.fill #search_in #searchClear {
	background-position: 50% -14px;
}
#search_panel.fill #search_in #searchClear:hover {
	background-position: 50% -29px;
}
#search_panel #search_in #searchArrow {
	position: absolute;
	display: none;
	top: 0;
	right: 1px;
	width: 18px;
	height: 31px;
	margin: 0;
}
#search_panel #search_in #searchArrow > div{
	position: absolute;
	top: 7px;
	left: 1px;
	width: 15px;
	height: 14px;
	margin: 0;
	background-image: url(../images/map/search_arrow.png);
	background-repeat: no-repeat;
}
#search_panel.open #search_in #searchArrow, #search_panel.open.fill #search_in #searchArrow, #search_panel.fill #search_in #searchArrow {
	display: block;
}
#search_panel.open #search_in #searchArrow > div, #search_panel.open.fill #search_in #searchArrow > div {
	background-position: 0 1px;
}
#search_panel.open #search_in #searchArrow:hover > div, #search_panel.open.fill #search_in #searchArrow:hover  > div{
	background-position: 0 -13px;
}
#search_panel.fill #search_in #searchArrow > div {
	background-position: -15px 2px;
}
#search_panel.fill #search_in #searchArrow:hover > div {
	background-position: -15px -12px;
}