@import "common";
@import "bootstrap/sprites";
@import "auth";

body {
	padding-top: 75px;
}

.container-fluid {
	position: relative;
	padding-right: 5px;
	padding-left: 5px;
	*zoom: 1;
	color: @MainDarkColor;
}

.container-fluid:after {
	filter: none; /* Needs for support full multi-stop gradients with IE9 (using SVG) */
	background: fade(@MainBlueColor, 99%);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE2JSIgc3RvcC1jb2xvcj0iI2I3YjdiNyIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDUzZjdlIiBzdG9wLW9wYWNpdHk9IjAuOCIvPgogICAgPHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiNiN2I3YjciIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(center top, rgba(229,229,229,0) 0%, rgba(183,183,183,0.8) 16%, rgba(10,67,128,1) 49%, fade(@MainBlueColor,99%) 50%, rgba(183,183,183,0.8) 85%, rgba(229,229,229,0) 100%) repeat scroll 0 0 transparent;	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,0)), color-stop(16%,rgba(183,183,183,0.8)), color-stop(50%,fade(@MainBlueColor,99%)), color-stop(85%,rgba(183,183,183,0.8)), color-stop(100%,rgba(229,229,229,0)));
	background: -webkit-linear-gradient(top, rgba(229,229,229,0) 0%,rgba(183,183,183,0.8) 16%,fade(@MainBlueColor,99%) 50%,rgba(183,183,183,0.8) 85%,rgba(229,229,229,0) 100%);
	background: -o-linear-gradient(top, rgba(229,229,229,0) 0%,rgba(183,183,183,0.8) 16%,fade(@MainBlueColor,99%) 50%,rgba(183,183,183,0.8) 85%,rgba(229,229,229,0) 100%);
	background: -ms-linear-gradient(top, rgba(229,229,229,0) 0%,rgba(183,183,183,0.8) 16%,fade(@MainBlueColor,99%) 50%,rgba(183,183,183,0.8) 85%,rgba(229,229,229,0) 100%);
	background: linear-gradient(to bottom, rgba(229,229,229,0) 0%,rgba(183,183,183,0.8) 16%,fade(@MainBlueColor,99%) 50%,rgba(183,183,183,0.8) 85%,rgba(229,229,229,0) 100%);
	content: " ";
	position: absolute;
	display: inline-block;
	top: 0;
	left: 147px;
	vertical-align: top;
	height: 110%;
	width: 1px;
}

.container-fluid:after {
	clear: both;
}

.head {
	font-size: 113%;
	margin-bottom: 10px;
}
.txt {
	color: lighten(@MainDarkColor, 10%);
}

#history {
	position: relative;
	float: left;
	width: 140px;
	text-align: center;
	
	&:after {

	}
}
#now {
	margin-left: 155px;
}

.btnNeo {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 4px 10px;
	overflow: hidden;
	font-size: 15px;
	line-height: 18px;
	color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	filter: none;
	background-color: lighten(spin(@MainBlueColor, -8), 1%);
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVlOGNiZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzA3NWNiOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNTUyODMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(top, desaturate(lighten(@MainBlueColor, 30%), 50%) 0%, lighten(@MainBlueColor, 12%) 40%, lighten(spin(@MainBlueColor, -8), 1%) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,desaturate(lighten(@MainBlueColor, 30%), 50%)), color-stop(40%,lighten(@MainBlueColor, 12%)), color-stop(100%,lighten(spin(@MainBlueColor, -8), 1%)));
	background-image: -webkit-linear-gradient(top, desaturate(lighten(@MainBlueColor, 30%), 50%) 0%,lighten(@MainBlueColor, 12%) 40%,lighten(spin(@MainBlueColor, -8), 1%) 100%);
	background-image: -o-linear-gradient(top, desaturate(lighten(@MainBlueColor, 30%), 50%) 0%,lighten(@MainBlueColor, 12%) 40%,lighten(spin(@MainBlueColor, -8), 1%) 100%);
	background-image: -ms-linear-gradient(top, desaturate(lighten(@MainBlueColor, 30%), 50%) 0%,lighten(@MainBlueColor, 12%) 40%,lighten(spin(@MainBlueColor, -8), 1%) 100%);
	background-image: linear-gradient(to bottom, desaturate(lighten(@MainBlueColor, 30%), 50%) 0%,lighten(@MainBlueColor, 12%) 40%,lighten(spin(@MainBlueColor, -8), 1%) 100%);
	background-repeat: repeat-x;
	border-width: 1px;
	border-radius: 4px;
	border-style: solid;
	border-color: lighten(spin(@MainBlueColor, -8), 1%) lighten(@MainBlueColor, 12%) darken(@MainBlueColor, 40%) lighten(@MainBlueColor, 12%);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

	&:hover {
		text-decoration: none;
		background-position: 0 -12px;
		-webkit-transition: background-position 0.1s linear;
		-moz-transition: background-position 0.1s linear;
		-ms-transition: background-position 0.1s linear;
		-o-transition: background-position 1.1s linear;
		transition: background-position 0.1s linear;
	}
	&:focus {
		outline: thin dotted #333;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}
	&:active {
		background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	}
	&:hover,&:focus,&:active {
		color: #fff;
	}
	
	&.disabled {
		cursor: default;
		background-image: none;
		opacity: 0.7;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	&.green {
		background-color: lighten(spin(@MainGreenColor, -8), 1%);
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3Yjk1MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzBmYTgwNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxOTcyMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background-image: -moz-linear-gradient(top, desaturate(lighten(@MainGreenColor, 30%), 50%) 0%, lighten(@MainGreenColor, 12%) 40%, lighten(spin(@MainGreenColor, -8), 1%) 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,desaturate(lighten(@MainGreenColor, 30%), 50%)), color-stop(40%,lighten(@MainGreenColor, 12%)), color-stop(100%,lighten(spin(@MainGreenColor, -8), 1%)));
		background-image: -webkit-linear-gradient(top, desaturate(lighten(@MainGreenColor, 30%), 50%) 0%,lighten(@MainGreenColor, 12%) 40%,lighten(spin(@MainGreenColor, -8), 1%) 100%);
		background-image: -o-linear-gradient(top, desaturate(lighten(@MainGreenColor, 30%), 50%) 0%,lighten(@MainGreenColor, 12%) 40%,lighten(spin(@MainGreenColor, -8), 1%) 100%);
		background-image: -ms-linear-gradient(top, desaturate(lighten(@MainGreenColor, 30%), 50%) 0%,lighten(@MainGreenColor, 12%) 40%,lighten(spin(@MainGreenColor, -8), 1%) 100%);
		background-image: linear-gradient(to bottom, desaturate(lighten(@MainGreenColor, 30%), 50%) 0%,lighten(@MainGreenColor, 12%) 40%,lighten(spin(@MainGreenColor, -8), 1%) 100%);
		border-color: lighten(spin(@MainGreenColor, -8), 1%) lighten(@MainGreenColor, 12%) darken(@MainGreenColor, 40%) lighten(@MainGreenColor, 12%);
	}
	&.red {
		background-color: lighten(spin(@MainRedColor, -8), 1%);
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3Yjk1MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzBmYTgwNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxOTcyMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background-image: -moz-linear-gradient(top, desaturate(lighten(@MainRedColor, 30%), 50%) 0%, lighten(@MainRedColor, 12%) 40%, lighten(spin(@MainRedColor, -8), 1%) 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,desaturate(lighten(@MainRedColor, 30%), 50%)), color-stop(40%,lighten(@MainRedColor, 12%)), color-stop(100%,lighten(spin(@MainRedColor, -8), 1%)));
		background-image: -webkit-linear-gradient(top, desaturate(lighten(@MainRedColor, 30%), 50%) 0%,lighten(@MainRedColor, 12%) 40%,lighten(spin(@MainRedColor, -8), 1%) 100%);
		background-image: -o-linear-gradient(top, desaturate(lighten(@MainRedColor, 30%), 50%) 0%,lighten(@MainRedColor, 12%) 40%,lighten(spin(@MainRedColor, -8), 1%) 100%);
		background-image: -ms-linear-gradient(top, desaturate(lighten(@MainRedColor, 30%), 50%) 0%,lighten(@MainRedColor, 12%) 40%,lighten(spin(@MainRedColor, -8), 1%) 100%);
		background-image: linear-gradient(to bottom, desaturate(lighten(@MainRedColor, 30%), 50%) 0%,lighten(@MainRedColor, 12%) 40%,lighten(spin(@MainRedColor, -8), 1%) 100%);
		border-color: lighten(spin(@MainRedColor, -8), 1%) lighten(@MainRedColor, 12%) darken(@MainRedColor, 40%) lighten(@MainRedColor, 12%);
	}
	
	[class^="icon-"], [class*=" icon-"] {
		margin: 1px 5px 0 0;
	}
		
	input[type='file']{
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		border: solid transparent;
		border-width: 0 0 100px 200px;
		opacity: 0;
		filter: alpha(opacity=0);
		-moz-transform: translate(-300px, 0) scale(4);
		direction: ltr;
		cursor: pointer;
	}
}
