@MainLigthColor: #f2f2f2;
@MainBlueColor: rgb(5,63,126);

body.edit_mode {
	background-color: #E5E5E5;
}

#userProfile {
	position: absolute;
	top: 32px;
    width: 100%;
	opacity: 0;
	z-index: 10;
	-webkit-transition: opacity 0.7s ease-in;
	-moz-transition: opacity 0.7s ease-in;
	-o-transition: opacity 0.7s ease-in;
	transition: opacity 0.7s ease-in;
	
	&.show {
		opacity: 1;
	}
	
	&.edit_mode {
		#pm {
			display: none;
		}
		
		#leftSide #edit {
			.inner_bord:after {
				background-position: -288px 0;
			}
		}
		
		#mainSide {
			#info {
				input[type="text"] {
					outline: medium none !important;
					border-color: #8C8C8C;
					color: #000;
					-webkit-box-shadow: inset 0 1px 4px 0 #A8A8A8;
					box-shadow: inset 0 1px 4px 0 #A8A8A8;
					
					&:focus{
						background: rgba(238, 236, 240, 0.1);
						&:invalid {
							color: #777777;
						}
					}
				}
				input[name="sex"] {
					display: inline;
				}
			}
		}
	}
	
	#leftSide {
		position: absolute;
		width: 220px;
		padding-top: 165px;
		
		#avatar {
			position: absolute;
			top: 50px;
			left: 60px;
			width: 100px;
			height: 100px;
			
			div {
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: cover;
				
				#avatar_edit {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					padding: 0 0 0 17px;
					opacity: 0.8;
					cursor: pointer;
					background-color: rgba(0,0,0, 0.2);
						
					#avatar_edit_pic {
						position: absolute;
						left: 2px;
						top: 2px;
						width: 13px;
						height: 14px;
						background: url("/images/misc/tww.png") no-repeat -456px -48px;
					}
					
					&:hover {
						border-top: 1px solid;
						opacity: 1;
					}
				}
			}
			

		}
		
		#pm {
			margin: 0 0 20px 50px;
			position: relative;
			width: 120px;
			cursor: pointer;
			
			.inner_bord {
				position:relative;
				padding-left: 30px;
				
				&:after {
					content: "";
					left: 7px;
					position: absolute;
					top: 3px;
					width: 13px;
					height: 14px;
					background: url("/images/misc/tww.png") no-repeat -72px 0;
					opacity: 0.9;
				}
				
				&:hover:after{
					opacity: 1;
				}
				
			}
		}
		
		#edit {
			margin: 0 0 20px 50px;
			position: relative;
			width: 120px;
			cursor: pointer;
			
			.inner_bord {
				position:relative;
				padding-left: 30px;
				
				&:after {
					content: "";
					left: 7px;
					position: absolute;
					top: 3px;
					width: 13px;
					height: 14px;
					background-image: url("/images/misc/tww.png");
					background-repeat: no-repeat;
					background-position: 0 -72px;
					opacity: 0.9;
				}
				
				&:hover:after{
					opacity: 1;
				}
				
			}
		}
		
		> .block {
			position: relative;
			margin: 0 2px 20px;
			padding: 0 15px;
			color: #000;
			
			
			.head {
				color: rgb(5,63,126);
				text-align: center;
			}
			.h_separator {
				filter: none;
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZGVlNWVkIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTIlIiBzdG9wLWNvbG9yPSIjMDc1YWIzIiBzdG9wLW9wYWNpdHk9IjAuOCIvPgogICAgPHN0b3Agb2Zmc2V0PSI0OSUiIHN0b3AtY29sb3I9IiMwNTNmN2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4OCUiIHN0b3AtY29sb3I9IiMwNzVhYjMiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(left, rgba(242,242,242,0) 0%, rgba(222,229,237,0) 1%, rgba(7,90,179,0.8) 12%, rgba(5,63,126,1) 49%, rgba(7,90,179,0.8) 88%, rgba(242,242,242,0) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(242,242,242,0)), color-stop(1%,rgba(222,229,237,0)), color-stop(12%,rgba(7,90,179,0.8)), color-stop(49%,rgba(5,63,126,1)), color-stop(88%,rgba(7,90,179,0.8)), color-stop(100%,rgba(242,242,242,0))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left, rgba(242,242,242,0) 0%,rgba(222,229,237,0) 1%,rgba(7,90,179,0.8) 12%,rgba(5,63,126,1) 49%,rgba(7,90,179,0.8) 88%,rgba(242,242,242,0) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left, rgba(242,242,242,0) 0%,rgba(222,229,237,0) 1%,rgba(7,90,179,0.8) 12%,rgba(5,63,126,1) 49%,rgba(7,90,179,0.8) 88%,rgba(242,242,242,0) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left, rgba(242,242,242,0) 0%,rgba(222,229,237,0) 1%,rgba(7,90,179,0.8) 12%,rgba(5,63,126,1) 49%,rgba(7,90,179,0.8) 88%,rgba(242,242,242,0) 100%); /* IE10+ */
				background: linear-gradient(left, rgba(242,242,242,0) 0%,rgba(222,229,237,0) 1%,rgba(7,90,179,0.8) 12%,rgba(5,63,126,1) 49%,rgba(7,90,179,0.8) 88%,rgba(242,242,242,0) 100%); /* W3C */
				height: 1px;
				position: relative;
				width: 100%;
			}
			
			.row {
				position: relative;
				
				.left {
					text-align: left;
				}
				.right {
					position: absolute;
					right: 0;
					top: 0;
					text-align: right;
				}
				
				&:hover {
					color: #03006B;
				}
			}
		}
		#info_common {
		}
		
		#short_stat {
		}
		
		#leftSideDash {
			filter: none;
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA3NWFiMyIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAlIiBzdG9wLWNvbG9yPSIjMDc1YWIzIiBzdG9wLW9wYWNpdHk9IjAuOSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0OSUiIHN0b3AtY29sb3I9IiMwNTNmN2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiMwNzVhYjMiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top, rgba(7,90,179,0.5) 0%, rgba(7,90,179,0.9) 10%, rgba(5,63,126,1) 49%, rgba(7,90,179,0.8) 85%, rgba(242,242,242,0) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7,90,179,0.5)), color-stop(10%,rgba(7,90,179,0.9)), color-stop(49%,rgba(5,63,126,1)), color-stop(85%,rgba(7,90,179,0.8)), color-stop(100%,rgba(242,242,242,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(7,90,179,0.5) 0%,rgba(7,90,179,0.9) 10%,rgba(5,63,126,1) 49%,rgba(7,90,179,0.8) 85%,rgba(242,242,242,0) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(7,90,179,0.5) 0%,rgba(7,90,179,0.9) 10%,rgba(5,63,126,1) 49%,rgba(7,90,179,0.8) 85%,rgba(242,242,242,0) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(7,90,179,0.5) 0%,rgba(7,90,179,0.9) 10%,rgba(5,63,126,1) 49%,rgba(7,90,179,0.8) 85%,rgba(242,242,242,0) 100%); /* IE10+ */
			background: linear-gradient(top, rgba(7,90,179,0.5) 0%,rgba(7,90,179,0.9) 10%,rgba(5,63,126,1) 49%,rgba(7,90,179,0.8) 85%,rgba(242,242,242,0) 100%); /* W3C */
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			width: 1px;
		}
	}
	
	#mainSide {
		position: absolute;
		left: 222px;
		color: #000;
		
		#info {
			padding: 0 0 0 20px;
			span {
				min-width: 1px;
			}
			.row {
				position: relative;
				margin: 0 0 4px;
				
				.left {	
					position: absolute;
				}
				.right {
					position: relative;
					left: 120px;
					color: #444;
				}
				
				&:hover {
					color: #03006B;
				}
			}
			
			input[type="text"] {
				position: relative;
				border: 1px solid transparent;
				background-color: #fff;
				display: inline-block;
				position: relative;
				padding: 0 5px;
				min-width: 150px;
				width: 150px;
			}
			input[name="sex"] {
				display: none;
			}
		}
	}
}
 
 
 
 
 .clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}
.container-fluid:before,
.container-fluid:after {
  display: table;
  content: "";
}
.container-fluid:after {
  clear: both;
}
.nav {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
}
.nav > li > a {
  display: block;
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > .pull-right {
  float: right;
}
.nav .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.nav li + .nav-header {
  margin-top: 9px;
}
.nav-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}
.nav-list > li > a,
.nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-list > li > a {
  padding: 3px 15px;
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}
.nav-list [class^="icon-"] {
  margin-right: 2px;
}
.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 8px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
.nav-tabs,
.nav-pills {
  *zoom: 1;
}
.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  content: "";
}
.nav-tabs:after,
.nav-pills:after {
  clear: both;
}
.nav-tabs > li,
.nav-pills > li {
  float: left;
}
.nav-tabs > li > a,
.nav-pills > li > a {
	color: #000;
	padding-right: 12px;
	padding-left: 12px;
	margin-right: 2px;
	line-height: 14px;
}
.nav-tabs {
  border-bottom: 1px solid rgba(7, 90, 179, 0.8);
}
.nav-tabs > li {
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee rgba(7, 90, 179, 0.8);
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #03006B;
  background-color: #ffffff;
  border: 1px solid rgba(7, 90, 179, 0.8);
  border-bottom-color: transparent;
  cursor: default;
}
.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #0088cc;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li > a {
  margin-right: 0;
}
.nav-tabs.nav-stacked {
  border-bottom: 0;
}
.nav-tabs.nav-stacked > li > a {
  border: 1px solid rgba(7, 90, 179, 0.8);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.nav-tabs.nav-stacked > li > a:hover {
  border-color: rgba(7, 90, 179, 0.8);
  z-index: 2;
}
.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px;
}
.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px;
}
.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.nav-pills .dropdown-menu {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
  border-top-color: #0088cc;
  border-bottom-color: #0088cc;
  margin-top: 6px;
}
.nav-tabs .dropdown-toggle:hover .caret,
.nav-pills .dropdown-toggle:hover .caret {
  border-top-color: #005580;
  border-bottom-color: #005580;
}
.nav-tabs .active .dropdown-toggle .caret,
.nav-pills .active .dropdown-toggle .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.nav > .dropdown.active > a:hover {
  color: #000000;
  cursor: pointer;
}
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}
.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.tabs-stacked .open > a:hover {
  border-color: #999999;
}
.tabbable {
  *zoom: 1;
}
.tabbable:before,
.tabbable:after {
  display: table;
  content: "";
}
.tabbable:after {
  clear: both;
}
.tab-content {
  overflow: auto;
}
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}
.tabs-below > .nav-tabs {
  border-top: 1px solid rgba(7, 90, 179, 0.8);
}
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.tabs-below > .nav-tabs > li > a:hover {
  border-bottom-color: transparent;
  border-top-color: rgba(7, 90, 179, 0.8);
}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover {
  border-color: transparent rgba(7, 90, 179, 0.8) rgba(7, 90, 179, 0.8) rgba(7, 90, 179, 0.8);
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}
.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid rgba(7, 90, 179, 0.8);
}
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.tabs-left > .nav-tabs > li > a:hover {
  border-color: #eeeeee rgba(7, 90, 179, 0.8) #eeeeee #eeeeee;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
  border-color: rgba(7, 90, 179, 0.8) transparent rgba(7, 90, 179, 0.8) rgba(7, 90, 179, 0.8);
  *border-right-color: #ffffff;
}
.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid rgba(7, 90, 179, 0.8);
}
.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.tabs-right > .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #eeeeee rgba(7, 90, 179, 0.8);
}
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover {
  border-color: rgba(7, 90, 179, 0.8) rgba(7, 90, 179, 0.8) rgba(7, 90, 179, 0.8) transparent;
  *border-left-color: #ffffff;
}
