@MainLigthColor: #f2f2f2;
@MainBlueColor: rgb(5,63,126);

/**
 * FRINGE CLASS
 */
.fringe {
	position: absolute;
	width: auto;
	border-width: 1px;
	border-style: solid;
	border-color: #000;
	-webkit-box-shadow: 0 2px 4px 0px #222;
	box-shadow: 0 2px 4px 0px #222;
	
	> div {
		background-color: fade(@MainBlueColor, 85%);
	}
	
	&.gradientBack > div {
	}
	
	.inner_bord {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		border: 1px solid #C3C7DD;
	}
}

#top_panel_fringe {
	top:0;
	left:0;
	width: 100%;
	height: 30px;
	
	.inner_bord {
		border-width: 0 0 1px 0;
	}
	
	#appName {
		font-size: 110%;
		top:0;
		height: 30px;
		left: 150px;
		line-height: 30px;
		position: relative;
		text-transform: capitalize;
	}
	
	#panelTools {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		text-align: right;
		white-space: no-wrap;
	}
	
	.labledIco {
		position: relative;
		display: inline-block;
		top: 0;
		height: 30px;
		padding: 0 5px;
		line-height: 30px;
		cursor: pointer;
		text-align: center;
		vertical-align: middle;
		white-space: no-wrap;
		
		&.strokeBefore:before, &.strokeAfter:after {
			filter: none; /* Needs for support full multi-stop gradients with IE9 (using SVG) */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1M2Y3ZSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE2JSIgc3RvcC1jb2xvcj0iIzA3NWFiMyIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iNDklIiBzdG9wLWNvbG9yPSIjZjJmMmYyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODUlIiBzdG9wLWNvbG9yPSIjMDc1YWIzIiBzdG9wLW9wYWNpdHk9IjAuOCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDUzZjdlIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
			background: -moz-linear-gradient(top, fade(@MainBlueColor,0%) 0%, rgba(7,90,179,0.8) 16%, @MainLigthColor 49%, rgba(7,90,179,0.8) 85%, fade(@MainBlueColor,0%) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,fade(@MainBlueColor,0%)), color-stop(16%,rgba(7,90,179,0.8)), color-stop(49%,rgba(242,242,242,1)), color-stop(85%,rgba(7,90,179,0.8)), color-stop(100%,fade(@MainBlueColor,0%))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, fade(@MainBlueColor,0%) 0%,rgba(7,90,179,0.8) 16%,rgba(242,242,242,1) 49%,rgba(7,90,179,0.8) 85%,fade(@MainBlueColor,0%) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, fade(@MainBlueColor,0%) 0%,rgba(7,90,179,0.8) 16%,rgba(242,242,242,1) 49%,rgba(7,90,179,0.8) 85%,fade(@MainBlueColor,0%) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, fade(@MainBlueColor,0%) 0%,rgba(7,90,179,0.8) 16%,rgba(242,242,242,1) 49%,rgba(7,90,179,0.8) 85%,fade(@MainBlueColor,0%) 100%); /* IE10+ */
			background: linear-gradient(top, fade(@MainBlueColor,0%) 0%,rgba(7,90,179,0.8) 16%,rgba(242,242,242,1) 49%,rgba(7,90,179,0.8) 85%,fade(@MainBlueColor,0%) 100%); /* W3C */
			content: " ";
			display: inline-block;
			height: 100%;
			position: relative;
			vertical-align: top;
			width: 1px;
		}
		&.strokeBefore:before {
			left: -5px;
		}
		&.strokeAfter:after {
			left: 5px;
		}
		
		&.iconBefore:before, &.iconAfter:after {
			background: url(../images/map/Login-in-icon.png) 50% 50% no-repeat;
			content: " ";
			display: inline-block;
			line-height: 20px;
			height: 20px;
			width: 20px;
			position: relative;
			vertical-align: top;
		}
		
		&:hover {
			background-color: fade(@MainBlueColor, 50%);
		}
		
		.text {
			display: inline-block;
		}
		.ico {
			line-height: 20px;
			height: 20px;
			width: 20px;
			display: inline-block;
			vertical-align: text-top;
		}
	}
	
	#toLogIn {
		.ico {
			background: url(../images/map/Login-in-icon.png) 50% 50% no-repeat;
			margin-left: 2px;
		}
	}
	#toLogOut {
		.ico {
			background: url(../images/map/Login-out-icon.png) 50% 50% no-repeat;
			margin-left: 2px;
		}
	}
	#toRegister {
		.ico {
			background: url(../images/map/register.png) 50% 50% no-repeat;
			margin-right: 4px;
		}
	}
}

#logo_fringe {
	top: 0;
	left: 80px;
	width: 60px;
	height: 60px;
	background-color: fade(@MainBlueColor,100%);
	
	.inner_bord {
		border-width: 0 1px 1px;
		background: url(../images/map/logo.png) 50% 50% no-repeat;
	}
}

/**
 * CURTAIN
 */
#curtain {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.3);
}

.form {
	display: none;
	top: 50%;
	left: 50%;
	height: auto;
	opacity: 0;
	z-index: 1;
	border-color: @MainBlueColor;
		
	&.delay {
	}
	
	&.active{
		display: block;
		opacity: 1;
		z-index: 10;
	}
	

	.inner_bord {
		position: relative;
		width: 320px;
		border-width: 0;
		background-color: darken(@MainLigthColor, 5%);
		color: @MainBlueColor;
		-webkit-box-shadow: inset 0 0 15px 3px darken(@MainLigthColor, 17%);
		box-shadow: inset 0 0 15px 3px darken(@MainLigthColor, 17%);
		
		.head {
			position: relative;
			height: 24px;
			margin: 10px 0 0;
			white-space: nowrap;
			font-weight: bold;
			font-size: 130%;
			line-height: 24px;
			text-align: center;
			
			&:after {
				filter: none; /* Needs for support full multi-stop gradients with IE9 (using SVG) */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE2JSIgc3RvcC1jb2xvcj0iI2I3YjdiNyIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iNDklIiBzdG9wLWNvbG9yPSIjMGE0MzgwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDUzZjdlIiBzdG9wLW9wYWNpdHk9IjAuOTkiLz4KICAgIDxzdG9wIG9mZnNldD0iODUlIiBzdG9wLWNvbG9yPSIjYjdiN2I3IiBzdG9wLW9wYWNpdHk9IjAuOCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTVlNWU1IiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
				background: -moz-linear-gradient(left, rgba(229,229,229,0) 0%, rgba(183,183,183,0.8) 16%, rgba(10,67,128,1) 49%, fade(@MainBlueColor,99%) 50%, rgba(183,183,183,0.8) 85%, rgba(229,229,229,0) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(229,229,229,0)), color-stop(16%,rgba(183,183,183,0.8)), color-stop(49%,rgba(10,67,128,1)), color-stop(50%,fade(@MainBlueColor,99%)), color-stop(85%,rgba(183,183,183,0.8)), color-stop(100%,rgba(229,229,229,0))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left, rgba(229,229,229,0) 0%,rgba(183,183,183,0.8) 16%,rgba(10,67,128,1) 49%,fade(@MainBlueColor,99%) 50%,rgba(183,183,183,0.8) 85%,rgba(229,229,229,0) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left, rgba(229,229,229,0) 0%,rgba(183,183,183,0.8) 16%,rgba(10,67,128,1) 49%,fade(@MainBlueColor,99%) 50%,rgba(183,183,183,0.8) 85%,rgba(229,229,229,0) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left, rgba(229,229,229,0) 0%,rgba(183,183,183,0.8) 16%,rgba(10,67,128,1) 49%,fade(@MainBlueColor,99%) 50%,rgba(183,183,183,0.8) 85%,rgba(229,229,229,0) 100%); /* IE10+ */
				background: linear-gradient(left, rgba(229,229,229,0) 0%,rgba(183,183,183,0.8) 16%,rgba(10,67,128,1) 49%,fade(@MainBlueColor,99%) 50%,rgba(183,183,183,0.8) 85%,rgba(229,229,229,0) 100%); /* W3C */
				content: " ";
				display: block;
				top: 5px;
				height: 1px;
				position: relative;
				width: 100%;
			}
		}
		
		.wait{
			display: none;
			position: absolute;
			padding: 46px 0 0;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			font-weight: bold;
			font-size: 16px;
			line-height: 16px;
			text-align: center;
			color: #f90;
			background-color: rgba(0,0,0,0.55);
		}
		
		.mess{
			position: relative;
			font-weight: bold;
			font-size: 14px;
			line-height: 15px;
			height: 0px;
			text-align: center;
			white-space: normal;
			padding: 0 3px;
			-webkit-transition: height 0.5s ease-out;
			-moz-transition: height 0.5s ease-out;
			-o-transition: height 0.5s ease-out;
			transition: height 0.5s ease-out;
			
			&.err {
				color: #FF5D00;
			}
			&.good {
				color: green;
			}
		}
	}
	
	form {
		position: relative;
		margin: 7px 0 3px;
		
		.label {
			display: block;
			position: relative;
			float: left;
			font-weight: normal;
			font-size: 15px;
			line-height: 15px;
			margin: 8px 0 5px 15px;
			padding: 0 0 1px;
		
		
			&.clickable {
				float: right;
				margin-right: 21px;
				border-color: #7696BC;
				border-width: 0 0 1px 0;
				border-style: dashed;
				cursor: pointer;
				&:hover {
					color: #93A5BA;
					border-color: #93A5BA;
				}
			}
				
			&:after {
				content: "";
				left: 5px;
				position: absolute;
				top: 30px;
				width: 13px;
				height: 14px;
				opacity: 0.7;
			}
			
			&.icon-user:after {
				background: url(../images/map/tw.png) -168px 0 no-repeat;
			}
			&.icon-lock:after {
				background: url(../images/map/tw.png) -287px -24px no-repeat;
			}
			&.icon-envelope:after {
				background: url(../images/map/tw.png) -72px 0 no-repeat;
			}

		}
		
		#remember_check {
			display: inline-block;
			width: 16px;
			height: 16px;
			margin: 0 0 0 7px;
			cursor: pointer;
			background-image: url(../images/map/safari-checkbox.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			
			&:hover {
				background-position: -16px 0;
			}
			
			&.checked {
				background-position: 0 -16px;
				&:hover {
					background-position: -16px -16px;
				}
			}
		}

		input {
			outline: medium none !important;
			
			&:focus, &:hover {
				color: #FFFFFF;
			}
			
			&:-moz-placeholder {
				color: #BEBCBC;
				font-style: italic;
			}
			&::-webkit-input-placeholder {
				color: #BEBCBC;
				font-style: italic;
			}
			&:-ms-placeholder {
				color: #BEBCBC;
				font-style: italic;
			}
			
			&[type="email"], &[type="text"], &[type="password"]{
				border: 1px solid #8C8C8C;
				color: #000;
				display: block;
				font-size: 16px;
				margin: 5px 10px 10px 15px;
				padding: 5px 5px 5px 21px;
				width: 257px;
				-webkit-box-shadow: inset 0 1px 4px 0 #A8A8A8;
				box-shadow: inset 0 1px 4px 0 #A8A8A8;
				-webkit-transition: background 0.2s ease-out;
				-moz-transition: background 0.2s ease-out;
				-ms-transition: background 0.2s ease-out;
				-o-transition: background 0.2s ease-out;
				transition: background 0.2s ease-out;

				&:focus{
					background: rgba(238, 236, 240, 0.1);
					&:invalid {
						color: #777777;
					}
				}
				

				
			}
			
			&:-moz-placeholder {
				color: #BEBCBC;
				font-style: italic;
			}
			&::-webkit-input-placeholder {
				color: #BEBCBC;
				font-style: italic;
			}
			&:-ms-placeholder { /* ie10 */
				color: #BEBCBC;
				font-style: italic;
			}
		}
		
		input[type="button"], input[type="submit"] {
			position: absolute;
			bottom: 10px;
			color: @MainLigthColor;
			padding: 4px 15px;
			text-shadow: 0 1px 1px #000;
			font-weight: bold;
			font-size: 14px;
			width: 90px;
			border: none;
			-webkit-box-shadow: 0 1px 1px 0 #000;
			box-shadow: 0 1px 1px 0 #000;
			background: #403f3f; /* Old browsers */
			filter: none; /* Needs for support full multi-stop gradients with IE9 (using SVG) */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1M2Y3ZSIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iNDklIiBzdG9wLWNvbG9yPSIjMDUzZjdlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA3NThhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(top , fade(@MainBlueColor,70%) 0%, @MainBlueColor 49%, lighten(@MainBlueColor,10%) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,fade(@MainBlueColor,70%)), color-stop(49%,@MainBlueColor), color-stop(100%,lighten(@MainBlueColor,10%))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, fade(@MainBlueColor,70%) 0%,@MainBlueColor 49%,lighten(@MainBlueColor,10%) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, fade(@MainBlueColor,70%) 0%,@MainBlueColor 49%,lighten(@MainBlueColor,10%) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, fade(@MainBlueColor,70%) 0%,@MainBlueColor 49%,lighten(@MainBlueColor,10%) 100%); /* IE10+ */
			background: linear-gradient(top, fade(@MainBlueColor,70%) 0%,@MainBlueColor 49%,lighten(@MainBlueColor,10%) 100%); /* W3C */
		}
		
		input[type="submit"] {
			left: 17px;
		}
		
		input[type="button"] {
			right: 22px;
			
			&.fin {
				right: 50%;
				margin-right: -45px;
			}
		}
		
	}
	
	&#login_fringe {
		margin: -110px 0 0 -162px;
		
		form {
			height: 210px;
		}
	}
	&#reg_fringe {
		margin: -145px 0 0 -162px;
		
		form {
			height: 330px;
		}
	}
	&#recall_fringe {
		margin: -70px 0 0 -162px;
		
		form {
			height: 112px;
		}
	}
}

/**
 * NAVIGATION
 */
#nav_panel {
	display: none;
	position: absolute;
	top: 100px;
	left: 5px;
	width: 66px;
	height: 303px;
}

#nav_panel #moystick {
	position: absolute;
	height:  66px;
	width:  66px;
	background: url(../images/map/joistik_map.png) center 0 no-repeat;
}

#nav_panel #moystick div{
	position: absolute;
	cursor: pointer;
}
#nav_panel #moystick div#mup{
	height: 20px;
	left: 5px;
	top: 0;
	width: 58px;
}
#nav_panel #moystick div#mright{
	height: 27px;
	left: 45px;
	top: 20px;
	width: 24px;
}
#nav_panel #moystick div#mdown{
	height: 21px;
	left: 5px;
	top: 47px;
	width: 58px;
}
#nav_panel #moystick div#mleft{
	height: 27px;
	left: 0;
	top: 20px;
	width: 21px;
}
#nav_panel #moystick div#mhome{
	height: 27px;
	left: 21px;
	top: 20px;
	width: 26px;
}

#nav_panel > div.fringe.btn {
	cursor: pointer;
}
#nav_panel > div.fringe.btn.inout {
	left: 17px;
    height: 28px;
    width: 28px;
}
#nav_panel > div.fringe.btn.inout > div {
	height: 26px;
	background-position: -1px -1px;
	background-repeat: no-repeat;
}
#main.black  #nav_panel > div.fringe.btn.inout > div {
	background-color: rgba(13,13,13,0.7);
}

#nav_panel > div#zoomin_fringe {
	top: 70px;
}
#main.black  #nav_panel div#zoomin {
	background-image:url(../images/map/map_plus_black.png);
}
#main.white  #nav_panel div#zoomin {
	background-image:url(../images/map/map_plus_white.png);
}

#nav_panel > div#zoomout_fringe{
	bottom: 0px;
}
#nav_panel div#zoomout {
	background-image:url(../images/map/map_minus_black.png);
}

#nav_panel > div.fringe#nav_stick_fringe {
	left: 29px;
	top: 99px;
	width: 4px;
	height: 175px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	border-top-width: 0;
	border-bottom-width: 0;
}
#nav_panel > div.fringe#nav_stick_fringe > div.inner_bord {
	top: -1px;
	bottom: -1px;
	-webkit-border-radius: 0;
	border-radius: 0;
	border-top-width: 0;
	border-bottom-width: 0;
	background-color: rgba(13,13,13,0.7);
}
#nav_panel > #nav_slider_area {
	display: block;
	height: 171px;
	left: 0;
	position: absolute;
	padding: 2px 0 0 0;
	top: 99px;
	width: 100%;
}
#nav_panel > #nav_slider_area.sliding {
	cursor: url(../images/map/closehand.gif), pointer;
}
#nav_panel > #nav_slider_area > .dash {
	position:relative;
	background-image: url(../images/map/ZoomDash.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 64px;
	-webkit-tap-highlight-color: #939393; 
	cursor: pointer;
}
#nav_panel > #nav_slider_area > .dash:hover {
	background-image: url(../images/map/ZoomDashAct.png);
}
#nav_panel > .sliding#nav_slider_area > .dash {
	cursor: url(../images/map/closehand.gif), pointer;
}
#nav_panel > #nav_slider_area > .dash {

}
#nav_panel > #nav_slider_area > #nav_slider {
	position: absolute;
	bottom: 2px;
	left: 18px;
	width: 28px;
	height: 9px;
	cursor: pointer;
}
#nav_panel > .sliding#nav_slider_area > #nav_slider{
	cursor: url(../images/map/closehand.gif), pointer;
}
#nav_panel > #nav_slider_area > #nav_slider{
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
#nav_panel > #nav_slider_area > #nav_slider{
	background-image:url(../images/map/map_handler.png);
}

/**
 * LAYER PANEL
 */
#layers_fringe {
	display: block;
	top: 46px;
	right: 5px;
	height: auto;
	-webkit-transition: right 0.7s ease-out;
	-moz-transition: right 0.7s ease-out;
	-o-transition: right 0.7s ease-out;
	transition: right 0.7s ease-out;
}
#layers_fringe.move {
	right: 45px;
}
#layers_panel {
	position: relative;
	overflow: hidden;
	width: auto;
	height: 24px;
	padding: 0;
	text-align: center;
	-webkit-transition: height 0.7s ease-out;
	-moz-transition: height 0.7s ease-out;
	-o-transition: height 0.7s ease-out;
	transition: height 0.7s ease-out;
}
#main.black  #layers_panel {
}
#main.white  #layers_panel {
	color: #000;
}
#layers_panel.open {
	height: 175px;
}
#layers_panel #current {
	display: block;
	position: relative;
	height: 23px;
	margin: 0;
	padding: 1px 4px 0;
	white-space: nowrap;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	text-align: right;
	cursor: pointer;
	border-width: 0 0 1px;
	border-style: solid;
}
#main.black  #layers_panel #current {
	border-color: #000;
}
#main.white  #layers_panel #current {
	border-color: #000;
}
#layers_panel #systems {
	display: inline-block;
	position: relative;
	width: 104px;
	opacity: 0;
	overflow: hidden;
	white-space: nowrap;
	border-width: 1px 0 0;
	border-style: solid;
	-webkit-transition: width 0.7s ease-out, opacity 0.7s ease-out;
	-moz-transition: width 0.7s ease-out, opacity 0.7s ease-out;
	-o-transition: width 0.7s ease-out, opacity 0.7s ease-out;
	transition: width 0.7s ease-out, opacity 0.7s ease-out;
}
#main.black  #layers_panel #systems {
	border-color: #707070;
}
#main.white  #layers_panel #systems {
	border-color: #8F8F8F;
}
#layers_panel.open  #systems{
	opacity: 1;
}
#layers_panel.open  #systems.s1{
	width: 104px;
}
#layers_panel.open  #systems.s2{
	width: 208px;
}
#layers_panel.open  #systems.s3{
	width: 312px;
}
#layers_panel.open  #systems.s4{
	width: 416px;
}
#layers_panel.open  #systems.s5{
	width: 520px;
}
#layers_panel #systems > div {
	display: inline-block;
	vertical-align: top;
	width: 100px;
	padding: 0 0 2px 0;
	border: 1px solid transparent;
	margin: 1px;
	position: relative;
	height: 143px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#layers_panel #systems > div > span.head {
	display: block;
	position: relative;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-size: 17px;
	line-height: 22px;
	border-style: solid;
	border-width: 1px;
	background: #5282c0;
	padding: 2px 0 1px;
	margin: 0 0 3px 0;
}
#main.black  #layers_panel #systems > div > span.head {
	border-color: transparent;
}
#main.black  #layers_panel #systems > div > span.head.selected {
	border-color: #999;
}
#main.white  #layers_panel #systems > div > span.head {
	border-color: #0B0A00;
}
#main.white  #layers_panel #systems > div > span.head.selected  {
	border-color: #ccc;
}
#layers_panel #systems > div > div {
	border: 1px solid transparent;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	font-weight: normal;
	font-size: 17px;
	line-height: 17px;
	padding: 5px 4px;
	text-align: center;
}
#main.black #layers_panel #systems > div > div:hover {
	border-color: #9B9B9B;
}
#main.white  #layers_panel #systems > div > div:hover {
	border-color: #646464;
}
#main.black #layers_panel #systems > div > div.selected {
	-webkit-box-shadow: inset 0 1px 1px 1px #1C1C1C;
	box-shadow: inset 0 1px 1px 1px #1C1C1C;
	background-color: #474747;
	border: 1px solid #707070;
}
#main.white #layers_panel #systems > div > div.selected {
	-webkit-box-shadow: inset 0 1px 1px 1px #A0A0A0;
	box-shadow: inset 0 1px 1px 1px #A0A0A0;
	background-color: #fff;
	border: 1px solid #EAEAEA;
}

/**
 * SEARCH PANEL
 */
#search_fringe {
	display: none;
	top: 124px;
	right: 5px;
	height: auto;
	-webkit-transition: right 0.7s ease-out, top 0.7s ease-out;
	-moz-transition: right 0.7s ease-out, top 0.7s ease-out;
	-o-transition: right 0.7s ease-out, top 0.7s ease-out;
	transition: right 0.7s ease-out, top 0.7s ease-out;
}
#search_fringe.moveByLayers {
	top: 275px;
}
#search_fringe.moveByFilter {
	top: 84px;
	right: 255px;
}
#search_fringe.moveByLayers.moveByFilter {
	top: 235px;
}
#search_panel {
	position: relative;
	overflow: hidden;
	width: 94px;
	height: 28px;
	padding: 0;
	text-align: left;
	white-space: normal;
}
#search_panel.open, #search_panel.open.fill {
	height: auto;
	width: 353px;
}
#search_panel.fill {
	height: 34px;
	width: 151px;
}

#search_panel #search_in {
	display: block;
	position: relative;
	width: auto;
	height: 23px;
	margin: 0;
	padding: 2px 3px;
	white-space: nowrap;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	text-align: right;
	cursor: pointer;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: #000;
}
#search_panel.open #search_in, #search_panel.open.fill #search_in, #search_panel.fill #search_in{
	height: 29px;
}

#search_panel #search_in div {
	position: relative;
	display: block;
}

#search_panel #search_in input {
	outline: medium none !important;
    border: 1px solid #434343;
    color: #AAAAAA;
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 2px 3px 4px 3px;
    width: 80px;
	height: 14px;
	-webkit-box-shadow: inset 0 1px 1px 1px #222222;
	box-shadow: inset 0 1px 1px 1px #222222;
	background: #434343; /* Old browsers */
	background: -moz-linear-gradient(top, #434343 0%, #3D3C3C 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#434343), color-stop(100%,#3D3C3C)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #434343 0%,#3D3C3C 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #434343 0%,#3D3C3C 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #434343 0%,#3D3C3C 100%); /* IE10+ */
	filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#434343', endColorstr='#3D3C3C',GradientType=0 )";  /*IE6-9 */
	background: linear-gradient(top, #434343 0%,#3D3C3C 100%); /* W3C */
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#search_panel.open #search_in input, #search_panel.open.fill #search_in input {
	margin-left: 1px;
	margin-right: 18px;
	padding-right: 17px;
	width: 304px;
}
#search_panel.fill #search_in input {
	margin-left: 1px;
	margin-right: 18px;
	padding-right: 17px;
	width: 102px;
}
#search_panel.open #search_in input, #search_panel.fill #search_in input, #search_panel #search_in input:focus  {
	font-size: 16px;
	height: 20px;
    border-color: #777777;
	padding-left: 5px;
}
#search_panel.fill #search_in input, #search_panel #search_in input:focus  {
	color: #FFFFFF;
}
#search_panel #search_in #searchClear {
	position: absolute;
	display: none;
	top: 10px;
	right: 22px;
	width: 18px;
	height: 14px;
	margin: 0;
	background-image: url(../images/map/search_clear.png);
	background-repeat: no-repeat;
	background-position: 50% 0;
}
#search_panel.open #search_in #searchClear, #search_panel.fill #search_in #searchClear  {
	display: block;
}
#search_panel.fill #search_in #searchClear {
	background-position: 50% -14px;
}
#search_panel.fill #search_in #searchClear:hover {
	background-position: 50% -29px;
}
#search_panel #search_in #searchArrow {
	position: absolute;
	display: none;
	top: 0;
	right: 1px;
	width: 18px;
	height: 31px;
	margin: 0;
}
#search_panel #search_in #searchArrow > div{
	position: absolute;
	top: 7px;
	left: 1px;
	width: 15px;
	height: 14px;
	margin: 0;
	background-image: url(../images/map/search_arrow.png);
	background-repeat: no-repeat;
}
#search_panel.open #search_in #searchArrow, #search_panel.open.fill #search_in #searchArrow, #search_panel.fill #search_in #searchArrow {
	display: block;
}
#search_panel.open #search_in #searchArrow > div, #search_panel.open.fill #search_in #searchArrow > div {
	background-position: 0 1px;
}
#search_panel.open #search_in #searchArrow:hover > div, #search_panel.open.fill #search_in #searchArrow:hover  > div{
	background-position: 0 -13px;
}
#search_panel.fill #search_in #searchArrow > div {
	background-position: -15px 2px;
}
#search_panel.fill #search_in #searchArrow:hover > div {
	background-position: -15px -12px;
}