@import "_vars.less";
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

@thumbDimension: 200px;
@thumbDimensionSmall: 130px;

.user_photo {

	.photoThumbs {
		display: -webkit-flex;
		-webkit-flex-wrap: wrap;
		-webkit-flex-direction: row;
		-webkit-align-items: center;
		-webkit-justify-content: space-between; // flex-start | flex-end | center | space-between | space-around

		display: -moz-flex;
		-moz-flex-wrap: wrap;
		-moz-flex-direction: row;
		-moz-align-items: center;
		-moz-justify-content: space-between;

		display: -ms-flex;
		-ms-flex-wrap: wrap;
		-ms-flex-direction: row;
		-ms-align-items: center;
		-ms-justify-content: space-between;

		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.photoThumb {
		display: inline-block;
		margin: 0 14px 17px 0;
		padding-bottom: 28px;
		opacity: 0;

		img {
			position: relative;
			display: block;
			height: @thumbDimension;
			width: @thumbDimension * 1.5;
		}

		a {
			position: absolute;
			display: block;
			top: 0;
			height: @thumbDimension;
			width: @thumbDimension * 1.5;
			cursor: pointer;
			background-color: rgba(0, 0, 0, 0.15);
			.transition(all .1s linear);
		}

		.photoTool {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 28px;
			line-height: 28px;
			padding: 0 0 0 5px;
			border-width: 1px 0 0 0;
			border-style: solid;
			border-color: #C3C7DD;
			.text-overflow();
		}

		&.addPhoto {
			opacity: 1;

			a {
				position: relative;
				background: url(/img/misc/add_photo.png) 50% 50% no-repeat;
			}
		}

		&:hover a {
			background-color: rgba(0, 0, 0, 0);
		}
	}

	.photoUploadCurtain {
		position: fixed;
		display: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: @zindexModal; // Ценрируем формы
		text-align: center;
		&::before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em; /* Adjusts for spacing */
		}

		.photoUploadModal {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			text-align: left;
			min-width: 1000px;
			min-height: 250px;
			zoom: 1;
			padding: 0 20px 10px 20px;
			overflow: auto;
			border-color: @MainBlueColor;
			background-color: darken(@MainLigthColor, 5%);
			.box-shadow(0 2px 4px 0px #222);
			z-index: @zindexPopover;

			&::-webkit-scrollbar {
				width:15px;
			}

			&::-webkit-scrollbar-thumb {
				border-width: 2px 3px 2px 4px;
				border-color: darken(@MainLigthColor, 5%);
				border-style: solid;
				background-color: desaturate(@MainBlueColor, 5%);

				&:hover {
					border-color: #eee;
					border-left: 1px solid #aaa;
					-webkit-box-shadow: inset 3px 0 0 0 #eee;
					background-color: darken(@MainBlueColor, 5%);
				}
			}

			&::-webkit-scrollbar-track {
				border-width:0;

				&:hover {
					border-left: 1px solid #aaa;
					background-color: #eee;
				}
			}
		}
	}
}

@media (max-width: 1550px) {
	.user_photo {
		.photoThumb {
			img {
				height: @thumbDimensionSmall;
				width: @thumbDimensionSmall * 1.5;
			}
			a {
				height: @thumbDimensionSmall;
				width: @thumbDimensionSmall * 1.5;
			}
			.photoTool {
				padding: 0 0 0 3px;
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 1000px) {
	.user_photo {
		.photoUploadCurtain {
			.photoUploadModal {
				min-width: 500px;
			}
		}
	}
}