@import "_vars.less";
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

@thumbDimension: 164px;
@thumbDimensionSmall: 120px;

.user_photo {

	.photoThumbs {
		display: -webkit-flex;
		-webkit-flex-wrap: wrap;
		-webkit-flex-direction: row;
		-webkit-align-items: center;
		-webkit-justify-content: space-between; // flex-start | flex-end | center | space-between | space-around
		display: -moz-flex;
		-moz-flex-wrap: wrap;
		-moz-flex-direction: row;
		-moz-align-items: center;
		-moz-justify-content: space-between;

		display: -ms-flex;
		-ms-flex-wrap: wrap;
		-ms-flex-direction: row;
		-ms-align-items: center;
		-ms-justify-content: space-between;

		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.photoThumb {
		display: inline-block;
		margin: 0 6px 17px 6px;
		padding-bottom: 25px;
		opacity: 0;

		img {
			position: relative;
			display: block;
			height: @thumbDimension;
			width: @thumbDimension * 1.5;
		}

		a {
			position: absolute;
			display: block;
			top: 0;
			height: @thumbDimension;
			width: @thumbDimension * 1.5;
			cursor: pointer;
			background-color: rgba(0, 0, 0, 0.1);
			.transition(all .1s linear);
		}

		i {
			position: absolute;
			bottom: 32px;
			right: 6px;
			border-radius: 8px;
			.box-shadow(0 0 0 1px #fff, 0 0 3px 1px #fff);
		}

		.photoTool {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 25px;
			line-height: 25px;
			padding: 0 0 0 5px;
			.text-overflow();

			&::after {
				position: absolute;
				content: "";
				left: 0;
				right: 0;
				top: 0;
				height: 1px;
				filter: none;
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4NTk5MSIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTIlIiBzdG9wLWNvbG9yPSIjNzhhMmNjIiBzdG9wLW9wYWNpdHk9IjAuOCIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4OCUiIHN0b3AtY29sb3I9IiM3OGEyY2MiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODU5OTEiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
				background: -moz-linear-gradient(left, rgba(40,89,145,0.3) 0%, rgba(120,162,204,0.8) 12%, rgb(255,255,255) 50%, rgba(120,162,204,0.8) 88%, rgba(40,89,145,0.3) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(40,89,145,0.3)), color-stop(12%,rgba(120,162,204,0.8)), color-stop(50%,rgb(255,255,255)), color-stop(88%,rgba(120,162,204,0.8)), color-stop(100%,rgba(40,89,145,0.3))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left, rgba(40,89,145,0.3) 0%,rgba(120,162,204,0.8) 12%,rgb(255,255,255) 50%,rgba(120,162,204,0.8) 88%,rgba(40,89,145,0.3) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left, rgba(40,89,145,0.3) 0%,rgba(120,162,204,0.8) 12%,rgb(255,255,255) 50%,rgba(120,162,204,0.8) 88%,rgba(40,89,145,0.3) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left, rgba(40,89,145,0.3) 0%,rgba(120,162,204,0.8) 12%,rgb(255,255,255) 50%,rgba(120,162,204,0.8) 88%,rgba(40,89,145,0.3) 100%); /* IE10+ */
				background: linear-gradient(to right, rgba(40,89,145,0.3) 0%,rgba(120,162,204,0.8) 12%,rgb(255,255,255) 50%,rgba(120,162,204,0.8) 88%,rgba(40,89,145,0.3) 100%); /* W3C */
			}
		}

		&.photoFresh {
			.photoTool::after {
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4NTk5MSIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTIlIiBzdG9wLWNvbG9yPSIjNzhhMmNjIiBzdG9wLW9wYWNpdHk9IjAuOCIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNkODAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4OCUiIHN0b3AtY29sb3I9IiM3OGEyY2MiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODU5OTEiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
				background: -moz-linear-gradient(left, rgba(40,89,145,0.3) 0%, rgba(173,102,102,0.8) 12%, rgb(233, 0, 0) 50%, rgba(173,102,102,0.8) 88%, rgba(40,89,145,0.3) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(40,89,145,0.3)), color-stop(12%,rgba(173,102,102,0.8)), color-stop(50%,rgb(233, 0, 0)), color-stop(88%,rgba(173,102,102,0.8)), color-stop(100%,rgba(40,89,145,0.3))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left, rgba(40,89,145,0.3) 0%,rgba(173,102,102,0.8) 12%, rgb(233, 0, 0) 50%,rgba(173,102,102,0.8) 88%,rgba(40,89,145,0.3) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left, rgba(40,89,145,0.3) 0%,rgba(173,102,102,0.8) 12%,rgb(233, 0, 0) 50%,rgba(173,102,102,0.8) 88%,rgba(40,89,145,0.3) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left, rgba(40,89,145,0.3) 0%,rgba(173,102,102,0.8) 12%,rgb(233, 0, 0) 50%,rgba(173,102,102,0.8) 88%,rgba(40,89,145,0.3) 100%); /* IE10+ */
				background: linear-gradient(to right, rgba(40,89,145,0.3) 0%,rgba(173,102,102,0.8) 12%,rgb(233, 0, 0) 50%,rgba(173,102,102,0.8) 88%,rgba(40,89,145,0.3) 100%); /* W3C */
			}
			i {
				border: 1px solid rgba(211, 20, 20, 0.7);
				background-color: rgba(211, 20, 20, 0.7);
			}
		}
		&.photoNoActive {
			.photoTool::after {
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4NTk5MSIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTIlIiBzdG9wLWNvbG9yPSIjZDZiYjg5IiBzdG9wLW9wYWNpdHk9IjAuOCIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmFhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4OCUiIHN0b3AtY29sb3I9IiNkNmJiODkiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODU5OTEiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
				background: -moz-linear-gradient(left, rgba(40,89,145,0.3) 0%, rgba(214,187,137,0.8) 12%, rgb(255, 202, 0) 50%, rgba(214,187,137,0.8) 88%, rgba(40,89,145,0.3) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(40,89,145,0.3)), color-stop(12%,rgba(214,187,137,0.8)), color-stop(50%,rgb(255, 202, 0)), color-stop(88%,rgba(214,187,137,0.8)), color-stop(100%,rgba(40,89,145,0.3))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left, rgba(40,89,145,0.3) 0%,rgba(214,187,137,0.8) 12%, rgb(255, 202, 0) 50%,rgba(214,187,137,0.8) 88%,rgba(40,89,145,0.3) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left, rgba(40,89,145,0.3) 0%,rgba(214,187,137,0.8) 12%,rgb(255, 202, 0) 50%,rgba(214,187,137,0.8) 88%,rgba(40,89,145,0.3) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left, rgba(40,89,145,0.3) 0%,rgba(214,187,137,0.8) 12%,rgb(255, 202, 0) 50%,rgba(214,187,137,0.8) 88%,rgba(40,89,145,0.3) 100%); /* IE10+ */
				background: linear-gradient(to right, rgba(40,89,145,0.3) 0%,rgba(214,187,137,0.8) 12%,rgb(255, 202, 0) 50%,rgba(214,187,137,0.8) 88%,rgba(40,89,145,0.3) 100%); /* W3C */
			}
			i {
				border: 1px solid rgb(255, 155, 0);
				background-color: rgb(255, 155, 0);
			}
		}

		&.addPhoto {
			opacity: 1;

			a {
				position: relative;
				background: url(/img/misc/add_photo.png) 50% 50% no-repeat;
			}
		}

		&:hover a {
			background-color: rgba(0, 0, 0, 0);
		}
	}

	.photoUploadCurtain {
		position: fixed;
		display: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: @zindexModal; // Ценрируем формы
		text-align: center;
		&::before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em; /* Adjusts for spacing */
		}

		.photoUploadModal {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			text-align: left;
			min-width: 1000px;
			zoom: 1;
			border-width: 0 1px 1px 1px;
			border-color: @MainBlueColor;
			background-color: darken(@MainLigthColor, 5%);
			.box-shadow(0 0 10px 1px #222);
			z-index: @zindexPopover;

			.modalTools {
				position: relative;
				height: 24px;
				margin: 0;
				margin-left: -1px;
				margin-right: -1px;
				padding: 3px 8px 0 8px;
				text-align: left;
				border-width: 1px 0 1px 0;
				border-top-color: #AAA;
				.box-shadow(0 2px 4px 0px #222);
				z-index: 1;

				&:before, &:after {
					content: "";
					position: absolute;
					top: 0;
					bottom: -55px;
					width: 1px;
					#gradient > .vertical(#AAA, #000);
				}
				&:before {
					left: 0px;
				}
				&:after {
					right: 0px;
				}

				.icon-off {
					position: absolute;
					top: 5px;
					right: 5px;
					cursor: pointer;
				}
			}

			.modalContainer {
				position: relative;
				min-height: 185px;
				padding: 0 20px;
				opacity: 0;
				overflow: auto;
				.transition(opacity .4s linear);

				&::-webkit-scrollbar {
					width: 15px;
				}

				&::-webkit-scrollbar-thumb {
					border-width: 3px 3px 3px 4px;
					border-color: darken(@MainLigthColor, 5%);
					border-style: solid;
					background-color: desaturate(@MainBlueColor, 5%);

					&:hover {
						border-color: #eee;
						border-left: 1px solid #aaa;
						-webkit-box-shadow: inset 3px 0 0 0 #eee;
						background-color: darken(@MainBlueColor, 5%);
					}
				}

				&::-webkit-scrollbar-track {
					border-width: 0;

					&:hover {
						border-left: 1px solid #aaa;
						background-color: #eee;
					}
				}

				&.show {
					opacity: 1;
				}
			}

			.modalFoot {
				position: relative;
				height: 26px;
				padding-top: 2px;
				text-align: center;
				border-width: 1px 0 0 0;
				border-style: solid;
				border-color: #161616;
				.box-shadow(0 0px 4px 0px #777);
				#gradient > .vertical(#DFDFDF, #AFAFAF);
			}
		}
	}
}

@media (max-width: 1550px) {
	.user_photo {
		.photoThumb {
			img {
				height: @thumbDimensionSmall;
				width: @thumbDimensionSmall * 1.5;
			}
			a {
				height: @thumbDimensionSmall;
				width: @thumbDimensionSmall * 1.5;
			}
			.photoTool {
				padding: 0 0 0 3px;
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 1000px) {
	.user_photo {
		.photoUploadCurtain {
			.photoUploadModal {
				min-width: 500px;
			}
		}
	}
}