@import "../_vars.less";
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

.adminRegions {
	position: relative;
	height: 100%;

	.tree {
		padding: 5px;
		border: 1px solid #999;

		li {
			position: relative;
			margin: 0;
			padding: 13px 0 0 5px;
			list-style-type: none;

			&::before, &::after {
				position: absolute;
				left: -20px;
				right: auto;
				content: '';
			}
			&::before {
				width: 1px;
				bottom: 50px;
				height: 100%;
				top: 0;
				border-left: 1px solid #999;
			}
			&:last-child::before {
				height: 30px;
			}
			&::after {
				width: 25px;
				height: 20px;
				top: 25px;
				border-top: 1px solid #999;
			}

			.name {
				display: inline-block;
				padding: 2px 6px;
				text-decoration: none;
				border: 1px solid #999;
			}
			&.parent_li > .name {
				cursor: pointer;

				&:hover, &:hover+ul li .name {
					color: #000;
					border: 1px solid #94a0b4;
					background: #eee;
				}
			}
		}

		> ul > li::before, > ul > li::after {
			border:0
		}
	}
}


