@import "../_vars.less";
@import "../bs/variables.less";
@import "../bs/mixins.less";

.adminRegionCheck {
	position: relative;
	height: 100%;

	.topinfo {
		margin-bottom: 4px;
	}
	.infotxt {
		vertical-align: middle;
	}
	.inputGeoWrap {
		display: inline-block;
		width: 250px;
		margin: 0 20px 0 5px;
		vertical-align: middle;
	}
	.inputLink {
		display: inline-block;
		width: 254px;
	}
	.extlnk {
		display: inline-block;
		vertical-align: middle;
	}
	.map {
		position: relative;
		min-height: 300px;
		max-height: 1200px;
	}
}


