@import "../_vars.less";
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

@maxThumbDimension: 164px; // 246x164

.gallery {
	position: relative;

	.pageHeader {
		margin-top: 7px;
		margin-bottom: 10px;
		font-size: 20px;
	}

	.pagination {
		margin-top: 0;
	}

	.photosRow {
		text-align: center;
	}

	.photoTop {
		position: relative;
		margin: 0 8px 0 5px;
	}

	.pageBrief {
		position: absolute;
		top: 5px;
		left: 0px;
		z-index: -1;

		&.pageLoading {
			padding-right: 75px;
			background: url(/img/misc/load.gif) 100% 50% no-repeat;;
		}
	}
	.feedSwitch {
		position: absolute;
		top: 1px;
		right: 0px;
		z-index: 1;
	}

	.photoThumbs {
		display: inline-block;
		min-width: 270px;
	    text-align: left;
	}

	.photoPreview {
		&.addPhoto {
			color: #B9B9B9;
			opacity: 1;

			.plusPhoto {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -20px;
				margin-left: -30px;
				width: 62px;
				height: 16px;
				background-color: #B9B9B9;

				&::after {
					content: '';
					position: absolute;
					top: -23px;
					left: 23px;
					width: 16px;
					height: 62px;
					background-color: inherit;
				}
			}

			.desc {
				position: absolute;
				top: auto;
				left: 14px;
				right: 5px;
				bottom: 19%;
				text-align: center;
				font-size: 20px;
			}

			&:hover {
				color: @MainLigthColor;

				.plusPhoto {
					background-color: @MainLigthColor;
				}
			}

		}

		&.loadingPhoto {
			position: relative;
			visibility: visible;
			opacity: 1;
			text-align: center;
			color: #555E85;

			.loadPhoto {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 107px;
				margin-top: -10px;
				margin-left: -53px;
				padding-top: 10px;
				font-size: 14px;
				background-image: url(/img/misc/load.gif);
				background-position: 50% 0;
				background-repeat: no-repeat;
			}
		}
	}

	.count {
		position: absolute;
		display: block;
		right: 3px;
		bottom: 4px;
		min-width: 14px;
		padding: 0 2px 0 2px;
		font-size: 11px;
		line-height: 14px;
		color: #111;
		text-align: center;
		text-shadow: 1px 1px 0 #F0F0F0, -1px 1px 0 #F0F0F0, 1px -1px 0 #F0F0F0, -1px -1px 0 #F0F0F0;
		border: 1px solid #F0F0F0;
		background-color: rgba(255, 255, 255, .7);
		box-shadow: 0 1px 5px 1px #444;

		&::after {
			position: absolute;
			display: block;
			content: '';
			left: 20%;
			bottom: -4px;
			width: 0;
			height: 0;
			border-top: 4px solid #F0F0F0;
			border-right: 7px solid transparent;
		}

		&:hover {
			font-weight: bold;
			background-color: #fff;
			text-shadow: none;
		}
	}
	.photoPreview:hover .count{
		background-color: rgba(255, 255, 255, .9);
		color: #000;
		border-color: #fff;

		&::after {
			border-top-color: #fff;
		}
	}
}

//Chrome до 29 версии считает ширину для @media с вычитанием ширины скрола
//Правильная ширина - вместе с шириной скролла

//Задаем размеры шрифтов с перекрытием границ размеров изображений превью
@media (min-width: 1281px) and (max-width: 1540px) {
	.gallery {
		.photoPreview {
			font-size: 12px;
			padding-bottom: @PhotoTitleHeight - 3;

			&.addPhoto {
				.desc {
					font-size: 15px;
				}
			}
			.photoTitle {
				height: @PhotoTitleHeight - 3;
				padding: 0 0 0 2px;
				font-size: 15px;
				line-height: @PhotoTitleHeight - 3;
			}
		}
	}
}
@media (min-width: 900px) and (max-width: 1280px) {
	.gallery {
		.photoPreview {
			font-size: @fontSizeSmall;
			padding-bottom: @PhotoTitleHeight - 4;

			&.addPhoto {
				.desc {
					font-size: 13px;
				}
			}
			.photoTitle {
				height: @PhotoTitleHeight - 4;
				padding: 0 0 0 2px;
				font-size: 14px;
				line-height: @PhotoTitleHeight - 4;
			}
		}
	}
}
@media (max-width: 899px) {
	.gallery {
		.photoPreview {
			font-size: @fontSizeMini;
			padding-bottom: @PhotoTitleHeight - 5;

			&.addPhoto {
				.desc {
					font-size: 12px;
				}
			}
			.photoTitle {
				height: @PhotoTitleHeight - 5;
				padding: 0 0 0 1px;
				font-size: 13px;
				line-height: @PhotoTitleHeight - 5;
			}
		}
	}
}

//Задаем размеры отступов изображений превью
@media (min-width: 1000px) and (max-width: 1440px) {
	.gallery {
		.photoPreview {
			margin-left: 5px;
			margin-right: 5px;

			&.addPhoto {
				.plusPhoto {
					margin-top: -19px;
					margin-left: -26px;
					width: 52px;
					height: 14px;

					&::after {
						content: '';
						position: absolute;
						top: -19px;
						left: 19px;
						width: 14px;
						height: 52px;
					}
				}
			}
		}
	}
}

@media (max-width: 999px) {
	.gallery {
		.photoPreview {
			margin-left: 4px;
			margin-right: 4px;

			&.addPhoto {
				.plusPhoto {
					margin-top: -18px;
					margin-left: -21px;
					width: 41px;
					height: 12px;

					&::after {
						content: '';
						position: absolute;
						top: -15px;
						left: 15px;
						width: 12px;
						height: 41px;
					}
				}
			}
		}
	}
}