@import "../_vars.less";
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

.photo {
	position: relative;

	.photoTop {
		display: none;
		position: relative;
		min-height: 37px;
		margin-top: -37px;

		.photoAction {
			display: inline-block;

			button {
				min-width: 110px;
				margin-top: 3px;
				margin-bottom: 5px;
			}
		}
		.convertAction{
			.btn-strict.btnConvert {
				min-width: 45px;
				margin-left: 0;
				.box-shadow(~'1px 0 0 0 #000, 1px 1px 0 0 #000, 1px -1px 0 0 #000, 1px 2px 6px 0px #222');
			}
			.btn-strict.multiselect {
				min-width: 138px;
				margin-right: 0;
			}
			&.disabled .btn-strict {
				cursor: default;
				.opacity(65);
				.box-shadow(~'0 0 0 1px #000');
			}
		}
		.photoMsg {
			display: inline-block;
			vertical-align: middle;
		}
	}



	.photoData {
		width: auto;
		margin: 0 .5% 0 1.2%;
	}

	.photoImgRow {
		margin-bottom: 17px;
		text-align: center;
	}
	.photoImg {
		display: inline-block;
		max-width: 100%;
	}

	.photoInfoBlock {
		.photoInfo {
			margin-top: 0;
			margin-bottom: 0;
			text-align: justify;

			&:first-child {
				margin-top: 9px;
			}

			&.photoTitle {
				font-weight: bold;
				font-size: 18px;
				line-height: 20px;
				text-rendering: optimizelegibility;
			}

			.infoName, .editable {
				display: inline-block;
			}

			.infoName {
				margin-right: 5px;
				font-weight: bold;
			}
		}
	}

	.h_separator {
		margin: 12px 0 4px 0;
	}

	.rightPanel {
		float: right;
		zoom: 1;
		.row-fluid {
			margin-bottom: 7px;
		}
		.row-fluid:last-child {
			margin-bottom: 0;
		}
		.lineBehind {
			margin-bottom: 1px;
		}
	}

	.avatar {
		float: left;
		margin-right: 7px;
		overflow: hidden;
		cursor: pointer;

		img {
			min-width: 75px;
			max-width: 100px;
			min-height: 75px;
			max-height: 75px;
			opacity: 0;
		}
	}

	.photoMap {
		height: 500px;
	}

	.photoTiles {
		height: auto;
		white-space: nowrap;
		overflow: hidden;

		.photoTile {
			display: inline-block;
			visibility: hidden;
			opacity: 0.95;
			cursor: pointer;
			background-color: #E1E2E4;
			background-position: 50% 50%;
			background-repeat: no-repeat;

			&:last-child {
				margin-right: 0 !important;
			}

			&:hover {
				opacity: 1;
			}

			&.photoConvqueue {
				background-image: url(/img/misc/photoConvQueue.png);
			}
			&.photoConv {
				background-image: url(/img/misc/photoConv.png);
			}
			&.photoError {
				background-image: url(/img/misc/photoError.png);
			}
		}
	}

	.photoData {
		&.editMode {
			.photoInfoBlock {
				.photoInfo {
					&:not(:first-child) {
						margin-top: 5px;
					}

					div.editable {
						display: block;
					}

					.infoName {
						display: none;
					}
				}
			}
			select {
				margin-bottom: 4px;
				background-color: #F0F0F0;
				&:focus {
					background-color: #fdfdfd;
				}
			}
			.editable {
				padding: 0 3px;
				border: 1px solid #BDBDBD;
				background-color: #F0F0F0;

				&:hover {
					border-color: rgba(222, 176, 43, 0.56);
				}
				&:focus {
					background-color: #fdfdfd;
				}

				&.cap {
					color: #a0a0a0;

					&:hover {
						color: darken(#8d8d8d, 20%);
					}
					&:focus {
						color: #000;
					}
				}

			}
		}
	}
	.photoComments {
		clear: left;

		.media,
		.media .media {
			margin-top: 20px;
		}
		.media > .pull-left {
			margin-right: 8px;
		}
		.media-object {
			width: 48px;
			height: 48px;
		}

		.commentHead {
			line-height: 16px;
		}
		.author {
			display: inline-block;
			margin-right: 10px;
		}
		.stamp {
			display: inline-block;
			font-size: 14px;
		}
		.commentText {
			margin: 1px 0 0 0;
			min-height: 30px;
		}
	}
}

@media (max-width: 767px) {
	.photo {
		.photoData {
			margin: 0 3px;
		}
		.rightPanel {
			float: none;
		}
		.photoComments {
			clear: both;
		}
	}
}