p(style="margin-top: 0px; height: 49px; padding-left: 2px; background-color: #214A78; color: #F2F2F2;")
	img(src='cid:pastvulogo', style="width: 47px; height: 49px; float: left; margin-right: 5px; border-image-width: 0; border-width: 0px;")
	span(style="vertical-align: middle;")
		| Здравствуйте, #{username}!
		br
		= greeting