include head
p На момент отправки данного письма вашего внимания заслуживают следующие события:
if news.length
	p(style="margin-bottom: 0px;")
		strong Новости:
	each val in news
		li= val.title
if photos.length
	p(style="margin-bottom: 0px;")
		strong Фотографии:
	each val in photos
		li= val.title
p
	| Вы можете просмотреть ваши подписки на странице
	a(href=addr.protocol + '://' + addr.host + '/u/' + user.login + '/subscriptions', target='_blank')
		= ' ' + addr.host + '/u/' + user.login + '/subscriptions'