include head
p
	| Password recovery request was created for your PastVu account.
	br
	| If you didn't request it, just ignore this email.
p
	| Click on the following link to enter a new password:
	br
	a(href=config.client.origin + '/confirm/' + confirmKey, target='_blank')
		= config.client.host + '/confirm/' + confirmKey
	br
	small The link is valid for #{linkvalid}, after which you will need to request a password change again
