include head
p
	| Для Вашей учетной записи был создан запрос на восстановление пароля на проекте PastVu.
	br
	| Если Вы не производили таких действий на нашем сайте, то просто проигнорируйте и удалите письмо.
p
	| Для ввода нового пароля перейдите по следующей ссылке:
	br
	a(href=addr.protocol + '://' + addr.host + '/confirm/' + confirmKey, target='_blank')
		= addr.host + '/confirm/' + confirmKey
	br
	small Ссылка действительна #{linkvalid}, по истечении которых Вам будет необходимо запрашивать смену пароля повторно
