.conveyerModuleWrapper(data-bind="with: repository[M!M]")
	h4 Управление конвейером конвертаций фотографий
	.row-fluid
		.span2-3
			h6 Действия
		.span9-10
			h6 Текущее состояние конвейера
	br
	.row-fluid
		h6 Максимальная длина конвейера
		#conveyerLengthGraph
	br
	.row-fluid
		h6 Сконвертированно
		#conveyerConvertGraph