.conveyerModuleWrapper(data-bind="with: repository[M!M]")
	h4 Управление конвейером конвертаций фотографий
	.row-fluid
		.span2-3
			h5 Действия
		.span9-10
			h5 Текущее состояние конвейера
	.row-fluid
		h5 Максимальная длина конвейера
		#conveyerLengthGraph
	.row-fluid
		h5 Сконвертированно
		#conveyerConvertGraph