doctype 5
html
	include includes/head_meta
		link(rel="stylesheet", type="text/css", href="/style/admin.css?appv=" + appVersion)
		link(rel="stylesheet", type="text/css", href="js/lib/jquery/ui/smoothness/jquery-ui-1.8.21.custom.css")
		link(rel="stylesheet", type="text/css", href="js/lib/jquery/plugins/grid/ui.jqgrid.css")
		
		script(type='text/javascript',  data-main='/js/appAdmin.js', src='/js/lib/require/require.min.js')
	body
		include includes/top
		#users
			table#usersGrid
		include includes/auth