doctype 5
html
	include includes/head_meta
		link(rel="stylesheet", type="text/css", href="/style/admin.css?__=" + appHash)
		link(rel="stylesheet", type="text/css", href="js/lib/jquery/ui/smoothness/jquery-ui-1.8.21.custom.css")
		link(rel="stylesheet", type="text/css", href="js/lib/jquery/plugins/grid/ui.jqgrid.css?__=" + appHash)
		
		script(type='text/javascript',  src="/js/lib/require/require.min.js?__=" + appHash)
		script(type='text/javascript',  src="/js/appAdmin.js?__=" + appHash)
	body
		include includes/top
		#appVersion
			| Version: 
			= appVersion
		#users
			table#usersGrid
		include includes/auth