doctype 5
html
	include includes/head_meta
		include ../public/style/appstart.css
		include ../public/js/appstart.js
		if appLand === 'dev'
			include ../public/js/lib/require/require.js
			include ../public/js/_mainConfig.js

	body