doctype 5
html
	include includes/head_meta
		link(rel="stylesheet", type="text/css", href="/style/map_common.css?__=" + appHash)
		script(type="text/javascript", src="/js/lib/require/require.js?__=" + appHash)
		script(type="text/javascript", src="/js/_mainConfig.js?__=" + appHash)
		script(type="text/javascript", src="/js/mapstart.js?__=" + appHash)

	body