doctype 5
html
	head
		meta(http-equiv="content-type", content="text/html; charset=utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(http-equiv="cache-control", content="no-cache")
		meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=IE8")
		title= pageTitle
		
		link(rel="stylesheet", type="text/css", href="/style/map_common.css?__=" + appHash)
	body
		#hashContainer(style="display:none;")
			= appHash
		#main_loader
			#cnt
				#welcome_msg.
					Retro photo of humankind urbanization
				#loading_pics
					#l1
					#l2
					#l3
					#l4
					#l5
					#l6
					#l7
					#l8
					#l9
					#l10
				#bar
					#bar_fill
				#info_msg.
					loading, please wait
			.helper
		
		#main
			#map
			
			//include includes/top
			
			#nav_panel
				#mup.fringe.btn
					.inner_bord
				#mright.fringe.btn
					.inner_bord
				#mdown.fringe.btn
					.inner_bord
				#mleft.fringe.btn
					.inner_bord
				#mhome.fringe.btn
					.inner_bord
				#nav_pin_sub
				#nav_pin.fringe.btn
					.inner_bord
				#zoomin.fringe.btn.inout
					.inner_bord
				#zoomout.fringe.btn.inout
					.inner_bord
				#nav_stick.fringe
					.inner_bord
				#nav_slider_area

			#layers_fringe.fringe.gradientBack.
				<div id='layers_panel' class='inner_bord'>
					<div id='current' onclick="this.parentNode.classList.toggle('open');"></div>
					<div id='systems'></div>
				</div>
			
			include includes/auth
			
		script(type="text/javascript", src="/js/lib/require/require.min.js?__=" + appHash)
		script(type="text/javascript", src="/js/mapstart.js?__=" + appHash)