doctype 5
html
	include includes/head_meta
		link(rel="stylesheet", type="text/css", href="/style/common.css?__=" + appHash)
		script(type="text/javascript", src="/js/lib/require/require.min.js?__=" + appHash)
		script(type="text/javascript", src="/js/appUserSection.js?__=" + appHash)

	body.crystal