doctype 5
html
	head
		meta(http-equiv="content-type", content="text/html; charset=utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(http-equiv="cache-control", content="no-cache")
		meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=IE8")
		title= pageTitle
		link(rel="stylesheet", type="text/css", href="/style/normalize.css")
		link(rel="stylesheet", type="text/css", href="/style/style_common.css")
		script(type='text/javascript')
		script(type='text/javascript', src="js/jquery-1.7.2.min.js")
		script(type='text/javascript', src="js/flash_detect.js")
		script(type='text/javascript', src="js/Utils.js")
			
	body
		script(type='text/html', id="CamListTemplate").
			<div class='CamList' data-bind="style: {height: containerH()+'px'}, css: {scrolls: scrollActive()}">
				<div class='camListScroll up' data-bind="css: {noScroll: scrollTop()==0}, event: { mousedown: ScrollOnUp, touchstart: ScrollOnUp, mouseup: ScrollOff, touchend: ScrollOff }"></div>
				<div class='camListRowsWrapper' data-bind="style: {height: (containerH() - (scrollActive() ? 58 : 0))+'px'}, event: {mousewheel: OnWheel, DOMMouseScroll: OnWheel}">
					<div class='camListRows' data-bind="foreach: cams, style: {marginTop: scrollTop()+'px'}">
						<div class='CamListRow' data-bind="click: $parent.clickRow">
							<div class='CamIcon' data-bind="style: {backgroundImage: 'url('+icon+')'}"></div>
							<div class='CamContent'>
								<div class='CamName' data-bind="html: name"></div>.&nbsp;
								<div class='CamAddr' data-bind="text: address"></div>
								<div class='CamTools' data-bind="text: address"></div>
							</div>
						</div>
					</div>
				</div>
				<div class='camListScroll down' data-bind="css: {noScroll: scrollDownNoScroll()}, event: { mousedown: ScrollOnDown, touchstart: ScrollOnDown, mouseup: ScrollOff, touchend: ScrollOff }"></div>
			</div>
		div#main_loader.yell
			div#cnt
				div#welcome_msg.
					Retro photo of humankind urbanization
				div#loading_pics
					div#l1
					div#l2
					div#l3
					div#l4
					div#l5
					div#l6
					div#l7
					div#l8
					div#l9
					div#l10
				div#bar
					div#bar_fill
				div#info_msg.
					loading, please wait
				div#percent
			div.helper
		script(type='text/javascript')
			var main_loader = document.getElementById('main_loader'),
				main_loader_interval,// = window.setInterval(function(){main_loader.classList.toggle('yell');}, 600),
				allPercent = 100, //15% остается на выполнение app()
				onePercentW = ($('#bar').width())/100,
				l_pics = Array.prototype.splice.call(document.querySelector('#loading_pics').children, 0, 10).sort(function sRand() { return Math.random() > 0.5 ? 1 : -1;}),
				current_percent = 0,
				main_loader_percent = document.getElementById('percent'),
				main_loader_bar_fill = document.getElementById('bar_fill');
				
			function LoaderIncrement(delta, finish){
				delta = (allPercent > 100 ? Math.floor(delta*100/allPercent) : Math.floor(delta*allPercent/100));
				current_percent += delta;
				if (current_percent >= 100 || finish){
					current_percent = 100;
					window.clearInterval(ccc);
					main_loader.classList.add('green');
				}
				var dec = Math.floor(current_percent/10);
				for(var i=1; i<=dec; i++) l_pics[i-1].classList.add('finish');
				main_loader_percent.innerHTML = current_percent + '%';
				main_loader_bar_fill.style.width = current_percent*onePercentW + 'px';
			}
			LoaderIncrement(0);
			var ccc = window.setInterval(function(){LoaderIncrement(5)}, 50);
			function removeLoader(){
				main_loader.style.display = 'none';
				main_loader = main_loader_interval = main_loader_percent = main_loader_bar_fill = null;
			}