doctype 5
html
	include includes/head_meta		
		link(rel="stylesheet", type="text/css", href="/style/photoUpload.css?__=" + appHash)
		link(rel="stylesheet", type="text/css", href="http://blueimp.github.com/jQuery-File-Upload/css/jquery.fileupload-ui.css")
		
		script(type='text/javascript',  src="/js/lib/require/require.min.js?__=" + appHash)
		script(type='text/javascript',  src="/js/appPhotoUpload.js?__=" + appHash)
	body
		include includes/top
		.container-fluid
			#history
				.head My previous uploads
			#now
				.head Upload new photo
				.row.txt Choose photos from your computer by clicking on plus button or dragging the files on dashed area
				.row#upload
					.btn.btn-primary#fileinput-btn
						.icon-plus.icon-white
						span Add foto...
						input(type='file', name="files[]", multiple, data-bind="attr:{size: 200}")
					#addfiles_area.centering_content(data-bind="css: {hide: !filereader()}")
						#or.centering_content or
						span Drop them here
				.row
					.btn.btn-success.disabled
						.icon-ok-circle.icon-white
						span Upload all
					.btn.btn-warning.disabled
						.icon-remove-circle.icon-white
						span Cancel upload
					.btn.btn-danger.disabled
						.icon-trash.icon-white
						span Remove all

		include includes/auth