.bottomPanel(data-bind="with: repository[M!M]")
	//-.row-fluid
		span Новости:
	.row-fluid
		.navbar.catMenu
			.navbar-inner
				ul.nav(data-bind="foreach: cats")
					li(data-bind="css: {active: $data.id === $parent.catActive()}, click: $parent.catClickBind")
						a(data-bind="text: $data.name")
		.catContent(data-bind="template: {name: catActive() + 'Tpl'}")

	script(id="photosTpl", type="text/html")
		.row-fluid.photosNew(data-bind="foreach: photos")
			.photoThumb.fringe.plain
				.photoBox
					img(data-bind="attr: {src: $data.sfile}, event: {load: $parent.onThumbLoad, error: $parent.onThumbError}")
					.info.error
						i.icon-ban-circle.icon-white
						br
						| preview loading error
					a.ahref(data-bind="attr: {href: $data.link}")
				.photoTool(data-bind="text: $data.title")

	script(id="ratingsTpl", type="text/html")
		.row-fluid.ratings
			.span6
				.ratHead Рейтинг фотографий
				.row-fluid
					.span6
						.ratGroupHead По просмотрам
						.btn-group#pbyview
							button.btn.btn-small(data-time="day", data-bind="text: 'День', click: ratSelect, css: {active: ratings.pbyview.selected() === 'day'}")
							button.btn.btn-small(data-time="week", data-bind="text: 'Неделя', click: ratSelect, css: {active: ratings.pbyview.selected() === 'week'}")
							button.btn.btn-small(data-time="all", data-bind="text: 'Все', click: ratSelect, css: {active: ratings.pbyview.selected() === 'all'}")
						//ko template: { name: 'ratingsColumnTpl', foreach: ratings.pbyview[ratings.pbyview.selected()] }
						// /ko
					.span6
						.ratGroupHead По комментариям
						.btn-group#pbycomm
							button.btn.btn-small(data-time="day", data-bind="text: 'День', click: ratSelect, css: {active: ratings.pbycomm.selected() === 'day'}")
							button.btn.btn-small(data-time="week", data-bind="text: 'Неделя', click: ratSelect, css: {active: ratings.pbycomm.selected() === 'week'}")
							button.btn.btn-small(data-time="all", data-bind="text: 'Все', click: ratSelect, css: {active: ratings.pbycomm.selected() === 'all'}")
						//ko template: { name: 'ratingsColumnTpl', foreach: ratings.pbycomm[ratings.pbycomm.selected()] }
						// /ko
			.span6
				.ratHead Рейтинг пользователей
				.row-fluid
					.span6
						.ratGroupHead По комментариям
						.btn-group#pbyview
							button.btn.btn-small(data-time="day", data-bind="text: 'День', click: ratSelect, css: {active: ratings.pbyview.selected() === 'day'}")
							button.btn.btn-small(data-time="week", data-bind="text: 'Неделя', click: ratSelect, css: {active: ratings.pbyview.selected() === 'week'}")
							button.btn.btn-small(data-time="all", data-bind="text: 'Все', click: ratSelect, css: {active: ratings.pbyview.selected() === 'all'}")
						//ko template: { name: 'ratingsColumnTpl', foreach: ratings.pbyview[ratings.pbyview.selected()] }
						// /ko
					.span6
						.ratGroupHead По загрузкам
						.btn-group#pbycomm
							button.btn.btn-small(data-time="day", data-bind="text: 'День', click: ratSelect, css: {active: ratings.pbycomm.selected() === 'day'}")
							button.btn.btn-small(data-time="week", data-bind="text: 'Неделя', click: ratSelect, css: {active: ratings.pbycomm.selected() === 'week'}")
							button.btn.btn-small(data-time="all", data-bind="text: 'Все', click: ratSelect, css: {active: ratings.pbycomm.selected() === 'all'}")
						//ko template: { name: 'ratingsColumnTpl', foreach: ratings.pbycomm[ratings.pbycomm.selected()] }
						// /ko

	script(id="ratingsColumnTpl", type="text/html")
		a.row-fluid.ratElem(data-bind="attr: {href: $data.link}")
			img.ratPreview(data-bind="attr: {src: $data.sfile}")
			.ratName(data-bind="text: $data.title")
			.ratAmount(data-bind="text: $data.amount")