doctype html
html
    head
        link(rel="stylesheet", href="/style/common.css")
        link(rel="stylesheet", href="/style/api/main.css")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=Edge")
        meta(name="apple-mobile-web-app-capable", content="yes")
        title PastVu API
    body
        div.mainApi
            h3.titlelogo Welcome to PastVu API!
            p(style="margin-top: 20px")
                | See&nbsp;
                a(target="_blank", href="https://docs.pastvu.com/en/dev/api") API Reference
                |  for docs and usage examples.
            p
                | Administrative and geographic boundaries data: ©&nbsp;
                a(target="_blank", href="https://www.openstreetmap.org/copyright") OpenStreetMap contributors
                | .
