.user_brief(data-bind="with: repository[M!M]")
	.row-fluid
		.avatar.fringe
			img(data-bind="attr: {src: user.avatar()}, event: {load: onAvatarLoad, error: onAvatarError}")
			//-button.btn-strict.btn-strict-small#avatar_edit(type="button", data-bind="event: {}, style: {display: can_avatar() ? '' : 'none'}")
				i.icon-picture.icon-white
				span Change avatar
	//-.row-fluid(data-bind="style: {display:  can_pm() ? '': 'none'}")
		button.btn-strict(type="button", data-bind="event: {}")
			i.icon-envelope.icon-white
			span Send message
	.row-fluid.userName(data-bind="text: user.fullName()")
	//ko if: rn()
	.row-fluid.roleName(data-bind="text: rn(), css: rc()")
	// /ko
	.row-fluid.statBlock
		#info_common.block
			.head Commons
			.h_separator
			dl.dl-horizontal
				dt Registration:
				dd(data-bind="text: moment(user.regdate()).format('D MMMM YYYY')")
				dt Status:
				dd Offline
	.row-fluid.statBlock
		#short_stat.block
			.head Brief statistics
			.h_separator
			dl.dl-horizontal
				dt Photos uploaded:
				dd(data-bind="text: user.pcount()")
				//-dt Blogs created:
				//-dd(data-bind="text: user.bcount()")
				//-dt Favorite areas:
				//-dd 0
				dt Comments:
				dd(data-bind="text: user.ccount()")
	//#leftSideDash