.user_brief(data-bind="with: repository[M!M]")
	.row-fluid
		.avatar.fringe
			img(data-bind="attr: {src: user.avatar()}, event: {load: onAvatarLoad, error: onAvatarError}")
			//ko if:can_avatar()
			form.avaForm(method="POST", enctype="multipart/form-data")
				input.avatarLogin(type="hidden", name="login", readonly="1", data-bind="value: user.login()")
				input.avatarInput(type="file", name="avafile", data-bind="event: {change: avaChange}")
			button.btn-strict.btn-strict-small.avaSelect(onclick="$('.avatarInput').trigger('click');")
				i.icon-picture.icon-white
				span Сменить
			// /ko
	//-.row-fluid(data-bind="style: {display:  can_pm() ? '': 'none'}")
		button.btn-strict(type="button", data-bind="event: {}")
			i.icon-envelope.icon-white
			span Send message
	.row-fluid.userName(data-bind="text: user.disp()")
	//ko if: rn()
	.row-fluid.roleName(data-bind="text: rn(), css: rc()")
	// /ko
	.row-fluid.statBlock
		#info_common.block
			.head Общее
			.h_separator
			dl.dl-horizontal
				dt Регистрация:
				dd(data-bind="text: moment(user.regdate()).format('D MMMM YYYY')")
				dt Статус:
				dd Оффлайн
	.row-fluid.statBlock
		#short_stat.block
			.head Краткая статистика
			.h_separator
			dl.dl-horizontal
				dt Фотографий:
				dd(data-bind="text: user.pcount()")
				//-dt Blogs created:
				//-dd(data-bind="text: user.bcount()")
				//-dt Favorite areas:
				//-dd 0
				dt Комментариев:
				dd(data-bind="text: user.ccount()")
	//#leftSideDash