.comments(data-bind="with: repository[M!M]")
    h4(data-bind="text: itsMe()?'Your comments':'User comments'")
    ul.nav.nav-tabs
        li(data-bind="css: {active: type() === 'photo'}")
            a(data-bind="attr: {href: pageUrl()}, text: 'For photos [' + types['photo_persist']() + ']'")
        li(data-bind="css: {active: type() === 'news'}")
            a(data-bind="attr: {href: pageUrl() + '?type=news'}, text: 'For news [' + types['news_persist']() + ']'")
    .navContent
        .row
            .col-xs-6.col-md-3.topcol
                span.brief(data-bind="css: {pageLoading: loadingComments()}, html: briefText")
            .col-xs-12.col-md-6.pag(data-bind="style: {visibility: paginationShow() ? 'visible' : 'hidden'}, template: {name: 'pagerTpl'}")
        .commentsList(data-bind="template: {name: type() + 'CommentsTpl', foreach: comments}")
        .pag(data-bind="style: {visibility: paginationShow() ? 'visible' : 'hidden'}, template: {name: 'pagerTpl'}")

    | <script id="photoCommentsTpl" type="text/html">
    .comment.clearfix
        .photoPreview.withStatus.fringe(data-bind="attr: {title: $data.obj.title}, css: 's'+$data.obj.s")
            a.photoBox(data-bind="attr: {href: $data.obj.link}")
                img.img(data-bind="attr: {src: $data.obj.sfile, alt: $data.obj.title}, event: {load: $parent.onPreviewLoad, error: $parent.onPreviewErr}")
                .curtain
                //ko if: $data.obj.status.icon
                .status.fringe(data-bind="attr: {title: $data.obj.status.tip}")
                    span.glyphicon(data-bind="css: $data.obj.status.icon")
                // /ko
                //ko if: $data.obj.my
                .status.upper.mine.fringe(title="It is your photo")
                    span.glyphicon.glyphicon-user
                // /ko
        .commentHead
            a.photoName(data-bind="attr: {href: $data.obj.link}, html: $data.obj.title")
            .dotDelimeter 路
            a.commentStamp(data-bind="attr: {href: $data.link}, text: moment($data.stamp).calendar()")
            //ko if: $data.lastChanged
            .dotDelimeter 路
            .commentChanged(title="Show history of changes", data-bind="text: 'Changed at ' + moment($data.lastChanged).calendar().toLowerCase(), click: function () {$parent.showHistory($data.cid)}")
            // /ko
        a.commentText(data-bind="attr: {href: $data.link}, html: $data.txt")
    | </script>

    | <script id="newsCommentsTpl" type="text/html">
    .comment.clearfix
        .commentHead
            a.photoName(data-bind="attr: {href: $data.obj.link}, text: $data.obj.cid + '. ' + $data.obj.title")
            .dotDelimeter 路
            a.commentStamp(data-bind="attr: {href: $data.link}, text: moment($data.stamp).calendar()")
            //ko if: $data.lastChanged
            .dotDelimeter 路
            .commentChanged(title="Show history of changes", data-bind="text: 'Changed at ' + moment($data.lastChanged).calendar().toLowerCase(), click: function () {$parent.showHistory($data.cid)}")
            // /ko
        a.commentText(style="margin-left:29px", data-bind="attr: {href: $data.link}, html: $data.txt")
    | </script>

    | <script id="pagerTpl" type="text/html">
    ul.pagination
        li.edge(data-bind="css: {disabled: page() === 1}"): a(data-bind="attr: {href: pageUrl() + pageQuery()}", title="First page") &laquo;&laquo;
        li.edge(data-bind="css: {disabled: !pageHasPrev()}"): a(data-bind="attr: {href: pageUrl() + (page() > 1 ? '/' + (page() - 1) : '')+ pageQuery()}", title="Previous page") &laquo;
        //ko foreach: pages
        li(data-bind="css: {active: $data === $parent.page()}"): a(data-bind="attr: {href: $parent.pageUrl() + '/' + $data + $parent.pageQuery()}, text: $data")
        // /ko
        li.edge(data-bind="css: {disabled: !pageHasNext()}"): a(data-bind="attr: {href: pageUrl() + '/' + (page() + 1) + pageQuery()}", title="Next page") &raquo;
        li.edge(data-bind="css: {disabled: page() === pageLast()}"): a(data-bind="attr: {href: pageUrl() + '/' + pageLast() + pageQuery()}", title="Last page") &raquo;&raquo;
    | </script>