.user_photo(data-bind="with: repository[M!M]")
	.photoThumbs
		//ko if: canAdd()
		a.photoPreview.withTitle.fringe.addPhoto(href="/photoUpload", data-bind="style: {width: width, height: height}")
			.plusPhoto
			.desc Добавить фото..
		// /ko
		//ko foreach: photos
		a.photoPreview.withStatus.withTitle.fringe(target='_blank', data-bind="attr: {href: '/p/' + cid}, css: {'pFresh': $data.fresh, 'pDis': $data.disabled, 'pDel': $data.del}")
			.photoBox
				img.img(data-bind="attr: {src: sfile}, event: {load: $parent.onPreviewLoad, error: $parent.onPreviewErr}, style: {width: $parent.width, height: $parent.height}")
				.curtain
				//ko if: $data.noPublic
				i.icon-white.fringe.status(data-bind="css: {'icon-asterisk': fresh && !ready, 'icon-flag': fresh && ready, 'icon-lock': disabled, 'icon-trash': del}, attr: {title: fresh ? (ready ? 'Новая. Ждет подтверждения' : 'Новая фотография') : (disabled ? 'Фотография неактивна' : 'Фотография удалена')}")
				// /ko
			.photoTitle(data-bind="text: title")
		// /ko
		.photoPreview.withTitle.loadingPhoto(data-bind="style: {visibility: loadingPhoto() ? 'visible' : 'hidden', width: width, height: height}")
			.loadPhoto Loading next
	.photoUploadCurtain
		.photoUploadModal.fringe(data-bind="style: {maxWidth: 4 * $root.P.window.w() / 5 + 'px'}")
			.modalTools.fringe
				span.modalCaption Upload photo
				a.off(data-bind="attr: {href: '/u/' + u.login() + '/photo'}")
					i.icon-off.icon-white
			.modalContainer(data-bind="style: {maxHeight: $root.P.window.h() - 120 + 'px'}")
			.modalFoot
				a.btn-strict.btn-strict-small(data-bind="attr: {href: '/u/' + u.login() + '/photo'}")
					i.icon-ok.icon-white
					span(data-bind="text: 'Ok'")