.user_manage(data-bind="with: repository[M!M]")
    .panel-group#accordion
        .panel.panel-pastvu
            .panel-heading: .panel-title
                a.accordion-toggle(data-toggle="collapse", href="#credentials", data-bind="text: $root.i18n('Полномочия')")
            .panel-collapse.collapse.in#credentials: .panel-body
                form
                    .form-group
                        .col-xs-12(data-bind="foreach: roles"): label.radio-inline
                            input(type="radio", name="credent_radios", data-bind="attr: {value: $data.cat}, checked: $parent.roleCategory")
                            span(data-bind="text: $root.i18n($data.name)")
                    //ko if: roleCategory() === 'mod'
                    .form-group: .col-xs-12
                        .checkbox: label
                            input(type="checkbox", value = '5', data-bind="checked: role")
                            span(data-bind="text: $root.i18n('Региональный:') + ' '")
                            //ko if: !regions().length
                            span.region
                                span.glyphicon.glyphicon-globe
                                span(data-bind="text: ' ' + $root.i18n('Весь мир')")
                            // /ko
                            //ko foreach: regions
                            span.region.candrop(data-bind="click: function() {$parent.regionDrop($data.cid);}, attr: {title: $root.i18n('Убрать регион')}")
                                span(data-bind="text: $root.regionTitle($data)")
                            // /ko
                            span.regionEdit(data-bind="click: regionSelect")
                                span.glyphicon.glyphicon-pencil
                                span(data-bind="text: $root.i18n('Изменить')")
                        .checkbox: label
                            input(type="checkbox", disabled)
                            span(data-bind="text: ' ' + $root.i18n('Языковой')")

                    // /ko
                    //ko if: credentialsChanged()
                    .form-group: .col-xs-12
                        button.btn.btn-sm.btn-success(type="button", data-bind="event: {click: saveCredentials}, attr: {disabled: exe()}")
                            span.glyphicon.glyphicon-ok
                            span(data-bind="text: ' ' + $root.i18n('Сохранить полномочия')")
                        button.btn.btn-sm.btn-danger(type="button", data-bind="event: {click: cancelCredentials}, attr: {disabled: exe()}")
                            span.glyphicon.glyphicon-remove
                            span(data-bind="text: ' ' + $root.i18n('Отмена')")
                    // /ko

        .panel.panel-pastvu
            .panel-heading: .panel-title
                a.accordion-toggle(data-toggle="collapse", href="#restrictions", data-bind="text: $root.i18n('Права и ограничения')")
            .panel-collapse.collapse.in#restrictions: .panel-body
                dl.dl-horizontal
                    dt.helpexists
                        .help.tltp-wrap
                            span.glyphicon.glyphicon-info-sign
                            .tltp.tltp-top.tltp-animate-move(data-bind="html: $root.i18n('Разрешать заходить на сайт под своим именем.<br>Будет разлогинен если в данный момент онлайн')")
                        span(data-bind="text: ' ' + $root.i18n('Может логиниться')")
                    dd
                        .btn-group.btn-group-sm
                            button.btn.btn-primary.yes(type="button", data-bind="css: {active: !u.nologin()}, click: changenologin, text: $root.i18n('Да')")
                            button.btn.btn-primary.no(type="button", data-bind="css: {active: u.nologin()}, click: changenologin, text: $root.i18n('Нет')")
                dl.dl-horizontal
                    dt.helpexists
                        .help.tltp-wrap
                            span.glyphicon.glyphicon-info-sign
                            .tltp.tltp-top.tltp-animate-move(data-bind="html: $root.i18n('Разрешать изменять информацию на странице профиля<br>и менять свою аватарку')")
                        span(data-bind="text: ' ' + $root.i18n('Может редактировать свой профиль')")
                    dd
                        .btn-group.btn-group-sm
                            button.btn.btn-primary.yes(type="button", data-bind="css: {active: !u.noprofile()}, click: changenoprofile, text: $root.i18n('Да')")
                            button.btn.btn-primary.no(type="button", data-bind="css: {active: u.noprofile()}, click: changenoprofile, text: $root.i18n('Нет')")
                dl.dl-horizontal
                    dt.helpexists
                        .help.tltp-wrap
                            span.glyphicon.glyphicon-info-sign
                            .tltp.tltp-top.tltp-animate-move(data-bind="text: $root.i18n('Разрешать загружать фотографии')")
                        span(data-bind="text: ' ' + $root.i18n('Может загружать фотографии')")
                    dd
                        .btn-group.btn-group-sm
                            button.btn.btn-primary.yes(type="button", data-bind="css: {active: !u.nophotoupload()}, click: changenophotoupload, text: $root.i18n('Да')")
                            button.btn.btn-primary.no(type="button", data-bind="css: {active: u.nophotoupload()}, click: changenophotoupload, text: $root.i18n('Нет')")
                dl.dl-horizontal
                    dt.helpexists
                        .help.tltp-wrap
                            span.glyphicon.glyphicon-info-sign
                            .tltp.tltp-top.tltp-animate-move(data-bind="text: $root.i18n('Разрешать редактировать фотографии')")
                        span(data-bind="text: ' ' + $root.i18n('Может редактировать свои фотографии')")
                    dd
                        .btn-group.btn-group-sm
                            button.btn.btn-primary.yes(type="button", data-bind="css: {active: !u.nophotoedit()}, click: changenophotoedit, text: $root.i18n('Да')")
                            button.btn.btn-primary.no(type="button", data-bind="css: {active: u.nophotoedit()}, click: changenophotoedit, text: $root.i18n('Нет')")
                        p.text-muted(style="padding:6px 0 0 6px;line-height:1.1;font-size:11px;")
                            sup(style="margin-left:-6px;") *
                            span(data-bind="text: ' ' + $root.i18n('Пользователь сможет редактировать свои \"Новые\" и фотографии \"На доработке\" всегда, даже с выбранной опцией Нет')")
                dl.dl-horizontal
                    dt.helpexists
                        .help.tltp-wrap
                            span.glyphicon.glyphicon-info-sign
                            .tltp.tltp-top.tltp-animate-move(data-bind="html: $root.i18n('Разрешать пользователю отзывать еще неопубликованную фотографию,<br>и удалять деактивированную')")
                        span(data-bind="html: ' ' + $root.i18n('Может деактивировать<br>и удалять свои фотографии')")
                    dd
                        .btn-group.btn-group-sm
                            button.btn.btn-primary.yes(type="button", data-bind="css: {active: !u.nophotostatus()}, click: changenophotostatus, text: $root.i18n('Да')")
                            button.btn.btn-primary.no(type="button", data-bind="css: {active: u.nophotostatus()}, click: changenophotostatus, text: $root.i18n('Нет')")
                        p.text-muted(style="padding:6px 0 0 6px;line-height:1.1;font-size:11px;")
                            sup(style="margin-left:-6px;") *
                            span(data-bind="text: ' ' + $root.i18n('Пользователь сможет отправлять на публикацию свои \"Новые\" и фотографии \"На доработке\" всегда, даже с выбранной опцией Нет')")
                dl.dl-horizontal
                    dt.helpexists
                        .help.tltp-wrap
                            span.glyphicon.glyphicon-info-sign
                            .tltp.tltp-top.tltp-animate-move(data-bind="html: $root.i18n('Разрешать менять подпись на своих фотографиях,<br>управлять настройками скачивания оригинала и<br>отправлять свои фотографии на переконвертацию')")
                        span(data-bind="text: ' ' + $root.i18n('Может менять вотермарк и правила скачивания')")
                    dd
                        .btn-group.btn-group-sm
                            button.btn.btn-primary.yes(type="button", data-bind="css: {active: !u.nowaterchange()}, click: changewaterchange, text: $root.i18n('Да')")
                            button.btn.btn-primary.no(type="button", data-bind="css: {active: u.nowaterchange()}, click: changewaterchange, text: $root.i18n('Нет')")
                        p.text-muted(style="padding:6px 0 0 6px;line-height:1.1;font-size:11px;")
                            sup(style="margin-left:-6px;") *
                            span(data-bind="text: ' ' + $root.i18n('Это глобальная настройка для пользователя, действующая на возможность изменения им соответствующих настроек в профиле и индивидуальных настроек в каждой фотографии. При этом в каждой фотографии можно запретить/разрешить это индивидуально')")
                dl.dl-horizontal
                    dt.helpexists
                        .help.tltp-wrap
                            span.glyphicon.glyphicon-info-sign
                            .tltp.tltp-top.tltp-animate-move(data-bind="html: $root.i18n('Разрешать добавлять комментарии,<br>и редактировать уже добавленные')")
                        span(data-bind="text: ' ' + $root.i18n('Может оставлять комментарии')")
                    dd
                        .btn-group.btn-group-sm
                            button.btn.btn-primary.yes(type="button", data-bind="css: {active: !u.nocomments()}, click: changenocomments, text: $root.i18n('Да')")
                            button.btn.btn-primary.no(type="button", data-bind="css: {active: u.nocomments()}, click: changenocomments, text: $root.i18n('Нет')")


        .panel.panel-pastvu
            .panel-heading: .panel-title
                a.accordion-toggle(data-toggle="collapse", href="#ranks", data-bind="text: $root.i18n('Специальные настройки')")
            .panel-collapse.collapse.in#ranks: .panel-body
                .setTitle(data-bind="text: $root.i18n('Присваиваемые звания')")
                form: .form-group
                    //ko foreach: ranks
                    label.checkbox-inline
                        input(type="checkbox", data-bind="attr: {value: $data.key}, checked: $parent.u.ranks")
                        span(data-bind="text: $root.i18n($data.desc)")
                    // /ko

                .setTitle(data-bind="text: $root.i18n('Лимит количества неподтвержденных фотографий')")
                div(data-bind="html: $root.i18n('Действующая настройка: <b>{{count, number}}</b>', {count: photoNewLimitOrigin()})", style="margin-bottom: 2px;")
                .calcInfo(data-bind="html: $root.i18n('Доступный лимит: <b>{{count, number}}</b>', {count: photoNewCan()})")
                .calcInfo(data-bind="html: $root.i18n('Всего неподтвержденных: <b>{{count, number}}</b>', {count: u.pfcount()})")
                .calcInfo(data-bind="html: $root.i18n('Всего опубликованных: <b>{{count, number}}</b>', {count: u.pcount()})")
                form.form-inline(style="margin-top: 7px;"): .form-group
                    .radio: label.radio-inline
                        input(type="radio", value="auto", name="photo_new_radios", data-bind="checked: photoNewLimitOption")
                        span(data-bind="text: ' ' + $root.i18n('Авто')")
                    .radio: label.radio-inline
                        input(type="radio", value="manual", name="photo_new_radios", data-bind="checked: photoNewLimitOption")
                        span(data-bind="text: ' ' + $root.i18n('Вручную')")
                    .form-group
                        input.form-control.input-sm.photoLimit(type="text", maxlength="5", pattern="[0-9]{1,5}", data-bind="value: photoNewLimit, valueUpdate: 'keyup', attr: {disabled: photoNewLimitOption() === 'auto', title: $root.i18n('Число от 0 до 10000')}, css: {}")