.user_manage(data-bind="with: repository[M!M]")
	.panel-group#accordion
		.panel.panel-pastvu
			.panel-heading
				.panel-title
					a.accordion-toggle(data-toggle="collapse", href="#ranks") Присваиваемые звания
			.panel-collapse.collapse.in#ranks
				.panel-body
					form(data-bind="foreach: ranks")
						label.checkbox-inline
							input(type="checkbox", data-bind="attr: {value: $data.key}, checked: $parent.u.ranks")
							span(data-bind="text: $data.desc")