.user_photoUpload(data-bind="with: repository[M!M]")
	.row.text-danger(style="margin-bottom: 5px;")
		| Внимание! Временно принимаются только фотографии в пределах Московской и Ленинградской областей, остальные будут отклонены. Подробности&nbsp;
		a(target="_blank", href="/news/85") здесь
	.row.toptext(data-bind="html: toptext()")

	//ko if: canLoad()
	form(id="fileupload", method="POST", enctype="multipart/form-data")
		.row#addFiles
			span.btn-strict#fileinput-btn
				i.icon-plus.icon-white
				span Добавить...
				input(id="fileupload2", type="file", name="files[]", multiple, data-bind="fileUploadInput: true")
			.addfiles_area.centering_content(data-bind="css: {hide: !filereader()}")
				#or.centering_content или
				span Перетащите фотографии сюда
				#dropzone

	//ko if: canCount() < Infinity
	.canCount(data-bind="text: 'Вы можете добавить еще ' + canCount() + ' фото'")
	// /ko

	.row(data-bind="style: {display: fileList().length > 0 ? '' : 'none'}")
		.allprogress(data-bind="style: {visibility: filesUploading()? 'visible' : 'hidden'}")
			.progress.progress-striped.active
				.bar(data-bind="style: {width: fileProgressAll() + '%'}")
			.extText(data-bind="text: fileProgressAllText()")
		table.table.table-striped.table-hover.filesTable
			caption Добавленные фотографии
			tbody
				//ko foreach: fileList
				tr
					td.preview
						div.forcanvas(data-bind="attr: {'data-fileuid': ext.uid}, css: {noValid: !ext.valid, tooBig: ext.tooBigPreview}")
							//ko if: ext.tooBigPreview
							.msg Слишком большая для превью
							// /ko
					td.desc
						div(data-bind="text: name")
						//ko if: ext.valid
						div(data-bind="text: ext.humansize")
						// /ko
						div.fileMsg(data-bind="text: ext.msg(), css: ext.msgCss()")
						//ko if: ext.valid
						.progress.progress-striped.progress-success.active(data-bind="style: {visibility: ext.uploading()? 'visible' : 'hidden'}")
							.bar(data-bind="style: {width: ext.progress() + '%'}")
						// /ko
					td.fileButtons
						//ko if: ext.valid && !$parent.options.auto && !ext.uploaded()
						button.btn-strict.btn-strict-success(data-bind="click: function () {$parent.startFile($data)}, attr: {disabled: ext.uploading()}")
							i.icon-upload.icon-white
							span Загрузить
						// /ko
						button.btn-strict(data-bind="click: function () {$parent.cancelFile($data)}, css: {'btn-strict-warning': !ext.uploaded(), 'btn-strict-danger': ext.uploaded()}")
							i.icon-white(data-bind="css: {'icon-ban-circle': !ext.uploaded(), 'icon-remove-circle': ext.uploaded()}")
							span(data-bind="text: ext.uploaded() ? 'Удалить' : 'Отменить'")
				// /ko
	// /ko