.user_photoUpload(data-bind="with: repository[M!M]")
    //-.text-danger(style="margin-bottom: 5px;")
        | Внимание! Временно принимаются только фотографии в пределах России, Белоруссии и УкраиныСНГ, остальные будут отклонены. Подробности&nbsp;
        a(target="_blank", href="/news/97") здесь
    .toptext(data-bind="html: toptext()")

    //ko if: canLoad()
    .warn(style="font-size: 12px; color: #A57A30;")
        | According&nbsp;
        a(href="/rules") the Rules
        | , these kind of photos will be allowed for publishing:
        br
        | Filmed up to 2000 year, having historical value and display the subject in a unique angle or time
    form.uploadForm(method="POST", enctype="multipart/form-data")
        #addFiles
            input.fileInput(type="file", name="files[]", accept="image/*", multiple)
            button.btn.btn-primary.fileSelect(data-bind="click: selectFile")
                span.glyphicon.glyphicon-plus
                |  Add...
            .addfiles_area.centering_content(data-bind="css: {hide: !filereader()}")
                #or.centering_content or
                span Drag photo here
                #dropzone

    //-Отображаем возможное кол-во к загрузке, если менее 50 разрешено
    //ko if: canCount() < 50
    .canCount(data-bind="text: 'You can add another ' + canCount() + ' photos'")
    // /ko

    div(data-bind="style: {display: fileList().length > 0 ? '' : 'none'}")
        .allprogress(data-bind="style: {visibility: filesUploading()? 'visible' : 'hidden'}")
            .progress.progress-striped.active
                .progress-bar(data-bind="style: {width: fileProgressAll() + '%'}")
            .extText(data-bind="text: fileProgressAllText()")
        table.table.table-striped.table-hover.filesTable
            caption Added photos
            tbody
                //ko foreach: fileList
                tr
                    td.preview
                        div.forcanvas(data-bind="attr: {'data-fileuid': ext.uid}, css: {noValid: !ext.valid, tooBig: ext.tooBigPreview}")
                            //ko if: ext.tooBigPreview
                            .msg Too big for preview
                            // /ko
                    td.desc
                        div(data-bind="text: name")
                        //ko if: ext.valid
                        div(data-bind="text: ext.humansize")
                        // /ko
                        div.fileMsg(data-bind="text: ext.msg(), css: ext.msgCss()")
                        //ko if: ext.valid
                        .progress.progress-striped.active(data-bind="style: {visibility: ext.uploading()? 'visible' : 'hidden'}")
                            .progress-bar.progress-bar-success(data-bind="style: {width: ext.progress() + '%'}")
                        // /ko
                    td.fileButtons
                        //ko if: ext.valid && !$parent.options.auto && !ext.uploaded()
                        button.btn.btn-success(data-bind="click: function () {$parent.startFile($data)}, css: {disabled: ext.uploading()}, attr: {disabled: ext.uploading()}")
                            span.glyphicon.glyphicon-upload
                            |  Upload
                        // /ko
                        button.btn(data-bind="click: function () {$parent.cancelFile($data)}, css: {'btn-warning': !ext.uploaded(), 'btn-danger': ext.uploaded()}")
                            span.glyphicon(data-bind="css: {'glyphicon-ban-circle': !ext.uploaded(), 'glyphicon-remove-circle': ext.uploaded()}")
                            span(data-bind="text: ext.uploaded() ? ' Remove' : ' Cancel'")
                // /ko
    // /ko