.user_session(data-bind="with: repository[M!M]")
    dl.dl-horizontal
        dt(data-bind="text: $root.i18n('First activity:')")
        dd(data-bind="text: $root.i18n('datetime_full', {date: new Date(session.created)})")
        //ko if: !session.sockets
        dt(data-bind="text: $root.i18n('Last activity:')")
        dd(data-bind="text: $root.i18n('datetime_full', {date: new Date(session.stamp)})")
        // /ko
        //ko if: session.lang
        dt(data-bind="text: $root.i18n('Language:')")
        dd(data-bind="text: session.lang")
        // /ko
        //ko if: session.sockets
        dt(data-bind="text: $root.i18n('Open tabs:')")
        dd(data-bind="text: $root.intl.num(session.sockets)")
        // /ko
        dt
            span(data-bind="text: $root.i18n('IP addresses:')")
            //ko if: session.ips.length > 2
            br
            .btn-group.btn-group-sm(style="margin:3px")
                button.btn.btn-primary.yes(type="button", data-bind="css: {active: !ipsHist()}, click: toggleIPs, text: $root.i18n('Unique')")
                button.btn.btn-primary.no(type="button", data-bind="css: {active: ipsHist()}, click: toggleIPs, text: $root.i18n('History')")
            // /ko
        dd
            // ko if: session.ips.length === 101
            div(data-bind="text: $root.i18n('Earlier addresses may have been dropped')")
            // /ko
            //ko foreach: ips
            div
                span.ip(data-bind="text: $data.ip")
                //ko if: $parent.ipsHist() && $data.off
                span(data-bind="text: ' ' + $root.i18n('(until {{date, datetime(dateStyle: short; timeStyle: medium; hourCycle: h23)}})', {date: new Date($data.off)})")
                // /ko
                //ko if: $data.ip === $parent.ipLast && (!$parent.ipsHist() || !$data.off)
                i(data-bind="text: ' ' + $root.i18n($parent.online ? '(current address)' : '(last address)')")
                // /ko
            // /ko
        dt(data-bind="text: $root.i18n('Clients:')")
        dd
            // ko if: session.agents.length === 101
            div(data-bind="text: $root.i18n('Earlier clients may have been dropped')")
            // /ko
            //ko foreach: session.agents
            .versions
                //ko if: $data.device
                strong(data-bind="text: $data.device")
                .dotDelimeter ·
                // /ko
                //ko if: $data.os
                strong(data-bind="text: $data.os")
                .dotDelimeter ·
                // /ko
                //ko if: $data.browser
                span(data-bind="text: $data.browser")
                // /ko
                //ko if: $data.off
                span(data-bind="text: ' ' + $root.i18n('(until {{date, datetime(dateStyle: short; timeStyle: medium; hourCycle: h23)}})', {date: new Date($data.off)})")
                // /ko
                //ko if: !$data.off
                i(data-bind="text: ' ' + $root.i18n($parent.online ? '(current client)' : '(last client)')")
                // /ko
            // /ko
