.user_session(data-bind="with: repository[M!M]")
    dl.dl-horizontal
        dt(data-bind="text: $root.i18n('Первая активность:')")
        dd(data-bind="text: $root.intl.dateFull(session.created)")
        //ko if: !session.sockets
        dt(data-bind="text: $root.i18n('Последняя активность:')")
        dd(data-bind="text: $root.intl.dateFull(session.stamp)")
        // /ko
        //ko if: session.lang
        dt(data-bind="text: $root.i18n('Язык:')")
        dd(data-bind="text: session.lang")
        // /ko
        //ko if: session.sockets
        dt(data-bind="text: $root.i18n('Количество вкладок:')")
        dd(data-bind="text: $root.intl.num(session.sockets)")
        // /ko
        dt
            span(data-bind="text: $root.i18n('IP адреса:')")
            //ko if: session.ips.length > 2
            br
            .btn-group.btn-group-sm(style="margin:3px")
                button.btn.btn-primary.yes(type="button", data-bind="css: {active: !ipsHist()}, click: toggleIPs, text: $root.i18n('Уникальные')")
                button.btn.btn-primary.no(type="button", data-bind="css: {active: ipsHist()}, click: toggleIPs, text: $root.i18n('История')")
            // /ko
        dd
            // ko if: session.ips.length === 101
            div(data-bind="text: $root.i18n('Предыдущие адреса возможно были отброшены')")
            // /ko
            //ko foreach: ips
            div
                span.ip(data-bind="text: $data.ip")
                //ko if: $parent.ipsHist() && $data.off
                span(data-bind="text: ' ' + $root.i18n('(до {{date}})', {date: $root.intl.dateFullDigit($data.off)})")
                // /ko
                //ko if: $data.ip === $parent.ipLast && (!$parent.ipsHist() || !$data.off)
                i(data-bind="text: ' ' + $root.i18n($parent.online ? '(текущий адрес)' : '(последний адрес)')")
                // /ko
            // /ko
        dt(data-bind="text: $root.i18n('Клиенты:')")
        dd
            // ko if: session.agents.length === 101
            div(data-bind="text: $root.i18n('Предыдущие клиенты возможно были отброшены')")
            // /ko
            //ko foreach: session.agents
            .versions
                //ko if: $data.device
                strong(data-bind="text: $data.device")
                .dotDelimeter ·
                // /ko
                //ko if: $data.os
                strong(data-bind="text: $data.os")
                .dotDelimeter ·
                // /ko
                //ko if: $data.browser
                span(data-bind="text: $data.browser")
                // /ko
                //ko if: $data.off
                span(data-bind="text: ' ' + $root.i18n('(до {{date}})', {date: $root.intl.dateFullDigit($data.off)})")
                // /ko
                //ko if: !$data.off
                i(data-bind="text: ' ' + $root.i18n($parent.online ? '(текущий клиент)' : '(последний клиент)')")
                // /ko
            // /ko
