.user_session(data-bind="with: repository[M!M]")
    dl.dl-horizontal
        dt Первая активность:
        dd(data-bind="text: $root.intl.dateFull(session.created)")
        //ko if: !session.sockets
        dt Последняя активность:
        dd(data-bind="text: $root.intl.dateFull(session.stamp)")
        // /ko
        //ko if: session.lang
        dt Язык:
        dd(data-bind="text: session.lang")
        // /ko
        //ko if: session.sockets
        dt Количество вкладок:
        dd(data-bind="text: $root.intl.num(session.sockets)")
        // /ko
        dt
            | IP адреса:
            //ko if: session.ips.length > 2
            br
            .btn-group.btn-group-sm(style="margin:3px")
                button.btn.btn-primary.yes(type="button", data-bind="css: {active: !ipsHist()}, click: toggleIPs") Уникальные
                button.btn.btn-primary.no(type="button", data-bind="css: {active: ipsHist()}, click: toggleIPs") История
            // /ko
        dd
            // ko if: session.ips.length === 101
            div Предыдущие адреса возможно были отброшены
            // /ko
            //ko foreach: ips
            div
                span.ip(data-bind="text: $data.ip")
                //ko if: $parent.ipsHist() && $data.off
                span(data-bind="text: ' (до ' + $root.intl.dateFullDigit($data.off) + ')'")
                // /ko
                //ko if: $data.ip === $parent.ipLast && (!$parent.ipsHist() || !$data.off)
                i(data-bind="text: $parent.online ? ' (текущий адрес)' : ' ( последний адрес)'")
                // /ko
            // /ko
        dt Клиенты:
        dd
            // ko if: session.agents.length === 101
            div Предыдущие клиенты возможно были отброшены
            // /ko
            //ko foreach: session.agents
            .versions
                //ko if: $data.device
                strong(data-bind="text: $data.device")
                .dotDelimeter ·
                // /ko
                //ko if: $data.os
                strong(data-bind="text: $data.os")
                .dotDelimeter ·
                // /ko
                //ko if: $data.browser
                span(data-bind="text: $data.browser")
                // /ko
                //ko if: $data.off
                span(data-bind="text: ' (до ' + $root.intl.dateFullDigit($data.off) + ')'")
                // /ko
                //ko if: !$data.off
                i(data-bind="text: $parent.online ? ' (текущий клиент)' : '  (последний клиент)'")
                // /ko
            // /ko
