.user_settings(data-bind="with: repository[M!M]"): .panel-group#accordion
    .panel.panel-pastvu
        .panel-heading: .panel-title: a(data-toggle="collapse", href="#privacy") Privacy
        .panel-collapse.collapse.in#privacy: .panel-body
            dl.dl-horizontal
                dt My email
                dd: .row: .col-xs-9.col-sm-10.col-md-7.col-lg-4
                    .input-group
                        input.form-control(type="email", data-bind="attr: {size: u.email().length, disabled: !editEmail()}, value: u.email, valueUpdate: 'afterkeydown', executeOnEnter: saveEmail")
                        span.input-group-addon.action(data-bind="click: saveEmail, css: {save: editEmail()}")
                            span.glyphicon(data-bind="css: {'glyphicon-pencil': !editEmail(), 'glyphicon-ok': editEmail()}")
                        //ko if:editEmail()
                        span.input-group-addon.action.cancel(data-bind="click: cancelEmail, css: {save: editEmail()}")
                            span.glyphicon.glyphicon-remove
                        // /ko
            dl.dl-horizontal
                dt My password
                dd
                    //ko if: itsMe()
                    button.btn.btn-sm.btn-primary(type="button", title="Change current password", data-bind="event:{click: function(data, evt){auth.show('passChange')}}")
                        span Change
                    // /ko
                    button.btn.btn-sm.btn-primary(type="button", title="Change through email without entering current", data-bind="event:{click: function(data, evt){auth.showRecallRequest(u.login())}}")
                        span Request change
            dl.dl-horizontal
                dt Show real name in conversations
                dd: .btn-group.btn-group-sm
                    button.btn.btn-primary.yes(type="button", data-bind="css: {active: showName()}, click: toggleDisp") Yes
                    button.btn.btn-primary.no(type="button", data-bind="css: {active: !showName()}, click: toggleDisp") No

    .panel.panel-pastvu
        .panel-heading: .panel-title: a(data-toggle="collapse", href="#region") Regions
        .panel-collapse.collapse.in#region: .panel-body
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move
                            | Region, which affects some settings,
                            br
                            | for example, region of Home button on map,
                            br
                            | first element on list of regions etc.
                    | &nbsp;
                    span.glyphicon.glyphicon-home
                    | &nbsp;Home region
                dd
                    span.region
                        span(data-bind="text: u.regionHome.title_en()")
                    span.regionEdit(data-bind="click: regionHomeSelect")
                        span.glyphicon.glyphicon-pencil
                        | Change
            //ko if: u.role() === 5 && u.mod_regions()
            dl.dl-horizontal.forMod
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move
                            | Regions, where you are a moderator
                            br
                            | Assigned by administrator
                    | &nbsp;Regions where I am a moderator
                dd
                    //ko if: !u.mod_regions().length
                    span.region
                        span.glyphicon.glyphicon-globe
                        |  Whole world
                    // /ko
                    //ko foreach: u.mod_regions
                    span.region
                        span(data-bind="text: $data.title_en()")
                    // /ko
            // /ko
    .panel.panel-pastvu
        .panel-heading: .panel-title: a(data-toggle="collapse", href="#filters") Filter by default
        .panel-collapse.collapse.in#filters: .panel-body
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move
                            | Images, which define
                            br
                            | automatic content filtration
                    | &nbsp;
                    span.glyphicon.glyphicon-filter
                    | &nbsp;Image types
                dd: span.panel-block(style="padding-bottom:5px;")
                    //ko foreach: vars.photo_filter_type
                    label.checkbox-inline
                        input(type="checkbox", data-bind="attr: {value: String($data)}, checked: $parent.photoFilterType")
                        span(data-bind="text: $parent.fields.typeVals[$data]")
                    // /ko
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move
                            | Regions, which define
                            br
                            | automatic content filtration
                    | &nbsp;
                    span.glyphicon.glyphicon-filter
                    |  Regions
                dd: span.panel-block
                    .radio(style="margin-top:0"): label
                        input(type="radio", name="regfilter_radios", value="all", data-bind="checked: regfiltercheck")
                        span.glyphicon.glyphicon-globe
                        |  Whole world (no filter)
                    .radio: label
                        input(type="radio", name="regfilter_radios", value="home", data-bind="checked: regfiltercheck")
                        span.glyphicon.glyphicon-home
                        |  Home region
                    .radio(style="margin-bottom:5px"): label
                        input(type="radio", name="regfilter_radios", value="list", data-bind="checked: regfiltercheck")
                        span.glyphicon.glyphicon-list
                        span  List
                        //ko if: regfiltercheck() === 'list'
                        | :&nbsp;
                        //ko foreach: u.regions
                        span.region.candrop(title="Remove from my regions", data-bind="click: function() {$parent.regionDrop($data.cid());}")
                            span(data-bind="text: $data.title_en()")
                        // /ko
                        //ko if: u.regions().length
                        span.regionEdit(data-bind="click: regionFilterSelect")
                            span.glyphicon.glyphicon-pencil
                            | Change
                        // /ko
                        // /ko
            dl.dl-horizontal
                dt.helpexists(style="color: #27578d;")
                    | Filter by default with selected options also:
                dd
            dl.dl-horizontal.dl-tight
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move
                            | Images which located
                            br
                            | in users profile
                    | &nbsp;User galleries
                dd
                    .btn-group.btn-group-sm
                        button.btn.btn-primary.yes(type="button", data-bind="css: {active: u.settings.r_f_user_gal()}, click: regionUserGal") Yes
                        button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.r_f_user_gal()}, click: regionUserGal") No
            dl.dl-horizontal.dl-tight
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move
                            | Strip, which located close
                            br
                            | to user avatar on photo page
                    | &nbsp;Strip of other user's images
                dd
                    .btn-group.btn-group-sm
                        button.btn.btn-primary.yes(type="button", data-bind="css: {active: u.settings.r_f_photo_user_gal()}, click: regionPhotoUserGal") Yes
                        button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.r_f_photo_user_gal()}, click: regionPhotoUserGal") No

    .panel.panel-pastvu
        .panel-heading: .panel-title: a(data-toggle="collapse", href="#photo") Images
        .panel-collapse.collapse.in#photo: .panel-body
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move
                            | Show by default pastvu.com
                            br
                            | watermark embedded in image
                    | &nbsp;Show watermark by default
                dd
                    .btn-group.btn-group-sm
                        button.btn.btn-primary.yes(type="button", data-bind="css: {active: u.settings.photo_show_watermark()}, click: watermarkShow") Yes
                        button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.photo_show_watermark()}, click: watermarkShow") No

            //ko if: u.nowaterchange()
            dl.dl-horizontal: .helpexists: .help.text-danger
                span.glyphicon.glyphicon-warning-sign
                span(data-bind="text: ' Administrator has forbidden ' + (itsMe()?'you':'user') + ' to change watermark settings on ' + (itsMe()?'your':'his') + ' images'")
            // /ko
            .watersingcontrol(data-bind="css: {deny: itsMe() && u.nowaterchange()}")
                dl.dl-horizontal
                    dt.helpexists
                        .help.tltp-wrap
                            span.glyphicon.glyphicon-info-sign
                            .tltp.tltp-top.tltp-animate-move
                                | Behavior can be changed for each image
                                br
                                | individually on image's edit page
                        | &nbsp;Text on watermark on my images
                    dd: span.panel-block
                        .btn-group.btn-group-sm(style="margin-bottom:8px")
                            button.btn.btn-primary.yes(type="button", data-bind="css: {active: !!u.settings.photo_watermark_add_sign()}, click: watersignAdd") Yes
                            button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.photo_watermark_add_sign()}, click: watersignAdd") No
                        br
                        // ko if: !!u.settings.photo_watermark_add_sign()
                        .radio(style="margin-top:3px"): label
                            input(type="radio", name="watersign", value="true", data-bind="checked: watersigncheck")
                            | System settings (
                            span(style="color:#777", data-bind="text: 'uploaded by ' + u.login()")
                            | )
                        .radio(style="margin-top:0"): .input-group(style="max-width:500px")
                            input(type="radio", name="watersign", value="custom", data-bind="checked: watersigncheck")
                            span.input-group-addon Text
                            input.form-control(type="text", data-bind="attr: {disabled: watersigncheck()!=='custom'}, value: u.watersignCustom, symbols: {pattern:fields.watersignPattern,watch:u.watersignCustom,noMultiplySpace:true,maxLength:fields.watersignLength}, valueUpdate: 'input', executeOnEnter: watermarkCustomSave")
                            span.input-group-addon.action.save(data-bind="style: {visibility: watersignCustomChanged() ? 'visible' : 'hidden'}, click: watermarkCustomSave")
                                span.glyphicon.glyphicon-ok
                            span.input-group-addon.action.cancel(data-bind="style: {visibility: watersignCustomChanged() ? 'visible' : 'hidden'}, click: watermarkCustomCancel")
                                span.glyphicon.glyphicon-remove
                        // /ko
                        p.text-muted(style="padding-left:8px;line-height:1.1;font-size:11px;")
                            sup(style="margin-left:-6px;") *
                            |  Setting saves automatically and will be applied to all newly uploaded images. To apply it to existing images, push "Apply" below

                        hr(style="margin:8px 0 9px;")
                        .tltp-wrap
                            abbr(title="") Apply setting to existing images, which have no individual watermark setting:
                            .tltp.tltp-top.tltp-hotizontal-left.tltp-animate-move
                                | Send to reconvert own images,
                                br
                                | which have no individual watermark setting
                        div
                            label.radio-inline
                                input(type="radio", name="reconvert", value="all", data-bind="checked: reconvertcheck")
                                | All
                            label.radio-inline
                                input(type="radio", name="reconvert", value="region", data-bind="checked: reconvertcheck")
                                span
                                    | Within region
                                    input.form-control(id="reconvertRegion", data-bind="attr: {disabled: reconvertcheck()!=='region'}", style="display:inline-block;margin-left:6px;width:180px;", type="number", placeholder="Type region id", maxlength="6")
                            button.btn.btn-sm.btn-primary(type="button", style="margin: 5px 0 8px;", data-bind="click: reconvertPhotos, attr: {disabled: reconvertingPhotos()}") Apply

                        hr(style="margin:8px 0 9px;")
                        .tltp-wrap
                            abbr(title="") Reset individual watermark settings
                            .tltp.tltp-top.tltp-hotizontal-left.tltp-animate-move
                                | Reset individual watermark settings
                        div
                            label.radio-inline
                                input(type="radio", name="resetwatersign", value="all", data-bind="checked: resetwatersigncheck")
                                | All
                            label.radio-inline
                                input(type="radio", name="resetwatersign", value="region", data-bind="checked: resetwatersigncheck")
                                span
                                    | Within region
                                    input.form-control(id="resetwatersignRegion", data-bind="attr: {disabled: resetwatersigncheck()!=='region'}", style="display:inline-block;margin-left:6px;width:180px;", type="number", placeholder="Type region id", maxlength="6")
                            button.btn.btn-sm.btn-primary(type="button", style="margin: 5px 0 8px;", data-bind="click: individualWatersignReset, attr: {disabled: reconvertingPhotos()}") Сбросить
                            p.text-muted(style="padding-left:8px;line-height:1.1;font-size:11px;")
                                sup(style="margin-left:-6px;") *
                                |  Images will receive setting by default, which specified above. This images will be reconverted automatically

                dl.dl-horizontal
                    dt.helpexists
                        .help.tltp-wrap
                            span.glyphicon.glyphicon-info-sign
                            .tltp.tltp-top.tltp-animate-move
                                | Another registered users will be able
                                br
                                | to download file that you uploaded
                        | &nbsp;Allow to download origin of my images
                    dd: span.panel-block
                        .btn-group.btn-group-sm(style="margin-bottom:8px")
                            button.btn.btn-primary.yes(type="button", data-bind="attr: {disabled: !u.settings.photo_watermark_add_sign()}, css: {active: !u.settings.photo_watermark_add_sign() || !u.settings.photo_disallow_download_origin()}, click: disallowDownloadOrigin") Yes
                            button.btn.btn-primary.no(type="button", data-bind="attr: {disabled: !u.settings.photo_watermark_add_sign()}, css: {active: !!u.settings.photo_watermark_add_sign() && !!u.settings.photo_disallow_download_origin()}, click: disallowDownloadOrigin") No
                        p.text-muted(style="padding-left:8px;line-height:1.1;font-size:11px;")
                            sup(style="margin-left:-6px;") *
                            |  Disallowance of downloading original can be established only for image that has text on watermark
                        p.text-muted(style="padding-left:8px;line-height:1.1;font-size:11px;")
                            sup(style="margin-left:-6px;") *
                            |  For another users download button will be green, if original download is allowed. You always will be able to download original file of your images, if other users can't do it, button will be blue with green arrow

                        hr(style="margin:8px 0 9px;")
                        | Reset individual settings about downloading original image
                        div
                            label.radio-inline
                                input(type="radio", name="disallowDownloadOrigin", value="all", data-bind="checked: resetDisallowDownloadOrigin")
                                | All
                            label.radio-inline
                                input(type="radio", name="disallowDownloadOrigin", value="region", data-bind="checked: resetDisallowDownloadOrigin")
                                span
                                    | In region
                                    input.form-control(id="resetDisallowDownloadOriginRegion", data-bind="attr: {disabled: resetDisallowDownloadOrigin()!=='region'}", style="display:inline-block;margin-left:6px;width:180px;", type="number", placeholder="Type region id", maxlength="6")
                            button.btn.btn-sm.btn-primary(type="button", style="margin: 5px 0 8px;", data-bind="click: individualDisallowDownloadOriginReset, attr: {disabled: reconvertingPhotos()}") Reset
                            p.text-muted(style="padding-left:8px;line-height:1.1;font-size:11px;")
                                sup(style="margin-left:-6px;") *
                                |  For each image you can set allowance of downloading original individually. Here you can reset such individual settings and common setting, specified above, will be applied to them

    .panel.panel-pastvu
        .panel-heading: .panel-title: a(data-toggle="collapse", href="#comments") Comments
        .panel-collapse.collapse.in#comments: .panel-body
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move
                            | Show deleted comments
                            br
                            | automatically on page load
                    | &nbsp;Show deleted comments
                    br
                    | by default
                dd
                    .btn-group.btn-group-sm
                        button.btn.btn-primary.yes(type="button", data-bind="css: {active: u.settings.comment_show_deleted()}, click: deletedCommentsShow") Yes
                        button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.comment_show_deleted()}, click: deletedCommentsShow") No
    .panel.panel-pastvu
        .panel-heading: .panel-title: a(data-toggle="collapse", href="#notice") Subscription and notifications
        .panel-collapse.collapse.in#notice: .panel-body
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move
                            | Default state of the «Subscribe» checkbox
                            br
                            | below the comment writing input
                    | &nbsp;Subscribe automatically on the comment submission
                dd
                    .btn-group.btn-group-sm
                        button.btn.btn-primary.yes(type="button", data-bind="css: {active: u.settings.subscr_auto_reply()}, click: autoReply") Yes
                        button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.subscr_auto_reply()}, click: autoReply") No
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move
                            | Minimal amount of time between
                            br
                            | sending of notification emails
                    | &nbsp;Minimum interval between sendings
                dd.throttle(data-bind="foreach: vars.subscr_throttle")
                    label.radio-inline
                        input(type="radio", name="subscr_throttle_radios", data-bind="attr: {id: 'subscr_throttle_radios_' + $index(), value: ''+$data}, checked: $parent.u.settings.subscr_throttle")
                        span(data-bind="text: ($data/60000 > 59 ? $data/3600000 + 'h' : $data/60000 + 'm')")