.user_settings(data-bind="with: repository[M!M]")
	.panel-group#accordion
		.panel.panel-pastvu
			.panel-heading
				.panel-title
					a(data-toggle="collapse", href="#privacy") Конфиденциальность
			.panel-collapse.collapse.in#privacy
				.panel-body
					dl.dl-horizontal
						dt Мой email
						dd
							.row
								.col-xs-9.col-sm-10.col-md-7.col-lg-4
									.input-group
										input.form-control(type="email", id="inName", data-bind="attr: {size: u.email().length, disabled: !editEmail()}, value: u.email, valueUpdate: 'afterkeydown', executeOnEnter: saveEmail")
										span.input-group-addon(data-bind="click: saveEmail, css: {save: editEmail()}")
											span.glyphicon(data-bind="css: {'glyphicon-pencil': !editEmail(), 'glyphicon-ok': editEmail()}")
										//ko if:editEmail()
										span.input-group-addon.cancel(data-bind="click: cancelEmail, css: {save: editEmail()}")
											span.glyphicon.glyphicon-remove
										// /ko
					dl.dl-horizontal
						dt Мой пароль
						dd
							//ko if: itsMe()
							button.btn.btn-sm.btn-primary(type="button", title="Сменить текущий пароль", data-bind="event:{click: function(data, evt){auth.show('passChange')}}")
								span Сменить
							// /ko
							button.btn.btn-sm.btn-primary(type="button", title="Сменить через почту без ввода текущего", data-bind="event:{click: function(data, evt){auth.showRecallRequest(u.login())}}")
								span Запросить смену
					dl.dl-horizontal
						dt Показывать в обсуждениях реальное имя
						dd
							.btn-group.btn-group-sm
								button.btn.btn-primary.yes(type="button", data-bind="css: {active: showName()}, click: toggleDisp") Да
								button.btn.btn-primary.no(type="button", data-bind="css: {active: !showName()}, click: toggleDisp") Нет
		.panel.panel-pastvu
			.panel-heading
				.panel-title
					a(data-toggle="collapse", href="#region") Регионы
			.panel-collapse.collapse.in#region
				.panel-body
					dl.dl-horizontal
						dt.helpexists
							abbr(title="Регион, который определяет некоторые настройки, например, позицию кнопки Домой на карте, первый элемент в списке выбора регионов и т.д.")
								span.glyphicon.glyphicon-info-sign
								| Домашний регион
						dd
							span.region
								span(data-bind="text: u.regionHome.title_local()")
							span.regionEdit(data-bind="click: regionHomeSelect")
								span.glyphicon.glyphicon-pencil
								| Изменить
					//ko if: u.role() === 5 && u.mod_regions()
					dl.dl-horizontal.forMod
						dt.helpexists
							abbr(title="Регионы, в которых вы являетесь модератором. Назначаются администратором")
								span.glyphicon.glyphicon-info-sign
								|  Модерируемые мной регионы
						dd
							//ko if: !u.mod_regions().length
							span.region
								span.glyphicon.glyphicon-globe
								|  Весь мир
							// /ko
							//ko foreach: u.mod_regions
							span.region
								span(data-bind="text: $data.title_local()")
							// /ko
					// /ko
					dl.dl-horizontal
						dt.helpexists
							abbr(title="Регионы, по которым будет производится автоматическая фильтрация контента. Допустимо иметь до 5 регионов")
								span.glyphicon.glyphicon-info-sign
								|  Фильтрация данных по умолчанию
						dd
							//ko if: !u.regions().length
							span.region
								span.glyphicon.glyphicon-globe
								|  Весь мир
							// /ko
							//ko foreach: u.regions
							span.region.candrop(title="Убрать из моих регионов", data-bind="click: function() {$parent.regionDrop($data.cid());}")
								span(data-bind="text: $data.title_local()")
							// /ko
							span.regionEdit(data-bind="click: regionFilterSelect")
								span.glyphicon.glyphicon-pencil
								|  Изменить
					dl.dl-horizontal
						dt.helpexists(style="color: #27578d;")
							| По умолчанию фильтровать по моим регионам:
						dd
					dl.dl-horizontal.dl-tight
						dt.helpexists
							abbr(title="Фотографии пользователей, доступые в соответствующих профилях")
								span.glyphicon.glyphicon-info-sign
								|  Галереи пользователей
						dd
							.btn-group.btn-group-sm
								button.btn.btn-primary.yes(type="button", data-bind="css: {active: u.settings.r_f_user_gal()}, click: regionUserGal") Да
								button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.r_f_user_gal()}, click: regionUserGal") Нет
					dl.dl-horizontal.dl-tight
						dt.helpexists
							abbr(title="Полоса фотографий, находящаяся рядом с именем пользователя, на странице просмотра загруженной им фотогафии")
								span.glyphicon.glyphicon-info-sign
								|  Полосу других фотографий пользователя
						dd
							.btn-group.btn-group-sm
								button.btn.btn-primary.yes(type="button", data-bind="css: {active: u.settings.r_f_photo_user_gal()}, click: regionPhotoUserGal") Да
								button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.r_f_photo_user_gal()}, click: regionPhotoUserGal") Нет
		.panel.panel-pastvu
			.panel-heading
				.panel-title
					a(data-toggle="collapse", href="#notice") Подписка и уведомления
			.panel-collapse.collapse.in#notice
				.panel-body
					dl.dl-horizontal
						dt.helpexists
							abbr(title="Исходное состояние опции «Подписаться на тему» при отправке комментария")
								span.glyphicon.glyphicon-info-sign
								|  Автоподписка при комментировании темы
						dd
							.btn-group.btn-group-sm
								button.btn.btn-primary.yes(type="button", data-bind="css: {active: u.settings.subscr_auto_reply()}, click: autoReply") Да
								button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.subscr_auto_reply()}, click: autoReply") Нет
					dl.dl-horizontal
						dt.helpexists
							abbr(title="Минимальное время, которое должно пройти между отправками писем с уведомлением")
								span.glyphicon.glyphicon-info-sign
								|  Минимальный интервал между отправками
						dd.throttle(data-bind="foreach: vars.subscr_throttle")
							label.radio-inline
								input(type="radio", name="subscr_throttle_radios", data-bind="attr: {id: 'subscr_throttle_radios_' + $index(), value: ''+$data}, checked: $parent.u.settings.subscr_throttle")
								span(data-bind="text: ($data/60000 > 59 ? $data/3600000 + 'ч' : $data/60000 + 'мин')")

		.panel.panel-pastvu
			.panel-heading
				.panel-title
					a(data-toggle="collapse", href="#collapseTwo") Карта
			.panel-collapse.collapse#collapseTwo
				.panel-body Раздел в процессе разработки...