.user_settings(data-bind="with: repository[M!M]"): .panel-group#accordion
    .panel.panel-pastvu
        .panel-heading: .panel-title: a(data-toggle="collapse", href="#privacy") Конфиденциальность
        .panel-collapse.collapse.in#privacy: .panel-body
            dl.dl-horizontal
                dt Мой email
                dd: .row: .col-xs-9.col-sm-10.col-md-7.col-lg-4
                    .input-group
                        input.form-control(type="email", data-bind="attr: {size: u.email().length, disabled: !editEmail()}, value: u.email, valueUpdate: 'afterkeydown', executeOnEnter: saveEmail")
                        span.input-group-addon.action(data-bind="click: saveEmail, css: {save: editEmail()}")
                            span.glyphicon(data-bind="css: {'glyphicon-pencil': !editEmail(), 'glyphicon-ok': editEmail()}")
                        //ko if:editEmail()
                        span.input-group-addon.action.cancel(data-bind="click: cancelEmail, css: {save: editEmail()}")
                            span.glyphicon.glyphicon-remove
                        // /ko
            dl.dl-horizontal
                dt Мой пароль
                dd
                    //ko if: itsMe()
                    button.btn.btn-sm.btn-primary(type="button", title="Сменить текущий пароль", data-bind="event:{click: function(data, evt){auth.show('passChange')}}")
                        span Сменить
                    // /ko
                    button.btn.btn-sm.btn-primary(type="button", title="Сменить через почту без ввода текущего", data-bind="event:{click: function(data, evt){auth.showRecallRequest(u.login())}}")
                        span Запросить смену
            dl.dl-horizontal
                dt Показывать в обсуждениях реальное имя
                dd: .btn-group.btn-group-sm
                    button.btn.btn-primary.yes(type="button", data-bind="css: {active: showName()}, click: toggleDisp") Да
                    button.btn.btn-primary.no(type="button", data-bind="css: {active: !showName()}, click: toggleDisp") Нет

    .panel.panel-pastvu
        .panel-heading: .panel-title: a(data-toggle="collapse", href="#region") Регионы
        .panel-collapse.collapse.in#region: .panel-body
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move
                            | Регион, который определяет некоторые настройки,
                            br
                            | например, позицию кнопки Домой на карте,
                            br
                            | первый элемент в списке выбора регионов и т.д.
                    | &nbsp;
                    span.glyphicon.glyphicon-home
                    | &nbsp;Домашний регион
                dd
                    span.region
                        span(data-bind="text: u.regionHome.title_local()")
                    span.regionEdit(data-bind="click: regionHomeSelect")
                        span.glyphicon.glyphicon-pencil
                        | Изменить
            //ko if: u.role() === 5 && u.mod_regions()
            dl.dl-horizontal.forMod
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move
                            | Регионы, в которых вы являетесь модератором
                            br
                            | Назначаются администратором
                    | &nbsp;Модерируемые мной регионы
                dd
                    //ko if: !u.mod_regions().length
                    span.region
                        span.glyphicon.glyphicon-globe
                        |  Весь мир
                    // /ko
                    //ko foreach: u.mod_regions
                    span.region
                        span(data-bind="text: $data.title_local()")
                    // /ko
            // /ko
    .panel.panel-pastvu
        .panel-heading: .panel-title: a(data-toggle="collapse", href="#filters") Фильтрация данных по умолчанию
        .panel-collapse.collapse.in#filters: .panel-body
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move
                            | Изображения, по которым будет производится
                            br
                            | автоматическая фильтрация контента
                    | &nbsp;
                    span.glyphicon.glyphicon-filter
                    | &nbsp;Типы изображений
                dd: span.panel-block(style="padding-bottom:5px;")
                    //ko foreach: vars.photo_filter_type
                    label.checkbox-inline
                        input(type="checkbox", data-bind="attr: {value: String($data)}, checked: $parent.photoFilterType")
                        span(data-bind="text: $parent.fields.typeVals[$data]")
                    // /ko
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move
                            | Регионы, по которым будет производится
                            br
                            | автоматическая фильтрация контента
                    | &nbsp;
                    span.glyphicon.glyphicon-filter
                    |  Регионы
                dd: span.panel-block
                    .radio(style="margin-top:0"): label
                        input(type="radio", name="regfilter_radios", value="all", data-bind="checked: regfiltercheck")
                        span.glyphicon.glyphicon-globe
                        |  Весь мир (без фильтра)
                    .radio: label
                        input(type="radio", name="regfilter_radios", value="home", data-bind="checked: regfiltercheck")
                        span.glyphicon.glyphicon-home
                        |  Домашний регион
                    .radio(style="margin-bottom:5px"): label
                        input(type="radio", name="regfilter_radios", value="list", data-bind="checked: regfiltercheck")
                        span.glyphicon.glyphicon-list
                        span  Список
                        //ko if: regfiltercheck() === 'list'
                        | :&nbsp;
                        //ko foreach: u.regions
                        span.region.candrop(title="Убрать из моих регионов", data-bind="click: function() {$parent.regionDrop($data.cid());}")
                            span(data-bind="text: $data.title_local()")
                        // /ko
                        //ko if: u.regions().length
                        span.regionEdit(data-bind="click: regionFilterSelect")
                            span.glyphicon.glyphicon-pencil
                            | Изменить
                        // /ko
                        // /ko
            dl.dl-horizontal
                dt.helpexists(style="color: #27578d;")
                    | По умолчанию фильтровать по выбранным опциям также:
                dd
            dl.dl-horizontal.dl-tight
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move
                            | Изображения пользователей,
                            br
                            | доступые в соответствующих профилях
                    | &nbsp;Галереи пользователей
                dd
                    .btn-group.btn-group-sm
                        button.btn.btn-primary.yes(type="button", data-bind="css: {active: u.settings.r_f_user_gal()}, click: regionUserGal") Да
                        button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.r_f_user_gal()}, click: regionUserGal") Нет
            dl.dl-horizontal.dl-tight
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move
                            | Полоса изображений, находящаяся рядом с именем пользователя,
                            br
                            | на странице просмотра загруженного им изображения
                    | &nbsp;Полосу других изображений пользователя
                dd
                    .btn-group.btn-group-sm
                        button.btn.btn-primary.yes(type="button", data-bind="css: {active: u.settings.r_f_photo_user_gal()}, click: regionPhotoUserGal") Да
                        button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.r_f_photo_user_gal()}, click: regionPhotoUserGal") Нет

    .panel.panel-pastvu
        .panel-heading: .panel-title: a(data-toggle="collapse", href="#photo") Изображения
        .panel-collapse.collapse.in#photo: .panel-body
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move
                            | Показывать по умолчанию вотермарк
                            br
                            | pastvu.com, встроенный в изображение
                    | &nbsp;Показывать вотермарк изображения
                dd
                    .btn-group.btn-group-sm
                        button.btn.btn-primary.yes(type="button", data-bind="css: {active: u.settings.photo_show_watermark()}, click: watermarkShow") Да
                        button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.photo_show_watermark()}, click: watermarkShow") Нет

            //ko if: u.nowaterchange()
            dl.dl-horizontal: .helpexists: .help.text-danger
                span.glyphicon.glyphicon-warning-sign
                span(data-bind="text: ' Администратор запретил ' + (itsMe()?'вам':'пользователю') + ' управлять настройками установки подписи на ' + (itsMe()?'ваших':'его') + ' изображениях'")
            // /ko
            .watersingcontrol(data-bind="css: {deny: itsMe() && u.nowaterchange()}")
                dl.dl-horizontal
                    dt.helpexists
                        .help.tltp-wrap
                            span.glyphicon.glyphicon-info-sign
                            .tltp.tltp-top.tltp-animate-move
                                | Поведение можно менять на каждом отдельном
                                br
                                | изображении на странице редактирования
                        | &nbsp;Подпись на вотермарке
                        br
                        |  загружаемых мной изображений
                    dd: span.panel-block
                        .btn-group.btn-group-sm(style="margin-bottom:8px")
                            button.btn.btn-primary.yes(type="button", data-bind="css: {active: !!u.settings.photo_watermark_add_sign()}, click: watersignAdd") Да
                            button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.photo_watermark_add_sign()}, click: watersignAdd") Нет
                        br
                        // ko if: !!u.settings.photo_watermark_add_sign()
                        .radio(style="margin-top:3px"): label
                            input(type="radio", name="watersign", value="true", data-bind="checked: watersigncheck")
                            | Настройки системы (
                            span(style="color:#777", data-bind="text: 'uploaded by ' + u.login()")
                            | )
                        .radio(style="margin-top:0"): .input-group(style="max-width:500px")
                            input(type="radio", name="watersign", value="custom", data-bind="checked: watersigncheck")
                            span.input-group-addon Текст
                            input.form-control(type="text", data-bind="attr: {disabled: watersigncheck()!=='custom'}, value: u.watersignCustom, symbols: {pattern:fields.watersignPattern,watch:u.watersignCustom,noMultiplySpace:true,maxLength:fields.watersignLength}, valueUpdate: 'input', executeOnEnter: watermarkCustomSave")
                            span.input-group-addon.action.save(data-bind="style: {visibility: watersignCustomChanged() ? 'visible' : 'hidden'}, click: watermarkCustomSave")
                                span.glyphicon.glyphicon-ok
                            span.input-group-addon.action.cancel(data-bind="style: {visibility: watersignCustomChanged() ? 'visible' : 'hidden'}, click: watermarkCustomCancel")
                                span.glyphicon.glyphicon-remove
                        // /ko
                        p.text-muted(style="padding-left:8px;line-height:1.1;font-size:11px;")
                            sup(style="margin-left:-6px;") *
                            |  Настройка сохраняется автоматически и будет применена ко всем вновь загружаемым изображениям. Чтобы применить ее к существующим изображениям, нажмите "применить" ниже

                        hr(style="margin:8px 0 9px;")
                        .tltp-wrap
                            abbr(title="") Применить настройку к загруженным изображениям, у которых нет индивидульных настроек подписи:
                            .tltp.tltp-top.tltp-hotizontal-left.tltp-animate-move
                                | Отправить на переконвертацию свои изображения,
                                br
                                | в которых подпись на вотермарке берется из текущих настроек профиля
                        div
                            label.radio-inline
                                input(type="radio", name="reconvert", value="all", data-bind="checked: reconvertcheck")
                                | Все
                            label.radio-inline
                                input(type="radio", name="reconvert", value="region", data-bind="checked: reconvertcheck")
                                span
                                    | В регионе
                                    input.form-control(id="reconvertRegion", data-bind="attr: {disabled: reconvertcheck()!=='region'}", style="display:inline-block;margin-left:6px;width:180px;", type="number", placeholder="Введите номер региона", maxlength="6")
                            button.btn.btn-sm.btn-primary(type="button", style="margin: 5px 0 8px;", data-bind="click: reconvertPhotos, attr: {disabled: reconvertingPhotos()}") Применить

                        hr(style="margin:8px 0 9px;")
                        .tltp-wrap
                            abbr(title="") Сбросить установленные в изображениях индивидульные настройки подписи
                            .tltp.tltp-top.tltp-hotizontal-left.tltp-animate-move
                                | Сбросить установленные индивидульные настройки
                                br
                                |подписи в изображениям (если такие устанавливались)
                        div
                            label.radio-inline
                                input(type="radio", name="resetwatersign", value="all", data-bind="checked: resetwatersigncheck")
                                | Все
                            label.radio-inline
                                input(type="radio", name="resetwatersign", value="region", data-bind="checked: resetwatersigncheck")
                                span
                                    | В регионе
                                    input.form-control(id="resetwatersignRegion", data-bind="attr: {disabled: resetwatersigncheck()!=='region'}", style="display:inline-block;margin-left:6px;width:180px;", type="number", placeholder="Введите номер региона", maxlength="6")
                            button.btn.btn-sm.btn-primary(type="button", style="margin: 5px 0 8px;", data-bind="click: individualWatersignReset, attr: {disabled: reconvertingPhotos()}") Сбросить
                            p.text-muted(style="padding-left:8px;line-height:1.1;font-size:11px;")
                                sup(style="margin-left:-6px;") *
                                |  Изображениям будет установлена настройка подписи по умолчанию, указанная выше. Эти изображения будут отправлены на переконвертацию автоматически

                dl.dl-horizontal
                    dt.helpexists
                        .help.tltp-wrap
                            span.glyphicon.glyphicon-info-sign
                            .tltp.tltp-top.tltp-animate-move
                                | Другие зарегистрированные пользователи
                                br
                                | смогут скачивать оригиналы ваших изображений
                        | &nbsp;Разрешать скачивать оригиналы
                        br
                        | моих изображений
                    dd: span.panel-block
                        .btn-group.btn-group-sm(style="margin-bottom:8px")
                            button.btn.btn-primary.yes(type="button", data-bind="attr: {disabled: !u.settings.photo_watermark_add_sign()}, css: {active: !u.settings.photo_watermark_add_sign() || !u.settings.photo_disallow_download_origin()}, click: disallowDownloadOrigin") Да
                            button.btn.btn-primary.no(type="button", data-bind="attr: {disabled: !u.settings.photo_watermark_add_sign()}, css: {active: !!u.settings.photo_watermark_add_sign() && !!u.settings.photo_disallow_download_origin()}, click: disallowDownloadOrigin") Нет
                        p.text-muted(style="padding-left:8px;line-height:1.1;font-size:11px;")
                            sup(style="margin-left:-6px;") *
                            |  Запретить скачивать оригинал можно только в случае наличия подписи на вотермарке изображения
                        p.text-muted(style="padding-left:8px;line-height:1.1;font-size:11px;")
                            sup(style="margin-left:-6px;") *
                            |  Для других пользователей кнопка скачивания изображения будет окрашена в зеленый цвет, если скачивание оригинала разрешено. Вы всегда сможете скачивать оригиналы своих изображений, а если другие пользователи не могут этого делать согласно вашей настройке, то для вас кнопка скачивания будет синей с зеленой стрелкой

                        hr(style="margin:8px 0 9px;")
                        | Сбросить установленные в изображениях индивидульные настройки разрешения на скачивание
                        div
                            label.radio-inline
                                input(type="radio", name="disallowDownloadOrigin", value="all", data-bind="checked: resetDisallowDownloadOrigin")
                                | Все
                            label.radio-inline
                                input(type="radio", name="disallowDownloadOrigin", value="region", data-bind="checked: resetDisallowDownloadOrigin")
                                span
                                    | В регионе
                                    input.form-control(id="resetDisallowDownloadOriginRegion", data-bind="attr: {disabled: resetDisallowDownloadOrigin()!=='region'}", style="display:inline-block;margin-left:6px;width:180px;", type="number", placeholder="Введите номер региона", maxlength="6")
                            button.btn.btn-sm.btn-primary(type="button", style="margin: 5px 0 8px;", data-bind="click: individualDisallowDownloadOriginReset, attr: {disabled: reconvertingPhotos()}") Сбросить
                            p.text-muted(style="padding-left:8px;line-height:1.1;font-size:11px;")
                                sup(style="margin-left:-6px;") *
                                |  В каждом изображении вы можете устанавливать разрешение на скачивание индивидуально. Здесь вы можете сбросить индивидуальную настройку в этих изображениях и к ним будет применена общая, указанная выше

    .panel.panel-pastvu
        .panel-heading: .panel-title: a(data-toggle="collapse", href="#notice") Подписка и уведомления
        .panel-collapse.collapse.in#notice: .panel-body
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move
                            | Исходное состояние опции
                            br
                            | «Подписаться на тему»
                            br
                            | при отправке комментария
                    | &nbsp;Автоподписка при комментировании темы
                dd
                    .btn-group.btn-group-sm
                        button.btn.btn-primary.yes(type="button", data-bind="css: {active: u.settings.subscr_auto_reply()}, click: autoReply") Да
                        button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.subscr_auto_reply()}, click: autoReply") Нет
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move
                            | Минимальное время, которое должно пройти
                            br
                            | между отправками писем с уведомлением
                    | &nbsp;Минимальный интервал между отправками
                dd.throttle(data-bind="foreach: vars.subscr_throttle")
                    label.radio-inline
                        input(type="radio", name="subscr_throttle_radios", data-bind="attr: {id: 'subscr_throttle_radios_' + $index(), value: ''+$data}, checked: $parent.u.settings.subscr_throttle")
                        span(data-bind="text: ($data/60000 > 59 ? $data/3600000 + 'ч' : $data/60000 + 'мин')")