.user_settings(data-bind="with: repository[M!M]")
	.accordion#accordion2
		.accordion-group
			.accordion-heading
				a.accordion-toggle(data-toggle="collapse", data-parent="#accordion2", href="#collapseOne") Конфиденциальность
			.accordion-body.collapse.in#collapseOne
				.accordion-inner
					dl.dl-horizontal
						dt Мой email
						dd
							.input-append
								input(type="email", id="inName", data-bind="attr: {size: u.email().length, disabled: !editEmail()}, value: u.email, valueUpdate: 'afterkeydown', executeOnEnter: saveEmail")
								span.add-on(data-bind="click: saveEmail, css: {save: editEmail()}")
									i.icon-white(data-bind="css: {'icon-pencil': !editEmail(), 'icon-ok': editEmail()}")
								//ko if:editEmail()
								span.add-on.cancel(data-bind="click: cancelEmail")
									i.icon-remove.icon-white
								// /ko
					dl.dl-horizontal
						dt Мой пароль
						dd
							//ko if: itsMe()
							button.btn-strict.btn-strict-small(type="button", data-bind="event:{click: function(data, evt){auth.show('passChange')}}")
								span Сменить
							// /ko
							button.btn-strict.btn-strict-small(type="button", data-bind="event:{click: function(data, evt){auth.showRecallRequest(u.login())}}")
								span Восстановить
					dl.dl-horizontal
						dt Показывать в обсуждениях реальное имя
						dd
							.btn-group-toggle
								button.btn-strict.btn-strict-small.yes(type="button", data-bind="css: {active: showName()}, click: toggleDisp") Да
								button.btn-strict.btn-strict-small.no(type="button", data-bind="css: {active: !showName()}, click: toggleDisp") Нет
		.accordion-group
			.accordion-heading
				a.accordion-toggle(data-toggle="collapse", data-parent="#accordion2", href="#notice") Подписка и уведомления
			.accordion-body.collapse.in#notice
				.accordion-inner
					dl.dl-horizontal
						dt Автоподписка при комментировании темы
						dd
							.btn-group-toggle
								button.btn-strict.btn-strict-small.yes(type="button", data-bind="css: {active: u.settings.subscr_auto_reply()}, click: autoReply") Да
								button.btn-strict.btn-strict-small.no(type="button", data-bind="css: {active: !u.settings.subscr_auto_reply()}, click: autoReply") Нет
						i.icon-info-sign.helpico(title="Исходное состояние опции «Подписаться на тему» при отправке комментария")
					dl.dl-horizontal
						dt Минимальный интервал между отправками
						dd.throttle(data-bind="foreach: vars.subscr_throttle")
							label.checkbox
								input.thr(type="radio", name="subscr_throttle_radios", data-bind="attr: {id: 'subscr_throttle_radios_' + $index(), value: ''+$data}, checked: $parent.u.settings.subscr_throttle")
								| &nbsp;
								span(data-bind="text: ($data/60000 > 59 ? $data/3600000 + 'ч' : $data/60000 + 'мин')")
						i.icon-info-sign.helpico(title="Минимальный количество времени, которое должно пройти между отправками писем с уведомлением")

		.accordion-group
			.accordion-heading
				a.accordion-toggle(data-toggle="collapse", data-parent="#accordion2", href="#collapseTwo") Карта
			.accordion-body.collapse#collapseTwo
				.accordion-inner Раздел в процессе разработки...