.user_settings(data-bind="with: repository[M!M]"): .panel-group#accordion
    .panel.panel-pastvu
        .panel-heading: .panel-title: a(data-toggle="collapse", href="#privacy", data-bind="text: $root.i18n('Privacy')")
        .panel-collapse.collapse.in#privacy: .panel-body
            dl.dl-horizontal
                dt(data-bind="text: $root.i18n('My email')")
                dd: .row: .col-xs-9.col-sm-10.col-md-7.col-lg-4
                    .input-group
                        input.form-control(type="email", data-bind="attr: {size: u.email().length, disabled: !editEmail()}, value: u.email, valueUpdate: 'afterkeydown', executeOnEnter: saveEmail")
                        span.input-group-addon.action(data-bind="click: saveEmail, css: {save: editEmail()}")
                            span.glyphicon(data-bind="css: {'glyphicon-pencil': !editEmail(), 'glyphicon-ok': editEmail()}")
                        //ko if:editEmail()
                        span.input-group-addon.action.cancel(data-bind="click: cancelEmail, css: {save: editEmail()}")
                            span.glyphicon.glyphicon-remove
                        // /ko
            dl.dl-horizontal
                dt(data-bind="text: $root.i18n('My password')")
                dd
                    //ko if: itsMe()
                    button.btn.btn-sm.btn-primary(type="button", data-bind="event:{click: function(data, evt){auth.show('passChange')}}, attr: {title: $root.i18n('Change current password')}")
                        span(data-bind="text: $root.i18n('Change')")
                    // /ko
                    button.btn.btn-sm.btn-primary(type="button", data-bind="event:{click: function(data, evt){auth.showRecallRequest(u.login())}}, attr: {title: $root.i18n('Change via email without entering the current one')}")
                        span(data-bind="text: $root.i18n('Request change')")
            dl.dl-horizontal
                dt(data-bind="text: $root.i18n('Show real name in discussions')")
                dd: .btn-group.btn-group-sm
                    button.btn.btn-primary.yes(type="button", data-bind="css: {active: showName()}, click: toggleDisp, text: $root.i18n('Yes')")
                    button.btn.btn-primary.no(type="button", data-bind="css: {active: !showName()}, click: toggleDisp, text: $root.i18n('No')")

    .panel.panel-pastvu
        .panel-heading: .panel-title: a(data-toggle="collapse", href="#region", data-bind="text: $root.i18n('Regions')")
        .panel-collapse.collapse.in#region: .panel-body
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move(data-bind="html: $root.i18n('The region that drives certain settings,<br>e.g. the Home button position on the map,<br>the first entry in the region picker, etc.')")
                    | &nbsp;
                    span.glyphicon.glyphicon-home
                    span(data-bind="text: ' ' + $root.i18n('Home region')")
                dd
                    span.region
                        span(data-bind="text: $root.regionTitle(u.regionHome)")
                    span.regionEdit(data-bind="click: regionHomeSelect")
                        span.glyphicon.glyphicon-pencil
                        span(data-bind="text: $root.i18n('Edit')")
            //ko if: u.role() === 5 && u.mod_regions()
            dl.dl-horizontal.forMod
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move(data-bind="html: $root.i18n('Regions where you act as a moderator<br>Assigned by the administrator')")
                    span(data-bind="text: ' ' + $root.i18n('Regions I moderate')")
                dd
                    //ko if: !u.mod_regions().length
                    span.region
                        span.glyphicon.glyphicon-globe
                        span(data-bind="text: ' ' + $root.i18n('Whole world')")
                    // /ko
                    //ko foreach: u.mod_regions
                    span.region
                        span(data-bind="text: $root.regionTitle($data)")
                    // /ko
            // /ko
    .panel.panel-pastvu
        .panel-heading: .panel-title: a(data-toggle="collapse", href="#filters", data-bind="text: $root.i18n('Default content filtering')")
        .panel-collapse.collapse.in#filters: .panel-body
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move(data-bind="html: $root.i18n('Image types used for<br>automatic content filtering')")
                    | &nbsp;
                    span.glyphicon.glyphicon-filter
                    span(data-bind="text: ' ' + $root.i18n('Image types')")
                dd: span.panel-block(style="padding-bottom:5px;")
                    //ko foreach: vars.photo_filter_type
                    label.checkbox-inline
                        input(type="checkbox", data-bind="attr: {value: String($data)}, checked: $parent.photoFilterType")
                        span(data-bind="text: $root.i18n($parent.fields.typeVals[$data])")
                    // /ko
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move(data-bind="html: $root.i18n('Regions used for<br>automatic content filtering')")
                    | &nbsp;
                    span.glyphicon.glyphicon-filter
                    span(data-bind="text: ' ' + $root.i18n('Regions')")
                dd: span.panel-block
                    .radio(style="margin-top:0"): label
                        input(type="radio", name="regfilter_radios", value="all", data-bind="checked: regfiltercheck")
                        span.glyphicon.glyphicon-globe
                        span(data-bind="text: ' ' + $root.i18n('Whole world (no filter)')")
                    .radio: label
                        input(type="radio", name="regfilter_radios", value="home", data-bind="checked: regfiltercheck")
                        span.glyphicon.glyphicon-home
                        span(data-bind="text: ' ' + $root.i18n('Home region')")
                    .radio(style="margin-bottom:5px"): label
                        input(type="radio", name="regfilter_radios", value="list", data-bind="checked: regfiltercheck")
                        span.glyphicon.glyphicon-list
                        span(data-bind="text: ' ' + $root.i18n('List')")
                        //ko if: regfiltercheck() === 'list'
                        | :&nbsp;
                        //ko foreach: u.regions
                        span.region.candrop(data-bind="click: function() {$parent.regionDrop($data.cid());}, attr: {title: $root.i18n('Remove from my regions')}")
                            span(data-bind="text: $root.regionTitle($data)")
                        // /ko
                        //ko if: u.regions().length
                        span.regionEdit(data-bind="click: regionFilterSelect")
                            span.glyphicon.glyphicon-pencil
                            span(data-bind="text: $root.i18n('Edit')")
                        // /ko
                        // /ko
            dl.dl-horizontal
                dt.helpexists(style="color: #27578d;", data-bind="text: $root.i18n('Also filter by the selected options by default in:')")
                dd
            dl.dl-horizontal.dl-tight
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move(data-bind="html: $root.i18n('User images,<br>available in their profiles')")
                    span(data-bind="text: ' ' + $root.i18n('User galleries')")
                dd
                    .btn-group.btn-group-sm
                        button.btn.btn-primary.yes(type="button", data-bind="css: {active: u.settings.r_f_user_gal()}, click: regionUserGal, text: $root.i18n('Yes')")
                        button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.r_f_user_gal()}, click: regionUserGal, text: $root.i18n('No')")
            dl.dl-horizontal.dl-tight
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move(data-bind="html: $root.i18n('The image strip next to the user name<br>on the view page of an image they uploaded')")
                    span(data-bind="text: ' ' + $root.i18n('The strip of other images by the user')")
                dd
                    .btn-group.btn-group-sm
                        button.btn.btn-primary.yes(type="button", data-bind="css: {active: u.settings.r_f_photo_user_gal()}, click: regionPhotoUserGal, text: $root.i18n('Yes')")
                        button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.r_f_photo_user_gal()}, click: regionPhotoUserGal, text: $root.i18n('No')")

    .panel.panel-pastvu
        .panel-heading: .panel-title: a(data-toggle="collapse", href="#photo", data-bind="text: $root.i18n('Images')")
        .panel-collapse.collapse.in#photo: .panel-body
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move(data-bind="html: $root.i18n('Show the pastvu.com watermark<br>embedded into the image by default')")
                    span(data-bind="text: ' ' + $root.i18n('Show image watermark')")
                dd
                    .btn-group.btn-group-sm
                        button.btn.btn-primary.yes(type="button", data-bind="css: {active: u.settings.photo_show_watermark()}, click: watermarkShow, text: $root.i18n('Yes')")
                        button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.photo_show_watermark()}, click: watermarkShow, text: $root.i18n('No')")

            //ko if: u.nowaterchange()
            dl.dl-horizontal: .helpexists: .help.text-danger
                span.glyphicon.glyphicon-warning-sign
                span(data-bind="text: ' ' + $root.i18n(itsMe() ? 'The administrator has disabled your control over the signature settings on your images' : 'The administrator has disabled the user\\'s control over the signature settings on their images')")
            // /ko
            .watersingcontrol(data-bind="css: {deny: itsMe() && u.nowaterchange()}")
                dl.dl-horizontal
                    dt.helpexists
                        .help.tltp-wrap
                            span.glyphicon.glyphicon-info-sign
                            .tltp.tltp-top.tltp-animate-move(data-bind="html: $root.i18n('The behaviour can be overridden per image<br>on its edit page')")
                        span(data-bind="html: ' ' + $root.i18n('Watermark signature<br>on the images I upload')")
                    dd: span.panel-block
                        .btn-group.btn-group-sm(style="margin-bottom:8px")
                            button.btn.btn-primary.yes(type="button", data-bind="css: {active: !!u.settings.photo_watermark_add_sign()}, click: watersignAdd, text: $root.i18n('Yes')")
                            button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.photo_watermark_add_sign()}, click: watersignAdd, text: $root.i18n('No')")
                        br
                        // ko if: !!u.settings.photo_watermark_add_sign()
                        .radio(style="margin-top:3px"): label
                            input(type="radio", name="watersign", value="true", data-bind="checked: watersigncheck")
                            span(data-bind="text: $root.i18n('System settings') + ' ('")
                            span(style="color:#777", data-bind="text: 'uploaded by ' + u.login()")
                            | )
                        .radio(style="margin-top:0"): .input-group(style="max-width:500px")
                            input(type="radio", name="watersign", value="custom", data-bind="checked: watersigncheck")
                            span.input-group-addon(data-bind="text: $root.i18n('Text')")
                            input.form-control(type="text", data-bind="attr: {disabled: watersigncheck()!=='custom'}, value: u.watersignCustom, symbols: {pattern:fields.watersignPattern,watch:u.watersignCustom,noMultiplySpace:true,maxLength:fields.watersignLength}, valueUpdate: 'input', executeOnEnter: watermarkCustomSave")
                            span.input-group-addon.action.save(data-bind="style: {visibility: watersignCustomChanged() ? 'visible' : 'hidden'}, click: watermarkCustomSave")
                                span.glyphicon.glyphicon-ok
                            span.input-group-addon.action.cancel(data-bind="style: {visibility: watersignCustomChanged() ? 'visible' : 'hidden'}, click: watermarkCustomCancel")
                                span.glyphicon.glyphicon-remove
                        // /ko
                        p.text-muted(style="padding-left:8px;line-height:1.1;font-size:11px;")
                            sup(style="margin-left:-6px;") *
                            span(data-bind="text: ' ' + $root.i18n('The setting is saved automatically and will apply to all newly uploaded images. To apply it to existing images, click \"apply\" below')")

                        hr(style="margin:8px 0 9px;")
                        .tltp-wrap
                            abbr(title="", data-bind="text: $root.i18n('Apply the setting to uploaded images that have no per-image signature override:')")
                            .tltp.tltp-top.tltp-hotizontal-left.tltp-animate-move(data-bind="html: $root.i18n('Send for reconversion your images<br>whose watermark signature follows the current profile settings')")
                        div
                            label.radio-inline
                                input(type="radio", name="reconvert", value="all", data-bind="checked: reconvertcheck")
                                span(data-bind="text: ' ' + $root.i18n('All')")
                            label.radio-inline
                                input(type="radio", name="reconvert", value="region", data-bind="checked: reconvertcheck")
                                span
                                    span(data-bind="text: ' ' + $root.i18n('In region')")
                                    input.form-control(id="reconvertRegion", data-bind="attr: {disabled: reconvertcheck()!=='region', placeholder: $root.i18n('Enter region number')}", style="display:inline-block;margin-left:6px;width:180px;", type="number", maxlength="6")
                            button.btn.btn-sm.btn-primary(type="button", style="margin: 5px 0 8px;", data-bind="click: reconvertPhotos, attr: {disabled: reconvertingPhotos()}, text: $root.i18n('Apply')")

                        hr(style="margin:8px 0 9px;")
                        .tltp-wrap
                            abbr(title="", data-bind="text: $root.i18n('Reset per-image signature overrides')")
                            .tltp.tltp-top.tltp-hotizontal-left.tltp-animate-move(data-bind="html: $root.i18n('Reset per-image signature overrides<br>(if any were set)')")
                        div
                            label.radio-inline
                                input(type="radio", name="resetwatersign", value="all", data-bind="checked: resetwatersigncheck")
                                span(data-bind="text: ' ' + $root.i18n('All')")
                            label.radio-inline
                                input(type="radio", name="resetwatersign", value="region", data-bind="checked: resetwatersigncheck")
                                span
                                    span(data-bind="text: ' ' + $root.i18n('In region')")
                                    input.form-control(id="resetwatersignRegion", data-bind="attr: {disabled: resetwatersigncheck()!=='region', placeholder: $root.i18n('Enter region number')}", style="display:inline-block;margin-left:6px;width:180px;", type="number", maxlength="6")
                            button.btn.btn-sm.btn-primary(type="button", style="margin: 5px 0 8px;", data-bind="click: individualWatersignReset, attr: {disabled: reconvertingPhotos()}, text: $root.i18n('Reset')")
                            p.text-muted(style="padding-left:8px;line-height:1.1;font-size:11px;")
                                sup(style="margin-left:-6px;") *
                                span(data-bind="text: ' ' + $root.i18n('Those images will get the default signature setting shown above. They will be queued for reconversion automatically')")

                dl.dl-horizontal
                    dt.helpexists
                        .help.tltp-wrap
                            span.glyphicon.glyphicon-info-sign
                            .tltp.tltp-top.tltp-animate-move(data-bind="html: $root.i18n('Other registered users<br>will be able to download originals of your images')")
                        span(data-bind="html: ' ' + $root.i18n('Allow downloading originals<br>of my images')")
                    dd: span.panel-block
                        .btn-group.btn-group-sm(style="margin-bottom:8px")
                            button.btn.btn-primary.yes(type="button", data-bind="attr: {disabled: !u.settings.photo_watermark_add_sign()}, css: {active: !u.settings.photo_watermark_add_sign() || !u.settings.photo_disallow_download_origin()}, click: disallowDownloadOrigin, text: $root.i18n('Yes')")
                            button.btn.btn-primary.no(type="button", data-bind="attr: {disabled: !u.settings.photo_watermark_add_sign()}, css: {active: !!u.settings.photo_watermark_add_sign() && !!u.settings.photo_disallow_download_origin()}, click: disallowDownloadOrigin, text: $root.i18n('No')")
                        p.text-muted(style="padding-left:8px;line-height:1.1;font-size:11px;")
                            sup(style="margin-left:-6px;") *
                            span(data-bind="text: ' ' + $root.i18n('Original downloads can only be disallowed when the image has a watermark signature')")
                        p.text-muted(style="padding-left:8px;line-height:1.1;font-size:11px;")
                            sup(style="margin-left:-6px;") *
                            span(data-bind="text: ' ' + $root.i18n('For other users the download button will turn green when downloading the original is allowed. You will always be able to download originals of your own images; when other users cannot do so per your setting, for you the download button will be blue with a green arrow')")

                        hr(style="margin:8px 0 9px;")
                        span(data-bind="text: $root.i18n('Reset per-image download-permission overrides')")
                        div
                            label.radio-inline
                                input(type="radio", name="disallowDownloadOrigin", value="all", data-bind="checked: resetDisallowDownloadOrigin")
                                span(data-bind="text: ' ' + $root.i18n('All')")
                            label.radio-inline
                                input(type="radio", name="disallowDownloadOrigin", value="region", data-bind="checked: resetDisallowDownloadOrigin")
                                span
                                    span(data-bind="text: ' ' + $root.i18n('In region')")
                                    input.form-control(id="resetDisallowDownloadOriginRegion", data-bind="attr: {disabled: resetDisallowDownloadOrigin()!=='region', placeholder: $root.i18n('Enter region number')}", style="display:inline-block;margin-left:6px;width:180px;", type="number", maxlength="6")
                            button.btn.btn-sm.btn-primary(type="button", style="margin: 5px 0 8px;", data-bind="click: individualDisallowDownloadOriginReset, attr: {disabled: reconvertingPhotos()}, text: $root.i18n('Reset')")
                            p.text-muted(style="padding-left:8px;line-height:1.1;font-size:11px;")
                                sup(style="margin-left:-6px;") *
                                span(data-bind="text: ' ' + $root.i18n('You can grant download permission per image. Here you can reset that per-image setting and the global one above will apply instead')")

    .panel.panel-pastvu
        .panel-heading: .panel-title: a(data-toggle="collapse", href="#comments", data-bind="text: $root.i18n('Comments')")
        .panel-collapse.collapse.in#comments: .panel-body
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move(data-bind="html: $root.i18n('Show deleted comments<br>automatically when opening a page')")
                    span(data-bind="html: ' ' + $root.i18n('Show deleted comments<br>by default')")
                dd
                    .btn-group.btn-group-sm
                        button.btn.btn-primary.yes(type="button", data-bind="css: {active: u.settings.comment_show_deleted()}, click: deletedCommentsShow, text: $root.i18n('Yes')")
                        button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.comment_show_deleted()}, click: deletedCommentsShow, text: $root.i18n('No')")
    .panel.panel-pastvu
        .panel-heading: .panel-title: a(data-toggle="collapse", href="#notice", data-bind="text: $root.i18n('Subscriptions and notifications')")
        .panel-collapse.collapse.in#notice: .panel-body
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move(data-bind="html: $root.i18n('Initial state of the<br>«Subscribe to thread» option<br>when posting a comment')")
                    span(data-bind="text: ' ' + $root.i18n('Auto-subscribe when commenting on a thread')")
                dd
                    .btn-group.btn-group-sm
                        button.btn.btn-primary.yes(type="button", data-bind="css: {active: u.settings.subscr_auto_reply()}, click: autoReply, text: $root.i18n('Yes')")
                        button.btn.btn-primary.no(type="button", data-bind="css: {active: !u.settings.subscr_auto_reply()}, click: autoReply, text: $root.i18n('No')")
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move(data-bind="html: $root.i18n('When disabled, email notifications will not be sent.<br>When enabled, notifications will arrive for comments<br>created after the option was enabled.')")
                    span(data-bind="text: ' ' + $root.i18n('Send notifications')")
                dd
                    .btn-group.btn-group-sm
                        button.btn.btn-primary.yes(type="button", data-bind="css: {active: !u.settings.subscr_disable_noty()}, click: disableNoty, text: $root.i18n('Yes')")
                        button.btn.btn-primary.no(type="button", data-bind="css: {active: u.settings.subscr_disable_noty()}, click: disableNoty, text: $root.i18n('No')")
            dl.dl-horizontal
                dt.helpexists
                    .help.tltp-wrap
                        span.glyphicon.glyphicon-info-sign
                        .tltp.tltp-top.tltp-animate-move(data-bind="html: $root.i18n('Minimum time that must pass<br>between notification emails')")
                    span(data-bind="text: ' ' + $root.i18n('Minimum interval between sends')")
                dd.throttle(data-bind="foreach: vars.subscr_throttle")
                    label.radio-inline
                        input(type="radio", name="subscr_throttle_radios", data-bind="attr: {disabled: $parent.u.settings.subscr_disable_noty(), id: 'subscr_throttle_radios_' + $index(), value: ''+$data}, checked: $parent.u.settings.subscr_throttle")
                        span(data-bind="text: ($data/60000 > 59 ? $data/3600000 + $root.i18n('h') : $data/60000 + $root.i18n('min'))")
