.subscr(data-bind="with: repository[M!M]")
	.row-fluid.pagTop
		.pills
			ul.nav.nav-pills
				li(data-bind="css: {active: type() === 'photo'}")
					a(data-bind="attr: {href: location.pathname}, text: 'Фотографии [' + types['photo']() + ']'")
				li(data-bind="css: {active: type() === 'news'}")
					a(href="?type=news", data-bind="text: 'Новости [' + types['news']() + ']'")
		.pagesBrief(data-bind="css: {loading: loading()}, text: briefText")
		//ko if: paginationShow()
		.pagination.pagination-small.pagination-centered(data-bind="template: {name: 'pagerTpl'}")
		// /ko
	.row-fluid.objects(data-bind="template: {name: type() + 'SubscrTpl', foreach: objects}")
	//ko if: paginationShow()
	.row-fluid.pagBottoms
		.pagination.pagination-small.pagination-centered(data-bind="template: {name: 'pagerTpl'}")
	// /ko
	script(id="photoSubscrTpl", type="text/html")
		.object
			a.imgLoad(data-bind="attr: {href: $data.link}")
				img.img(data-bind="attr: {src: $data.sfile}, event: {load: $parent.onPreviewLoad, error: $parent.onPreviewErr}")
			a.objTitle(data-bind="attr: {href: $data.link}, text: $data.title")
	script(id="newsSubscrTpl", type="text/html")
		.row-fluid.object
			a.imgLoad(data-bind="attr: {href: $data.link}")
				img.img(data-bind="attr: {src: $data.sfile}, event: {load: $parent.onPreviewLoad, error: $parent.onPreviewErr}")
			.commentHead
				a.name(data-bind="attr: {href: $data.link}, text: $data.title")
	script(id="pagerTpl", type="text/html")
		ul
			li(data-bind="css: {disabled: page() === 1}"): a(data-bind="attr: {href: pageBase + (type() !== 'photo' ? location.search : '')}", title="Первая страница") &laquo;&laquo;
			li(data-bind="css: {disabled: !pageHasPrev()}"): a(data-bind="attr: {href: pageBase + (page() - 1) + (type() !== 'photo' ? location.search : '')}", title="Предыдущая страница") &laquo;
			//ko foreach: pages
			li(data-bind="css: {active: $data === $parent.page()}"): a(data-bind="attr: {href: $parent.pageBase + $data + ($parent.type() !== 'photo' ? location.search : '')}, text: $data")
			// /ko
			li(data-bind="css: {disabled: !pageHasNext()}"): a(data-bind="attr: {href: pageBase + (page() + 1) + (type() !== 'photo' ? location.search : '')}", title="Следующая страница") &raquo;
			li(data-bind="css: {disabled: page() === pageLast()}"): a(data-bind="attr: {href: pageBase + pageLast() + (type() !== 'photo' ? location.search : '')}", title="Последняя страница") &raquo;&raquo;

