.span9-10
	.navbar
		.navbar-inner
			ul.nav
				li.active
					a(href="#") Profile
				li
					a(href="#") Messages
				li
					a(href="#") Photo
				li
					a(href="#") Blogs
				li
					a(href="#") Comments
	.row-fluid.mContainer#profile