@import "../_vars.less";
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

.newsApart {
	position: relative;
	padding: 6px 0 7px 0;

	.newsHeader {
		margin-top: 1px;
		margin-bottom: 10px;
		font-size: 20px;
	}

	hr {
		margin: 0;
	}

	.news {
		position: relative;

		.newsBody {
			vertical-align: top;
		}
		.newsHead {
			margin-bottom: 14px;

			.newsTitle {
				display: inline-block;
				font-weight: bold;
				font-size: 23px;
			}
		}
		.newsTxt {
			font-size: 14px;
			line-height: 20px;

			> p:last-child {
				margin-bottom: 0;
			}
		}

		.novel {
			margin: 0;
			padding: 100px 2% 12px 2%;
			cursor: default;
			background-color: #FFF;
			.box-sizing(border-box);
		}
	}

	.novelAuthor {
		position: absolute;
		top: 2px;
		left: 2%;
		width: 400px;

		.avatar {
			margin-top: 3px;
			margin-right: 8px;

			img {
				width: 75px;
				height: 75px;
				opacity: 0;
			}
		}

		.authorInfo {
			position: relative;
			margin-left: 86px;
		}
		.authorName {

		}
		.newsDate {
			line-height: 15px;
		}
	}

	.newsComments {
		position: relative;
		padding: 10px 2% 12px 2%;

		.commentsHead {
			display: inline-block;
			font-weight: bold;
			font-size: 16px;
		}
		.commentsCount {
			display: inline-block;
			background-position: 0 50%;
			background-repeat: no-repeat;
		}
		.commentsAdd {
			display: inline-block;
			cursor: pointer;
			&:hover {
				color: @MainBlueColor;
			}
		}
		.commentsLoad {
			position: relative;
			display: inline-block;
			width: 70px;
			height: 20px;
			margin-left: 20px;
			background-image: url(/img/misc/load.gif);
			background-repeat: no-repeat;
			background-position: 0 50%;
		}
	}
}