.bottomPanel(data-bind="with: repository[M!M]")
	//ko if: news().length > 0
	.row-fluid.news
		.newsHeader Новости проекта
		//ko foreach: news
		//ko if: $index
		hr
		// /ko
		.novel
			.newsDate(data-bind="text: moment($data.pdate).format('D MMM')")
			.newsBody
				a.newsTitle(target="_blank", data-bind="text: $data.title, attr: {href: '/news/' + $data.cid}")
				.newsNotice(data-bind="html: $data.notice")
				//ko if: $data.expand
				a.newsExpand(target="_blank", data-bind="attr: {href: '/news/' + $data.cid}") [Читать полностью..]
				// /ko
		// /ko
	// /ko
	.row-fluid
		.navbar.catMenu
			.navbar-inner
				ul.nav
					//ko foreach: cats
					li(data-bind="css: {loading: $data.id === $parent.catLoading(), active: $data.id === $parent.catActive()}, click: $parent.catClickBind")
						a(data-bind="text: $data.name")
					// /ko
					li
						a(target="_blank", href="/news")
							| Архив новостей
							i.icon-share.icon-white
		//ko if: catActive()
		.catContent(data-bind="template: {name: catActive() + 'Tpl'}")
		// /ko

	script(id="photosTpl", type="text/html")
		.row-fluid.photosNew(data-bind="foreach: photos")
			.photoThumb.fringe.plain
				.photoBox
					img(data-bind="attr: {src: $data.sfile}, event: {load: $parent.onThumbLoad, error: $parent.onThumbError}")
					.info.error
						i.icon-ban-circle.icon-white
						br
						| preview loading error
					a.ahref(data-bind="attr: {href: $data.link}")
				.photoTool(data-bind="text: $data.title")

	script(id="ratingsTpl", type="text/html")
		.row-fluid.ratings
			.span6
				.catHead Рейтинг фотографий
				.row-fluid
					.span6
						.catGroupHead По просмотрам
						.btn-group#pbyview
							button.btn.btn-small(data-time="day", data-bind="text: 'День', click: ratSelect, css: {active: ratings.pbyview.selected() === 'day'}")
							button.btn.btn-small(data-time="week", data-bind="text: 'Неделя', click: ratSelect, css: {active: ratings.pbyview.selected() === 'week'}")
							button.btn.btn-small(data-time="all", data-bind="text: 'Все', click: ratSelect, css: {active: ratings.pbyview.selected() === 'all'}")
						//ko template: { name: 'ratingsColumnTpl', foreach: ratings.pbyview[ratings.pbyview.selected()] }
						// /ko
					.span6
						.catGroupHead По комментариям
						.btn-group#pbycomm
							button.btn.btn-small(data-time="day", data-bind="text: 'День', click: ratSelect, css: {active: ratings.pbycomm.selected() === 'day'}")
							button.btn.btn-small(data-time="week", data-bind="text: 'Неделя', click: ratSelect, css: {active: ratings.pbycomm.selected() === 'week'}")
							button.btn.btn-small(data-time="all", data-bind="text: 'Все', click: ratSelect, css: {active: ratings.pbycomm.selected() === 'all'}")
						//ko template: { name: 'ratingsColumnTpl', foreach: ratings.pbycomm[ratings.pbycomm.selected()] }
						// /ko
			.span6
				.catHead Рейтинг пользователей
				.row-fluid
					.span6
						.catGroupHead По комментариям
						.btn-group#ubycomm
							button.btn.btn-small(data-time="day", data-bind="text: 'День', click: ratSelect, css: {active: ratings.ubycomm.selected() === 'day'}")
							button.btn.btn-small(data-time="week", data-bind="text: 'Неделя', click: ratSelect, css: {active: ratings.ubycomm.selected() === 'week'}")
							button.btn.btn-small(data-time="all", data-bind="text: 'Все', click: ratSelect, css: {active: ratings.ubycomm.selected() === 'all'}")
						//ko template: { name: 'ratingsColumnTpl', foreach: ratings.ubycomm[ratings.ubycomm.selected()] }
						// /ko
					.span6
						.catGroupHead По загрузкам
						.btn-group#ubyphoto
							button.btn.btn-small(data-time="day", data-bind="text: 'День', click: ratSelect, css: {active: ratings.ubyphoto.selected() === 'day'}")
							button.btn.btn-small(data-time="week", data-bind="text: 'Неделя', click: ratSelect, css: {active: ratings.ubyphoto.selected() === 'week'}")
							button.btn.btn-small(data-time="all", data-bind="text: 'Все', click: ratSelect, css: {active: ratings.ubyphoto.selected() === 'all'}")
						//ko template: { name: 'ratingsColumnTpl', foreach: ratings.ubyphoto[ratings.ubyphoto.selected()] }
						// /ko

	script(id="ratingsColumnTpl", type="text/html")
		a.row-fluid.ratElem(data-bind="attr: {href: $data.link}")
			img.ratPreview(data-bind="attr: {src: $data.sfile}")
			.ratName(data-bind="text: $data.title")
			.ratAmount(data-bind="text: $data.amount")

	script(id="statsTpl", type="text/html")
		.row-fluid.stats
			.span6
				.catHead Весь проект
				.row-fluid
					.row-fluid(data-bind="text: 'Фотографий на сегодня: ' + stats.all.pallCount")
					.row-fluid(data-bind="text: 'Зарегистрированных пользователей: ' + stats.all.userCount")
					.row-fluid(data-bind="text: 'Больше всего фотографий относится к ' + stats.all.photoYear.pop.year + ' году, их ' + stats.all.photoYear.pop.count")
					.row-fluid(data-bind="text: 'Сегодня новых фотографий: ' + stats.all.pdayCount")
					.row-fluid(data-bind="text: 'За неделю новых фотографий: ' + stats.all.pweekCount")
			.span6
				.catHead Москва
				.row-fluid
					.row-fluid(data-bind="text: 'Фотографий на сегодня: ' + stats.all.pallCount")
					.row-fluid(data-bind="text: 'Зарегистрированных пользователей: ' + stats.all.userCount")
					.row-fluid(data-bind="text: 'Больше всего фотографий относится к ' + stats.all.photoYear.pop.year + ' году, их ' + stats.all.photoYear.pop.count")
					.row-fluid(data-bind="text: 'Сегодня новых фотографий: ' + stats.all.pdayCount")
					.row-fluid(data-bind="text: 'За неделю новых фотографий: ' + stats.all.pweekCount")

