.bottomPanel(data-bind="with: repository[M!M]")
	//ko if: news().length > 0
	.row.news
		.newsHeader Новости проекта
		//ko foreach: news
		//ko if: $index
		hr
		// /ko
		.novel.clearfix
			.newsLeft
				.newsDate(data-bind="text: moment($data.pdate).format('D MMM')")
				//ko if: $data.ccount
				a.newsComms(data-bind="html: $data.ccount + ($data.ccount_new ? '<div class=\"cnew\">+' + $data.ccount_new + '</div>' : ''), attr: {href: '/news/' + $data.cid + '?hl=comments'}", title="Перейти к комментариям новости")
				// /ko
			.newsBody
				a.newsTitle(target="_blank", data-bind="text: $data.title, attr: {href: '/news/' + $data.cid}")
				.newsNotice(data-bind="html: $data.notice")
				//ko if: $data.expand
				a.newsExpand(target="_blank", data-bind="attr: {href: '/news/' + $data.cid}") [Читать полностью..]
				// /ko
		// /ko
	// /ko
	.row
		.navbar.catMenu
			.navbar-inner
				ul.nav
					//ko foreach: cats
					li(data-bind="css: {loading: $data === $parent.catLoading(), active: $data === $parent.catActive()}, click: $parent.catClickBind")
						a(data-bind="text: $parent.catsObj[$data].name")
					// /ko
					li
						a(target="_blank", href="/news")
							| Архив новостей
							i.icon-share.icon-white
		//ko if: catActive()
		.catContent(data-bind="template: catsObj[catActive()].tpl")
		// /ko

	script(id="photosTpl", type="text/html")
		.row.photosNew
			//ko foreach: photos
			.photoPreview.withTitle.fringe(data-bind="attr: {title: title}")
				a.photoBox(data-bind="attr: {href: $data.link}")
					img.img(data-bind="attr: {src: sfile, alt: title}, event: {load: $parent.onPreviewLoad, error: $parent.onPreviewErr}")
					.curtain
				a.photoTitle(data-bind="text: title, attr: {href: $data.link}")
				//ko if: $data.ccount
				a.comm(data-bind="html: $data.ccount + ($data.ccount_new ? '<span class=\"cnew\"> +' + $data.ccount_new + '</span>' : ''), attr: {href: $data.link + '?hl=comments'}", title="Комментарии")
				// /ko
			// /ko
			//ko if: moreLink()
			a.photoPreview.withTitle.nextPhoto(target="_blank", data-bind="attr: {href: moreLink()}")
				.nextPhotoTxt
					i.icon-fast-forward
					Еще..
			// /ko

	script(id="ratingsTpl", type="text/html")
		.row.ratings
			.span6
				.catHead Рейтинг фотографий
				.row
					.span6
						.catGroupHead По просмотрам
						.btn-group#pbyview
							button.btn.btn-small(data-time="day", data-bind="text: 'День', click: ratSelect, css: {active: ratings.pbyview.selected() === 'day'}")
							button.btn.btn-small(data-time="week", data-bind="text: 'Неделя', click: ratSelect, css: {active: ratings.pbyview.selected() === 'week'}")
							button.btn.btn-small(data-time="all", data-bind="text: 'Все', click: ratSelect, css: {active: ratings.pbyview.selected() === 'all'}")
						//ko template: { name: 'ratingsColumnTpl', foreach: ratings.pbyview[ratings.pbyview.selected()] }
						// /ko
					.span6
						.catGroupHead По комментариям
						.btn-group#pbycomm
							button.btn.btn-small(data-time="day", data-bind="text: 'День', click: ratSelect, css: {active: ratings.pbycomm.selected() === 'day'}")
							button.btn.btn-small(data-time="week", data-bind="text: 'Неделя', click: ratSelect, css: {active: ratings.pbycomm.selected() === 'week'}")
							button.btn.btn-small(data-time="all", data-bind="text: 'Все', click: ratSelect, css: {active: ratings.pbycomm.selected() === 'all'}")
						//ko template: { name: 'ratingsColumnTpl', foreach: ratings.pbycomm[ratings.pbycomm.selected()] }
						// /ko
			.span6
				.catHead Рейтинг пользователей
				.row
					.span6
						.catGroupHead По комментариям
						.btn-group#ubycomm
							button.btn.btn-small(data-time="day", data-bind="text: 'День', click: ratSelect, css: {active: ratings.ubycomm.selected() === 'day'}")
							button.btn.btn-small(data-time="week", data-bind="text: 'Неделя', click: ratSelect, css: {active: ratings.ubycomm.selected() === 'week'}")
							button.btn.btn-small(data-time="all", data-bind="text: 'Все', click: ratSelect, css: {active: ratings.ubycomm.selected() === 'all'}")
						//ko template: { name: 'ratingsColumnTpl', foreach: ratings.ubycomm[ratings.ubycomm.selected()] }
						// /ko
					.span6
						.catGroupHead По загрузкам
						.btn-group#ubyphoto
							button.btn.btn-small(data-time="day", data-bind="text: 'День', click: ratSelect, css: {active: ratings.ubyphoto.selected() === 'day'}")
							button.btn.btn-small(data-time="week", data-bind="text: 'Неделя', click: ratSelect, css: {active: ratings.ubyphoto.selected() === 'week'}")
							button.btn.btn-small(data-time="all", data-bind="text: 'Все', click: ratSelect, css: {active: ratings.ubyphoto.selected() === 'all'}")
						//ko template: { name: 'ratingsColumnTpl', foreach: ratings.ubyphoto[ratings.ubyphoto.selected()] }
						// /ko

	script(id="ratingsColumnTpl", type="text/html")
		a.row.ratElem(data-bind="attr: {href: $data.link}")
			.imgLoad
				img.img(data-bind="attr: {src: $data.sfile}, event: {load: $parent.onImgLoad, error: $parent.onImgErr}")
			.ratName(data-bind="text: $data.title, css: {online: $data.online}")
			.ratAmount(data-bind="text: $data.amount")

	script(id="statsTpl", type="text/html")
		.row.stats
			.row.statsFast
				.onlineStat(data-bind="text: stats.common.onlineTxt")
			.row
				.span6
					.catHead Весь проект
					.row
						.row(data-bind="text: 'Зарегистрированных пользователей: ' + stats.all.userCount")
						.row(data-bind="text: 'Фотографий: ' + stats.all.pallCount")
						.row(data-bind="text: 'Больше всего фотографий относится к ' + stats.all.photoYear.pop.year + ' году, их ' + stats.all.photoYear.pop.count")
						.row(data-bind="text: 'Сегодня новых фотографий: ' + stats.all.pdayCount")
						.row(data-bind="text: 'За неделю новых фотографий: ' + stats.all.pweekCount")
						.row(data-bind="text: 'Комментариев: ' + stats.all.callCount")
						.row(data-bind="text: 'Сегодня новых комментариев: ' + stats.all.cdayCount")
						.row(data-bind="text: 'За неделю новых комментариев: ' + stats.all.cweekCount")
				//-.span6
					.catHead Москва
					.row
						.row(data-bind="text: 'Фотографий на сегодня: ' + stats.all.pallCount")
						.row(data-bind="text: 'Зарегистрированных пользователей: ' + stats.all.userCount")
						.row(data-bind="text: 'Больше всего фотографий относится к ' + stats.all.photoYear.pop.year + ' году, их ' + stats.all.photoYear.pop.count")
						.row(data-bind="text: 'Сегодня новых фотографий: ' + stats.all.pdayCount")
						.row(data-bind="text: 'За неделю новых фотографий: ' + stats.all.pweekCount")

