.commentsRibbon(data-bind="with: repository[M!M]")
	.row-fluid.ribbonHead.lineBehind
		span Новые комментарии
	.row-fluid(data-bind="foreach: comments")
		.row-fluid.comment
			a.photoPreviewA(data-bind="attr: {href: $parent.commentsPhotos[$data.obj].link}")
				img.photoPreview(data-bind="attr: {src: $parent.commentsPhotos[$data.obj].sfile}")
			a.photoName(data-bind="attr: {href: $parent.commentsPhotos[$data.obj].link}, html: $parent.commentsPhotos[$data.obj].title")
			a.commentText(data-bind="attr: {href: $data.link}, html: $data.txt")