.commentsFeed(data-bind="with: repository[M!M]")
	.row-fluid.ribbonHead.lineBehind
		span Новые комментарии
	.row-fluid(data-bind="foreach: comments")
		.row-fluid.cPhoto
			a.photoName(data-bind="attr: {href: $data.obj.link}, html: $data.obj.title")
			a.imgLoad(data-bind="attr: {href: $data.obj.link}")
				img.img(data-bind="attr: {src: $data.obj.sfile}, event: {load: $parent.onPreviewLoad, error: $parent.onPreviewErr}")
			.comments(data-bind="foreach: $data.comments")
				a.commentText(data-bind="attr: {href: $data.link}, html: $data.txt")
				a.authorName(data-bind="attr: {href: $data.user.link}, html: $data.user.disp")
		hr