.commentsFeed(data-bind="with: repository[M!M]")
	//-a.help(href="http://start.planeta.ru/campaigns/1694", target="_blank", title="Узнайте как помочь проекту")
		img.img-responsive.helpimg(data-bind="attr: {src: '/img/misc/fund2/bn_right_' + _.random(1,4) + '.jpg'}", alt="Помогите PastVu")
	.ribbonHead.lineBehind
		span Новые комментарии
	div(data-bind="foreach: pComments")
		.cPhoto.clearfix
			a.photoName(data-bind="attr: {href: $data.link}, html: $data.title")
			a.imgLoad(data-bind="attr: {href: $data.link}")
				img.img(data-bind="attr: {src: $data.sfile}, event: {load: $parent.onPreviewLoad, error: $parent.onPreviewErr}")
			div(data-bind="foreach: $data.comments")
				a.commentText(data-bind="attr: {href: $data.link}, html: $data.txt")
				a.authorName(data-bind="attr: {href: $data.user.link}, html: $data.user.disp, css: {online: $data.user.online}")
		hr