.mainPage(data-bind="with: repository[M!M]")
    .mainL
        .mContainer.mHidden#mapContainer
        .mContainer.mHidden#bottomPanel
    .mainR.mContainer.mHidden.collapse#commentsFeed(data-bind="css: {in: isCommentFeedShownByDefault()}")
