.user_photo(data-bind="with: repository[M!M]")
	.photoThumbs
		.photoThumb.fringe2.addPhoto(data-bind="event: {click: showUpload}, style: {display: canAdd() ? 'inline-block' : '', width: width, height: height}")
			.plusPhoto
			.desc Add photos..
		//ko foreach: photos
		.photoThumb.fringe2(data-bind="css: {'photoNoActive': !fresh && disabled, 'photoFresh': fresh}")
			.photoBox
				img(data-bind="attr: {src: pfile}, event: {load: $parent.onThumbLoad, error: $parent.onThumbError}, style: {width: $parent.width, height: $parent.height}")
				.info.error
					i.icon-ban-circle.icon-white
					br
					| preview loading error
				.info.convqueue
					i.icon-road.icon-white
					br
					| preview will be created soon
					br
					| please, refresh later
				.info.conv
					| preview is creating now
					br
					| please, refresh later
				.info.fresh
					i.icon-fire.icon-white
				.info.noActive
					i.icon-exclamation-sign.icon-white
				a.ahref(target='_blank', data-bind="attr: {href: '/p/' + cid}")
			.photoTool(data-bind="text: title")
		// /ko
		.photoThumb.loadingPhoto.centering_content(data-bind="style: {visibility: loadingPhoto() ? 'visible' : 'hidden', width: width, height: height}") Loading next

	.photoUploadCurtain
		.photoUploadModal.fringe2(data-bind="style: {maxWidth: 4 * $root.P.window.w() / 5 + 'px'}")
			.modalTools.fringe2
				span.modalCaption
				i.icon-off.icon-white(data-bind="event: {click: closeUpload}")
			.modalContainer(data-bind="style: {maxHeight: $root.P.window.h() - 120 + 'px'}")
			.modalFoot
				button.btn-strict.btn-strict-small(type="button", data-bind="event: {click: closeUpload}")
					i.icon-ok.icon-white
					span(data-bind="text: 'Close'")