.user_photo(data-bind="with: repository[M!M]")
	.photoThumbs
		.photoThumb.fringe.addPhoto(data-bind="style: {display: canAdd() ? 'inline-block' : '', width: width, height: height}")
			.plusPhoto
			.desc Add photos..
			a.ahref(href='/photoUpload')
		//ko foreach: photos
		.photoThumb.fringe(data-bind="css: {'photoNoActive': !$data.fresh && $data.disabled, 'photoFresh': $data.fresh}")
			.photoBox
				img(data-bind="attr: {src: sfile}, event: {load: $parent.onThumbLoad, error: $parent.onThumbError}, style: {width: $parent.width, height: $parent.height}")
				.info.error
					i.icon-ban-circle.icon-white
					br
					| preview loading error
				.info.convqueue
					i.icon-road.icon-white
					br
					| preview will be created soon
					br
					| please, refresh later
				.info.conv
					| preview is creating now
					br
					| please, refresh later
				.info.fringe.fresh
					i.icon-asterisk.icon-white
				.info.fringe.noActive
					i.icon-exclamation-sign.icon-white
				a.ahref(target='_blank', data-bind="attr: {href: '/p/' + cid}")
			.photoTool(data-bind="text: title")
		// /ko
		.photoThumb.loadingPhoto.centering_content(data-bind="style: {visibility: loadingPhoto() ? 'visible' : 'hidden', width: width, height: height}") Loading next

	.photoUploadCurtain
		.photoUploadModal.fringe(data-bind="style: {maxWidth: 4 * $root.P.window.w() / 5 + 'px'}")
			.modalTools.fringe
				span.modalCaption Upload photo
				a.off(data-bind="attr: {href: '/u/' + u.login() + '/photo'}")
					i.icon-off.icon-white
			.modalContainer(data-bind="style: {maxHeight: $root.P.window.h() - 120 + 'px'}")
			.modalFoot
				a.btn-strict.btn-strict-small(data-bind="attr: {href: '/u/' + u.login() + '/photo'}")
					i.icon-ok.icon-white
					span(data-bind="text: 'Ok'")