.user_photo(data-bind="with: repository[M!M]")
	.photoThumbs
		.photoThumb.fringe2.addPhoto(data-bind="event: {click: showUpload}, style: {display: canAdd() ? 'inline-block' : ''}")
			.plusPhoto
			.desc Add photos..
		//ko foreach: photos
		.photoThumb.fringe2(data-bind="css: {'photoNoActive': !fresh && !active, 'photoFresh': fresh}")
			img(data-bind="attr: {src: pfile}, event: {load: $parent.onThumbLoad}")
			i.icon-fire.icon-white
			i.icon-exclamation-sign.icon-white
			a(target='_blank', data-bind="attr: {href: '/p/' + cid}")
			.photoTool(data-bind="text: title")
		// /ko
		.photoThumb.fringe2.loadingPhoto(data-bind="style: {display: loadingPhoto() ? 'inline-block' : 'none'}")
			.desc Loading next..

	.photoUploadCurtain
		.photoUploadModal.fringe2(data-bind="style: {maxWidth: 4 * $root.P.window.w() / 5 + 'px'}")
			.modalTools.fringe2
				span.modalCaption
				i.icon-off.icon-white(data-bind="event: {click: closeUpload}")
			.modalContainer(data-bind="style: {maxHeight: $root.P.window.h() - 120 + 'px'}")
			.modalFoot
				button.btn-strict.btn-strict-small(type="button", data-bind="event: {click: closeUpload}")
					i.icon-ok.icon-white
					span(data-bind="text: 'Close'")