.user_profile(data-bind="with: repository[M!M]")
	form.form-horizontal(data-bind="css: {canBeEdit: canBeEdit(), cannotBeEdit: !canBeEdit(), edit_mode: edit_mode()}")
		.control-group(data-bind="style: {display: canBeEdit() ||  u.firstName().length || u.lastName().length > 0 ? '' : 'none'}")
			label.control-label(for="inName") Name
			.controls
				input.input-medium(type="text", id="inName", data-bind="attr: {size: u.firstName().length, disabled: !edit_mode()}, value: u.firstName, valueUpdate: 'afterkeydown'")
				input(type="text", id="inLastName", data-bind="attr: {disabled: !edit_mode()}, value: u.lastName, valueUpdate: 'afterkeydown'")
		.control-group
			label.control-label(for="inBirthdate") Birthday
			.controls
				.input-append.date.birthPick(data-date-format="dd.mm.yyyy", data-bind="attr: {'data-date': (new Date().getDate())+'.'+(new Date().getMonth()+1)+'.'+(new Date().getFullYear())}")
					input(type="text", id='inBirthdate', data-bind="attr: {disabled: !edit_mode()}, value: u.birthdate, valueUpdate: 'keyup'")
					span.add-on(data-bind="style: {display: (edit_mode() ? '' : 'none')}")
						i.icon-calendar
		.control-group
			label.control-label(for="inSex2") Sex
			.controls
				input(type="text", id="inSex2", disabled, data-bind="style: {display: (!canBeEdit() ? '' : 'none')}, value: u.sex()=='m' ? 'Male' : 'Female'")
				label.radio.inline(data-bind="style: {display: canBeEdit() ? '' : 'none'}")
					input(type="radio", id='inSex', name="sex", value="m", data-bind="checked: u.sex, attr: {disabled: !edit_mode()}")
					span &nbsp;Male
				label.radio.inline(data-bind="style: {display: canBeEdit() ? '' : 'none'}")
					input(type="radio", id='inSex', name="sex", value="f", data-bind="checked: u.sex, attr: {disabled: !edit_mode()}")
					span &nbsp;Female
		.control-group(data-bind="style: {display: canBeEdit() ||  u.country().length || u.city().length > 0 ? '' : 'none'}")
			label.control-label(for="inResidence") Residence
			.controls
				input(type="text", id='inResidence', data-bind="attr: {disabled: !edit_mode()}, size: u.country().length, value: u.country, valueUpdate: 'afterkeydown'")
				input(type="text", id="inResidence2", data-bind="attr: {disabled: !edit_mode()}, value: u.city, valueUpdate: 'afterkeydown'")
		.control-group(data-bind="style: {display: canBeEdit() ||  u.work().length > 0 ? '' : 'none'}")
			label.control-label(for="inInterested") Interested in
			.controls
				input(type="text", id='inInterested', data-bind="attr: {disabled: !edit_mode()}, value: u.work, valueUpdate: 'afterkeydown'")
		.control-group(data-bind="style: {display: canBeEdit() ||  u.www().length > 0 ? '' : 'none'}")
			label.control-label(for="inWebsite") Website
			.controls
				input(type="text", id='inWebsite', data-bind="attr: {disabled: !edit_mode()}, value: u.www, valueUpdate: 'afterkeydown'")
		.control-group(data-bind="style: {display: canBeEdit() ||  u.icq().length > 0 ? '' : 'none'}")
			label.control-label(for="inICQ") ICQ
			.controls
				input(type="text", id='inICQ', data-bind="attr: {disabled: !edit_mode()}, value: u.icq, valueUpdate: 'afterkeydown'")
		.control-group(data-bind="style: {display: canBeEdit() ||  u.skype().length > 0 ? '' : 'none'}")
			label.control-label(for="inSkype") Skype
			.controls
				input(type="text", id='inSkype', data-bind="attr: {disabled: !edit_mode()}, value: u.skype, valueUpdate: 'afterkeydown'")
		.control-group(data-bind="style: {display: canBeEdit() ||  u.aim().length > 0 ? '' : 'none'}")
			label.control-label(for="inaim") aim
			.controls
				input(type="text", id='inaim', data-bind="attr: {disabled: !edit_mode()}, value: u.aim, valueUpdate: 'afterkeydown'")
		.control-group(data-bind="style: {display: canBeEdit() ||  u.lj().length > 0 ? '' : 'none'}")
			label.control-label(for="inLJ") LJ
			.controls
				input(type="text", id='inLJ', data-bind="attr: {disabled: !edit_mode()}, value: u.lj, valueUpdate: 'afterkeydown'")
		.control-group(data-bind="style: {display: canBeEdit() ||  u.flickr().length > 0 ? '' : 'none'}")
			label.control-label(for="inflickr") flickr
			.controls
				input(type="text", id='inflickr', data-bind="attr: {disabled: !edit_mode()}, value: u.flickr, valueUpdate: 'afterkeydown'")
		.control-group(data-bind="style: {display: canBeEdit() ||  u.blogger().length > 0 ? '' : 'none'}")
			label.control-label(for="inBlogger") Blogger
			.controls
				input(type="text", id='inBlogger', data-bind="attr: {disabled: !edit_mode()}, value: u.blogger, valueUpdate: 'afterkeydown'")
		.control-group(data-bind="style: {display: canBeEdit() ||  u.aboutme().length > 0 ? '' : 'none'}")
			label.control-label(for="inaboutme") About Me
			.controls
				textarea(rows="3", id='inaboutme', data-bind="attr: {disabled: !edit_mode()}, value: u.aboutme, valueUpdate: 'afterkeydown'")
		.control-group(data-bind="style: {display: canBeEdit() ? '' : 'none'}")
			.controls
				button.btn-strict(type="button", data-bind="css: {'btn-strict-success': edit_mode()}, event: {click: function(data, event) { if (!data.edit_mode()){data.edit(true)} else{data.saveUser()}}}")
					i.icon-pencil.icon-white(data-bind="css: {'icon-pencil': !edit_mode(), 'icon-ok': edit_mode()}")
					span(data-bind="text: edit_mode() ? 'Save profile' : 'Edit profile'")
				button.btn-strict.btn-strict-danger(type="button", data-bind="style: {display: edit_mode() ? '' : 'none'}, event: {click: function(data, event) { if (data.edit_mode()) {data.cancelUser()}}}")
					i.icon-remove.icon-white
					span Cancel