.user_settings(data-bind="with: repository[M!M]")
	.accordion#accordion2
		.accordion-group
			.accordion-heading
				a.accordion-toggle(data-toggle="collapse", data-parent="#accordion2", href="#collapseOne") Privacy
			.accordion-body.collapse.in#collapseOne
				.accordion-inner
					dl.dl-horizontal
						dt My email adress
						dd
							.input-append
								input(type="text", id="inName", data-bind="attr: {size: u.email().length, disabled: !editEmail()}, value: u.email, valueUpdate: 'afterkeydown', executeOnEnter: saveEmail")
								span.add-on
									i.icon-white(data-bind="css: {'icon-pencil': !editEmail(), 'icon-ok': editEmail()}, click: saveEmail")
					dl.dl-horizontal
						dt Show my email address to other registered users
						dd
							.btn-group
								button.btn-strict.btn-strict-small(type="button") On
								button.btn-strict.btn-strict-small.active(type="button") Off
					dl.dl-horizontal
						dt Account password
						dd
							button.btn-strict.btn-strict-small(type="button", data-bind="event:{click: function(data, evt){auth.show('passChange')}}")
								i.icon-wrench.icon-white
								span Change
		.accordion-group
			.accordion-heading
				a.accordion-toggle(data-toggle="collapse", data-parent="#accordion2", href="#collapseTwo") Map
			.accordion-body.collapse#collapseTwo
				.accordion-inner Section is under construction...