.gallery(data-bind="with: repository[M!M]")
	.thumbs(data-bind="style: {width: panelW()}")
		.row.rowoffset
			.col-xs-12.col-md-6.col-md-push-6.col-lg-6.col-lg-push-3.topcol
				//ko if: topTitle()
				.pageHeader(data-bind="text: topTitle()")
				// /ko
			.col-xs-12.col-md-6.col-md-pull-6.col-lg-3.col-lg-pull-6.topcol
				.filter
					label.checkbox-inline.title
						span.glyphicon.glyphicon-filter
						input.titlechk(type="checkbox")
						| Фильтр:
					//ko if: !filter.disp.r().length
					span.region
						span.glyphicon.glyphicon-globe
						|  Весь мир
					// /ko
					//ko foreach: filter.disp.r
					span.region
						span(data-bind="text: $data.title_local")
					// /ko
					span.regionEdit(data-bind="click: regionSelect")
						span.glyphicon.glyphicon-pencil
						| Изменить
		.row.rowoffset
			.col-xs-6.col-md-3.topcol
				span.brief(data-bind="css: {pageLoading: !feed() && loading()}, text: briefText")
			//ko if: photos().length
			.col-xs-6.col-md-3.col-md-push-6.topcol.switch
				.btn-group
					button.btn.btn-primary(title="Постранично", data-bind="click: function () {feedSelect(false)}, css: {active: !feed()}")
						span.glyphicon.glyphicon-book
					button.btn.btn-primary(title="Лента", data-bind="click: function () {feedSelect(true)}, css: {active: feed()}")
						span.glyphicon.glyphicon-th-list
			// /ko
			.col-xs-12.col-md-6.col-md-pull-3.pag(data-bind="style: {visibility: paginationShow() ? 'visible' : 'hidden'}, template: {name: 'photoPagerTpl'}")

		//ko if: u && canAdd()
		a.photoPreview.withTitle.fringe.addPhoto(href="/photoUpload")
			img.img(src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7", data-bind="style: {width: w, height: h}")
			.plusPhoto
			.desc Добавить фото..
		// /ko
		//ko foreach: photos
		.photoPreview.withStatus.withTitle.fringe(data-bind="attr: {title: title}, css: ($parent.feed() ? 'trans ' : '') + 's' + $data.s")
			a.photoBox(data-bind="attr: {href: '/p/' + cid, target: $parent.feed() ? '_blank' : '_self'}")
				img.img(data-bind="attr: {src: sfile, alt: title}, event: {load: $parent.onPreviewLoad, error: $parent.onPreviewErr}, style: {width: $parent.w, height: $parent.h}")
				.curtain
				//ko if: $data.s!==5
				.status.fringe(data-bind="attr: {title: s<2 ? (s===1 ? 'Новая. Ждет подтверждения' : 'Новая фотография') : (s===7 ? 'Фотография неактивна' : 'Фотография удалена')}")
					span.glyphicon(data-bind="css: {'glyphicon-asterisk': s===0, 'glyphicon-flag': s===1, 'glyphicon-lock': s===7, 'glyphicon-trash': s===9}")
				// /ko
			a.photoTitle(data-bind="text: title, attr: {href: '/p/' + cid, target: $parent.feed() ? '_blank' : '_self'}")
			//ko if: $data.ccount
			a.comm(data-bind="html: $data.ccount + ($data.ccount_new ? '<span class=\"cnew\"> +' + $data.ccount_new + '</span>' : ''), attr: {href: '/p/' + cid + '?hl=comments', target: $parent.feed() ? '_blank' : '_self'}", title="Комментарии")
			// /ko
		// /ko
		//ko if: feed()
		.photoPreview.withTitle.loadingPhoto(data-bind="style: {visibility: loading() ? 'visible' : 'hidden', width: w, height: h}")
			.loadPhoto Загрузка
		// /ko
		.rowoffset.pag(data-bind="style: {visibility: paginationShow() ? 'visible' : 'hidden'}, template: {name: 'photoPagerTpl'}")
	script(id="photoPagerTpl", type="text/html")
		ul.pagination
			li.edge(data-bind="css: {disabled: page() === 1}"): a(data-bind="attr: {href: pageUrl() + pageQuery()}", title="Первая страница") &laquo;&laquo;
			li.edge(data-bind="css: {disabled: !pageHasPrev()}"): a(data-bind="attr: {href: pageUrl() + (page() > 1 ? '/' + (page() - 1) : '')+ pageQuery()}", title="Предыдущая страница") &laquo;
			//ko foreach: pages
			li(data-bind="css: {active: $data === $parent.page()}"): a(data-bind="attr: {href: $parent.pageUrl() + '/' + $data + $parent.pageQuery()}, text: $data")
			// /ko
			li.edge(data-bind="css: {disabled: !pageHasNext()}"): a(data-bind="attr: {href: pageUrl() + '/' + (page() + 1) + pageQuery()}", title="Следующая страница") &raquo;
			li.edge(data-bind="css: {disabled: page() === pageLast()}"): a(data-bind="attr: {href: pageUrl() + '/' + pageLast() + pageQuery()}", title="Последняя страница") &raquo;&raquo;