.gallery(data-bind="with: repository[M!M]")
    .thumbs(data-bind="style: {width: panelW()}")
        //ko if: topTitle()
        .row.rowoffset: .col-xs-12.topcol: .pageHeader(data-bind="text: topTitle()")
        // /ko

        .row.rowoffset
            .col-xs-12.col-sm-7.col-lg-4.topcol(data-bind="css: {invisible: !loadedFirst()}")
                .filter(data-bind="css: {opened: filter.open(), inactive: !filter.active()}")
                    .ftitle(data-bind="attr: {title: 'Фильтр. ' + (filter.active() ? 'Выключить' : 'Включить')}, click: function () {filter.active(!filter.active())}")
                        span.glyphicon.glyphicon-filter
                    .fopen(data-bind="attr: {title: filter.open() ? 'Свернуть' : 'Развернуть'}, click: function () {filter.open(!filter.open())}")
                        span.glyphicon.glyphicon-list-alt
                    .fvals
                        .regions
                            .filterName Регионы:
                            .filterVars
                                //ko if: !filter.disp.r().length
                                span.region
                                    span.glyphicon.glyphicon-globe
                                    |  Весь мир
                                // /ko
                                //ko foreach: filter.disp.r
                                span.region.candis(data-bind="css: {dis: $parent._.includes($parent.filter.disp.rdis(), $data.cid)}")
                                    span(data-bind="text: $data.title_local")
                                    //ko if: $parent.filter.admin()
                                    .rtgl.edit(title="Перейти в редактирование региона")
                                        a(data-bind="attr: {href: '/admin/region/' + $data.cid}")
                                            span.glyphicon.glyphicon-pencil
                                    // /ko
                                    .rtgl.only(title="Оставить активным только этот регион", data-bind="click: function() {$parent.fronly($data.cid);}")
                                        span.glyphicon.glyphicon-ok
                                    .rtgl.dis(title="Переключить активность этого региона", data-bind="click: function() {$parent.frdis($data.cid);}")
                                        span.glyphicon.glyphicon-off
                                // /ko
                                span.regionEdit(data-bind="click: regionSelect")
                                    span.glyphicon.glyphicon-pencil
                                    | Изменить
                        .row.others
                            .row.geovars
                                .filterName Годы:
                                .filterVars
                                    input.form-control.years(type="text", data-bind="value: filter.disp.year, valueUpdate: 'keyup'", maxlength="4")
                                    = ' – '
                                    input.form-control.years(type="text", data-bind="value: filter.disp.year2, valueUpdate: 'keyup'", maxlength="4")
                                    = ' '
                                    .tltp-wrap.resetYears(data-bind="click: yearsReset")
                                        span.glyphicon.glyphicon-remove-circle(style="top:3px")
                                        .tltp.tltp-right(style="white-space:nowrap") Сбросить диапазон лет
                            .row.geovars
                                .filterName Тип:
                                .filterVars
                                    label.checkbox-inline
                                        input(type="checkbox", value="1", data-bind="checked: filter.disp.t, click: ftclick")
                                        span Фотография
                                    label.checkbox-inline
                                        input(type="checkbox", value="2", data-bind="checked: filter.disp.t, click: ftclick")
                                        span Картина/Рисунок
                            .row.svars
                                .filterName Статусы:
                                .filterVars
                                    //ko if: filter.can.s()
                                    //ko foreach: filter.available.s
                                    label.checkbox-inline.s
                                        input(type="checkbox", data-bind="attr: {value: s}, checked: $parent.filter.disp.s")
                                        span(data-bind="text: title")
                                    // /ko
                                    // /ko
                                    //ko if: !auth.loggedIn()
                                    span(data-bind="click: function(data, evt){auth.show('login')}", style="cursor:pointer" title="Кликните, чтобы войти или зарегистрироваться")
                                        span.glyphicon.glyphicon-log-in
                                        |   Войдите, чтобы видеть больше
                                    // /ko
                            .row.geovars
                                .filterName Точка:
                                .filterVars
                                    label.checkbox-inline
                                        input(type="checkbox", value="1", data-bind="checked: filter.disp.geo, click: fgeoclk")
                                        span Есть
                                    label.checkbox-inline
                                        input(type="checkbox", value="0", data-bind="checked: filter.disp.geo, click: fgeoclk")
                                        span Нет (Где это?)
                            //ko if: filter.disp.r().length
                            .row.geovars
                                .filterName Подрегионы:
                                .filterVars
                                    label.checkbox-inline
                                        input(type="checkbox", value="1", data-bind="checked: filter.disp.rs, click: frsclick")
                                        span Есть
                                    label.checkbox-inline
                                        input(type="checkbox", value="0", data-bind="checked: filter.disp.rs, click: frsclick")
                                        span Нет
                            // /ko
            .col-xs-12.col-sm-5.col-lg-4.col-lg-push-4.topcol.switch(data-bind="css: {invisible: !loadedFirst()}")
                span.brief(data-bind="html: briefText")
                //ko if: photos().length
                .btn-group
                    button.btn.btn-primary(title="Постранично", data-bind="click: function () {modeSelect(1)}, css: {active: !feed() && !coin()}")
                        span.glyphicon.glyphicon-book
                    button.btn.btn-primary(title="Лента", data-bind="click: function () {modeSelect(2)}, css: {active: feed()}")
                        span.glyphicon.glyphicon-th-list
                    //ko if: !u
                    button.btn.btn-primary(title="Монета", data-bind="click: function () {modeSelect(3)}, css: {active: coin()}")
                        span.glyphicon.glyphicon-adjust
                    // /ko
                // /ko
            .clearfix.hidden-lg
            .col-xs-12.col-lg-4.col-lg-pull-4.pag(data-bind="css: {loading: !feed() && loading(), hasPag: paginationShow()}")
                //ko if: paginationShow()
                //ko template: {name: 'photoPagerTpl'}
                // /ko
                // /ko
                //ko if: coin()
                button.btn.btn-sm.btn-primary(type="button", title="Подбросить монетку", data-bind="click: flipCoin", style="margin-top: 1px;")
                    span.glyphicon.glyphicon-refresh
                    |  Подбросить монетку
                // /ko

        //ko if: u && canAdd()
        a.photoPreview.withInfo.fringe.addPhoto(href="/photoUpload")
            img.img(src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7", data-bind="style: {width: w, height: h}")
            .plusPhoto
            .desc Добавить..
        // /ko
        //ko foreach: photos
        .photoPreview.withStatus.withInfo.fringe(data-bind="attr: {title: title}, css: ($parent.feed() ? 'trans ' : '') + 's' + $data.s")
            a.photoBox(data-bind="attr: {href: '/p/' + cid, target: $parent.feed() ? '_blank' : '_self'}")
                img.img(data-bind="attr: {src: sfile, alt: title}, event: {load: $parent.onPreviewLoad, error: $parent.onPreviewErr}, style: {width: $parent.w, height: $parent.h}")
                .curtain
                //ko if: status.icon
                .status.fringe(data-bind="attr: {title: status.tip}")
                    span.glyphicon(data-bind="css: status.icon")
                // /ko
                //ko if: $data.my
                .status.upper.mine.fringe(title="Это ваша фотография")
                    span.glyphicon.glyphicon-user
                // /ko
            .info
                a.title(data-bind="text: title, attr: {href: '/p/' + cid, target: $parent.feed() ? '_blank' : '_self'}")
                //ko if: $data.rs
                .regions(data-bind="foreach: $data.rs", title=" ")
                    | <!--ko if: $index()-->, <!-- /ko -->
                    a.shortRegion(data-bind="css: {where: !$data.cid}, attr: {href: '/ps?f='+(!$data.cid ? 'geo!0'+($parent.rs[$index()+1] ? '_r!'+$parent.rs[$index()+1].cid : '') : 'r!'+$data.cid), title: $data.title_local}, text: $data.title_local")
                // /ko
            //ko if: $data.ccount || $data.changed
            .rightBlocks
                //ko if: $data.ccount
                a.rightBlock.comm(data-bind="html: $data.ccount + ($data.ccount_new ? '<span class=\"cnew\"> +' + $data.ccount_new + '</span>' : ''), attr: {href: '/p/' + cid + '?hl=comments', target: $parent.feed() ? '_blank' : '_self'}", title="Комментарии")
                // /ko
                //ko if: $data.changed
                a.rightBlock.changed(data-bind="attr: {href: '/p/' + cid + '?history=1', target: $parent.feed() ? '_blank' : '_self'}", title="Фотография изменена с момента прошлого просмотра")
                    span.glyphicon.glyphicon-pencil
                // /ko
            // /ko
        // /ko
        //ko if: feed()
        .photoPreview.withInfo.loadingPhoto(data-bind="style: {visibility: loading() ? 'visible' : 'hidden', width: w, height: h}")
            .loadPhoto Загрузка
        // /ko
        //ko if: photos().length && paginationShow()
        .rowoffset.pag(data-bind="template: {name: 'photoPagerTpl'}")
        // /ko

    | <script id="photoPagerTpl" type="text/html">
    ul.pagination
        li.edge(data-bind="css: {disabled: page() === 1}"): a(data-bind="attr: {href: pageUrl() + pageQuery()}", title="Первая страница") &laquo;&laquo;
        li.edge(data-bind="css: {disabled: !pageHasPrev()}"): a(data-bind="attr: {href: pageUrl() + (page() > 1 ? '/' + (page() - 1) : '')+ pageQuery()}", title="Предыдущая страница") &laquo;
        //ko foreach: pages
        li(data-bind="css: {active: $data === $parent.page()}"): a(data-bind="attr: {href: $parent.pageUrl() + '/' + $data + $parent.pageQuery()}, text: $root.intl.num($data)")
        // /ko
        li.edge(data-bind="css: {disabled: !pageHasNext()}"): a(data-bind="attr: {href: pageUrl() + '/' + (page() + 1) + pageQuery()}", title="Следующая страница") &raquo;
        li.edge(data-bind="css: {disabled: page() === pageLast()}"): a(data-bind="attr: {href: pageUrl() + '/' + pageLast() + pageQuery()}", title="Последняя страница") &raquo;&raquo;
    | </script>