.gallery_photo(data-bind="with: repository[M!M]")
	.indentLogo.pageHeader Все фотографии
	.row-fluid.photosRow
		.photoThumbs
			.photoTop
				.pageBrief(data-bind="css: {commentsLoading: loading()}, text: briefText")
				.pagTop(data-bind="style: {visibility: paginationShow() ? 'visible' : 'hidden'}")
					.pagination.pagination-small.pagination-centered(data-bind="template: {name: 'photoPagerTpl'}")
				.btn-group.feedSwitch
					button.btn.btn-small(title="Лента", data-bind="click: function () {modeSelect(true)}, css: {active: feed()}")
						i.icon-th-list
					button.btn.btn-small(title="Постранично", data-bind="click: function () {modeSelect(false)}, css: {active: !feed()}")
						i.icon-book
			//ko foreach: photos
			a.photoPreview.withStatus.withTitle.fringe(data-bind="attr: {href: '/p/' + cid}, css: {trans: $parent.feed()}")
				.photoBox
					img.img(data-bind="attr: {src: sfile}, event: {load: $parent.onPreviewLoad, error: $parent.onPreviewErr}, style: {width: $parent.w, height: $parent.h}")
					.curtain
				.photoTitle(data-bind="text: title")
			//ko if: ($index() + 1) % $parent.perRow() === 0
			br
			// /ko
			// /ko
	.row-fluid.pagBottom(data-bind="style: {display: paginationShow() ? '' : 'none'}")
		.pagination.pagination-small.pagination-centered(data-bind="template: {name: 'photoPagerTpl'}")
	script(id="photoPagerTpl", type="text/html")
		ul
			li(data-bind="css: {disabled: page() === 1}"): a(data-bind="attr: {href: '/ps'}") &laquo;&laquo;
			li(data-bind="css: {disabled: !pageHasPrev()}"): a(data-bind="attr: {href: '/ps/' + (page() - 1)}") &laquo;
			//ko foreach: pages
			li(data-bind="css: {active: $data === $parent.page()}"): a(data-bind="attr: {href: '/ps/' + $data}, text: $data")
			// /ko
			li(data-bind="css: {disabled: !pageHasNext()}"): a(data-bind="attr: {href: '/ps/' + (page() + 1)}") &raquo;
			li(data-bind="css: {disabled: page() === pageLast()}"): a(data-bind="attr: {href: '/ps/' + pageLast()}") &raquo;