.gallery(data-bind="with: repository[M!M]")
	//ko if: topTitle()
	.indentLogo.pageHeader(data-bind="text: topTitle()")
	// /ko
	.row-fluid.photosRow
		.photoThumbs(data-bind="style: {width: panelW()}")
			.photoTop
				.pageBrief(data-bind="css: {pageLoading: !feed() && loading()}, text: briefText")
				.pagTop(data-bind="style: {visibility: paginationShow() ? 'visible' : 'hidden'}")
					.pagination.pagination-small.pagination-centered(data-bind="template: {name: 'photoPagerTpl'}")
				//ko if: photos().length
				.btn-group.feedSwitch
					button.btn.btn-small(title="Лента", data-bind="click: function () {feedSelect(true)}, css: {active: feed()}")
						i.icon-th-list
					button.btn.btn-small(title="Постранично", data-bind="click: function () {feedSelect(false)}, css: {active: !feed()}")
						i.icon-book
				// /ko
			//ko if: u && canAdd()
			a.photoPreview.withTitle.fringe.addPhoto(href="/photoUpload", data-bind="style: {width: w, height: h}")
				.plusPhoto
				.desc Добавить фото..
			// /ko
			//ko foreach: photos
			a.photoPreview.withStatus.withTitle.fringe(data-bind="attr: {href: '/p/' + cid, target: $parent.feed() ? '_blank' : '_self', title: title}, css: {trans: $parent.feed(), pFresh: $data.fresh, pDis: $data.disabled, pDel: $data.del}")
				.photoBox
					img.img(data-bind="attr: {src: sfile, alt: title}, event: {load: $parent.onPreviewLoad, error: $parent.onPreviewErr}, style: {width: $parent.w, height: $parent.h}")
					.curtain
					//ko if: $data.noPublic
					i.icon-white.fringe.status(data-bind="css: {'icon-asterisk': fresh && !ready, 'icon-flag': fresh && ready, 'icon-lock': disabled, 'icon-trash': del}, attr: {title: fresh ? (ready ? 'Новая. Ждет подтверждения' : 'Новая фотография') : (disabled ? 'Фотография неактивна' : 'Фотография удалена')}")
					// /ko
				.photoTitle(data-bind="text: title")
			// /ko
			//ko if: feed()
			.photoPreview.withTitle.loadingPhoto(data-bind="style: {visibility: loading() ? 'visible' : 'hidden', width: w, height: h}")
				.loadPhoto Загрузка
			// /ko
	.row-fluid.pagBottom(data-bind="style: {display: paginationShow() ? '' : 'none'}")
		.pagination.pagination-small.pagination-centered(data-bind="template: {name: 'photoPagerTpl'}")
	script(id="photoPagerTpl", type="text/html")
		ul
			li(data-bind="css: {disabled: page() === 1}"): a(data-bind="attr: {href: pageUrl() + pageQuery()}", title="Первая страница") &laquo;&laquo;
			li(data-bind="css: {disabled: !pageHasPrev()}"): a(data-bind="attr: {href: pageUrl() + (page() > 1 ? '/' + (page() - 1) : '')+ pageQuery()}", title="Предыдущая страница") &laquo;
			//ko foreach: pages
			li(data-bind="css: {active: $data === $parent.page()}"): a(data-bind="attr: {href: $parent.pageUrl() + '/' + $data + $parent.pageQuery()}, text: $data")
			// /ko
			li(data-bind="css: {disabled: !pageHasNext()}"): a(data-bind="attr: {href: pageUrl() + '/' + (page() + 1) + pageQuery()}", title="Следующая страница") &raquo;
			li(data-bind="css: {disabled: page() === pageLast()}"): a(data-bind="attr: {href: pageUrl() + '/' + pageLast() + pageQuery()}", title="Последняя страница") &raquo;&raquo;