.gallery(data-bind="with: repository[M!M]")
	//ko if: topTitle()
	.indentLogo.pageHeader(data-bind="text: topTitle()")
	// /ko
	.photosRow
		.thumbs(data-bind="style: {width: panelW()}")
			.row.toprow
				.col-xs-6.col-sm-4.brief(data-bind="css: {pageLoading: !feed() && loading()}, text: briefText")
				//ko if: photos().length
				.col-xs-6.col-sm-4.col-sm-push-4.switch
					| 123
					//-.btn-group.feedSwitch
						button.btn.btn-small(title="Лента", data-bind="click: function () {feedSelect(true)}, css: {active: feed()}")
							i.icon-th-list
						button.btn.btn-small(title="Постранично", data-bind="click: function () {feedSelect(false)}, css: {active: !feed()}")
							i.icon-book
				// /ko
				.col-xs-12.col-sm-4.col-sm-pull-4.pag(data-bind="style: {visibility: paginationShow() ? 'visible' : 'hidden'}, template: {name: 'photoPagerTpl'}")
			//ko if: u && canAdd()
			a.photoPreview.withTitle.fringe.addPhoto(href="/photoUpload")
				img.img(src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7", data-bind="style: {width: w, height: h}")
				.plusPhoto
				.desc Добавить фото..
			// /ko
			//ko foreach: photos
			.photoPreview.withStatus.withTitle.fringe(data-bind="attr: {title: title}, css: {trans: $parent.feed(), pFresh: $data.fresh, pDis: $data.disabled, pDel: $data.del}")
				a.photoBox(data-bind="attr: {href: '/p/' + cid, target: $parent.feed() ? '_blank' : '_self'}")
					img.img(data-bind="attr: {src: sfile, alt: title}, event: {load: $parent.onPreviewLoad, error: $parent.onPreviewErr}, style: {width: $parent.w, height: $parent.h}")
					.curtain
					//ko if: $data.noPublic
					i.icon-white.fringe.status(data-bind="css: {'icon-asterisk': fresh && !ready, 'icon-flag': fresh && ready, 'icon-lock': disabled, 'icon-trash': del}, attr: {title: fresh ? (ready ? 'Новая. Ждет подтверждения' : 'Новая фотография') : (disabled ? 'Фотография неактивна' : 'Фотография удалена')}")
					// /ko
				a.photoTitle(data-bind="text: title, attr: {href: '/p/' + cid, target: $parent.feed() ? '_blank' : '_self'}")
				//ko if: $data.ccount
				a.comm(data-bind="html: $data.ccount + ($data.ccount_new ? '<span class=\"cnew\"> +' + $data.ccount_new + '</span>' : ''), attr: {href: '/p/' + cid + '?hl=comments', target: $parent.feed() ? '_blank' : '_self'}", title="Комментарии")
				// /ko
			// /ko
			//ko if: feed()
			.photoPreview.withTitle.loadingPhoto(data-bind="style: {visibility: loading() ? 'visible' : 'hidden', width: w, height: h}")
				.loadPhoto Загрузка
			// /ko
	.row.pag(data-bind="style: {visibility: paginationShow() ? 'visible' : 'hidden'}, template: {name: 'photoPagerTpl'}")
	script(id="photoPagerTpl", type="text/html")
		ul.pagination
			li(data-bind="css: {disabled: page() === 1}"): a(data-bind="attr: {href: pageUrl() + pageQuery()}", title="Первая страница") &laquo;&laquo;
			li(data-bind="css: {disabled: !pageHasPrev()}"): a(data-bind="attr: {href: pageUrl() + (page() > 1 ? '/' + (page() - 1) : '')+ pageQuery()}", title="Предыдущая страница") &laquo;
			//ko foreach: pages
			li(data-bind="css: {active: $data === $parent.page()}"): a(data-bind="attr: {href: $parent.pageUrl() + '/' + $data + $parent.pageQuery()}, text: $data")
			// /ko
			li(data-bind="css: {disabled: !pageHasNext()}"): a(data-bind="attr: {href: pageUrl() + '/' + (page() + 1) + pageQuery()}", title="Следующая страница") &raquo;
			li(data-bind="css: {disabled: page() === pageLast()}"): a(data-bind="attr: {href: pageUrl() + '/' + pageLast() + pageQuery()}", title="Последняя страница") &raquo;&raquo;