.objHist(data-bind="with: repository[M!M]")
    // ko if: haveDiff()
    .diffSwitch(data-bind="text: $root.i18n(showDiff() ? 'Hide value diff highlight' : 'Show value diff'), click: switchDiff")
    // /ko
    ul.media-list.hists
    //ko if: haveDiff() && switchDiff2()
    .diffSwitch(data-bind="text: $root.i18n(showDiff() ? 'Hide value diff highlight' : 'Show value diff'), click: switchDiff")
    // /ko

    | <script id="dotRegions" type="text/x-dot-template">
    | {{~it.regions :region:index}}
    | {{?index}}, {{?}}
    .region: a(target="_blank", href="{{='/ps?f=r!'+region.cid}}") {{=it.regionTitle(region)}}
    | {{~}}
    | </script>

    | <script id="dotRegionsDiff" type="text/x-dot-template">
    span.regions
        | {{?it.base}}{{=it.base}},{{?}}
        | {{?it.del}}&#32;
        span.diffDel {{=it.del}}
        | {{?}}
        | {{?it.add}}&#32;
        span.diffIns {{=it.add}}
        | {{?}}
    | </script>

    | <script id="dothist" type="text/x-dot-template">
    | {{~it.hists :h:index}}
    li.media(id="h{{=h.stamp}}", class="hist{{?h.isnew}} isnew{{?}}{{?h.hl}} hl{{?}}")
        a.pull-left(target="_blank", href="{{='/u/'+h.user.login}}")
            img.media-object(src="{{=h.user.avatar}}")
        .media-body
            .histHead
                a.author(target="_blank", href="{{='/u/'+h.user.login}}") {{=h.user.disp}}
                ='{{?h.role}} '
                .role
                    | {{?h.role===5}}{{=it.i18n('as moderator')}}
                    | {{?h.roleregion}} {{=it.i18n('of region')}}&nbsp;
                    a(target="_blank", href="{{='/ps?f=r!' + h.roleregion.cid}}") {{=it.regionTitle(h.roleregion)}}{{?}}
                    | {{??h.role>9}}{{=it.i18n('as administrator')}}{{?}}
                | {{?}}
                .dotDelimeter ·
                a.histStamp(data-replace="true", href="/p/{{=it.cid}}?history={{=h.stamp}}") {{=it.fDate(new Date(h.stamp))}}

            | {{?h.values.s}}
            .info.iconed(style="color: {{=h.values.s.color}};")
                span.glyphicon(class="{{=h.values.s.icon_history||h.values.s.icon}}")
                | {{=h.values.s.action}}
            | {{?}}

            | {{?h.del}}
            .info.red.iconed
                span.glyphicon.glyphicon-minus
                | {{=it.i18n(h.del.length > 1 ? 'Removed:' : 'Removed (one):')}}
                | {{~h.del :del:delIndex}}
                | {{?delIndex}},{{?}}&#32;
                span.del {{=it.i18n(it.fields[del])}}
                | {{~}}
            | {{?}}

            | {{?h.values.nocomments !== undefined}}
            .info.iconed(class="{{?h.values.nocomments}}red{{??}}green{{?}}")
                span.glyphicon(class="glyphicon-{{?h.values.nocomments}}ban-circle{{??}}ok{{?}}")
                | {{=it.i18n(h.values.nocomments ? 'Commenting is disabled' : 'Commenting allowed')}}
            | {{?}}

            | {{?h.values.histmissing}}
            .info.iconed.red
                span.glyphicon(class="glyphicon-floppy-remove")
                | {{=it.i18n('Edit history is not fully available')}}
            | {{?}}

            | {{?h.reason}}
            .value
                .name {{=it.i18n('Reason')}}
                .val
                    | {{?h.reason.cid}}{{=it.reasonsHash[h.reason.cid].title}}{{?}}
                    | {{?h.reason.desc}}
                    .reasonDesc {{=h.reason.desc}}
                    | {{?}}
            | {{?}}

            | {{~h.textValuesArr :value}}
            .value(class="{{?index}}iconed{{?}}")
                .name(class="{{?value.add}}green{{??index}}orange{{?}}")
                    | {{?index}}
                    span.glyphicon(class="glyphicon-{{?value.add}}plus{{??}}pencil{{?}}")
                    | {{?}}
                    | {{=it.i18n(it.fields[value.field])}}
                .val {{=value.val}}
            | {{~}}

    | {{~}}
    | </script>
