.photo(data-bind="with: repository[M!M]")
    .row.photoData(data-bind="css: {editMode: edit()}")
        .col-xs-12.col-sm-8.col-lg-8.photoPanel
            .imgRow
                //ko if: can.edit()
                .topInfo
                    .photoAction(data-bind="template: {name: edit() ? 'photoActionsEdit' : 'photoActionsView'}")
                    //ko if: !edit() && can.convert()
                    .photoAction
                        button.btn.btn-primary(data-bind="click: toConvert, attr: {disabled: exe()}")
                            span.glyphicon.glyphicon-refresh
                            |  Reconvert image
                    // /ko
                // /ko
                //ko if: msg().length
                .photoMsg.label(data-bind="css: msgCss(), attr: {title: msgTitle()}")
                    span.glyphicon.glyphicon-warning-sign
                    span(data-bind="html: ' ' + msg()")
                    //ko if: msgLink()
                    |  [
                    a.msgLink(data-replace="true", data-bind="attr: {href: msgLink()}, text: $root.i18n('More..')")
                    | ]
                    // /ko
                br
                // /ko
                .imgSuperWrap
                    .imgMiddleWrap(data-bind="css: {loading: photoLoading(), fragSensitive: !edit() && !fraging()}")
                        .imgWrap(data-bind="style: {height: (watermarkShow() ? hsfull() : hs()) + 'px'}")
                            img.photoImg(data-bind="attr: {src: photoSrc(), title: p.title()}, style: {height: hsfull() + 'px'}")
                        //ko if: !edit()
                        .fragsWrap(data-bind="style: {bottom: (watermarkShow() ? waterhs() : 0) + 'px'}")
                            //ko foreach: p.frags
                            a.photoFrag(data-bind="attr: {'data-cid': $data.cid(), href: '?hl=comment-' + $data.cid()}, style: {top: $data.t() + '%', left: $data.l() + '%', width: $data.w() + '%', height: $data.h() + '%', zIndex: 10 + (10000 / ($data.w() * $data.h())) >> 0}")
                            // /ko
                        // /ko
                        .photoLoading
                    .toolsRht
                        .tool.type
                            .tltp-wrap
                                span.glyphicon.light(data-bind="css: {'glyphicon-camera': !isPainting(), 'glyphicon-picture': isPainting()}")
                                .tltp.tltp-right.tltp-animate-move(data-bind="text: $root.i18n(isPainting() ? 'Painting/drawing' : 'Photograph')")
                        .tool.watched
                            span.glyphicon.glyphicon-eye-open.light(data-bind="attr: {title: $root.i18n('Image view count')}")
                            .tltp-wrap
                                .watch(data-bind="text: toolsNumFormat(p.vdcount())")
                                .tltp.tltp-right.tltp-animate-move(data-bind="text: $root.i18n('{{count, number}} views today', {count: p.vdcount()})")
                            .tltp-wrap
                                .watch(data-bind="text: toolsNumFormat(p.vwcount())")
                                .tltp.tltp-right.tltp-animate-move(data-bind="text: $root.i18n('{{count, number}} views this week', {count: p.vwcount()})")
                            .tltp-wrap
                                .watch(data-bind="text: toolsNumFormat(p.vcount())")
                                .tltp.tltp-right.tltp-animate-move(data-bind="text: $root.i18n('{{count, number}} views total', {count: p.vcount()})")
                    .toolsBtm(data-bind="style: {width: ws() + 'px'}")
                        span.toolsTxt
                            span(data-bind="text: $root.i18n('Sizes:') + ' '")
                            //ko if: ws() !== p.ws() && hs() !== p.hs()
                            .sizeThis(data-bind="text: ws() + '×' + hs()")
                            | &nbsp;|&nbsp;
                            // /ko
                            a.sizeStandard(target="_blank", data-bind="attr:{href: '/_p/d/'+p.file()}, text: p.ws()+'×'+p.hs()")
                            | &nbsp;|&nbsp;
                            a.sizeOrigin(target="_blank", data-bind="attr:{href: '/_p/a/'+p.file()}, text: p.w()+'×'+p.h()")
                        //ko if: hscalePossible()
                        .tltp-wrap
                            button.btn.btn-xxs.btn-primary(data-state="hscaleTumbler", data-bind="css: {active: hscaleTumbler()}, click: stateChange")
                                span.glyphicon.glyphicon-resize-vertical
                            .tltp.tltp-bottom.tltp-animate-move(data-bind="html: $root.i18n('Fit to height<br>of the visible area')")
                        // /ko
                        .tltp-wrap
                            button.btn.btn-xxs.btn-primary(data-state="watermarkShow", data-bind="css: {active: watermarkShow()}, click: stateChange")
                                | W
                            .tltp.tltp-bottom.tltp-animate-move(data-bind="html: $root.i18n('Show watermark<br>on the image')")
                        //ko if: p.s()===statuses.keys.PUBLIC
                        .tltp-wrap
                            a.btn.btn-xxs.btn-primary(href="?share=1", data-replace="true")
                                span.glyphicon.glyphicon-share-alt
                            .tltp.tltp-bottom.tltp-animate-move(data-bind="text: $root.i18n('Share')")
                        // /ko
                        //ko if: can.download() && !edit()
                        .tltp-wrap
                            a.btn.btn-xxs(data-bind="click: download, css: downloadCSSClass(), attr: {href: p.fileroot()+'/a/'+p.file(), download:p.cid()+' '+(p.title()||'').replace(/[\/|]/g, '-')+'.jpg'}")
                                span.glyphicon.glyphicon-save
                            .tltp.tltp-bottom.tltp-animate-move(data-bind="html: $root.i18n(downLoadOrigin() ? 'Download original<br>{{size}}' : 'Download full size<br>{{size}}', {size: p.w() + '×' + p.h()})")
                        // /ko

            //ko template: {name: edit() ? p.type() === '2' ? 'paintingEdit' : 'photoEdit' : 'photoView', afterRender: tplAfterRender}
            // /ko
        .col-xs-12.col-sm-4.col-lg-4.rightPanel
            table.rightrow.tableUser(cellpadding="0"): tbody: tr
                td(style="width: 85px; min-width: 85px;")
                    a.avatar.fringe.plain(data-bind="attr: {href: '/u/' + p.user.login()}")
                        img(data-bind="attr: {src: p.user.avatar()}, event: {load: onImgLoad, error: onAvatarError}")
                td
                    .userInfo(data-bind="html: userInfo() + rnks()")
                    //ko if: userRibbon().length
                    .userRibbon.photoTiles
                        //ko foreach: userRibbon
                        a.photoPreview.withStatus(data-bind="attr: {href: '/p/' + cid, title: $data.title}, style: {marginRight: $parent.thumbM}, css: 's' + $data.s")
                            .photoBox
                                img.img(data-bind="attr: {src: sfile, title: $data.title}, event: {load: $parent.onPreviewLoad, error: $parent.onPreviewErr}, style: {width: $parent.thumbW, height: $parent.thumbH}")
                                .curtain
                                //ko if: status.icon
                                .status.fringe(data-bind="attr: {title: status.tip}")
                                    span.glyphicon(data-bind="css: status.icon")
                                // /ko
                        // /ko
                    // /ko
            .rightrow.photoMap.mContainer.mHidden(data-bind="allowBindings: false, style: {height: mapH()}")
            //ko if: nearestRibbon().length
            .rightrow: .lineBehind: span(data-bind="text: $root.i18n('Nearby images')")
            .rightrow.nearesTiles(data-bind="foreach: nearestRibbon")
                a.photoPreview(data-bind="attr: {href: '/p/' + cid, title: $data.title}"): .photoBox
                    img.img(data-bind="attr: {src: sfile, title: $data.title}, event: {load: $parent.onPreviewLoad, error: $parent.onPreviewErr}, style: {width: $parent.thumbW, height: $parent.thumbH}")
                    .curtain
            // /ko
        .commentsContainer.mContainer.mNoDisplay(data-bind="allowBindings: false")

    //-ACTIONS VIEW MODE
    | <script id="photoActionsView" type="text/html">
    //ko if: can.edit()
    button.btn.btn-primary(type="button", data-bind="click: editSave, attr: {disabled: exe()}")
        span.glyphicon.glyphicon-pencil
        span(data-bind="text: ' ' + $root.i18n('Edit')")
    // /ko
    //ko if: can.ready()
    button.btn.btn-success(type="button", data-bind="click: ready, attr: {disabled: exe(), title: $root.i18n('Send to premoderation for further publication')}")
        span.glyphicon.glyphicon-check
        span(data-bind="text: ' ' + $root.i18n('Submit for publication')")
    // /ko
    //ko if: can.approve()
    button.btn.btn-success(type="button", data-bind="click: approve, attr: {disabled: exe(), title: $root.i18n('Confirm and publish this photo')}")
        span.glyphicon.glyphicon-ok
        span(data-bind="text: ' ' + $root.i18n('Publish')")
    // /ko
    //ko if: can.revision()
    button.btn.btn-warning(type="button", data-bind="click: toRevision, attr: {disabled: exe(), title: $root.i18n('Send to the user for revision')}")
        span.glyphicon.glyphicon-check
        span(data-bind="text: ' ' + $root.i18n('Send for revision')")
    // /ko
    //ko if: can.rereject()
    button.btn.btn-success(type="button", data-bind="click: rereject, attr: {disabled: exe()}")
        span.glyphicon.glyphicon-repeat
        span(data-bind="text: ' ' + $root.i18n('Restore')")
    // /ko
    //ko if: can.revoke()
    button.btn.btn-danger(type="button", data-bind="click: revoke, attr: {disabled: exe(), title: $root.i18n('Revoke this photo, withdraw it from possible publication')}")
        span.glyphicon.glyphicon-remove
        span(data-bind="text: ' ' + $root.i18n('Revoke')")
    // /ko
    //ko if: can.reject()
    button.btn.btn-danger(type="button", data-bind="click: reject, attr: {disabled: exe(), title: $root.i18n('Reject this photo, withdraw it from possible publication')}")
        span.glyphicon.glyphicon-remove
        span(data-bind="text: ' ' + $root.i18n('Reject')")
    // /ko
    //ko if: can.activate()
    button.btn.btn-success(type="button", data-bind="click: toggleDisable, attr: {disabled: exe()}")
        span.glyphicon.glyphicon-ok-sign
        span(data-bind="text: ' ' + $root.i18n('Activate')")
    // /ko
    //ko if: can.deactivate()
    button.btn.btn-warning(type="button", data-bind="click: toggleDisable, attr: {disabled: exe()}")
        span.glyphicon.glyphicon-exclamation-sign
        span(data-bind="text: ' ' + $root.i18n('Deactivate')")
    // /ko
    //ko if: can.remove()
    button.btn.btn-danger(type="button", data-bind="click: remove, attr: {disabled: exe()}")
        span.glyphicon.glyphicon-trash
        span(data-bind="text: ' ' + $root.i18n('Delete')")
    // /ko
    //ko if: can.restore()
    button.btn.btn-success(type="button", data-bind="click: restore, attr: {disabled: exe()}")
        span.glyphicon.glyphicon-repeat
        span(data-bind="text: ' ' + $root.i18n('Restore')")
    // /ko
    | </script>

    //-ACTIONS EDIT MODE
    | <script id="photoActionsEdit" type="text/html">
    button.btn.btn-success(type="button", data-bind="click: editSave, attr: {disabled: exe()}")
        span.glyphicon.glyphicon-ok
        span(data-bind="text: ' ' + $root.i18n('Save')")
    button.btn.btn-danger(type="button", data-bind="click: editCancel, attr: {disabled: exe()}")
        span.glyphicon.glyphicon-remove
        span(data-bind="text: ' ' + $root.i18n('Cancel editing')")
    .typeSelect
        select.form-control(name="pDir", data-bind="css: {empty: !p.type()}, options: fields.types, value: p.type, optionsText: function(item) {return $root.i18n(fields.typeVals[item])}, optionsCaption: $root.i18n('Image type...')")
    | </script>

    //-DATA VIEW MODE
    | <script id="photoView" type="text/html">
    .infoBlock
        //ko if: p.title().length
        .info.title(data-bind="text: p.title()")
        // /ko

        div
            //ko if: p.year()
            span.tltp-wrap.rytltp-wrap
                a(data-bind="text:p.year(), attr: {href:'/ps?f=y!'+p.year()+'!'+p.year()}")
                //ko if: p.regions().length
                .tltp.tltp-top.tltp-touch.tltp-hotizontal-left.tltp-animate-opacity.rytltp.ytltp(data-bind="foreach: p.regions")
                    .yregion
                        a(data-bind="text:$parent.p.year()+' '+$root.regionTitle($data), attr: {href: '/ps?f=r!'+$data.cid()+'_y!'+$parent.p.year()+'!'+$parent.p.year()}")
                // /ko
            // /ko
            //ko if: p.year2() && p.year() !== p.year2()
            span.tltp-wrap.rytltp-wrap
                a(data-bind="attr: {href:'/ps?f=y!'+p.year()+'!'+p.year2()}")
                    = ' – '
                //ko if: p.regions().length
                .tltp.tltp-top.tltp-touch.tltp-hotizontal-left.tltp-animate-opacity.rytltp.ytltpBetween(data-bind="foreach: p.regions")
                    .yregion
                        a(data-bind="text:$parent.p.year()+' – '+$parent.p.year2()+' '+$root.regionTitle($data), attr: {href: '/ps?f=r!'+$data.cid()+'_y!'+$parent.p.year()+'!'+$parent.p.year2()}")
                // /ko
            span.tltp-wrap.rytltp-wrap
                a(data-bind="text:p.year2(), attr: {href:'/ps?f=y!'+p.year2()+'!'+p.year2()}")
                //ko if: p.regions().length
                .tltp.tltp-top.tltp-touch.tltp-hotizontal-left.tltp-animate-opacity.rytltp.ytltp2(data-bind="foreach: p.regions")
                    .yregion
                        a(data-bind="text:$parent.p.year2()+' '+$root.regionTitle($data), attr: {href: '/ps?f=r!'+$data.cid()+'_y!'+$parent.p.year2()+'!'+$parent.p.year2()}")
                // /ko
            // /ko

            //ko if: p.y() && p.regions().length
            =', '
            // /ko
            //ko if: p.regions().length
            //ko foreach: p.regions
            | <!--ko if: $index()-->,<!-- /ko -->
            .region
                .tltp-wrap.rytltp-wrap
                    | <!--ko if: $index()-->&nbsp;<!-- /ko -->
                    a(data-bind="text: $root.regionTitle($data), attr: {href: '/ps?f=r!' + $data.cid()}")
                    //ko if: $parent.IAdmin() || $data.phc() || $data.pac() || $data.cc()
                    .tltp.tltp-top.tltp-touch.tltp-animate-opacity.rytltp(data-bind="css: {'tltp-hotizontal-left': !$index()}")
                        //ko if: $parent.IAdmin()
                        .region-type-stat.region-type-stat-clickable(style="margin:1px 0;padding-right:4px;border-right:1px solid #e8e8e8;", data-bind="attr: {title: $root.i18n('Edit region')}")
                            a(data-bind="attr: {href: '/admin/region/' + $data.cid()}", style="color:orange;")
                                span.glyphicon.glyphicon-pencil
                        // /ko
                        //ko if: $data.phc()
                        .region-type-stat.region-type-stat-clickable
                            a(data-bind="attr: {href: '/ps?f=r!' + $data.cid() + '_t!1'}")
                                span.glyphicon.glyphicon-camera
                                span(data-bind="text: ' ' + $root.intl.num($data.phc())")
                        // /ko
                        //ko if: $data.pac()
                        .region-type-stat.region-type-stat-clickable
                            a(data-bind="attr: {href: '/ps?f=r!' + $data.cid() + '_t!2'}")
                                span.glyphicon.glyphicon-picture
                                span(data-bind="text: ' ' + $root.intl.num($data.pac())")
                        // /ko
                        //ko if: $data.cc()
                        .region-type-stat
                            span.glyphicon.glyphicon-comment(style="vertical-align:text-top;")
                            span(data-bind="text: ' ' + $root.intl.num($data.cc())")
                        // /ko
                    // /ko
            // /ko
            //ko if: !p.geo()
            =', '
            .region
                a(data-bind="text: $root.i18n('Where is this?'), attr: {href: '/ps?f=geo!0_r!' + p.regions()[p.regions().length-1].cid()}", style="color: #BEA265;")
            // /ko
            // /ko
        //ko if: p.desc().length
        .info(data-bind="html: p.desc()")
        // /ko
    .infoBlock
        //ko if: p.author().length
        .info
            span.infoName(data-bind="text: $root.i18n(fields.author) + ':'")
            span(data-bind="html: ' ' + p.author()")
        // /ko
        //ko if: p.source().length
        .info
            span.infoName(data-bind="text: $root.i18n(fields.source) + ':'")
            span(data-bind="html: ' ' + p.source()")
        // /ko
        //ko if: p.address().length
        .info
            span.infoName(data-bind="text: $root.i18n(fields.address) + ':'")
            span(data-bind="text: ' ' + p.address()")
        // /ko
        //ko if: p.dir && p.dir() && p.dir().length
        .info
            span.infoName(data-bind="text: $root.i18n(fields.dir) + ':'")
            span.direction-icon(data-bind="html: getDirIcon(p.dir())")
            | &nbsp;
            span(data-bind="text: fields.dirVals[p.dir()]", style="text-transform: lowercase;")
        // /ko
        //ko if: p.watersignText() && p.watersignTextApplied()
        .info
            span.infoName(data-bind="text: $root.i18n(fields.watersign.title) + ':'")
            span(data-bind="text: ' ' + p.watersignText()")
        // /ko
    //ko if: p.cdate
    .infoBlock
        .info
            a(href="?history=1", data-replace="true", data-bind="css: {changed: p.changed()}, text: $root.i18n('Last edit') + ' ' + fDateIn(p.cdate())")
    // /ko

    //-a.help.visible-lg(href="http://start.planeta.ru/campaigns/1694", target="_blank", title="Learn how to help the project")
        img.helpimg(src="/img/misc/fund2/bnline.jpg", title="Help PastVu")
    | </script>

    //-EDIT MODE PHOTO
    | <script id="photoEdit" type="text/html">
    .fieldWrap.mandatory(data-bind="css: {hasContent: p.title().length}")
        label(for="pName", data-bind="text: $root.i18n(fields.title)")
        input.form-control.title(name="pName", type="text", maxlength="120", data-bind="value: p.title, valueUpdate: 'afterkeydown', event: {focus: inputlblfocus, blur: inputlblblur}, attr: {placeholder: $root.i18n('Enter photo title')}")
    .fieldWrap.asrow
        .yearsEdit.mandatory(data-bind="css: {hasContent: typeof p.year() === 'number'}")
            span.infoName(data-bind="text: $root.i18n(fields.y) + ':'")
            input.form-control.year(type="text", data-bind="value: p.year, valueUpdate: 'keyup', event: {blur: yearCheck}", maxlength="4")
            span
                = ' – '
            input.form-control.year(type="text", data-bind="value: p.year2, valueUpdate: 'keyup', event: {blur: year2Check}", maxlength="4")
        .regions(data-bind="css: {loading: exeregion()}")
            span.infoName.mandatory(data-bind="text: $root.i18n(fields.regions) + ':'")
            //ko if: p.regions().length
            span(data-bind="foreach: p.regions")
                .region
                    a(target="_blank", data-bind="text: ' ' + $root.regionTitle($data), attr: {href: '/ps?f=r!' + $data.cid()}")
                //ko if: $index() < $parent.p.regions().length - 1
                | ,&#32;
                // /ko
            // /ko
            //ko if: !p.regions().length
            .region.err(data-bind="text: $root.i18n('Not linked')")
            // /ko
            //ko if: !p.geo()
            span.regionEdit(data-bind="click: regionSelect, text: '[' + $root.i18n('Select') + ']'")
            // /ko
    .fieldWrap(data-bind="css: {hasContent: p.desc().length}")
        label(for="pDesc", data-bind="text: $root.i18n(fields.desc)")
        textarea.form-control.descInput(name="pDesc", wrap="soft", maxlength="4000", data-bind="value: p.desc, valueUpdate: 'afterkeydown', event: {focus: descFocus, blur: descBlur}, attr: {placeholder: $root.i18n('Describe the photo')}")
    .fieldWrap(data-bind="css: {hasContent: p.author().length}")
        label(for="pAuthor", data-bind="text: $root.i18n(fields.author)")
        input.form-control(name="pAuthor", type="text", maxlength="250", data-bind="value: p.author, valueUpdate: 'afterkeydown', event: {focus: inputlblfocus, blur: inputlblblur}, attr: {placeholder: $root.i18n('Photo author')}")
    .fieldWrap(data-bind="css: {hasContent: p.source().length}")
        label(for="pSource", data-bind="text: $root.i18n(fields.source)")
        input.form-control(name="pSource", type="text", maxlength="250", data-bind="value: p.source, valueUpdate: 'afterkeydown', event: {focus: inputlblfocus, blur: inputlblblur}, attr: {placeholder: $root.i18n('You must specify the photo source (a link, a book, a scan of a photo from a personal archive, etc.)')}")
    .fieldWrap(data-bind="css: {hasContent: p.address().length}")
        label(for="pAddr", data-bind="text: $root.i18n(fields.address)")
        input.form-control(name="pAddr", type="text", maxlength="250", data-bind="value: p.address, valueUpdate: 'afterkeydown', event: {focus: inputlblfocus, blur: inputlblblur}, attr: {placeholder: $root.i18n('Do you know the shooting location address?')}")
    .fieldWrap(data-bind="css: {hasContent: !!p.dir()}")
        label(for="pDir", data-bind="text: $root.i18n(fields.dir)")
        select.form-control.direction(name="pDir", data-bind="css: {empty: !p.dir()}, options: fields.dirValsArr, value: p.dir, optionsCaption: $root.i18n('Choose shooting direction...'), optionsAfterRender: setDirOptionHTML")
    //ko if: can.nowaterchange()
    div(style="display:table;margin:8px 0 -6px;")
        div(style="display:table-cell;padding-right:5px;")
            span(data-bind="text: $root.i18n('Allow the user, on this photo, to control the watermark signature and original-download settings (current global setting for the user — ')")
            strong(data-bind="text: $root.i18n(p.user.nowaterchange() ? 'No' : 'Yes')")
            | )
        .btn-group.btn-group-sm(style="display:table-cell;width:65px;vertical-align:top;")
            button.btn.btn-primary.yes(type="button", data-bind="css: {active: !p.nowaterchange()}, click: nowaterchangeChange, text: $root.i18n('Yes')")
            button.btn.btn-primary.no(type="button", data-bind="css: {active: !!p.nowaterchange()}, click: nowaterchangeChange, text: $root.i18n('No')")
    // /ko
    //ko if: !can.watersign()
    .text-danger(style="margin:8px 0 -8px;")
        span.glyphicon.glyphicon-warning-sign
        span(data-bind="text: ' ' + $root.i18n('The administrator has disabled changing the signature settings on this image')")
    // /ko
    .watersingcontrol(data-bind="css: {deny: !can.watersign()}")
        .fieldWrap.asrow: span.panel-block(style="padding-bottom:3px")
            span.infoName(data-bind="text: $root.i18n(fields.watersign.title) + ':'")
            label.radio-inline
                input(type="radio", name="watersignIndividual", value="false", data-bind="checked: watersignIndividual")
                span(data-bind="text: ' ' + $root.i18n(fields.watersign.profile)")
                sup 1
            label.radio-inline
                input(type="radio", name="watersignIndividual", value="true", data-bind="checked: watersignIndividual")
                span(data-bind="text: ' ' + $root.i18n(fields.watersign.individual)")
            br
            div(style="margin-top:7px;")
                span(data-bind="text: $root.i18n(fields.watersign.option) + ': '")
                .btn-group.btn-group-sm.disabled
                    button.btn.btn-primary.yes(type="button", data-bind="attr: {disabled: !p.watersignIndividual()}, css: {active: watersignOption()!==false}, click: watersignOptionChange, text: $root.i18n('Yes')")
                    button.btn.btn-primary.no(type="button", data-bind="attr: {disabled: !p.watersignIndividual()}, css: {active: watersignOption()===false}, click: watersignOptionChange, text: $root.i18n('No')")
                // ko if: !!watersignOption()
                .radio(style="margin-top:8px"): label
                    input(type="radio", name="watersign", value="true", data-bind="attr: {disabled: !p.watersignIndividual()}, checked: watersignOption")
                    span(data-bind="text: ' ' + $root.i18n(fields.watersign.default) + ' ('")
                    span(style="color:#777", data-bind="text: 'uploaded by ' + p.user.login()")
                    | )
                .radio(style="margin-top:0"): .input-group(style="")
                    input(type="radio", name="watersign", value="custom", data-bind="attr: {disabled: !p.watersignIndividual()}, checked: watersignOption")
                    span(style="display: table-cell; padding: 2px 9px 2px 0;", data-bind="text: $root.i18n(fields.watersign.text)")
                    input.form-control(type="text", style="width:422px;max-width:100%", data-bind="attr: {disabled: !p.watersignIndividual() || watersignOption()!=='custom'}, value: watersignCustom, symbols: {pattern:fields.watersignPattern,watch:p.watersignCustom,noMultiplySpace:true,maxLength:fields.watersignLength}, valueUpdate: 'input'")
                // /ko
            p.text-muted(style="margin:3px 0;padding-left:8px;line-height:1.1;font-size:11px;")
                sup(style="margin-left:-8px;") 1
                span(data-bind="text: ' ' + $root.i18n('The setting shown above applies by default to all your images that have no per-image override.')")
                = " "
                span(style="display:inline-block;")
                    span(data-bind="text: $root.i18n('You can change it on the page') + ' '")
                    a(target="_blank", data-bind="attr: {href: '/u/' + p.user.login() + '/settings'}, text: $root.i18n('of settings')")
            p.text-muted(style="margin-bottom:0;padding-left:8px;line-height:1.1;font-size:11px;")
                sup(style="margin-left:-8px;") *
                span(data-bind="text: ' ' + $root.i18n('When the signature setting changes, the image is queued for processing, which may take some time')")

        .fieldWrap.asrow: span.panel-block(style="padding-bottom:3px")
            span.infoName(data-bind="text: $root.i18n(fields.downloadOrigin.title) + ':'")
            label.radio-inline
                input(type="radio", name="disallowDownloadOriginIndividual", value="false", data-bind="checked: disallowDownloadOriginIndividual")
                span(data-bind="text: ' ' + $root.i18n(fields.downloadOrigin.profile)")
                sup 1
            label.radio-inline
                input(type="radio", name="disallowDownloadOriginIndividual", value="true", data-bind="checked: disallowDownloadOriginIndividual")
                span(data-bind="text: ' ' + $root.i18n(fields.downloadOrigin.individual)")
            br
            div(style="margin-top:7px;")
                span(data-bind="text: $root.i18n(fields.downloadOrigin.option) + ': '")
                .btn-group.btn-group-sm.disabled
                    button.btn.btn-primary.yes(type="button", data-bind="attr: {disabled: !p.disallowDownloadOriginIndividual() || watersignOption()===false}, css: {active: !disallowDownloadOrigin()}, click: downloadOriginChange, text: $root.i18n('Yes')")
                    button.btn.btn-primary.no(type="button", data-bind="attr: {disabled: !p.disallowDownloadOriginIndividual()|| watersignOption()===false}, css: {active: disallowDownloadOrigin()}, click: downloadOriginChange, text: $root.i18n('No')")
            p.text-muted(style="margin-bottom:0;padding-left:8px;line-height:1.1;font-size:11px;")
                sup(style="margin-left:-8px;") *
                span(data-bind="text: ' ' + $root.i18n('Original downloads can only be disallowed when the image has a watermark signature')")
            p.text-muted(style="margin:3px 0;padding-left:8px;line-height:1.1;font-size:11px;")
                sup(style="margin-left:-8px;") 1
                span(data-bind="text: ' ' + $root.i18n('The setting shown above applies by default to all your images that have no per-image override.')")
                = " "
                span(style="display:inline-block;")
                    span(data-bind="text: $root.i18n('You can change it on the page') + ' '")
                    a(target="_blank", data-bind="attr: {href: '/u/' + p.user.login() + '/settings'}, text: $root.i18n('of settings')")
    .spanner
    | </script>


    //-EDIT MODE PAINTING
    | <script id="paintingEdit" type="text/html">
    .fieldWrap.mandatory(data-bind="css: {hasContent: p.title().length}")
        label(for="pName", data-bind="text: $root.i18n(fields.painting.title)")
        input.form-control.title(name="pName", type="text", maxlength="120", data-bind="value: p.title, valueUpdate: 'afterkeydown', event: {focus: inputlblfocus, blur: inputlblblur}, attr: {placeholder: $root.i18n('Enter title')}")
    .fieldWrap.asrow
        .yearsEdit.mandatory(data-bind="css: {hasContent: typeof p.year() === 'number'}")
            span.infoName(data-bind="text: $root.i18n(fields.y) + ':'")
            input.form-control.year(type="text", data-bind="value: p.year, valueUpdate: 'keyup', event: {blur: yearCheck}", maxlength="4")
            span
                = ' – '
            input.form-control.year(type="text", data-bind="value: p.year2, valueUpdate: 'keyup', event: {blur: year2Check}", maxlength="4")
        .regions(data-bind="css: {loading: exeregion()}")
            span.infoName.mandatory(data-bind="text: $root.i18n(fields.regions) + ':'")
            //ko if: p.regions().length
            span(data-bind="foreach: p.regions")
                .region
                    a(target="_blank", data-bind="text: ' ' + $root.regionTitle($data), attr: {href: '/ps?f=r!' + $data.cid()}")
                //ko if: $index() < $parent.p.regions().length - 1
                | ,&#32;
                // /ko
            // /ko
            //ko if: !p.regions().length
            .region.err(data-bind="text: $root.i18n('Not linked')")
            // /ko
            //ko if: !p.geo()
            span.regionEdit(data-bind="click: regionSelect, text: '[' + $root.i18n('Select') + ']'")
            // /ko
    .fieldWrap(data-bind="css: {hasContent: p.desc().length}")
        label(for="pDesc", data-bind="text: $root.i18n(fields.desc)")
        textarea.form-control.descInput(name="pDesc", wrap="soft", maxlength="4000", data-bind="value: p.desc, valueUpdate: 'afterkeydown', event: {focus: descFocus, blur: descBlur}, attr: {placeholder: $root.i18n('Describe the artwork')}")
    .fieldWrap(data-bind="css: {hasContent: p.author().length}")
        label(for="pAuthor", data-bind="text: $root.i18n(fields.author)")
        input.form-control(name="pAuthor", type="text", maxlength="250", data-bind="value: p.author, valueUpdate: 'afterkeydown', event: {focus: inputlblfocus, blur: inputlblblur}, attr: {placeholder: $root.i18n('Author')}")
    .fieldWrap(data-bind="css: {hasContent: p.source().length}")
        label(for="pSource", data-bind="text: $root.i18n(fields.source)")
        input.form-control(name="pSource", type="text", maxlength="250", data-bind="value: p.source, valueUpdate: 'afterkeydown', event: {focus: inputlblfocus, blur: inputlblblur}, attr: {placeholder: $root.i18n('You must specify the image source (a link, a book, a scan of a photo from a personal archive, etc.)')}")
    .fieldWrap(data-bind="css: {hasContent: !!p.dir()}")
        label(for="pDir", data-bind="text: $root.i18n(fields.dir)")
        select.form-control.direction(name="pDir", data-bind="css: {empty: !p.dir()}, options: fields.dirValsArr, value: p.dir, optionsCaption: $root.i18n('Choose viewing direction...'), optionsAfterRender: setDirOptionHTML")
    //ko if: can.nowaterchange()
    div(style="display:table;margin:8px 0 -6px;")
        div(style="display:table-cell;padding-right:5px;")
            span(data-bind="text: $root.i18n('Allow the user, on this image, to control the watermark signature and original-download settings (current global setting for the user — ')")
            strong(data-bind="text: $root.i18n(p.user.nowaterchange() ? 'No' : 'Yes')")
            | )
        .btn-group.btn-group-sm(style="display:table-cell;width:65px;vertical-align:top;")
            button.btn.btn-primary.yes(type="button", data-bind="css: {active: !p.nowaterchange()}, click: nowaterchangeChange, text: $root.i18n('Yes')")
            button.btn.btn-primary.no(type="button", data-bind="css: {active: !!p.nowaterchange()}, click: nowaterchangeChange, text: $root.i18n('No')")
    // /ko
    //ko if: !can.watersign()
    .text-danger(style="margin:8px 0 -8px;")
        span.glyphicon.glyphicon-warning-sign
        span(data-bind="text: ' ' + $root.i18n('The administrator has disabled changing the signature settings on this image')")
    // /ko
    .watersingcontrol(data-bind="css: {deny: !can.watersign()}")
        .fieldWrap.asrow: span.panel-block(style="padding-bottom:3px")
            span.infoName(data-bind="text: $root.i18n(fields.watersign.title) + ':'")
            label.radio-inline
                input(type="radio", name="watersignIndividual", value="false", data-bind="checked: watersignIndividual")
                span(data-bind="text: ' ' + $root.i18n(fields.watersign.profile)")
                sup 1
            label.radio-inline
                input(type="radio", name="watersignIndividual", value="true", data-bind="checked: watersignIndividual")
                span(data-bind="text: ' ' + $root.i18n(fields.watersign.individual)")
            br
            div(style="margin-top:7px;")
                span(data-bind="text: $root.i18n(fields.watersign.option) + ': '")
                .btn-group.btn-group-sm.disabled
                    button.btn.btn-primary.yes(type="button", data-bind="attr: {disabled: !p.watersignIndividual()}, css: {active: watersignOption()!==false}, click: watersignOptionChange, text: $root.i18n('Yes')")
                    button.btn.btn-primary.no(type="button", data-bind="attr: {disabled: !p.watersignIndividual()}, css: {active: watersignOption()===false}, click: watersignOptionChange, text: $root.i18n('No')")
                // ko if: !!watersignOption()
                .radio(style="margin-top:8px"): label
                    input(type="radio", name="watersign", value="true", data-bind="attr: {disabled: !p.watersignIndividual()}, checked: watersignOption")
                    span(data-bind="text: ' ' + $root.i18n(fields.watersign.default) + ' ('")
                    span(style="color:#777", data-bind="text: 'uploaded by ' + p.user.login()")
                    | )
                .radio(style="margin-top:0"): .input-group(style="")
                    input(type="radio", name="watersign", value="custom", data-bind="attr: {disabled: !p.watersignIndividual()}, checked: watersignOption")
                    span(style="display: table-cell; padding: 2px 9px 2px 0;", data-bind="text: $root.i18n(fields.watersign.text)")
                    input.form-control(type="text", style="width:422px;max-width:100%", data-bind="attr: {disabled: !p.watersignIndividual() || watersignOption()!=='custom'}, value: watersignCustom, symbols: {pattern:fields.watersignPattern,watch:p.watersignCustom,noMultiplySpace:true,maxLength:fields.watersignLength}, valueUpdate: 'input'")
                // /ko
            p.text-muted(style="margin:3px 0;padding-left:8px;line-height:1.1;font-size:11px;")
                sup(style="margin-left:-8px;") 1
                span(data-bind="text: ' ' + $root.i18n('The setting shown above applies by default to all your images that have no per-image override.')")
                = " "
                span(style="display:inline-block;")
                    span(data-bind="text: $root.i18n('You can change it on the page') + ' '")
                    a(target="_blank", data-bind="attr: {href: '/u/' + p.user.login() + '/settings'}, text: $root.i18n('of settings')")
            p.text-muted(style="margin-bottom:0;padding-left:8px;line-height:1.1;font-size:11px;")
                sup(style="margin-left:-8px;") *
                span(data-bind="text: ' ' + $root.i18n('When the signature setting changes, the image is queued for processing, which may take some time')")

        .fieldWrap.asrow: span.panel-block(style="padding-bottom:3px")
            span.infoName(data-bind="text: $root.i18n(fields.downloadOrigin.title) + ':'")
            label.radio-inline
                input(type="radio", name="disallowDownloadOriginIndividual", value="false", data-bind="checked: disallowDownloadOriginIndividual")
                span(data-bind="text: ' ' + $root.i18n(fields.downloadOrigin.profile)")
                sup 1
            label.radio-inline
                input(type="radio", name="disallowDownloadOriginIndividual", value="true", data-bind="checked: disallowDownloadOriginIndividual")
                span(data-bind="text: ' ' + $root.i18n(fields.downloadOrigin.individual)")
            br
            div(style="margin-top:7px;")
                span(data-bind="text: $root.i18n(fields.downloadOrigin.option) + ': '")
                .btn-group.btn-group-sm.disabled
                    button.btn.btn-primary.yes(type="button", data-bind="attr: {disabled: !p.disallowDownloadOriginIndividual() || watersignOption()===false}, css: {active: !disallowDownloadOrigin()}, click: downloadOriginChange, text: $root.i18n('Yes')")
                    button.btn.btn-primary.no(type="button", data-bind="attr: {disabled: !p.disallowDownloadOriginIndividual()|| watersignOption()===false}, css: {active: disallowDownloadOrigin()}, click: downloadOriginChange, text: $root.i18n('No')")
            p.text-muted(style="margin-bottom:0;padding-left:8px;line-height:1.1;font-size:11px;")
                sup(style="margin-left:-8px;") *
                span(data-bind="text: ' ' + $root.i18n('Original downloads can only be disallowed when the watermark has a signature')")
            p.text-muted(style="margin:3px 0;padding-left:8px;line-height:1.1;font-size:11px;")
                sup(style="margin-left:-8px;") 1
                span(data-bind="text: ' ' + $root.i18n('The setting shown above applies by default to all your images that have no per-image override.')")
                = " "
                span(style="display:inline-block;")
                    span(data-bind="text: $root.i18n('You can change it on the page') + ' '")
                    a(target="_blank", data-bind="attr: {href: '/u/' + p.user.login() + '/settings'}, text: $root.i18n('of settings')")
    .spanner
    | </script>
