.photo(data-bind="with: repository[M!M]")
	.indentLogo.photoTop(data-bind="style: {display: can.edit() ? 'block' : 'none'}")
		.photoAction(data-bind="template: {name: edit() ? 'photoActionsEdit' : 'photoActionsView'}")
		.photoAction.convertAction(data-bind="style: {display: !edit() && can.convert() ? 'inline-block' : 'none'}, css: {disabled: exe()}")
			select.multiSelect#convertSelect(multiple="multiple", data-bind="multiselect: true, options: convertOptions, selectedOptions: selectedOpt, optionsValue: 'vId', optionsText: 'vName'")
			button.btn-strict.btnConvert(type="button", data-bind="click: toConvert, attr: {disabled: exe()}")
				span start
		.photoMsg(data-bind="text: msg(), css: msgCss(), style: {display: msg().length > 0 ? '' : 'none'}")

	.row-fluid.photoData(data-bind="css: {editMode: edit()}")
		.span8-9.photoPanel
			.row-fluid.photoImgRow
				.photoImgWrap(data-bind="css: {loading: photoLoading(), fragSensitive: !edit() && !fraging()}")
					img.photoImg(data-bind="attr: {src: photoSrc()}, style: {width: ws() + 'px', height: hs()+ 'px'}")
					.photoLoading
					//ko if: !edit()
					//ko foreach: p.frags
					a.photoFrag(data-bind="attr: {'data-cid': $data.cid(), href: '?hl=comment-' + $data.cid()}, style: {top: $data.t() + '%', left: $data.l() + '%', width: $data.w() + '%', height: $data.h() + '%', zIndex: 10 + (10000 / ($data.w() * $data.h())) >> 0}")
					// /ko
					// /ko
				br
				.photoTools(data-bind="style: {width: ws() + 'px'}")
					//ko if: hscalePossible()
					.photoHeight.state(data-state="hscaleTumbler", data-bind="tooltip: {title: 'Подгонять по высоте видимой области', trigger: 'click hover'}, css: {on: hscalePossible() && hscaleTumbler()}, click: stateChange")
						i.icon-resize-vertical.icon-white
					// /ko
			//ko template: {name: edit() ? 'photoEdit' : 'photoView', afterRender: tplAfterRender}
			// /ko
		.span3-4.rightPanel
			.row-fluid.photoUser
				a.avatar.fringe(target='_self', data-bind="attr: {href: '/u/' + p.user.login()}")
					img(data-bind="attr: {src: p.user.avatar()}, event: {load: onImgLoad, error: onAvatarError}")
				.userInfo(data-bind="html: userInfo()")
			.row-fluid.photoMap.mContainer.mHidden(data-bind="allowBindings: false, style: {height: mapH()}")
			.row-fluid.photoTiles(data-bind="style: {display: userRibbon().length ? '' : 'none'}")
				.lineBehind
					span(data-bind="html: 'Отрезок <a target=\"_self\" href=\"/u/' + p.user.login() + '/photo\">' + 'галереи</a> пользователя'")
				//ko foreach: userRibbon
				a.photoPreview.withStatus(data-bind="attr: {href: '/p/' + cid, title: $data.title}, style: {marginRight: $parent.thumbM}, css: {'pFresh': $data.fresh, 'pDis': $data.disabled, 'pDel': $data.del}")
					.photoBox
						img.img(data-bind="attr: {src: sfile}, event: {load: $parent.onPreviewLoad, error: $parent.onPreviewErr}, style: {width: $parent.thumbW, height: $parent.thumbH}")
						.curtain
						//ko if: $data.noPublic
						i.icon-white.fringe.status(data-bind="css: {'icon-asterisk': fresh && !ready, 'icon-flag': fresh && ready, 'icon-lock': disabled, 'icon-trash': del}, attr: {title: fresh ? (ready ? 'Новая. Ждет подтверждения' : 'Новая фотография') : (disabled ? 'Фотография неактивна' : 'Фотография удалена')}")
						// /ko
				// /ko
		.row-fluid.photoComments
			//ko if: !edit() && !p.fresh()
			.commentsHead Комментарии
			.dotDelimeter ·
			.commentsCount(data-bind="text: p.ccount()")
			//ko if: auth.loggedIn()
			.dotDelimeter ·
			.commentsAdd(data-bind="click: commentAdd") Добавить
			// /ko
			.commentsLoad(data-bind="style: {display: commentsLoading() ? '' : 'none'}") &nbsp;
			// /ko
			.photoCommentsContainer.mContainer.mHidden(data-bind="allowBindings: false")
	.row-fluid.heightExpander


	//-ACTIONS VIEW MODE
	script(id="photoActionsView", type="text/html")
		button.btn-strict(type="button", data-bind="css: {disabled: exe()}, click: editSave, attr: {disabled: exe()}")
			i.icon-pencil.icon-white
			span Редактировать
		//ko if: IOwner() && p.fresh() && !p.ready()
		button.btn-strict.btn-strict-success(type="button", title="Отправить на подтверждение модератору", data-bind="css: {disabled: exe()}, click: setReady, attr: {disabled: exe()}")
			i.icon-check.icon-white
			span Готово
		// /ko
		div(style="display:inline-block")
			//ko if: canBeApprove()
			button.btn-strict.btn-strict-success(type="button", title="Подтвердить и опубликовать эту фотографию", data-bind="css: {disabled: exe()}, click: setApprove, attr: {disabled: exe()}")
				i.icon-ok.icon-white
				span Подтвердить
			// /ko
			//ko if: canBeDisable()
			button.btn-strict(type="button", data-bind="css: {'btn-strict-warning': !p.disabled(), 'btn-strict-success': p.disabled(), disabled: exe()}, click: toggleDisable, attr: {disabled: exe()}")
				i.icon-white(data-bind="css: {'icon-exclamation-sign': !p.disabled(), 'icon-ok-sign': p.disabled()}")
				span(data-bind="text: p.disabled() ? 'Активировать' : 'Деактивировать'")
			// /ko
			//ko if: can.remove()
			button.btn-strict.btn-strict-danger(type="button", data-bind="css: {disabled: exe()}, click: remove, attr: {disabled: exe()}")
				i.icon-trash.icon-white
				span(data-bind="text: !IOwner() && p.fresh() ? 'Отклонить' : 'Удалить'")
			// /ko

	//-ACTIONS EDIT MODE
	script(id="photoActionsEdit", type="text/html")
		button.btn-strict.btn-strict-success(type="button", data-bind="css: {disabled: exe()}, click: editSave, attr: {disabled: exe()}")
			i.icon-ok.icon-white
			span Сохранить
		button.btn-strict.btn-strict-danger(type="button", data-bind="css: {disabled: exe()},click: editCancel, attr: {disabled: exe()}")
			i.icon-remove.icon-white
			span Отмена редактирования

	//-DATA VIEW MODE
	script(id="photoView", type="text/html")
		.row-fluid.photoInfoBlock
			//ko if: p.title().length > 0
			.row-fluid.photoInfo.photoTitle.editable(data-bind="cEdit: {edit: edit(), val: p.title, cap: 'Введите название фотографии'}")
			// /ko
			//ko if: p.desc().length > 0
			.row-fluid.photoInfo(data-bind="html: p.desc()")
			// /ko
		.row-fluid.photoInfoBlock
			//ko if: p.address().length > 0
			.row-fluid.photoInfo
				.infoName Адрес снимка:
				.editable(data-bind="cEdit: {edit: edit(), val: p.address, cap: 'Вы знаете адрес снимка?', readPrefix: 'Adress:', readPrefixCss: 'infoName'}")
			// /ko
			//ko if: p.source().length > 0
			.row-fluid.photoInfo
				.infoName Источник:
				.editable(data-bind="html: p.source()")
			// /ko
			//ko if: p.author().length > 0
			.row-fluid.photoInfo
				.infoName Автор:
				.editable(data-bind="cEdit: {edit: edit(), val: p.author, cap: 'Возможно вы знаете автора фотографии?'}")
			// /ko
		.row-fluid.photoInfoBlock
			.row-fluid.photoInfo
				| Мы думаем, что снимок сделан
				span(data-bind="html: '&nbsp;' + (p.year() !== p.year2() ? 'между' : 'в') + '&nbsp;'")
				span(data-bind="html: p.year()")
				span(data-bind="html: '&minus;' + p.year2(), style: {display: p.year() !== p.year2() ? '' : 'none'}")
				span(data-bind="html: '&nbsp;' + (p.year() !== p.year2() ? 'годами' : 'году') + '&nbsp;'")
				//ko if: p.dir && p.dir() && p.dir().length > 0
				span &nbsp;(направление съемки &minus;&nbsp;
				span.editable(data-bind="text: $root.P.photoDirsTxt[p.dir()]", style="text-transform: lowercase;")
				| )
				// /ko
		.h_separator

	//-EDIT MODE
	script(id="photoEdit", type="text/html")
		.row-fluid.photoInfoBlock
			.row-fluid.photoInfo.photoTitle.editable(data-bind="cEdit: {edit: edit(), val: p.title, cap: 'Введите название фотографии'}")
			.row-fluid.photoInfo.photoDesc
				textarea.descInput(wrap="soft", data-bind="event: {focus: descFocusBind}")
				label.descInputLabel(data-bind="click: descLabelClickBind") Опишите фотографию
		.row-fluid.photoInfoBlock
			.row-fluid.photoInfo
				.infoName Adress:
				.editable(data-bind="cEdit: {edit: edit(), val: p.address, cap: 'Вы знаете адрес снимка?', readPrefix: 'Adress:', readPrefixCss: 'infoName'}")
			.row-fluid.photoInfo
				.infoName Source:
				.editable(data-bind="cEdit: {edit: edit(), val: p.source, cap: 'Если вам известен источник фотографии, укажите его здесь'}")
			.row-fluid.photoInfo
				.infoName Author:
				.editable(data-bind="cEdit: {edit: edit(), val: p.author, cap: 'Возможно вы знаете автора фотографии?'}")
		.row-fluid.photoInfoBlock
			.row-fluid.photoInfo
				| Я считаю, что снимок сделан между&nbsp;
				span.editable(data-bind="cEdit: {edit: edit(), val: p.year}")
				| &nbsp;и&nbsp;
				span.editable(data-bind="cEdit: {edit: edit(), val: p.year2}")
				| &nbsp;&nbsp;Направление съемки&nbsp;
				select(data-bind="options: $root.P.photoDirsArr, value: p.dir, optionsText: function(item) {return $root.P.photoDirsTxt[item]}, optionsCaption: 'Выберите направление...'")