module.exports = function (config, appRequire) {
    const _ = appRequire('lodash');

    _.merge(config, {
        client: {
            hostname: 'mypastvu.com',
        },

        storePath: '../store',
        logPath: '../logs',

        mongo: {
            pool: 10,
        },

        // In development you should create a test account at https://ethereal.email, so email will not be sent to the real users
        mail: {
            type: 'SMTP',
            service: 'gmail',
            secure: true,
            host: '',
            port: 0,
            auth: {
                user: '',
                pass: '',
            },
        },
    });

    return config;
};
