module.exports = function (config, appRequire) {
    const _ = appRequire('lodash');
    const ms = appRequire('ms');

    _.merge(config, {
        client: {
            hostname: 'klimashkin.com'
        },

        storePath: '../store',

        manualGarbageCollect: ms('30s'),

        mongo: {
            pool: 10
        },

        mail: {
            type: 'SMTP',
            service: 'gmail',
            secure: true,
            host: '',
            port: 0,
            auth: {
                user: '',
                pass: ''
            }
        }
    });

    return config;
};