.mapModuleWrapper(data-bind="with: repository[M!M]")
    .mapContainer(data-bind="css: {embedded: embedded}")
        .map

        //ko if: embedded
        .mapInfos.tltp-wrap
            .mapInfo.button.fringe(data-bind="css: {no: !point.geo()}, click: copyGeo, attr: {'aria-label': (point.geo() ? 'Copy coordinates to the clipboard' : 'Coordinates of photo are not specified')}")
                span.location-copy
            //ko if: !editing() && point.geo()
            .tltp.tltp-right.tltp-animate-opacity(style="white-space:nowrap")
                | Copy coordinates to the clipboard
            // /ko
            //ko if: editing()
            .mapInfo.geoInput
                input(type="text", data-bind="value: geoInputComputed, valueUpdate: 'keyup', event: {focusout: geoInputBlur}", placeholder="Latitude, Longtitude")
                //ko if: point.geo()
                button.btn.btn-warning(type="button", data-bind="click: delPointGeo")
                    span.material-icons-inline.location-off
                    | &nbsp;Reset the coordinates
                // /ko
            // /ko
            //ko if: editing() && !point.geo()
            .tltp.tltp-right.tltp-show(style="white-space:nowrap")
                span.material-icons-inline.location-on
                | &nbsp;Click on the map to set coordinates
            // /ko
            //ko if: !editing() && !point.geo()
            .mapInfo.warn
                span.glyphicon.glyphicon-warning-sign
                | &nbsp;Coordinates of photo are not specified
            // /ko
        // /ko

        .mapYearSelector
            .yearSlider
                .ui-slider-handle.L
                .ui-slider-handle.R
            .yearOuter.L
            .yearOuter.R
        .mapNavigation.mContainer.mHidden
        .trtools
            span.tltp-wrap
                .trtool.button.fringe(data-bind="css: {no: isPainting()}, click: function () {setPainting(false)}" aria-describedby="showphotosonmap")
                    span.glyphicon.glyphicon-camera
                .tltp.tltp-bottom.tltp-animate-opacity(id="showphotosonmap" role="tooltip")
                    | Show photos on map
            span.tltp-wrap
                .trtool.button.fringe(data-bind="css: {no: !isPainting()}, click: function () {setPainting(true)}" aria-describedby="showpaintingsonmap")
                    span.glyphicon.glyphicon-picture
                .tltp.tltp-bottom.tltp-animate-opacity(id="showpaintingsonmap" role="tooltip")
                    | Show paintings on map
            span.tltp-wrap
                .trtool.button.fringe(data-bind="css: {no: !openNewTab()}, click: function () {openNewTab(!openNewTab())}" aria-describedby="opennewtab")
                    span.glyphicon.glyphicon-share
                .tltp.tltp-bottom.tltp-hotizontal-right.tltp-animate-opacity(id="opennewtab" role="tooltip" data-bind="text: (openNewTab() ? 'Disable' : 'Enable') + ' opening of a photo in a new window'")
            //ko if: !embedded
            span.tltp-wrap
                .trtool.button.link.fringe(data-bind="click: showLink", aria-describedby="showlink")
                    span.glyphicon.glyphicon-link
                    //ko if: linkShow()
                    input.inputLink(type="url", readonly, data-bind="click: linkClick, value: link()", autocorrect="off", autocapitalize="off")
                    // /ko
                .tltp.tltp-bottom.tltp-hotizontal-right.tltp-animate-opacity(id="showlink" role="tooltip" data-bind="css: {hidden: linkShow()}")
                    | Link to current map position
            // /ko
            .trtool.layersPanel.fringe(data-bind="css: {open: layersOpen()}")
                .currentLayer(data-bind="click: toggleLayers, attr: {title: layersOpen() ? 'Click to hide layer vaiarnts' : 'Click to show available map layers'}")
                    .currentLayerTxt(data-bind="text: layerActiveDesc()")
                    img.layerImg(src='/img/map/layers.png')
                .layerSystems(data-bind="style: {width: (layersOpen() ? 110 * layers().length : 64) + 'px'}")
                    .h_separator
                    //ko foreach: {data: $data.layers, as: 'system'}
                    .layerSystem(data-bind="css: {selected: system.selected()}")
                        .layerHead(data-bind="text: system.desc")
                        //ko foreach: {data:system.types, as: 'type'}
                        .layerType(data-bind="css: {selected: type.selected()}, text: type.desc, click: function () {$parents[1].selectLayer(system.id, type.id)}")
                        // /ko
                    // /ko
