@import "../_vars.less";
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

@maxThumbDimension: 164px;
// 246x164
@PhotoToolHeight: 25px;

.user_photo {

	.photoThumbs {
		display: -webkit-flex;
		//display: -moz-flex;
		display: -ms-flex;
		//display: flex;

		-webkit-flex-wrap: wrap;
		//-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		//flex-wrap: wrap;

		-webkit-flex-direction: row;
		//-moz-flex-direction: row;
		-ms-flex-direction: row;
		//flex-direction: row;

		-webkit-align-items: center;
		//-moz-align-items: center;
		-ms-align-items: center;
		//align-items: center;

		-webkit-justify-content: flex-start; // flex-start | flex-end | center | space-between | space-around
		//-moz-justify-content: flex-start;
		-ms-justify-content: flex-start;
		//justify-content: flex-start;
	}

	.photoThumb {
		display: inline-block;
		margin: 0 7px 17px 7px;
		padding-bottom: @PhotoToolHeight;
		font-size: 16px;
		opacity: 0;
		.transition(opacity .4s linear);

		&.showPrv {
			opacity: 1;
		}

		&:hover {
			color: @MainLigthColor;
			.curtain {
				background-color: rgba(0, 0, 0, 0);
			}
		}

		.photoBox {
			position: relative;
			background-color: rgb(88, 109, 121);
		}

		.photoImg {
			position: relative;
			display: block;
		}

		.curtain {
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.1);
			.transition(all .1s linear);
		}

		.imgFail {
			position: absolute;
			top: 40%;
			width: 100%;
			text-align: center;
			line-height: 16px;
		}
		.status {
			position: absolute;
			display: block;
			width: 17px;
			height: 16px;
			bottom: 4px;
			left: 2px;

			&.icon-asterisk {
				width: 16px;
				background-position: -455px -95px;
			}
			&.icon-lock {
				background-position: -286px -23px;
			}
			&.icon-trash {
				background-position: -455px 1px;
			}
		}

		.photoTitle {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: @PhotoToolHeight;
			line-height: @PhotoToolHeight;
			padding: 0 0 0 5px;
			.text-overflow();

			&::after {
				position: absolute;
				content: "";
				left: 0;
				right: 0;
				top: 0;
				height: 1px;
				filter: none;
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4NTk5MSIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTIlIiBzdG9wLWNvbG9yPSIjNzhhMmNjIiBzdG9wLW9wYWNpdHk9IjAuOCIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4OCUiIHN0b3AtY29sb3I9IiM3OGEyY2MiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODU5OTEiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
				background: -moz-linear-gradient(left, rgba(40, 89, 145, 0.3) 0%, rgba(120, 162, 204, 0.8) 12%, rgb(255, 255, 255) 50%, rgba(120, 162, 204, 0.8) 88%, rgba(40, 89, 145, 0.3) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(40, 89, 145, 0.3)), color-stop(12%, rgba(120, 162, 204, 0.8)), color-stop(50%, rgb(255, 255, 255)), color-stop(88%, rgba(120, 162, 204, 0.8)), color-stop(100%, rgba(40, 89, 145, 0.3))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left, rgba(40, 89, 145, 0.3) 0%, rgba(120, 162, 204, 0.8) 12%, rgb(255, 255, 255) 50%, rgba(120, 162, 204, 0.8) 88%, rgba(40, 89, 145, 0.3) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left, rgba(40, 89, 145, 0.3) 0%, rgba(120, 162, 204, 0.8) 12%, rgb(255, 255, 255) 50%, rgba(120, 162, 204, 0.8) 88%, rgba(40, 89, 145, 0.3) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left, rgba(40, 89, 145, 0.3) 0%, rgba(120, 162, 204, 0.8) 12%, rgb(255, 255, 255) 50%, rgba(120, 162, 204, 0.8) 88%, rgba(40, 89, 145, 0.3) 100%); /* IE10+ */
				background: linear-gradient(to right, rgba(40, 89, 145, 0.3) 0%, rgba(120, 162, 204, 0.8) 12%, rgb(255, 255, 255) 50%, rgba(120, 162, 204, 0.8) 88%, rgba(40, 89, 145, 0.3) 100%); /* W3C */
			}
		}

		&.pFresh {
			border-color: rgb(114, 193, 116);

			.photoTitle::after {
				filter: none;
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4NTk5MSIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTIlIiBzdG9wLWNvbG9yPSIjNjZhZDY4IiBzdG9wLW9wYWNpdHk9IjAuOCIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM5NmZmOTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4OCUiIHN0b3AtY29sb3I9IiM2NmFkNjgiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODU5OTEiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
				background: -moz-linear-gradient(left, rgba(40, 89, 145, 0.3) 0%, rgba(102, 173, 104, 0.8) 12%, rgba(150, 255, 150, 1) 50%, rgba(102, 173, 104, 0.8) 88%, rgba(40, 89, 145, 0.3) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(40, 89, 145, 0.3)), color-stop(12%, rgba(102, 173, 104, 0.8)), color-stop(50%, rgba(150, 255, 150, 1)), color-stop(88%, rgba(102, 173, 104, 0.8)), color-stop(100%, rgba(40, 89, 145, 0.3))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left, rgba(40, 89, 145, 0.3) 0%, rgba(102, 173, 104, 0.8) 12%, rgba(150, 255, 150, 1) 50%, rgba(102, 173, 104, 0.8) 88%, rgba(40, 89, 145, 0.3) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left, rgba(40, 89, 145, 0.3) 0%, rgba(102, 173, 104, 0.8) 12%, rgba(150, 255, 150, 1) 50%, rgba(102, 173, 104, 0.8) 88%, rgba(40, 89, 145, 0.3) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left, rgba(40, 89, 145, 0.3) 0%, rgba(102, 173, 104, 0.8) 12%, rgba(150, 255, 150, 1) 50%, rgba(102, 173, 104, 0.8) 88%, rgba(40, 89, 145, 0.3) 100%); /* IE10+ */
				background: linear-gradient(to right, rgba(40, 89, 145, 0.3) 0%, rgba(102, 173, 104, 0.8) 12%, rgba(150, 255, 150, 1) 50%, rgba(102, 173, 104, 0.8) 88%, rgba(40, 89, 145, 0.3) 100%); /* W3C */
			}
			.status {
				background-color: rgb(3, 168, 28);
			}
		}
		&.pDis {
			border-color: rgb(232, 197, 88);

			.photoTitle::after {
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4NTk5MSIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTIlIiBzdG9wLWNvbG9yPSIjZDZiYjg5IiBzdG9wLW9wYWNpdHk9IjAuOCIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmFhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4OCUiIHN0b3AtY29sb3I9IiNkNmJiODkiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODU5OTEiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
				background: -moz-linear-gradient(left, rgba(40, 89, 145, 0.3) 0%, rgba(214, 187, 137, 0.8) 12%, rgb(255, 202, 0) 50%, rgba(214, 187, 137, 0.8) 88%, rgba(40, 89, 145, 0.3) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(40, 89, 145, 0.3)), color-stop(12%, rgba(214, 187, 137, 0.8)), color-stop(50%, rgb(255, 202, 0)), color-stop(88%, rgba(214, 187, 137, 0.8)), color-stop(100%, rgba(40, 89, 145, 0.3))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left, rgba(40, 89, 145, 0.3) 0%, rgba(214, 187, 137, 0.8) 12%, rgb(255, 202, 0) 50%, rgba(214, 187, 137, 0.8) 88%, rgba(40, 89, 145, 0.3) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left, rgba(40, 89, 145, 0.3) 0%, rgba(214, 187, 137, 0.8) 12%, rgb(255, 202, 0) 50%, rgba(214, 187, 137, 0.8) 88%, rgba(40, 89, 145, 0.3) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left, rgba(40, 89, 145, 0.3) 0%, rgba(214, 187, 137, 0.8) 12%, rgb(255, 202, 0) 50%, rgba(214, 187, 137, 0.8) 88%, rgba(40, 89, 145, 0.3) 100%); /* IE10+ */
				background: linear-gradient(to right, rgba(40, 89, 145, 0.3) 0%, rgba(214, 187, 137, 0.8) 12%, rgb(255, 202, 0) 50%, rgba(214, 187, 137, 0.8) 88%, rgba(40, 89, 145, 0.3) 100%); /* W3C */
			}
			.status {
				background-color: rgb(255, 155, 0);
			}
		}
		&.pDel {
			border-color: rgb(218, 99, 99);

			.photoTitle::after {
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4NTk5MSIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTIlIiBzdG9wLWNvbG9yPSIjZGQ5MDkwIiBzdG9wLW9wYWNpdHk9IjAuOCIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZjAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4OCUiIHN0b3AtY29sb3I9IiNkZDkwOTAiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODU5OTEiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
				background: -moz-linear-gradient(left, rgba(40,89,145,0.3) 0%, rgba(221,144,144,0.8) 12%, rgba(255,0,0,1) 50%, rgba(221,144,144,0.8) 88%, rgba(40,89,145,0.3) 100%);
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(40,89,145,0.3)), color-stop(12%,rgba(221,144,144,0.8)), color-stop(50%,rgba(255,0,0,1)), color-stop(88%,rgba(221,144,144,0.8)), color-stop(100%,rgba(40,89,145,0.3)));
				background: -webkit-linear-gradient(left, rgba(40,89,145,0.3) 0%,rgba(221,144,144,0.8) 12%,rgba(255,0,0,1) 50%,rgba(221,144,144,0.8) 88%,rgba(40,89,145,0.3) 100%);
				background: -o-linear-gradient(left, rgba(40,89,145,0.3) 0%,rgba(221,144,144,0.8) 12%,rgba(255,0,0,1) 50%,rgba(221,144,144,0.8) 88%,rgba(40,89,145,0.3) 100%);
				background: -ms-linear-gradient(left, rgba(40,89,145,0.3) 0%,rgba(221,144,144,0.8) 12%,rgba(255,0,0,1) 50%,rgba(221,144,144,0.8) 88%,rgba(40,89,145,0.3) 100%);
				background: linear-gradient(to right, rgba(40,89,145,0.3) 0%,rgba(221,144,144,0.8) 12%,rgba(255,0,0,1) 50%,rgba(221,144,144,0.8) 88%,rgba(40,89,145,0.3) 100%);
			}
			.status {
				background-color: rgb(198, 12, 26);
			}
		}

		&.addPhoto {
			display: none;
			opacity: 1;
			color: #B9B9B9;
			cursor: pointer;

			.plusPhoto {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -20px;
				margin-left: -30px;
				width: 62px;
				height: 16px;
				background-color: #B9B9B9;

				&::after {
					content: '';
					position: absolute;
					top: -23px;
					left: 23px;
					width: 16px;
					height: 62px;
					background-color: inherit;
				}
			}

			.desc {
				position: absolute;
				top: auto;
				left: 14px;
				right: 5px;
				bottom: 20%;
				text-align: center;
				font-size: 22px;
			}

			&:hover {
				color: @MainLigthColor;

				.plusPhoto {
					background-color: @MainLigthColor;
				}
			}

		}

		&.loadingPhoto {
			position: relative;
			display: inline-block;
			visibility: visible;
			opacity: 1;
			text-align: center;
			background-image: url(/img/misc/load.gif);
			background-position: 50% 50%;
			background-repeat: no-repeat;
			.box-sizing(border-box);
		}
	}

	.photoUploadCurtain {
		position: fixed;
		display: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: @zindexModalBackdrop;

		// Ценрируем формы
		text-align: center;
		&::before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em; /* Adjusts for spacing */
		}

		&.showUpload {
			opacity: 1;
			.transition(opacity .4s linear);
		}

		.photoUploadModal {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			text-align: left;
			min-width: 1000px;
			zoom: 1;
			border-width: 0 1px 1px 1px;
			border-color: @MainBlueColor;
			background-color: darken(@MainLigthColor, 5%);
			.box-shadow(0 0 10px 1px #222);
			z-index: @zindexModal;

			.modalTools {
				position: relative;
				height: 24px;
				margin: 0;
				margin-left: -1px;
				margin-right: -1px;
				padding: 3px 8px 0 8px;
				text-align: left;
				border-width: 1px 0 1px 0;
				border-top-color: #AAA;
				.box-shadow(0 2px 4px 0px #222);
				z-index: 1;

				&:before, &:after {
					content: "";
					position: absolute;
					top: 0;
					bottom: -55px;
					width: 1px;
					#gradient > .vertical(#AAA, #000);
				}
				&:before {
					left: 0px;
				}
				&:after {
					right: 0px;
				}

				.off {
					position: absolute;
					top: 5px;
					right: 5px;
					cursor: pointer;
				}
			}

			.modalContainer {
				position: relative;
				min-height: 185px;
				padding: 0 20px;
				opacity: 0;
				overflow: auto;

				&::-webkit-scrollbar {
					background-color: darken(@MainLigthColor, 5%);
				}

				&::-webkit-scrollbar-button:decrement {
					height: 0;
				}
				&::-webkit-scrollbar-thumb {
					border-width: 5px 3px 5px 4px;
				}

				&.show {
					opacity: 1;
					.transition(opacity .4s linear);
				}
			}

			.modalFoot {
				position: relative;
				height: 26px;
				padding-top: 2px;
				text-align: center;
				border-width: 1px 0 0 0;
				border-style: solid;
				border-color: #161616;
				.box-shadow(0 0px 4px 0px #777);
				#gradient > .vertical(#DFDFDF, #AFAFAF);
			}
		}
	}
}

@media (min-width: 1000px) and (max-width: 1365px) {
	.user_photo {
		.photoThumb {
			margin-left: 5px;
			margin-right: 5px;
			font-size: 14px;

			&.addPhoto {
				.desc {
					font-size: 16px;
				}
			}
			.photoTitle {
				padding: 0 0 0 3px;
			}
		}
	}
}

@media (max-width: 999px) {
	.user_photo {
		.photoThumb {
			margin-left: 4px;
			margin-right: 4px;
			padding-bottom: @PhotoToolHeight - 3;
			font-size: 13px;

			&.addPhoto {
				.plusPhoto {
					margin-top: -18px;
					margin-left: -21px;
					width: 41px;
					height: 12px;

					&::after {
						content: '';
						position: absolute;
						top: -15px;
						left: 15px;
						width: 12px;
						height: 41px;
					}
				}
				.desc {
					font-size: 16px;
				}
			}
			.photoTitle {
				height: @PhotoToolHeight - 3;
				line-height: @PhotoToolHeight - 3;
				padding: 0 0 0 1px;
			}
		}
	}

	.user_photo {
		.photoUploadCurtain {
			.photoUploadModal {
				min-width: 500px;
			}
		}
	}
}