@import "../_vars.less";
@import "../bs/variables.less";
@import "../bs/mixins.less";

.user_session {
	padding: 8px 0;

    .ip {
        font-feature-settings: 'tnum';
        font-variant-numeric: tabular-nums;
    }
}
