@import "../_vars.less";
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

@countColor: #677A8F;
@countColorHover: @MainBlueColor;

.subscr {
	position: relative;

	.pagOverTop {
		margin-bottom: 7px;
	}

	.pagTop {
		position: relative;
		margin-bottom: 15px;
	}
	.pills, .pagesBrief {
		display: inline-block;
		vertical-align: top;
	}
	.pills {
		margin-right: 10px;
		padding-left: 2px;
		background-color: rgba(97, 104, 195, 0.1);
	}
	.nav-pills {
		margin-bottom: 0;
	}
	.pagesBrief {
		min-width: 150px;
		font-style: italic;
		font-size: 12px;
		line-height: 29px;
		text-align: center;
	}
	.pagination {
		margin: 10px 0 0 0;
	}

	.object {
		display: inline-block;
		width: 450px;
		vertical-align: top;
	}

	.newsObjs {
		.object {
	   	    height: 60px;
		}
	}

	.imgLoad {
		float: left;
		margin: 2px 8px 3px 3px;

		.img {
			width: 150px;
			height: 100px;
		}
	}

	.count, .planed, .nextNoty {
		display: inline-block;
	}
	.planed, .nextNoty {
		width: 24px;
		height: 19px;
		text-align: center;
		background-color: @countColor;
	}
	.nextNoty {
		margin-left: 2px;
		margin-right: 5px;
	}
	.planed {
		cursor: help;

		&:hover {
			background-color: #6A71A3;
		}
	}
	.count {
		position: relative;
		display: inline-block;
		min-width: 15px;
		margin: 0 1px 8px 0;
		padding: 0 5px 0 5px;
		font-size: 13px;
		line-height: 19px;
		color: #F5F5F5;
		text-align: center;
		text-decoration: none;
		background-color: @countColor;

		&::after {
			position: absolute;
			display: block;
			content: '';
			left: 20%;
			bottom: -8px;
			width: 0;
			height: 0;
			border-top: 8px solid @countColor;
			border-right: 8px solid transparent;
		}
		&:hover {
			color: #fff;
			background-color: @countColorHover;

			&::after {
				border-top-color: @countColorHover;
			}
		}

		.cnew {
			color: #88FF91;
			font-weight: bold;
		}
	}
}

@media (min-width: 1000px) {
	.subscr {
		.pagTop .pagination {
			display: inline-block;
			vertical-align: top;
			margin: 2px 0 0 15px;
		}
	}
}