@import "../_vars.less";
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

.subscr {
	position: relative;

	.pagTop {
		position: relative;
	}
	.pills, .pagesBrief {
		display: inline-block;
	}
}