doctype html
html
	head
		include ../includes/head_meta
		title Not found [404] - PastVu
		link(rel="stylesheet", type="text/css", href='/style/common.css?__='+config.hash)
		script(type='text/javascript', src="/js/lib/jquery/jquery.js")
		script(type='text/javascript', src="/js/lib/jquery/plugins/plaxmove.js")
		style.
			html,body{height:100%; min-height:100%; overflow:hidden;}
			body {background: #c7c3c0 url(/img/misc/404.jpg) center center / cover no-repeat fixed;}
			.ufo {
				position: absolute;
				width: 121px; height:91px; top:150px; left:221px;
				opacity: .9;
				background: url(/img/misc/nlo.png) 0 0 no-repeat;
			}
			.msg {
				position: absolute;
				display: block;
				top: 40px;
				left: 40px;
				padding: 3px 0 0 60px;
				height: 60px;
				color: #f3f3f3;
				font: 30px/30px UCondensed;
				opacity: .9;
				text-decoration: none;
				cursor: pointer;
				text-shadow: 1px 2px 3px #888;
				background: url(/img/misc/logow.png) 0 0 no-repeat;
			}
			.msg:hover {
				color: #fff;
				text-decoration: none;
			}
			@media only screen and (max-width: 767px) {
				body {
					background-image: url(/img/misc/404sm.jpg);
				}
			}

	body
		.ufo
		a.msg(href="/")
			span The page you requested was not found
			span(style="display: block; font-size: 18px; line-height: 18px;") &nbsp;[click here to go to the main page]
		script.
			$(function(){$('.ufo').plaxmove({ratioH:0.6,ratioV:0.2,reversed:true,invertH:false});});