doctype html
html
	head
		include ../includes/head_top_cap
body
	.top.fringe
		a.brand(href='/', title="PastVu - retro photos of mankind's habitat")
			img.logo(src="/img/misc/logo.png")
			img.name(src="/img/misc/name-2x.png", srcset="/img/misc/name.png 1x, /img/misc/name-2x.png 2x")
	style.
		.content {
			max-width: 800px;
		}

		.curr {
			color: #888;
		}

		.browsers {
			margin: 35px auto 5px auto;
		}

		.browsers a {
			display: inline-block;
			margin: 0 5px 5px 5px;
			width: 128px;
			padding: 132px 5px 5px 5px;
			border: 1px solid #eee;
			background-position: 5px 0;
			background-repeat: no-repeat;
		}

		.browsers a:hover {
			border-color: #e4e4e4;
			background-color: #fbfbfb;
		}

		.browsers a.chrome {
			background-image: url(/img/misc/br/chrome_128x128.png);
		}

		.browsers a.firefox {
			background-image: url(/img/misc/br/firefox_128x128.png);
		}

		.browsers a.opera {
			background-image: url(/img/misc/br/opera_128x128.png);
		}

		.browsers a.safari {
			background-image: url(/img/misc/br/safari_8_128x128.png);
		}

		.browsers a.yandex {
			background-image: url(/img/misc/br/yandex_128x128.png);
		}
	.cent.centering_content
		.content.fringe
			p
				span PastVu team considers, that your browser
				if agent && agent.family
					span.curr=' '+agent.family+' '+agent.major
				span  is obsolete and does not meet modern requirements, which developed our website
				br
				br
				| Please upgrade your browser or install one of the following from the official website.
				br
				| It will take a few minutes, but will open you a fast modern Internet.
				br
				br
				| After installation return to us - the largest archive of history photos PastVu.com!
			.browsers
				a.chrome(href="http://www.google.com/chrome", target="_blank") Google Chrome
				a.firefox(href="http://www.mozilla.org", target="_blank") Mozilla Firefox
				a.opera(href="http://www.opera.com", target="_blank") Opera
				a.safari(href="http://www.apple.com/safari", target="_blank") Apple Safari
				a.yandex(href="http://browser.yandex.net", target="_blank") Yandex
			.support
				a(href='mailto:support@pastvu.comm?subject=Website displays a message about an outdated browser&body=Good afternoon! My browser: '+(agent&&agent.source?agent.source:''), target="_blank")
					| Please write, if we are mistaken: support@pastvu.com