doctype html
html
	head
		include ../includes/head_top_cap
body
	.top.fringe
		a.brand(href='/', title="PastVu - ретроспектива среды обитания человечества")
			img.logo(src="/img/misc/logo.png")
			img.name(src="/img/misc/name-2x.png", srcset="/img/misc/name.png 1x, /img/misc/name-2x.png 2x")
	style.
		.content {
			max-width: 500px;
		}

		.curr {
			color: #888;
		}

		.jslogo {
			display: inline-block;
			width: 120px;
			height: 120px;
		}
	.cent.centering_content
		.content.fringe
			p
				span К сожалению в вашем браузере
				if agent && agent.family
					span.curr=' '+agent.family+' '+agent.major
				span  выключен JavaScript, который необходим для работы сайта PastVu.com
				br
				br
				img.jslogo(src="/img/misc/br/js_240x240.png")
				br
				br
				| Перейдите по этой ссылке, чтобы узнать как это исправить:
				br
				a(href="http://www.enable-javascript.com/ru/", target="_blank") http://www.enable-javascript.com/ru/
				br
				br
				| Затем возвращайтесь на PastVu.com - самый большой архив исторических фотографий. Мы ждем Вас!
			.support
				a(href='mailto:support@pastvu.comm?subject=Сайт выдаёт сообщение об отсутствии JavaScript&body=Добрый день! Идентификатор моего браузера: '+(agent&&agent.source?agent.source:''), target="_blank")
					| Напишите, если мы ошибаемся: support@pastvu.com