.conveyerModuleWrapper(data-bind="with: repository[M!M]")
    h4(data-bind="text: $root.i18n('Управление конвейером конвертаций фотографий')")
    .row
        .col-xs-5.col-md-4
            h5(data-bind="text: $root.i18n('Действия')")
            button.btn.btn-sm(type="button", data-bind="css: {disabled: exe(), 'btn-warning': conveyerEnabled(), 'btn-success': !conveyerEnabled()}, click: startstop, attr: {disabled: exe()}")
                span.glyphicon(data-bind="css: {'glyphicon-stop': conveyerEnabled(), 'glyphicon-play': !conveyerEnabled()}")
                span(data-bind="text: ' ' + $root.i18n(conveyerEnabled() ? 'Остановить' : 'Запустить')")
            button.btn.btn-sm.btn-danger(type="button", data-bind="css: {disabled: exe()}, click: clearConveyer, attr: {disabled: exe()}")
                span.glyphicon.glyphicon-trash
                span(data-bind="text: ' ' + $root.i18n('Очистить')")
            br
            br
            .toConvertSection
                h5(data-bind="text: $root.i18n('Отправить на конвертацию все фото:')")
                form.form-inline
                    .form-group
                        span(data-bind="text: $root.i18n('Номера фотографий:') + ' '")
                        input.form-control(type="number", placeholder="min", data-bind="attr: {disabled: exe()}, value: reconvertCidMin, valueUpdate: 'afterkeydown'", style="width: 70px;")
                        input.form-control(type="number", placeholder="max", data-bind="attr: {disabled: exe()}, value: reconvertCidMax, valueUpdate: 'afterkeydown'", style="width: 70px;")
                        | &nbsp;
                form.form-inline
                    .form-group
                        span(data-bind="text: $root.i18n('Номера статусов:') + ' '")
                        input.form-control(data-bind="attr: {disabled: exe(), placeholder: $root.i18n('Через запятую')}, value: reconvertStatuses, valueUpdate: 'afterkeydown'", style="width: 140px;")
                        | &nbsp;
                form.form-inline
                    .form-group
                        span(data-bind="text: $root.i18n('Номер региона:') + ' '")
                        input.form-control(type="number", data-bind="attr: {disabled: exe()}, value: reconvertRegion, valueUpdate: 'afterkeydown'", style="width: 70px;")
                        | &nbsp;
                button.btn.btn-primary(data-bind="click: toConvert, attr: {disabled: exe()}, text: $root.i18n('Старт')")
        .col-xs-7.col-md-8(style="padding-left: 10px;")
            h5(data-bind="text: $root.i18n('Текущее состояние конвейера')")
            div(data-bind="css: {'text-success': conveyerEnabled(), 'text-error': !conveyerEnabled()}, text: $root.i18n(conveyerEnabled() ? 'Конвейер активен' : 'Конвейер остановлен')")
            div
                span.stateRate(data-bind="text:converted()")
                span.stateDesc(data-bind="text: $root.i18n('Конвертировано за текущую 10-ти минутку')")
            div
                span.stateRate(data-bind="text:clength()")
                span.stateDesc(data-bind="text: $root.i18n('Текущая длина конвейера')")
            div
                span.stateRate(data-bind="text:cmaxlength()")
                span.stateDesc(data-bind="text: $root.i18n('Максимальная длина конвейера за текущую 10-ти минутку')")
    br
    h5(data-bind="text: $root.i18n('Сконвертированно')")
    #conveyerConvertGraph
    br
    h5(data-bind="text: $root.i18n('Максимальная длина конвейера')")
    #conveyerLengthGraph
