.conveyerModuleWrapper(data-bind="with: repository[M!M]")
	h4 Управление конвейером конвертаций фотографий
	.row-fluid
		.span2-3
			h6 Действия
			button.btn-strict.btn-strict-small.btn-strict-warning(type="button", data-bind="css: {disabled: exe(), 'btn-strict-warning': conveyerEnabled(), 'btn-strict-success': !conveyerEnabled()}, click: startstop, attr: {disabled: exe()}")
				i.icon-white(data-bind="css: {'icon-stop': conveyerEnabled(), 'icon-play': !conveyerEnabled()}")
				span(data-bind="text: conveyerEnabled() ? 'Остановить' : 'Запустить'")
			button.btn-strict.btn-strict-small.btn-strict-danger(type="button", data-bind="css: {disabled: exe()}, click: clearConveyer, attr: {disabled: exe()}")
				i.icon-trash.icon-white
				span Очистить
			br
			.toConvertSection
				span.stateDesc Отправить на конвертацию все фото проекта:
				br
				.convertAction(data-bind="css: {disabled: exe()}")
					select.multiSelect#convertSelect(multiple="multiple", data-bind="multiselect: true, options: convertOptions, selectedOptions: selectedOpt, optionsValue: 'vId', optionsText: 'vName'")
					button.btn-strict.btn-strict-small.btnConvert(type="button", data-bind="click: toConvert, css: {disabled: exe()|| !selectedOpt().length}, attr: {disabled: exe() || !selectedOpt().length}")
						span старт
		.span9-10
			h6 Текущее состояние конвейера
			div(data-bind="css: {'text-success': conveyerEnabled(), 'text-error': !conveyerEnabled()}, text: conveyerEnabled() ? 'Конвейер активен' : 'Конвейер остановлен'")
			div
				span.stateRate(data-bind="text:converted()")
				span.stateDesc Конвертированно с песледней 10-минутки
			div
				span.stateRate(data-bind="text:clength()")
				span.stateDesc Длина конвейера
			div
				span.stateRate(data-bind="text:cmaxlength()")
				span.stateDesc Максимальная длина конвейера с песледней 10-минутки
	br
	.row-fluid
		h6 Сконвертированно
		#conveyerConvertGraph
	br
	.row-fluid
		h6 Максимальная длина конвейера
		#conveyerLengthGraph