.conveyerModuleWrapper(data-bind="with: repository[M!M]")
	h4 Управление конвейером конвертаций фотографий
	.row
		.col-xs-5.col-md-4
			h5 Действия
			button.btn.btn-sm(type="button", data-bind="css: {disabled: exe(), 'btn-warning': conveyerEnabled(), 'btn-success': !conveyerEnabled()}, click: startstop, attr: {disabled: exe()}")
				span.glyphicon(data-bind="css: {'glyphicon-stop': conveyerEnabled(), 'glyphicon-play': !conveyerEnabled()}")
				span(data-bind="text: conveyerEnabled() ? ' Остановить' : ' Запустить'")
			button.btn.btn-sm.btn-danger(type="button", data-bind="css: {disabled: exe()}, click: clearConveyer, attr: {disabled: exe()}")
				span.glyphicon.glyphicon-trash
				|  Очистить
			br
			.toConvertSection
				span.stateDesc Отправить на конвертацию все фото:
				br
				.convertAction(data-bind="css: {disabled: exe()}")
					select.multiselect(multiple="multiple", data-bind="options: convertVars, optionsValue: 'vId', optionsText: 'vName', selectedOptions: convertVarsSel, multiselect: convertOptions")
					button.btn.btn-primary.btnConvert(data-bind="click: toConvert, attr: {disabled: exe()}")
						| старт
		.col-xs-7.col-md-8
			h5 Текущее состояние конвейера
			div(data-bind="css: {'text-success': conveyerEnabled(), 'text-error': !conveyerEnabled()}, text: conveyerEnabled() ? 'Конвейер активен' : 'Конвейер остановлен'")
			div
				span.stateRate(data-bind="text:converted()")
				span.stateDesc Конвертированно с песледней 10-минутки
			div
				span.stateRate(data-bind="text:clength()")
				span.stateDesc Длина конвейера
			div
				span.stateRate(data-bind="text:cmaxlength()")
				span.stateDesc Максимальная длина конвейера с песледней 10-минутки
	br
	h5 Сконвертированно
	#conveyerConvertGraph
	br
	h5 Максимальная длина конвейера
	#conveyerLengthGraph