.mainAdmin(data-bind="with: repository[M!M]")
    h6(data-bind="text: $root.i18n('Текущие соединения')")
    div
        span.stateRate
            .rate(data-bind="text: onlines.users()")
            | /
            .rate(data-bind="text: (onlines.all() - onlines.users())")
            | /
            .rate(data-bind="text: onlines.all()")
        span.stateDesc(data-bind="text: $root.i18n('Посетителей авторизованных/анонимных/всего')")
    div
        span.stateRate
            .rate(data-bind="text: onlines.sessUC()")
            | /
            .rate(data-bind="text: onlines.sessAC()")
            | /
            .rate(data-bind="text: (onlines.sessUC() + onlines.sessAC())")
        span.stateDesc(data-bind="text: $root.i18n('Активных сессий авторизованных/анонимных/всего. С нулем соединений: [{{uz}}/{{az}}]. Без соединений: [{{un}}/{{an}}].', {uz: onlines.sessUZC(), az: onlines.sessAZC(), un: onlines.sessUNC(), an: onlines.sessANC()})")

    div
        span.stateRate
            .rate(data-bind="text: onlines.sessWCUC()")
            | /
            .rate(data-bind="text: onlines.sessWCAC()")
            | /
            .rate(data-bind="text: (onlines.sessWCUC() + onlines.sessWCAC())")
        span.stateDesc(data-bind="text: $root.i18n('Ожидающих сессий авторизованных/анонимных/всего')")
    div
        span.stateRate
            .rate(data-bind="text: onlines.sockUC()")
            | /
            .rate(data-bind="text: onlines.sockAC()")
            | /
            .rate(data-bind="text: (onlines.sockUC() + onlines.sockAC())")
        span.stateDesc(data-bind="text: $root.i18n('Активных соединений авторизованных/анонимных/всего')")
    div
        span.stateDesc(data-bind="text: $root.i18n('Хэши объектов пользователя в памяти:') + ' '")
        span.stateRate
            | usSid:
            .rate(data-bind="text: ' '+ onlines.cusSid()")
            | , usLogin:
            .rate(data-bind="text: ' '+ onlines.cusLogin()")
            | , usId:
            .rate(data-bind="text: ' '+ onlines.cusId()")
    div
        span.stateDesc(data-bind="text: $root.i18n('Хэши сессий в памяти:') + ' '")
        span.stateRate
            | sessConnected:
            .rate(data-bind="text: ' '+ onlines.csessConnected()")
            | , sessWaitingConnect:
            .rate(data-bind="text: ' '+ onlines.csessWaitingConnect()")
            | , sessWaitingSelect:
            .rate(data-bind="text: ' '+ onlines.csessWaitingSelect()")
    .desc
        strong(data-bind="text: $root.i18n('Активная сессия')")
        span(data-bind="text: ' ' + $root.i18n('- один браузер клиента с открытым pastvu хотябы на одной вкладке. Если есть с нулем соединений, значит закрытие соединения не очистило сессию (норма по нулям). Если есть без соединения, значит сессия проскочила в активную без установки реального соединения (норма по нулям).')")
        br
        strong(data-bind="text: $root.i18n('Ожидающая сессия')")
        span(data-bind="text: ' ' + $root.i18n('- клиент, прошедший рукопожатие (handshake), но не установивший в дальнейшем реального соединения. Такая сессия удаляется через 5 минут, если соединение так и не будет установлено.')")
        br
        strong(data-bind="text: $root.i18n('Активное соединение')")
        span(data-bind="text: ' ' + $root.i18n('- каждая открытая клиентом вкладка активной сессии')")
        br
        br
        span(data-bind="text: $root.i18n('В каждой сессии (браузере) клиента может быть несколько открытых соединений (вкладок)')")
        br
        span(data-bind="text: $root.i18n('Пользователь, авторизованный (залогиненный) в нескольких браузерах одновременно, считается как один, но имеет несколько сессий, по количеству открытых браузеров. Поэтому \"активных сессий авторизованных\" может быть больше числа авторизованных.')")
    br

    //ko if: headers().length
    h6(data-bind="text: $root.i18n('Заголовки АКТИВНЫХ сессий без соединений (при наличии):')")
    div(data-bind="foreach: headers")
        | -------
        .headers(data-bind="html: $data")
    br
    // /ko

    //ko if: headersWC().length
    h6(data-bind="text: $root.i18n('Заголовки ОЖИАЮЩИХ сессий без соединений (при наличии):')")
    div(data-bind="foreach: headersWC")
        | -------
        .headers(data-bind="html: $data")
    // /ko