.adminMenu(data-bind="with: repository[M!M]")
	nav.navbar.navbar-pastvu
		ul.nav.navbar-nav(data-bind="foreach: menuItems")
			li(data-bind="css: {active: $data.section === $parent.section()}")
				a(data-bind="text: $data.name, attr: {href: ($data.disable ? '' : $data.href)}, css: {disabled: $data.disable}")