.adminNews(data-bind="with: repository[M!M]")
	h4(data-bind="text: createMode() ? 'Создание новости' : 'Редактирование новости'")

	form.form-horizontal(action='', autocomplete="off", method='POST', data-bind="event: {submit: submit}")
		.control-group
			label.control-label Заголовок
			.controls
				input#newsTitle(type='text', data-bind="value: news.title, valueUpdate: 'afterkeydown'")
		.control-group
			label.control-label Публикация
			.controls
				.input-append.date#newsPdate
					input(data-format="dd.MM.yyyy hh:mm:ss", type="text")
					span.add-on
						i(data-time-icon="icon-time", data-date-icon="icon-calendar")
				button.btn-strict.btn-strict-small.toggleTDate(type="button", title="Время, когда новость пропадет с главной. В общем списке она останется", data-bind="click: toggleTDate")
					span(data-bind="text: tDateExists() ? 'Убрать время скрытия с главной' : 'Добавить время скрытия с главной'")
				//ko if: tDateExists()
				.input-append.date#newsTdate
					input(data-format="dd.MM.yyyy hh:mm:ss", type="text")
					span.add-on
						i(data-time-icon="icon-time", data-date-icon="icon-calendar")
				// /ko
		.control-group
			label.control-label Без комментариев
			.controls
				input(type="checkbox", data-bind="checked: news.nocomments")
		.control-group
			.textName
				button.btn-strict.btn-strict-small.toggleNotice(type="button", data-bind="click: toggleNotice")
					span(data-bind="text: noticeExists() ? 'Убрать краткую версию' : 'Добавить краткую версию'")
				//ko if: noticeExists()
				span.muted Краткая версия
				// /ko
			//ko if: noticeExists()
			textarea#newsNotice
			// /ko
		.control-group
			.textName Полная версия
			textarea#newsPrimary
		.control-group
			button.btn-strict.btn-strict-success(type="submit")
				i.icon-ok.icon-white
				span Сохранить