.adminNews(data-bind="with: repository[M!M]")
	h4(data-bind="text: createMode() ? 'News creation' : 'News edit'")

	form.form-horizontal(action='', autocomplete="off", method='POST', data-bind="event: {submit: submit}")
		.form-group
			label.col-xs-3.col-md-2.col-lg-1.control-label Title
			.col-xs-3.col-md-2
				input.form-control(type='text', data-bind="value: news.title, valueUpdate: 'afterkeydown'")
		.form-group
			label.col-xs-3.col-md-2.col-lg-1.control-label Publish
			.col-xs-3.col-md-2
				.input-group.date#newsPdate
					input.form-control(data-format="DD.MM.YYYY HH:mm:ss", type="text")
					span.input-group-addon
						span.glyphicon.glyphicon-calendar
			.col-xs-4.col-md-3(style="text-align: right;")
				button.btn.btn-sm.btn-primary.toggleTDate(type="button", title="The time when the news will disappear from the main page. In the general list it will remain", data-bind="click: toggleTDate")
					span(data-bind="text: tDateExists() ? 'Remove hidding time from the main page' : 'Add hidding time from the main page'")
			//ko if: tDateExists()
			.col-xs-3.col-md-2
				.input-group.date#newsTdate
					input.form-control(data-format="DD.MM.YYYY HH:mm:ss", type="text")
					span.input-group-addon
						span.glyphicon.glyphicon-calendar
			// /ko
		.form-group
			.col-xs-3.col-xs-offset-3.col-md-2.col-md-offset-2.col-lg-offset-1
				.checkbox
					label
						input(type="checkbox", data-bind="checked: news.nocomments")
						|  Without comments
		.form-group
			.textName
				button.btn.btn-sm.btn-primary.toggleNotice(type="button", data-bind="click: toggleNotice")
					span(data-bind="text: noticeExists() ? 'Remove short version' : 'Add short version'")
				//ko if: noticeExists()
				span.text-muted Short version
				// /ko
			//ko if: noticeExists()
			textarea#newsNotice
			// /ko
		.form-group
			.textName Full version
			textarea#newsPrimary
		.form-group
			button.btn.btn-success(type="submit")
				span.glyphicon.glyphicon-ok
				|  Save