.adminNews(data-bind="with: repository[M!M]")
	h4(data-bind="text: createMode() ? 'Создание новости' : 'Редактирование новости'")

	form.form-horizontal(action='', autocomplete="off", method='POST', data-bind="event: {submit: submit}")
		.form-group
			label.col-xs-3.col-md-2.col-lg-1.control-label Заголовок
			.col-xs-3.col-md-2
				input.form-control(type='text', data-bind="value: news.title, valueUpdate: 'afterkeydown'")
		.form-group
			label.col-xs-3.col-md-2.col-lg-1.control-label Публикация
			.col-xs-3.col-md-2
				.input-group.date#newsPdate
					input.form-control(data-format="dd.MM.yyyy hh:mm:ss", type="text")
					span.input-group-addon
						span.glyphicon.glyphicon-calendar
				button.btn.btn-sm.btn-primary.toggleTDate(type="button", title="Время, когда новость пропадет с главной. В общем списке она останется", data-bind="click: toggleTDate")
					span(data-bind="text: tDateExists() ? 'Убрать время скрытия с главной' : 'Добавить время скрытия с главной'")
				//ko if: tDateExists()
				.input-group.date#newsTdate
					input.form-control(data-format="dd.MM.yyyy hh:mm:ss", type="text")
					span.input-group-addon
						span.glyphicon.glyphicon-calendar
				// /ko
		.form-group
			label.col-xs-3.col-md-2.col-lg-1.control-label Без комментариев
			.col-xs-3.col-md-2
				input(type="checkbox", data-bind="checked: news.nocomments")
		.form-group
			.textName
				button.btn.btn-sm.btn-primary.toggleNotice(type="button", data-bind="click: toggleNotice")
					span(data-bind="text: noticeExists() ? 'Убрать краткую версию' : 'Добавить краткую версию'")
				//ko if: noticeExists()
				span.muted Краткая версия
				// /ko
			//ko if: noticeExists()
			textarea#newsNotice
			// /ko
		.form-group
			.textName Полная версия
			textarea#newsPrimary
		.form-group
			button.btn.btn-success(type="submit")
				span.glyphicon.glyphicon-ok
				|  Сохранить