.adminRegion(data-bind="with: repository[M!M]")
	h4(data-bind="text: createMode() ? 'Создание региона' : 'Редактирование региона'")
	form.form-horizontal(action='', autocomplete="off", method='POST', data-bind="event: {submit: save}")
		.control-group
			label.control-label Название
			.controls
				input(type='text', data-bind="value: region.title_en, valueUpdate: 'keyup'", placeholder="(EN) Английское", required="required", autocorrect="off", autocapitalize="off")
				input(type='text', data-bind="value: region.title_local, valueUpdate: 'keyup'", placeholder="(LOCAL) Местное", autocorrect="off", autocapitalize="off")
				//ko if: !createMode()
				.regionInfo
					| Номер:
					strong(data-bind="text: ' ' + region.cid()")
					| ; Уровень:
					strong(data-bind="text: ' ' + (Number(haveParent()) ? region.parents().length + 1 : 1)")
					| ;&nbsp;
					a(data-bind="attr: {href: '/admin/region?hl=' + region.cid()}") Показать в дереве регионов
				// /ko
		.control-group
			label.control-label Родительский регион
			.controls
				label.checkbox
					input.thr(type="radio", id="parent_radios_0", name="parent_radios", value="0", data-bind="checked: haveParent")
					| &nbsp;Отсутствует
				label.checkbox
					input.thr(type="radio", id="parent_radios_1", name="parent_radios", value="1", data-bind="checked: haveParent")
					| &nbsp;Есть
				//ko if: Number(haveParent())
				input(type='text', data-bind="value: parentCid, valueUpdate: 'keyup'", placeholder="Номер родительского региона", required="required", autocorrect="off", autocapitalize="off")
				// /ko
				//ko if: region.parents().length || childLenArr().length
				.regions
					//ko foreach: region.parents
					a(data-bind="text: ' ' + $data.title_en(), attr: {href: '/admin/region/' + $data.cid()}")
					| &nbsp;
					i.icon-play
					| &nbsp;
					// /ko
					//ko if: !createMode()
					span.current(title="Текущий регион", data-bind="text: ' ' + region.title_en()")
					// /ko
					//ko foreach: childLenArr
					| &nbsp;
					i.icon-play
					span(data-bind="text: ' ' + $data")
					// /ko
				// /ko
		//ko if: createMode() || showGeo()
		.control-group
			label.control-label
				| Геометрия
				br
				| GeoJSON
			.controls
				textarea.geojson(wrap="soft", rows="5", data-bind="value: region.geo, valueUpdate: 'keyup'", placeholder="{ type: 'Polygon | MultiPolygon', coordinates: [[ [] ]] }", required="required")
		// /ko
		.control-group
			button.btn-strict.btn-strict-success(type="submit")
				i.icon-ok.icon-white
				span Сохранить
			//ko if: !createMode()
			button.btn-strict(type="button", data-bind="click: function () {showGeo(!showGeo())}")
				i.icon-th-list.icon-white
				span(data-bind="text: showGeo() ? 'Скрыть координаты' : 'Показать координаты'")
			// /ko
	.map(data-bind="style: {height: mh()}")
