.adminRegions(data-bind="with: repository[M!M]")
    h4(data-bind="text: $root.i18n('Список регионов')")
    .regionsStat
        .stat
            span(data-bind="text: $root.i18n('Всего регионов:')")
            b(data-bind="text: ' '+$root.intl.num(stat.common.regionsCount)")
            span(data-bind="text: '  ' + $root.i18n('По уровням:')")
            //ko foreach: stat.byLevel
            //ko if: $index() > 0
            span.glyphicon.glyphicon-play
            // /ko
            b(data-bind="text: ' ' + $root.intl.num($data.regionsCount) + ' ', attr: {title: $root.i18n('{{level}} уровень', {level: $index() + 1})}")
            // /ko
        .stat
            span(data-bind="text: $root.i18n('Всего вершин:')")
            b(data-bind="text: ' '+$root.intl.num(stat.common.pointsCount)")
            span(data-bind="text: '  ' + $root.i18n('По уровням:')")
            //ko foreach: stat.byLevel
            //ko if: $index() > 0
            span.glyphicon.glyphicon-play
            // /ko
            b(data-bind="text: ' ' + $root.intl.num($data.pointsCount) + ' ', attr: {title: $root.i18n('{{level}} уровень', {level: $index() + 1})}")
            // /ko
    .regionsHead
        span(data-bind="text: $root.i18n('Группировать по:') + ' '")
        .headElem.interact(data-bind="click: function () {mode('inheritence')}, css: {'selected':mode()==='inheritence'}, text: $root.i18n('Наследованию')")
        .headElem.interact(data-bind="click: function () {mode('cdate')}, css: {'selected':mode()==='cdate'}, text: $root.i18n('Дате создания')")
        .headElem.interact(data-bind="click: function () {mode('udate')}, css: {'selected':mode()==='udate'}, text: $root.i18n('Дате изменения')")
        .headElem.interact(data-bind="click: function () {mode('gdate')}, css: {'selected':mode()==='gdate'}, text: $root.i18n('Дате изменения координат')")
    .regionsHead
        span(data-bind="text: $root.i18n('Сортировать по:') + ' '")
        .headElem.interact(data-bind="click: function () {sort(1)}, css: {'selected':sort()===1}, text: $root.i18n('Возрастанию')")
        .headElem.interact(data-bind="click: function () {sort(-1)}, css: {'selected':sort()===-1}, text: $root.i18n('Убыванию')")
    .regionsHead
        a.headElem.interact(href="/admin/region/create")
            span.glyphicon.glyphicon-plus
            span(data-bind="text: ' ' + $root.i18n('Добавить')")
        .headElem.interact(data-bind="click: expandAll")
            span.glyphicon.glyphicon-chevron-down
            span(data-bind="text: ' ' + $root.i18n('Раскрыть все')")
        .headElem.interact(data-bind="click: collapseAll")
            span.glyphicon.glyphicon-chevron-up
            span(data-bind="text: ' ' + $root.i18n('Свернуть все')")
        .headElem.interact(data-bind="click: recalcStats")
            span.glyphicon.glyphicon-refresh
            span(data-bind="text: ' ' + $root.i18n('Пересчитать статистику')")
    .tree.well.well-sm
        ul(data-bind="template: {name:mode()==='inheritence'?'treeNode':'dateNode', foreach:mode()==='inheritence'?regions:regionsByYear}")

    | <script id="treeNode" type="text/html">
    li(data-bind="css: {isparent: $data.childLen}")
        .lirow(data-bind="css: {hl: $data.hl}")
            //ko if: $data.childLen && $parents[$data.level] && $parents[$data.level].mode && $parents[$data.level].mode() === 'inheritence'
            .chevron(data-bind="click: $parents[$data.level].collapseToggle, attr: {title: $root.i18n($data.opened() ? 'Скрыть дочерние регионы' : 'Показать дочерние регионы')}")
                span.glyphicon(data-bind="css: {'glyphicon-chevron-up': $data.opened(), 'glyphicon-chevron-down': !$data.opened()}")
            // /ko
            a.name(data-bind="attr: {href: '/admin/region/' + $data.cid, title: $root.i18n('Открыть регион')}")
                .rname(data-bind="text: ' ' + $root.regionTitle($data)")
                //ko if: $data.childLen
                .section.childsCount(data-bind="attr: {title: $root.i18n('Дочерние по уровням')}")
                    //ko foreach: childLenArr
                    | &nbsp;
                    span.glyphicon.glyphicon-play
                    span(data-bind="text: ' ' + $root.intl.num($data)")
                    // /ko
                // /ko
                //ko if: $data.pc
                .section(data-bind="attr: {title: $root.i18n('Изображения')}")
                    span.glyphicon.glyphicon-camera
                    .pc(data-bind="text: $root.intl.num($data.pcg) + ' / ' + $root.intl.num($data.pc - $data.pcg), attr: {title: $root.i18n('Изображения с/без координат')}")
                    //ko if: $data.childLen && $data.pco
                    .pco(data-bind="text: $root.intl.num($data.pcog) + ' / ' + $root.intl.num($data.pco - $data.pcog), attr: {title: $root.i18n('Изображения без сабрегиона с/без координат')}")
                    // /ko
                // /ko
                //ko if: $data.cc > 0
                .section(data-bind="attr: {title: $root.i18n('Комментарии')}")
                    span.glyphicon.glyphicon-comment
                    //ko if: !$data.ccd
                    .cc(data-bind="text: $root.intl.num($data.cc), attr: {title: $root.i18n('Комментариев всего')}")
                    // /ko
                    //ko if: $data.ccd
                    .cc(data-bind="text: $root.intl.num($data.cc - $data.ccd) + ' / ' + $root.intl.num($data.ccd), attr: {title: $root.i18n('Комментарии активные/удаленные')}")
                    // /ko
                // /ko
            //ko if: $data.level < 5
            a.addChild(data-bind="attr: {href: '/admin/region/create?parent=' + $data.cid, title: $root.i18n('Создать дочерний регион')}")
                span.glyphicon.glyphicon-plus
                span(data-bind="text: ' ' + $root.i18n('Добавить потомка')")
            // /ko
        //ko if: $data.childLen && $data.opened()
        //ko template: {name: 'treeNode', foreach: $data.regions}
        // /ko
        // /ko
    | </script>

    | <script id="dateNode" type="text/html">
    li
        .lirow.notRegion(data-bind="click: $parents[$data.level].collapseToggle, attr: {title: $root.i18n($data.opened() ? 'Раскрыть' : 'Свернуть')}")
            .chevron
                span.glyphicon(data-bind="css: {'glyphicon-chevron-up': $data.opened(), 'glyphicon-chevron-down': !$data.opened()}")
            .name
                .rname(data-bind="text: ' ' + $data.title")
                .section.childsCount(data-bind="attr: {title: $root.i18n('Количество регионов')}")
                    | &nbsp;
                    span.glyphicon.glyphicon-play
                    span(data-bind="text: ' ' + $root.intl.num($data.count)")

        //ko if: $data.children && $data.opened()
        //ko template: {name: 'dateNode', foreach: $data.children}
        // /ko
        // /ko

        //ko if: $data.regions && $data.opened()
        //ko template: {name: 'treeNode', foreach: $data.regions}
        // /ko
        // /ko
    | </script>