.adminRegionCheck(data-bind="with: repository[M!M]")
    h4(data-bind="text: $root.i18n('Поиск регионов по точке')")
    .topinfo
        span.infotxt(data-bind="text: $root.i18n('Кликните на карту или введите координаты через запятую:')")
        .inputGeoWrap
            .input-group
                input.form-control.input-sm.inputGeo(type="text", data-bind="event: {keyup: inputEnter}, attr: {placeholder: $root.i18n('Широта, долгота')}")
                span.input-group-addon(data-bind="click: inputGeo")
                    span.glyphicon.glyphicon-screenshot
        .extlnk
            span.infotxt(data-bind="text: $root.i18n('Ссылка на отображаемую точку:')")
            input.form-control.input-sm.inputLink(type="text", onclick="this.select();", readonly, data-bind="value: location.host + location.pathname + link()")
    .map(data-bind="style: {height: mh()}")