.adminRegionCheck(data-bind="with: repository[M!M]")
	h4 Поиск регионов по точке
	.topinfo
		span.infotxt Кликните на карту или введите координаты через запятую:
		.input-append
			input.input-medium.inputGeo(type="text", data-bind="event: {keyup: inputEnter}", placeholder="Широта, долгота")
			span.add-on(data-bind="click: inputGeo")
				i.icon-screenshot
		.extlnk
			span.infotxt Ссылка на отображаемую точку:
			.input-append
				input.inputLink(type="text", onclick="this.select();", onkeypress="return false;", data-bind="value: location.host + location.pathname + link()")
	.map(data-bind="style: {height: mh()}")