.adminRegions(data-bind="with: repository[M!M]")
    h4 Список регионов
    .regionsStat
        .stat
            span Всего регионов:
            b(data-bind="text: ' '+$root.intl.num(stat.common.regionsCount)")
            span &nbsp;&nbsp;По уровням:
            //ko foreach: stat.byLevel
            //ko if: $index() > 0
            span.glyphicon.glyphicon-play
            // /ko
            b(data-bind="text: ' ' + $root.intl.num($data.regionsCount) + ' ', attr: {title: ($index() + 1) + ' уровень'}")
            // /ko
        .stat
            span Всего вершин:
            b(data-bind="text: ' '+$root.intl.num(stat.common.pointsCount)")
            span &nbsp;&nbsp;По уровням:
            //ko foreach: stat.byLevel
            //ko if: $index() > 0
            span.glyphicon.glyphicon-play
            // /ko
            b(data-bind="text: ' ' + $root.intl.num($data.pointsCount) + ' ', attr: {title: ($index() + 1) + ' уровень'}")
            // /ko
    .regionsHead
        = 'Группировать по: '
        .headElem.interact(data-bind="click: function () {mode('inheritence')}, css: {'selected':mode()==='inheritence'}") Наследованию
        .headElem.interact(data-bind="click: function () {mode('cdate')}, css: {'selected':mode()==='cdate'}") Дате создания
        .headElem.interact(data-bind="click: function () {mode('udate')}, css: {'selected':mode()==='udate'}") Дате изменения
        .headElem.interact(data-bind="click: function () {mode('gdate')}, css: {'selected':mode()==='gdate'}") Дате изменения координат
    .regionsHead
        = 'Сортировать по: '
        .headElem.interact(data-bind="click: function () {sort(1)}, css: {'selected':sort()===1}") Возрастанию
        .headElem.interact(data-bind="click: function () {sort(-1)}, css: {'selected':sort()===-1}") Убыванию
    .regionsHead
        a.headElem.interact(href="/admin/region/create")
            span.glyphicon.glyphicon-plus
            |  Добавить
        .headElem.interact(data-bind="click: expandAll")
            span.glyphicon.glyphicon-chevron-down
            |  Раскрыть все
        .headElem.interact(data-bind="click: collapseAll")
            span.glyphicon.glyphicon-chevron-up
            |  Свернуть все
        .headElem.interact(data-bind="click: recalcStats")
            span.glyphicon.glyphicon-refresh
            |  Пересчитать статистику
    .tree.well.well-sm
        ul(data-bind="template: {name:mode()==='inheritence'?'treeNode':'dateNode', foreach:mode()==='inheritence'?regions:regionsByYear}")

    | <script id="treeNode" type="text/html">
    li(data-bind="css: {isparent: $data.childLen}")
        .lirow(data-bind="css: {hl: $data.hl}")
            //ko if: $data.childLen && $parents[$data.level] && $parents[$data.level].mode && $parents[$data.level].mode() === 'inheritence'
            .chevron(data-bind="click: $parents[$data.level].collapseToggle, attr: {title: ($data.opened() ? 'Скрыть' : 'Показать') + ' дочерние регионы'}")
                span.glyphicon(data-bind="css: {'glyphicon-chevron-up': $data.opened(), 'glyphicon-chevron-down': !$data.opened()}")
            // /ko
            a.name(title="Открыть регион", data-bind="attr: {href: '/admin/region/' + $data.cid}")
                .rname(data-bind="text: ' ' + $data.title_local")
                //ko if: $data.childLen
                .section.childsCount(title="Дочерние по уровням")
                    //ko foreach: childLenArr
                    | &nbsp;
                    span.glyphicon.glyphicon-play
                    span(data-bind="text: ' ' + $root.intl.num($data)")
                    // /ko
                // /ko
                //ko if: $data.pc
                .section(title="Изображения")
                    span.glyphicon.glyphicon-camera
                    .pc(title="Изображения с/без координат", data-bind="text: $root.intl.num($data.pcg) + ' / ' + $root.intl.num($data.pc - $data.pcg)")
                    //ko if: $data.childLen && $data.pco
                    .pco(title="Изображения без сабрегиона с/без координат", data-bind="text: $root.intl.num($data.pcog) + ' / ' + $root.intl.num($data.pco - $data.pcog)")
                    // /ko
                // /ko
                //ko if: $data.cc > 0
                .section(title="Комментарии")
                    span.glyphicon.glyphicon-comment
                    //ko if: !$data.ccd
                    .cc(title="Комментариев всего", data-bind="text: $root.intl.num($data.cc)")
                    // /ko
                    //ko if: $data.ccd
                    .cc(title="Комментарии активные/удаленные", data-bind="text: $root.intl.num($data.cc - $data.ccd) + ' / ' + $root.intl.num($data.ccd)")
                    // /ko
                // /ko
            //ko if: $data.level < 5
            a.addChild(title="Создать дочерний регион", data-bind="attr: {href: '/admin/region/create?parent=' + $data.cid}")
                span.glyphicon.glyphicon-plus
                |  Добавить потомка
            // /ko
        //ko if: $data.childLen && $data.opened()
        //ko template: {name: 'treeNode', foreach: $data.regions}
        // /ko
        // /ko
    | </script>

    | <script id="dateNode" type="text/html">
    li
        .lirow.notRegion(data-bind="click: $parents[$data.level].collapseToggle, attr: {title: $data.opened() ? 'Раскрыть' : 'Закрыть'}")
            .chevron
                span.glyphicon(data-bind="css: {'glyphicon-chevron-up': $data.opened(), 'glyphicon-chevron-down': !$data.opened()}")
            .name
                .rname(data-bind="text: ' ' + $data.title")
                .section.childsCount(title="Количество регионов")
                    | &nbsp;
                    span.glyphicon.glyphicon-play
                    span(data-bind="text: ' ' + $root.intl.num($data.count)")

        //ko if: $data.children && $data.opened()
        //ko template: {name: 'dateNode', foreach: $data.children}
        // /ko
        // /ko

        //ko if: $data.regions && $data.opened()
        //ko template: {name: 'treeNode', foreach: $data.regions}
        // /ko
        // /ko
    | </script>