.adminRegion(data-bind="with: repository[M!M]")
	h4(data-bind="text: createMode() ? 'Создание региона' : 'Редактирование региона'")
	form.form-horizontal(action='', autocomplete="off", method='POST', data-bind="event: {submit: save}")
		.form-group
			label.col-xs-4.col-sm-3.col-lg-2.control-label Название
			.col-xs-3.col-sm-2
				input.form-control(type='text', data-bind="value: region.title_en, valueUpdate: 'keyup'", placeholder="(EN) Английское", required="required", autocorrect="off", autocapitalize="off")
			.col-xs-3.col-sm-2
				input.form-control(type='text', data-bind="value: region.title_local, valueUpdate: 'keyup'", placeholder="(RU) Русское", autocorrect="off", autocapitalize="off")
		//ko if: !createMode()
		.form-group
			label.col-xs-4.col-sm-3.col-lg-2.control-label
			.col-xs-8.col-sm-9.col-lg-10
				p.form-control-static
					| Номер:
					strong(data-bind="text: ' ' + region.cid()")
					| ; Уровень:
					strong(data-bind="text: ' ' + (Number(haveParent()) ? region.parents().length + 1 : 1)")
					| ; Вершин:
					strong(data-bind="text: ' ' + formatNum(region.pointsnum())")
					| ;&nbsp;
					a(data-bind="attr: {href: '/admin/region?hl=' + region.cid()}") Показать в дереве регионов
		// /ko
		.form-group
			label.col-xs-4.col-sm-3.col-lg-2.control-label Родительский регион
			.col-xs-6.col-sm-4
				.row
					.col-xs-8.col-sm-9.col-md-8.col-lg-6
						label.radio-inline
							input.thr(type="radio", id="parent_radios_0", name="parent_radios", value="0", data-bind="checked: haveParent")
							|  Отсутствует
						label.radio-inline
							input.thr(type="radio", id="parent_radios_1", name="parent_radios", value="1", data-bind="checked: haveParent")
							|  Есть
					//ko if: Number(haveParent())
					.col-xs-4.col-sm-3.col-lg-3
						input.form-control(type='text', data-bind="value: parentCid, valueUpdate: 'keyup'", placeholder="Номер родительского региона", required="required", autocorrect="off", autocapitalize="off")
					// /ko
		//ko if: region.parents().length || childLenArr().length
		.form-group
			label.col-xs-4.col-sm-3.col-lg-2.control-label
			.col-xs-8.col-sm-9.col-lg-10
				p.form-control-static.regions
					//ko foreach: region.parents
					a(data-bind="text: ' ' + $data.title_en(), attr: {href: '/admin/region/' + $data.cid()}")
					| &nbsp;
					span.glyphicon.glyphicon-play
					| &nbsp;
					// /ko
					//ko if: !createMode()
					span.current(title="Текущий регион", data-bind="text: ' ' + region.title_en()")
					// /ko
					//ko foreach: childLenArr
					| &nbsp;
					span.glyphicon.glyphicon-play
					span(data-bind="text: ' ' + $data")
					// /ko
		// /ko
		.form-group
			label.col-xs-4.col-sm-3.col-lg-2.control-label Доп. параметры
			.col-xs-8.col-sm-9.col-lg-10(style="padding-top: 3px")
				.dopparam
					abbr(title="Центральная точка региона в его домашнем положении") Центр
					| :
					input.form-control.input-sm.center(type="text", readonly, data-bind="attr: {value: region.center() || (region.centerAuto() ? 'Пока не рассчитан' : 'Не задан')}")
					.btn-group.btn-group-sm
						button.btn.btn-primary.yes(type="button", data-bind="css: {active: region.centerAuto()}, click: centerAutoToggle") Авто
						button.btn.btn-primary.no(type="button", data-bind="css: {active: !region.centerAuto()}, click: centerAutoToggle") Вручную
				br
				.dopparam
					abbr(title="Bounding box - прямоугольник, в который целиком вписан регион") Bbox
					| :
					input.form-control.input-sm.bbox(type="text", readonly, data-bind="attr: {value: '-142.546504, -82.002257, 179.002257, 82.002257' || (region.centerAuto() ? 'Пока не рассчитан' : 'Не задан')}")
				.dopparam
					abbr(title="Прямоугольник, который должен быть виден в домашнем положении карты для данного региона. Нужен для расчета масштаба") Bbox дом
					| .:
					.btn-group.btn-group-sm
						button.btn.btn-primary.yes(type="button", data-bind="css: {active: region.centerAuto()}, click: bboxHomeToggle") Как bbox
						button.btn.btn-primary.no(type="button", data-bind="css: {active: !region.centerAuto()}, click: bboxHomeToggle") Вручную
					input.form-control.input-sm.bbox(type="text", readonly, data-bind="attr: {value: region.center() || (region.centerAuto() ? 'Пока не рассчитан' : 'Не задан')}")
		//ko if: createMode() || showGeo()
		.form-group
			label.col-xs-4.col-sm-3.col-lg-2.control-label
				| Геометрия
				br
				| GeoJSON
			.col-xs-8.col-sm-9.col-lg-10
				textarea.form-control(wrap="soft", rows="5", data-bind="value: region.geo, valueUpdate: 'keyup'", placeholder="{ type: 'Polygon | MultiPolygon', coordinates: [[ [] ]] }", required="required")
		// /ko
		.form-group
			button.btn.btn-success(type="submit", data-bind="attr: {disabled: exe()}")
				span.glyphicon.glyphicon-ok
				|  Сохранить
			button.btn.btn-danger(type="button", data-bind="click: remove, attr: {disabled: exe()}")
				span.glyphicon.glyphicon-remove
				|  Удалить
			//ko if: !createMode()
			button.btn.btn-primary(type="button", data-bind="click: function () {showGeo(!showGeo())}, attr: {disabled: exe()}")
				span.glyphicon.glyphicon-th-list
				span(data-bind="text: showGeo() ? ' Скрыть координаты' : ' Показать координаты'")
			// /ko
	.map(data-bind="style: {height: mh()}")
