.adminRegions(data-bind="with: repository[M!M]")
	h4 Список регионов
	.regionsHead
		a.headElem.interact(href="/admin/region/create")
			i.icon-plus.icon-white
			|  Добавить
		.headElem.interact(data-bind="click: expandAll")
			i.icon-chevron-down.icon-white
			|  Раскрыть все
		.headElem.interact(data-bind="click: collapseAll")
			i.icon-chevron-up.icon-white
			|  Свернуть все
	.tree.well
		ul(data-bind="template: {name: 'treeNode', foreach: regions}")

	script(id="treeNode", type="text/html")
		li(data-bind="css: {isparent: $data.childLen}")
			.lirow(data-bind="css: {hl: $data.hl}")
				//ko if: $data.childLen
				.chevron(data-bind="click: $parents[$data.level].collapseToggle, attr: {title: ($data.opened() ? 'Скрыть' : 'Показать') + ' дочерние регионы'}")
					i.icon-white(data-bind="css: {'icon-chevron-up': $data.opened(), 'icon-chevron-down': !$data.opened()}")
				// /ko
				a.name(title="Открыть регион", data-bind="attr: {href: '/admin/region/' + $data.cid}")
					i.icon-globe.icon-white
					span(data-bind="text: ' ' + $data.title_en")
					//ko if: $data.childLen
					.childsCount
						//ko foreach: childLenArr
						| &nbsp;
						i.icon-play.icon-white
						span(data-bind="text: ' ' + $data")
						// /ko
					// /ko
				//ko if: $data.level < 4
				a.addChild(title="Создать дочерний регион", data-bind="attr: {href: '/admin/region/create?parent=' + $data.cid}")
					i.icon-plus.icon-white
					|  Добавить потомка
				// /ko
			//ko if: $data.childLen && $data.opened()
			//ko template: {name: 'treeNode', foreach: $data.regions}
			// /ko
			// /ko