.adminSubMenu(data-bind="with: repository[M!M]")
	.fringe
		ul.nav.nav-list
			li.nav-header(data-bind="text: topmenu() + ' section'")
			//ko foreach: menuItems
			li(data-bind="css: {active: $data.section === $parent.section()}")
				a(data-bind="text: $data.name, attr: {href: ($data.disable ? '' : $data.href)}, css: {disabled: $data.disable}")
			// /ko