.about(data-bind="with: repository[M!M]")
    header.line
        | PastVu &mdash; проект по сбору свидетельств прошлого. Взгляд на историю среды обитания человечества.
    .postrow
        div.line
            | Подробная информация о проекте находится&nbsp;
            a(target="_blank", data-bind="attr: {href: getAboutUrl()}") в базе знаний
            | .
        div.line
            | Открытая разработка ведется&nbsp;
            a(target="_blank", href="https://github.com/PastVu") на GitHub
            | . Следите за выполнением задач и принимайте участие в развитии!
    .postrow
        hr
        div.line
            | Версия приложения&nbsp;
            span(data-bind="text: version")
            | . Исходный код доступен по лицензии&nbsp;
            a(target="_blank", href="https://github.com/PastVu/pastvu/blob/master/COPYING") GNU AGPL v3.0
            | .
        div.line
            | Данные по границам географических и административных регионов: ©&nbsp;
            a(target="_blank", href="https://www.openstreetmap.org/copyright") OpenStreetMap contributors
            | .
    .postrow
        div.img(style="margin-top:15px;")
            img.poster(src="/img/loading/Loading1.jpg")
