.about(data-bind="with: repository[M!M]")
    header.line
        | PastVu &mdash; project to collect vintage images. A look at the history of humanity habitat.
    .postrow
        div.line
            | More detailed information on project is in&nbsp;
            a(target="_blank", data-bind="attr: {href: getAboutUrl()}") documentation resources
            | .
        div.line
            | Open development is on&nbsp;
            a(target="_blank", href="https://github.com/PastVu") GitHub
            | . You can track issues progress and participate in development!
    .postrow
        hr
        div.line
            | Webapp version&nbsp;
            span(data-bind="text: version")
            | . Source code is licensed under&nbsp;
            a(target="_blank", href="https://github.com/PastVu/pastvu/blob/master/COPYING") GNU AGPL v3.0
            | .
        div.line
            | Administrative and geographic boundaries data: ©&nbsp;
            a(target="_blank", href="https://www.openstreetmap.org/copyright") OpenStreetMap contributors
            | .
    .postrow
        div.img(style="margin-top:15px;")
            img.poster(src="/img/loading/Loading1.jpg")
