.about(data-bind="with: repository[M!M]")
    header.line
        | PastVu - project to collect vintage photographs. A look at the history of humanity habitat.
    .userrow
        hr
        .row.usercenter
            .col-xs-6
                a.line.clearfix(target="_blank", href="/u/Ilya", ontouchstart="this.classList.toggle('hover');")
                    .flip-container
                        .flipper
                            div.front(style="background-image: url(/img/misc/Ilya.jpg)")
                            div.back(data-bind="style: {backgroundImage: 'url(/_a/d/' + avatars['Ilya'] + ')'}")
                                | Ilya
                    .lineBody
                        .humanName Ilya Varlamov
                        .humanAbout The author of the original idea
                a.line.clearfix(target="_blank", href="/u/Duche", ontouchstart="this.classList.toggle('hover');")
                    .flip-container
                        .flipper
                            div.front(style="background-image: url(/img/misc/Duche.jpg)")
                            div.back(data-bind="style: {backgroundImage: 'url(/_a/d/' + avatars['Duche'] + ')'}")
                                | Duche
                    .lineBody
                        .humanName Alex Duk
                        .humanAbout Producer of the project
            .col-xs-6
                a.line.clearfix(target="_blank", href="/u/klimashkin", ontouchstart="this.classList.toggle('hover');")
                    .flip-container
                        .flipper
                            div.front(style="background-image: url(/img/misc/klimashkin.jpg)")
                            div.back(data-bind="style: {backgroundImage: 'url(/_a/d/' + avatars['klimashkin'] + ')'}")
                                | klimashkin
                    .lineBody
                        .humanName Pavel Klimashkin
                        .humanAbout Project's architect, platform creator
                a.line.clearfix(target="_blank", href="/u/dema501", ontouchstart="this.classList.toggle('hover');")
                    .flip-container
                        .flipper
                            div.front(style="background-image: url(/img/misc/dema501.png)")
                            div.back(data-bind="style: {backgroundImage: 'url(/_a/d/' + avatars['dema501'] + ')'}")
                                | dema501
                    .lineBody
                        .humanName Dmitry Bashlov
                        .humanAbout System administration
                a.line.clearfix(target="_blank", href="/u/abdulla_hasan", ontouchstart="this.classList.toggle('hover');")
                    .flip-container
                        .flipper
                            div.front(style="background-image: url(/img/misc/abdulla_hasan.png)")
                            div.back(data-bind="style: {backgroundImage: 'url(/_a/d/' + avatars['abdulla_hasan'] + ')'}")
                                | abdulla_hasan
                    .lineBody
                        .humanName Anvar Paganini
                        .humanAbout Infrastructure, Client relations
    .postrow
        div
            | To support the development of the project, you can go&nbsp;
            a.donate(target="_blank", href="http://planeta.ru/139975") to our page at
            | &nbsp;Planeta.ru
    .postrow
        hr
        img.poster(src="/img/loading/Loading1.jpg")
