.about(data-bind="with: repository[M!M]")
	.row-fluid(ontouchstart="this.classList.toggle('hover');")
		.flip-container
			.flipper
				div.front(style="background-image: url(/img/misc/Ilya.jpg)")
				div.back(style="background-image: url(/_a/d/Ilya.png)")
	.row-fluid(ontouchstart="this.classList.toggle('hover');")
		.flip-container
			.flipper
				div.front(style="background-image: url(/img/misc/Duche.jpg)")
				div.back(style="background-image: url(/_a/d/Duche.png)")
	.row-fluid(ontouchstart="this.classList.toggle('hover');")
		.flip-container
			.flipper
				div.front(style="background-image: url(/img/misc/klimashkin.jpg)")
				div.back(style="background-image: url(/_a/d/klimashkin.png)")
