.newsApart(data-bind="with: repository[M!M]")
	.indentLogo.newsHeader Новости проекта

	.row-fluid.news
		.novelAuthor
			a.avatar.pull-left.fringe(data-bind="attr: {href: '/u/' + news.user.login()}")
				img(data-bind="attr: {src: news.user.avatar()}, event: {load: onImgLoad, error: onAvatarError}")
			.authorInfo
				a.authorName(data-bind="text: news.user.disp(), attr: {href: '/u/' + news.user.login()}")
				.newsDate(data-bind="text: moment(news.pdate()).format('D MMMM YYYY, HH:mm')")
		.novel
			//-.newsDate(data-bind="text: moment(news.pdate()).format('D MMM YYYY')")
			.newsBody
				.newsHead
					.newsTitle(data-bind="text: news.title()")
					//ko if: canEdit()
					.dotDelimeter ·
					a.newsEdit(data-bind="attr: {href: '/admin/news/edit/' + news.cid()}")
						i.icon-pencil
						| &nbsp;Редактировать
					// /ko
				.newsTxt(data-bind="html: news.txt()")
	hr
	.newsComments.clearfix
		.commentsHead Комментарии
		.dotDelimeter ·
		.commentsCount(data-bind="text: news.ccount()")
		//ko if: auth.loggedIn()
		.dotDelimeter ·
		.commentsAdd(data-bind="click: commentAdd") Добавить
		// /ko
		.commentsLoad(data-bind="style: {display: commentsLoading() ? '' : 'none'}") &nbsp;
		.photoCommentsContainer.mContainer.mHidden(data-bind="allowBindings: false")
