.newsWrapper(data-bind="with: repository[M!M]")
	.indentLogo.newsHeader Новости проекта
	//ko if: auth.loggedIn()
	.row-fluid
		a.addNews(href="/admin/news/create")
			| Добавить новость
	// /ko
	.row-fluid.news
		//ko foreach: news
		hr
		.novel.clearfix
			.newsLeft
				.newsDate(data-bind="text: moment($data.pdate).format('D MMM YYYY')")
				//ko if: $data.ccount > 0
				.newsComms(data-bind="text: $data.ccount")
				// /ko
			.newsBody
				.newsHead
					a.newsTitle(data-bind="text: $data.title, attr: {href: '/news/' + $data.cid}")
					//ko if: $parent.auth.loggedIn()
					.dotDelimeter ·
					a.newsEdit(data-bind="attr: {href: '/admin/news/edit/' + $data.cid}")
						i.icon-pencil
						| &nbsp;Редактировать
					// /ko
				.newsNotice(data-bind="html: $data.notice, css: {expandable: $data.expand}")
				//ko if: $data.expand
				a.newsExpand(data-bind="attr: {href: '/news/' + $data.cid}") [Читать полностью..]
				// /ko
		// /ko