.rules(data-bind="with: repository[M!M]")
    header
        | PastVu rules
        hr

    ol.topol
        li
            strong Общие положения
            ol
                li Интернет-сайт «PastVu» — ретроспектива среды обитания человечества» (далее — «PastVu», «сайт»), расположенный по адресу https://pastvu.com, является некоммерческим частным электронным ресурсом, предоставляющим возможность интернет-пользователям, принявшим настоящее соглашение и Правила сайта, предлагать к размещению изображения, отражающие жизнь и развитие разных населённых пунктов мира и любые другие интересные с исторической точки зрения изображения, а также комментировать и оценивать опубликованные изображения. Деятельность пользователей сайта не должна нарушать законодательные нормы Российской Федерации и иных государств, к которым имеют отношение публикуемые пользователем изображения, а также сам пользователь.

                li Основные цели сайта — сбор изображений, отражающих жизнь человечества и развитие разных населённых пунктов мира до 2000 года включительно, а также объединение людей, интересующихся этим.

                li «Изображение» - один из следующих объектов изобразительного искусства: фотография, жифопись, рисунок, гравюра.

                li «Пользователь» (также в дальнейшем «посетитель», «участник», «автор», «вы») — любое лицо, осуществляющее доступ или иным образом использующее сервисы сайта (в качестве гостя или зарегистрированного пользователя).

                li «Администратор» — лицо, имеющее доступ ко всем элементам управления сайтом.

                li «Модератор» — лицо, осуществляющее отбор и публикацию поступающих на сайт изображений, а также наделенное правом контролировать текстовые сообщения в комментариях к изображеням и на Форуме.

                li Помимо настоящего соглашения администраторами сайта могут быть установлены дополнительные правила, регулирующие отдельные аспекты использования сервисов, предоставленных сайтом.

                li Пользователь, использующий сервисы сайта, принимает все пункты настоящего соглашения, а также все пункты правил, которые касаются сервисов, используемых пользователем на данном сайте. В случае несогласия пользователя хотя бы с одним из пунктов настоящего соглашения, пользователь обязан покинуть сайт. Факт регистрации на сайте пользователя является полным и безоговорочным акцептом настоящего соглашения. Незнание каких-либо пунктов соглашения и правил не освобождает пользователя от ответственности за их соблюдение. Несоблюдение соглашения может послужить причиной отказа в доступе к сервисам сайта, а в некоторых случаях — повлечь гражданскую или уголовную ответственность в соответствии с действующим законодательством.

                li Пользователь несет ответственность за безопасность своего логина и пароля, а также за все, что будет сделано на сайте под логином и паролем пользователя. Пользователь несет полную ответственность за всю информацию, изображения и другие материалы (далее «Материалы»), которые пользователь загружает, получает, передает или каким-либо другим способом делает доступным с помощью сайта.

                li Пользователь обязуется не предлагать к публикации материалы, являющиеся незаконными, вредоносными, оскорбляющими нравственность, нарушающими авторские права; материалы, которые пользователь не имеет права делать доступными по закону или согласно каким-либо контрактным отношениям, которые затрагивают какой-либо патент, товарный знак, торговую марку, коммерческую тайну, авторские или прочие права собственности и/или авторские и смежные с ним права третьей стороны, публикация которых на сайте запрещена явным либо неявным образом автором данных материалов, действующим законодательством либо иными соглашениями.

                li Пользователь не должен использовать сайт для несогласованной посылки и/или передачи информации рекламного, коммерческого или агитационного характера.

                li
                    | Администрация сайта оставляет за собой право:
                    ol.long
                        li Устанавливать любые ограничения в использовании сайта;

                        li Прекратить действие пароля пользователя сервиса и удалить любые данные пользователя в случае нарушения положений данных условий пользования;

                        li В любое время изменять настоящее соглашение и дополнительные правила;

                        li  Приостановить либо прекратить предоставление сервисов сайта.

                li Администрация сайта предоставляет пользователю возможность создания единственной персональной учетной записи. В случае создания пользователем более одной учетной записи администрация оставляет за собой право удалить созданные пользователем учетные записи и/или отказать пользователю в использовании сайта.

                li Пользователь не имеет права осуществлять доступ к любой другой информации сайта, помимо собственной информации пользователя в его учетной записи или предоставленной ему другими пользователями сайта, общедоступной информации, опубликованной на сайте, либо информации, доступ к которой был явно разрешён администрацией.

                li Пользователь, размещая свои материалы на сайте, безвозмездно разрешает их дальнейшее использование пользователями сайта в личных целях, не связанное с извлечением коммерческой выгоды: воспроизводство в память ЭВМ, в память системы мобильной сотовой связи, иное воспроизведение в личных целях.

                li Любое использование опубликованных пользователем материалов в коммерческих целях возможно только на основании соответствующего разрешения правообладателя конкретного изображения.

                li
                    | Сервисы сайта предоставляются «как есть». Администрация сайта не несет ответственности за:
                    ol.long
                        li Соответствие сайта целям и ожиданиям пользователя;

                        li Прямой или косвенный ущерб, причиненный пользователю в результате ошибок, пропусков, перерывов в работе, удаления файлов, изменения функций, дефектов, задержек в работе при передаче данных, несанкционированного доступа к коммуникациям и/или данным пользователя при технических сбоях, действиях злоумышленников либо при возникновении иных ситуаций;

                        li Прямой или косвенный ущерб, причиненный пользователю вследствие публикации изображений и иных материалов на сайте пользователем или иными лицами;

                        li Заявления или поведение любого третьего лица на сайте;

                        li Прекращение доступа пользователя к данному сайту и его сервисам;

                        li Материалы, размещенные, созданные или опубликованные пользователями сайта.

                li Пользователь полностью ответственен за сохранность своего логина и пароля и за убытки, которые могут возникнуть по причине их утраты или несанкционированного использования его учётной записи. Администрация сайта не несет ответственности и не возмещает убытки, возникшие по причине несанкционированного использования третьими лицами логина и пароля учётной записи пользователя. Все действия, совершенные посетителем, авторизовавшимся с логином и паролем пользователя, рассматриваются как действия пользователя. Пользователь несет полную ответственность за все действия, совершенные авторизованным лицом от его имени.

                li Администрация сайта не несет ответственности за присвоение чужих изображений и других материалов пользователями сайта (иными словами, в случае если пользователь сайта загружает чужое изображений с приписыванием авторства/правообладания себе), а также за иные случаи нарушения авторских прав на материалы, размещаемые пользователями. Однако администраторы стараются по мере возможности отслеживать и пресекать подобные случаи.

                li Любой пользователь может просматривать и сохранять у себя на компьютере (копировать к себе на компьютер) опубликованные изображения и другие материалы. Администрация ни при каких условиях не несет ответственности за дальнейшее использование материалов, полученных с сайта.

                li Настоящие правила вступают в силу с момента их опубликования.

        li
            strong Порядок отбора и размещения изображений
            ol
                li Отбор изображений для сайта ведётся модераторами. При принятии решения модератор руководствуется установленными администрацией критериями отбора изображений. Окончательное решение о публикации либо отклонении изображения принимается автоматически на основе мнений нескольких модераторов.

                li Отклонение изображений сопровождается указанием причины отклонения, которая отображается в истории изменения изображения в галерее пользователя

                li Пользователь не вправе рассчитывать на дальнейшее разъяснение причин отклонения загруженных изображений либо удаления опубликованных. Однако, в случае неправомерных по его мнению действий модератора, может написать жалобу администрации по адресу support@pastvu.com

                li Присылая свои изображения для размещения на сайте, Вы передаете сайту свои неисключительные имущественные авторские права на них (право обнародовать или разрешать обнародовать изображение в любой форме) для любого некоммерческого использования изображений в рамках сайта. Все манипуляции с изображениями, правомерно (по просьбе автора, с согласия автора) опубликованными на сайте, такие как перемещение в другие рубрики, удаление с сайта и др., являются исключительной прерогативой администрации и уполномоченных администрацией лиц. Отзыв изображений с сайта не приветствуется, удаление в этом случае производится только при наличии уважительных причин.

        li
            strong Критерии отбора изображений
            ol
                li
                    | Нас интересуют изображения, отражающие историю места и общества за исключением:
                    ol
                        li Низкокачественных, когда не понятно, что изображено на снимке

                        li Семейные фотографии, портреты людей и животных без понятной атрибуции к месту съемки (исключение могут составлять жанровые сцены передающие дух времени)

                        li Размеры которых меньше 700 пикселей по большей стороне (поля, если таковые имеются - не в счёт).

                        li С крупными по размеру (более 10% площади изображения) копирайтами и неоригинальными подписями,

                        li Сделанных после 2000-го года;

                        li Размером больше 50 мегабайт;

                        li Малого размера/низкого качества, механически "растянутые" в графическом редакторе до 700 пикселей или больше;

                        li Изображений музейных и выставочных экспонатов (картин, скульптур, макетов, станков, инженерных систем, механизмов, авто- и мототехники и тому подобных объектов);

                li
                    | Изображения без координат принимаются в раздел «Где это?» если пользователь в качестве минимальной информации о точке съемки указывает:
                    ol
                        li Для изображений городской среды – страну съемки

                        li Для изображений отдельных архитектурных объектов, строений, пейзажей, не-архитектурных объектов – страну, область, ближайший населенный пункт.

                li Страницы из газет, журналов и других печатных изданий, где изображение сопровождает текст (за исключением названия снимка), будут отклоняться. Изображение следует загружать отдельно от текста, а текст, если он важен и является описанием снимка, приводить в поле для описания. Текст, напечатанный (написанный) поверх изображения, удалять не надо - модераторы будут принимать решение по каждому такому снимку отдельно.

                li "Склейки" из снимков, сделанных с разных точек и/или в разных направлениях, будут отклоняться. "Склейки" из снимков, сделанных в разное время, также будут отклоняться.

                li Снимки, на которых лица изображённых персон размыты, "вырезаны", заменены на овалы или каким-либо иным способом "зафотошоплены", будут считаться намеренно испорченными и не заслуживающими публикации на сайте. Если пользователь не хочет показывать своё лицо, лица своих родственников или знакомых - пусть воздержится от публикации таких снимков.

                li Ожидается, что пользователи, загружающие изображения, не будут умышленно "состаривать" изображения, а также удалять какие-либо детали, по которым снимок явно идентифицируется как созданный после 2000 года. Такие действия иначе как умышленной фальсификацией назвать нельзя. В случае выявления подобного, сфальсифицированные снимки будут немедленно удаляться.

        li
            strong Текстовые сообщения
            ol
                li Текстовые сообщения, размещённые в комментариях к изображениям и на Форуме (далее «Сообщения») служат для обсуждения изображений и иной информации, размещённой пользователями на сайте.

                li
                    | В сообщениях запрещаются:
                    ol
                        li Личные и публичные оскорбления, указание и обсуждение физических и психических аспектов любого пользователя сайта, а также персон на изображениях, в том числе политических деятелей (срок давности не имеет значения);

                        li Высказывания, явно или косвенно провоцирующие расовую, национальную и/или религиозную рознь и нетерпимость, равно как и задевающие религиозные, национальные и прочие чувства любого посетителя сайта;

                        li Использование нецензурных (матерных) слов и выражений, равно как и символов, их заменяющих.

                li Любое опубликованное суждение является личным мнением посетителя. Не допускается публикация сообщений от имени какой-либо группы людей (народности, нации) или государства, кроме случаев наличия у высказывающегося в явном виде полученных на это полномочий.

                li Не допускается публикация заведомо лживых сообщений, ставящих своей целью введение в заблуждение посетителей сайта.

                li Не допускается личная переписка. Используйте для этого электронную почту.

                li
                    | Не допускается публикация малоосмысленных и не несущих полезной информации сообщений («флуд»), в том числе:
                    ol
                        li Сообщений типа «+1», «Согласен», «Ясно» и т. п.; потока сообщений из коротких фраз, которые можно объединить в одну и отправить как одно сообщение;

                        li Сообщений о количестве изображений пользователя на сайте по каким-либо критериям;

                        li Информации о месте проживания пользователей, либо персон на изображениях;

                        li Комментариев, имеющих целью исключительно привлечение внимания пользователей к своим изображениям, в том числе неоправданное использование комментариев вместо поля «Примечание» при загрузке.

                li Политические и идеологические дискуссии на сайте запрещены. Активные участники и провокаторы данных обсуждений ставятся на бессрочную премодерацию.

                li В текстах сообщений запрещены ссылки на страницы сторонних сайтов c ограниченным доступом (например, требующие регистрации для их просмотра).

                li Во избежание дублирования обсуждений, перед написанием сообщения рекомендуется ознакомиться с ранее прошедшими обсуждениями по данной теме, как минимум — просмотреть другие дискуссии того же раздела, а также воспользоваться поисковыми системами (Яндекс, Google). В случае систематического дублирования обсуждений к пользователю применяются штрафные санкции.

                li Ответы рекомендуется писать на том же языке, на котором написано исходное сообщение, если иное не указано автором исходного сообщения.

                li Модераторы имеют право удалять любые сообщения без объяснения причин.

                li За нарушения пп. 4.1-4.10 к пользователю могут быть применены штрафные санкции в виде предварительной модерации сообщений либо перевода в режим чтения на ограниченный срок либо бессрочно.

        li
            strong Правила оформления названий изображений
            ol
                li В настоящее время при загрузке изображения на сайт в поле «Название» автоматически оказывается имя соответствующего файла на вашем компьютере. Его необходимо заменить на название изображения.

                li
                    | Названия изображений даются на государственном языке страны, в которой сделан снимок, или на английском языке. Принадлежность территории тому или иному государству определяется на момент загрузки изображения или на момент, когда создано изображение.
                    br
                    | Изображениям на территории бывшего СССР допускается давать названия на русском языке.

                li Названия пишутся строчными буквами. Прописные буквы используются в случаях, предусмотренных правилами соответствующего языка.

                li Названия пишутся по правилам современной орфографии.

                li Название изображения является заголовком страницы, в конце заголовка точка не ставится.

                li Желательно, чтобы название изображения было кратким, не более 120 символов. Пространные описания и перечисления объектов, изображенных на снимке, логично поместить в поле описания.

                li Дата съемки в название не вносится. Годы съемки указываются в соответсвующем поле, более точная датировка может быть указана в описании к снимку

                li В названии изображения не указываются регионы, определенные системой автоматически. Название города указывается, если на момент съемки оно было иным, чем сейчас.

                li Названия типа: "Мой двор", "Я возле моего дома" неприемлемы. Также наприемлемы вульгарные названия местностей, типа: "Пятачок", "На бродвее", "Шанхай"  и т.п. Подобные "народные" названия, при желании, следует приводить в поле для примечаний.

                li Названия улиц и других объектов следует давать по состоянию на дату снимка. При этом не возбраняется в скобках давать современное название, если оно отличается от прежнего. В тех случаях, когда год снимка неизвестен, а внутри предполагаемого периода название менялось, пишите оба наименования - например, для снимка, сделанного в период с 1930 по 1940 год: Воробьёвы (Ленинские) горы.

                li Не пренебрегайте авторскими названиями, разумеется, если они
                    div(style="padding-left:37px")
                        | а) известны;
                        br
                        | б) не являются неприличными;
                        br
                        | в) не содержат явных ошибок и не противоречат исторической истине.

        li
            strong Указание источников
            ol
                li Администрация сайта очень заинтересована в том, чтобы пользователи добросовестно указывали в соответствующей графе источники, откуда были заимствованы изображения. В случае, когда источник не указан, либо указан заведомо лживо, а законный правообладатель предъявляет сайту претензии, в силу вступает пункт 1.16 настоящих Правил. Недобросовестное отношение к указанию источника изображения(ий) может повлечь гражданскую или уголовную ответственность в соответствии с действующим законодательством.

        li
            strong Требования к прозвищам (никнеймам, никам) и юзерпикам (аватарам)
            ol
                li Пользователь имеет право зарегистрироваться под своим настоящим именем либо выбрать себе прозвище (никнейм), или псевдоним, который он будет использовать для общения.

                li
                    | При этом никнейм не должен:
                    ol
                        li Содержать слов, выражений, сочетаний букв, которые очевидно трактуются как ругательства, оскорбления или ненормативная лексика;

                        li Быть похожим на ники администраторов и модераторов до такой степени, что другие пользователи были бы введены в заблуждение.

                li Юзерпики не должны содержать неприличных (непристойных) изображений, оскорбляющих общественную нравственность и противоречащих общепринятым нормам морали. В случае невыполнения данных требований администрация сайта оставляет за собой право блокировать аккаунт пользователя до внесения изменений в никнейм и/или юзерпик.

        li
            strong Рекомендации по редактированию загружаемых снимков (не обязательно, но желательно)
            ol
                li Перед загрузкой любой снимок не помешало бы пропустить через графический редактор (Adobe Photoshop, GIMP, XnView и т.п.). Путём несложных действий за считанные секунды снимок можно значительно улучшить!

                li К примеру, если на ч/б снимке имеются бурые пятна, они легко удалятся путём обесцвечивания.

                li Если дома на снимке "валятся" вправо или влево - снимок не помешало бы выровнять по вертикали.

                li "Мутные", выцветшие снимки можно улучшить, прибавив контраста и насыщенности.

                li Цветные снимки с искажённой цветопередачей исправляются функциями АвтоТон и АвтоЦвет.

                li Если снимок явно отзеркален, его можно исправить при помощи функции "отразить по горизонтали".

                li Можно также немного поднять резкость.

                li Приветствуется предварительная обработка, если изначально ч/б фотографии фактически является зелёно-белым, жёлто-белым или красно-белым.

                li Всеми этими манипуляциями можно овладеть за один вечер, а в конечном результате вы сможете улучшать снимки не только для PastVu, но и просто лично для себя!

                li В качестве предостережения: не увлекайтесь улучшением, помня: лучшее - враг хорошего! И ещё: этот пункт - именно РЕКОМЕНДАЦИИ, не обязательные к исполнению.