@import "../_vars";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";

/**
 * FOOTER
 */
.foot {
	position: relative;
	height: 25px;
	margin: 0;
	padding-top: 1px;
	line-height: 25px;
	border-width: 1px 0 0 0;
	cursor: default;
	.box-shadow(~'0 -1px 0 0 #000');
	background-color: #204A6B;

	.copyright {
		position: absolute;
		right: 10px;

		.icon-white {
			margin: 2px 4px 0 5px;
		}
	}
}