@import "../_vars.less";
@import "../bs/variables.less";
@import "../bs/mixins.less";

@headColor: #677A8F;
@headColorHover: @MainBlueColor;

.regsel {
	position: relative;
	padding: 0 3px;
	color: @gray;

	> .loading {
		padding-top: 25px;
		font-weight: bold;
		text-align: center;
		color: #888;
		background: url(/img/misc/load.gif) 50% 15px no-repeat;
	}

	.namehead {
		font-weight: bold;
	}

	.offsetwrap {
		margin-left: 22px;
	}

	.regionsgroup {
		position: relative;
		top: auto;
		left: auto;
		width: auto;
		margin: 0;
		padding: 5px 0;
		z-index: 1000;
		background-color: @modal-bg;

		&.sticked {
			position: fixed;
			padding: 5px 23px 1px 45px;

			&::after {
				position: absolute;
				content: "";
				bottom: 1px;
				left: 47px;
				right: 25px;
				height: 30px;
				z-index: -1;
				.box-shadow(0 2px 8px 0px #777);
			}
		}
	}

	.regionsHead {
		position: relative;
		margin: 10px 0 5px 0;
		.user-select(none);
	}

	.headElem {
		position: relative;
		display: inline-block;
		margin: 0 1px 3px 0;
		padding: 0 7px 1px 7px;
		vertical-align: top;
		color: #F5F5F5;
		cursor: default;
		white-space: nowrap;
		text-decoration: none;
		background-color: @headColor;

		&.interact {
			cursor: pointer;

			&:hover {
				color: #fff;
				background-color: @headColorHover;
			}
		}
	}

	.tree {
		.user-select(none);

		> ul {
			margin: 0;
			padding: 0;

			> li {
				margin: 0 !important;
				padding-left: 0;

				&::before, &::after {
					border: 0
				}

				&:first-child {
					padding-top: 0;
				}
			}
		}

		li {
			position: relative;
			margin: 0 0 0 50px;
			padding: 7px 0 0 5px;
			cursor: default;
			list-style-type: none;

			&::before, &::after {
				position: absolute;
				left: -28px;
				right: auto;
				content: '';
			}
			&::before {
				width: 1px;
				bottom: 50px;
				height: 100%;
				top: 0;
				border-left: 1px solid #999;
			}
			&:last-child::before {
				height: 20px;
			}
			&::after {
				width: 33px;
				height: 20px;
				top: 19px;
				border-top: 1px solid #999;
			}

			.chevron {
				display: inline-block;
				width: 22px;
				padding: 2px 0;
				color: @gray-light;
				text-align: center;
				cursor: pointer;
				border-width: 1px 0 1px 1px;
				border-style: solid;
				border-color: transparent;
			}
			.name {
				position: relative;
				display: inline-block;
				min-width: 100px;
				margin-left: 22px;
				padding: 2px 18px 2px 6px;
				color: @gray;
				cursor: default;
				text-decoration: none;
				border: 1px solid #999;
				background-color: #DFDFF0;
			}

			&.isparent {
				margin: 0 0 0 28px;

				&::before, &::after {
					left: -6px;
				}
				&:last-child::before {
					height: 20px;
				}
				&::after {
					width: 10px;
				}

				.name {
					margin-left: 0;
				}
			}

			> .lirow.selectable {
				.chevron {
					&:hover {
						border-color: #999;
					}
				}
				.name {
					color: @gray-dark;
					cursor: pointer;

					&:hover::after {
						position: absolute;
						display: block;
						content: '\e013';
						top: 4px;
						right: 2px;
						width: 14px;
						font-family: 'Glyphicons Halflings';
						font-style: normal;
						font-weight: normal;
						line-height: 1;
						color: #00c300;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}
				}

				.chevron, .name {
					&:hover {
						color: @gray-darker;
						background-color: @MainLigthColor;
					}
				}
			}
			> .lirow.selected {
				> .name {
					background-color: #94ff82;

					&:hover {
						color: @gray-darker;
						background-color: #ffd8b5;

						&::after {
							top: 5px;
							content: '\e014';
							color: #c30000;
						}
					}
				}
			}
		}
	}
}