.mapBig(data-bind="with: repository[M!M]")
	#map(data-bind="style: {height: $root.GlobalParams.Height() - 33 - 100 + 'px'}")
	#nav_panel
		#mup.fringe2.butt
		#mright.fringe2.butt
		#mdown.fringe2.butt
		#mleft.fringe2.butt
		#mhome.fringe2.butt
		#nav_pin_sub
		#nav_pin.fringe2.butt
		#zoomin.fringe2.butt.inout
		#zoomout.fringe2.butt.inout
		#nav_stick.fringe2
		#nav_slider_area

	.layersPanel.fringe2(data-bind="css: {open: layersOpen()}")
		.currentLayer(data-bind="text: layerActiveDesc(), click: toggleLayers")
		.layerSystems(data-bind="style: {width: (104 * (layersOpen() ? layers().length : 1)) + 'px'}")
			.h_separator
			//ko foreach: $data.layers
			.layerSystem(data-bind="css: {selected: $data.selected()}")
				.layerHead(data-bind="text: $data.desc")
				//ko foreach: $data.types
				.layerType(data-bind="css: {selected: $data.selected()}, text: $data.desc, click: function () {$parents[1].selectLayer($parent.id, $data.id)}")
				// /ko
			// /ko

	#layers_fringe.fringe
		.inner_bord#layers_panel
			#current(onclick="this.parentNode.classList.toggle('open');")
			#systems