.mapBig(data-bind="with: repository[M!M]")
	#map(data-bind="style: {height: $root.P.window.h() - 33 - 100 + 'px'}")
	.mapNavigation.mContainer
	.layersPanel.fringe2(data-bind="css: {open: layersOpen()}")
		.currentLayer(data-bind="text: layerActiveDesc(), click: toggleLayers")
		.layerSystems(data-bind="style: {width: (104 * (layersOpen() ? layers().length : 1)) + 'px'}")
			.h_separator
			//ko foreach: {data: $data.layers, as: 'system'}
			.layerSystem(data-bind="css: {selected: system.selected()}")
				.layerHead(data-bind="text: system.desc")
				//ko foreach: {data:system.types, as: 'type'}
				.layerType(data-bind="css: {selected: type.selected()}, text: type.desc, click: function () {$parents[1].selectLayer(system.id, type.id)}")
				// /ko
			// /ko