.mapBig(data-bind="with: repository[M!M]")
	#map
	#nav_panel
		#mup.fringe2.butt
		#mright.fringe2.butt
		#mdown.fringe2.butt
		#mleft.fringe2.butt
		#mhome.fringe2.butt
		#nav_pin_sub
		#nav_pin.fringe2.butt
		#zoomin.fringe2.butt.inout
		#zoomout.fringe2.butt.inout
		#nav_stick.fringe2
		#nav_slider_area
	#layers_fringe.fringe
		.inner_bord#layers_panel
			#current(onclick="this.parentNode.classList.toggle('open');")
			#systems