.mapNavigator(data-bind="with: repository[M!M]")
	.stateWrap(data-bind="css: {pinned: pinned(), hover: hover(), canOpen: canOpen()}")
		.panel(data-bind="style: {height: panelH() + 'px'}")
			.mup.fringe.butt(data-bind="event: {'click': function () { pan('up') }}")
			.mright.fringe.butt(data-bind="event: {'click': function () { pan('right') }}")
			.mdown.fringe.butt(data-bind="event: {'click': function () { pan('down') }}")
			.mleft.fringe.butt(data-bind="event: {'click': function () { pan('left') }}")
			.mhome.fringe.butt(data-bind="click: toHome")
			.zoomin.fringe.butt.inout(data-bind="event: {'click': function () { changeZoom(1) }}")
			.zoomout.fringe.butt.inout(data-bind="event: {'click': function () { changeZoom(-1) }}")
			.stick.fringe
			.sliderArea(data-bind="css: {sliding: sliding()}")
				//ko foreach: dashes
				.dash(data-bind="style: {height: $parent.step() + 'px'}, attr: {'data-zoom': $data}")
				// /ko
				.slider.fringe(data-bind="text: sliderOnZoom(), style: {bottom: (step() * (sliderOnZoom() - minZoom())) + 'px'}")
		.pinArea
			.pin.fringe(data-bind="click: togglePin")
