name: Automerge master to en

on:
  push:
    branches: master

jobs:
  merge-master-to-en:
    # This only makes sense to run for pastvu owned repo.
    if: github.repository_owner == 'pastvu'
    name: Merge master into en
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: merge
        uses: devmasx/merge-branch@v1.4.0
        with:
          type: now
          from_branch: master
          target_branch: en
          github_token: ${{ secrets.GITHUB_TOKEN }}