name: Docker Image CI

on:
  push:
    branches: [master]

jobs:

  build-and-push-app:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: pastvu/pastvu:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

  build-and-push-nginx:
    needs: [build-and-push-app]
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2
        with:
          repository: pastvu/nginx

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: pastvu/nginx:latest
